[2020-07-17 03:12] xuzhang3 opened #82 "Document layout break"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-17 03:16] #82 closed, assigned to xuzhang3

[2020-07-17 07:40] xuzhang3 commented on #76
Closing this issue.  Feel free to reopen it if you have questions.

[2020-07-17 07:40] #76 closed, assigned to xuzhang3

[2020-07-17 13:23] #68 closed, assigned to EliiseS

[2020-07-17 14:22] coffeedome commented on #81
I see. Any idea when we can expect release? or if there is a beta/pre-release version we can use?

[2020-07-17 18:59] AErmie commented on #8
@straubt1 can we please include some example code for the Key Vault. From the example provided, it implies that Terraform is creating the Key Vault vs linking to an existing Key Vault.

Also, seeing an example of how to programmatically authorize the Pipeline to have the required permissions on the Key Vault would be helpful as well.
![KeyVaultConn](https://user-images.githubusercontent.com/103767

[2020-07-17 22:20] anikm1987 opened #86 "Error: Creating user entitlement: Adding user entitlement: (5032) Access Denied: rundeck svcacct needs the following permission(s) on the resource Users to perform this action: Add Users"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-17 22:22] anikm1987 commented on #86
With same user account I am able to add the user in a newly created project using user interface. Unable to do it using terraform code

[2020-07-18 18:07] #62 closed, assigned to EliiseS

[2020-07-19 07:27] #72 closed, assigned to xuzhang3

[2020-07-20 07:18] xuzhang3 commented on #86
Hi @anikm1987 ADO provider get access permissions from personal access token.  You can change the permission configuration though portal:  `usersettings-> personal access-tokens`, select the token you use and change the permission configuration.
![image](https://user-images.githubusercontent.com/57888764/87910114-0bce4d80-ca9c-11ea-9fbe-f7d65912fbdd.png)

[2020-07-20 07:58] xuzhang3 commented on #81
Hi @estebanes22  We don't have any beta/pre-release. But you can build a binary file for yourself.
Make you have golang  installed.
1. check out this repository.
2. open `cmd` or `bash` terminal and go to the root directory and
3. use command `go build -gcflags="-N -l" -o terraform-provider-azuredevops` to build a provider , you will find the binary file in the same root directory.  If you use Ter

[2020-07-20 09:28] anikm1987 commented on #86
Hi xuzhang3,
I have tried with full access for the token but still getting the same error.

I don't see anything as Add Users access while creating the token.

[2020-07-20 09:42] xuzhang3 commented on #86
@anikm1987 `rundeck ` is not managed by ADO provider. Can you check your HCL that the project configure is correct?

[2020-07-20 09:50] #56 closed, assigned to nobody

[2020-07-20 11:27] anikm1987 commented on #86
Hi,

Rundeck is just the functional account name, similar to my name anikm1987 using which I logged in to the Azure Devops org. If you see the terraform code I am not doing anything with Rundeck. Sorry if the functional account cause any confusion.

I am simply trying to create project and add members to it when it is throwing error -
needs the following permission(s) on the resource Users to perf

[2020-07-20 13:59] straubt1 commented on #8
The feature ask is to mimic what you can do in the ADO project via the UI, and would assume that the key vault had the proper permissions already. This is not a Terraform or AzKV detail, but whatever ADO is requiring (in your screen shot you can see it needs at least "Get and List" secret management.

I did play around with creating the AzKV in Terraform, but as you will see, there is a lot of con

[2020-07-20 15:10] tmeckel commented on #54
Is this now closed because #92 has now being merged?

[2020-07-20 15:14] tmeckel commented on #8
Just a perfect example of the power of Terraform: multiple providers create a combined infrastructure! Stretching over multiple systems which even don't have to be native cloud providers like AWS, Azure or Google but as long as a provider is available for backend you can do the craziest things 😁

[2020-07-20 15:15] EliiseS commented on #54
Yup!

[2020-07-20 15:15] #54 closed, assigned to nobody

[2020-07-20 16:01] EliiseS opened #94 "TestAccServiceEndpointAws tests failing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-21 07:45] xuzhang3 commented on #86
I cannot reproduce your error. Can you provider more logs which have more context information.

[2020-07-21 09:08] xuzhang3 commented on #94
@EliiseS  You need install the [AWS toolkit](https://marketplace.visualstudio.com/items?itemName=AmazonWebServices.aws-vsts-tools) for your organization.

[2020-07-21 09:27] #94 closed, assigned to nobody

[2020-07-22 07:19] xuzhang3 commented on #15
Close this issue for #92 . If you still have question, feel free to reopen it.

[2020-07-22 07:20] xuzhang3 commented on #81
Closing this issue. Feel free reopen it if you still  have question.

[2020-07-22 07:20] #81 closed, assigned to nobody

[2020-07-22 10:16] EliiseS opened #100 "Documentation improvements"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-23 07:32] byunru opened #101 "support for user/system managed identity (an alternative of service principal) when used in a self-hosted agent"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-23 10:31] xuzhang3 commented on #101
Hi @byunru  Can you provide more details on your requirement? I don't fully understand what you mean.

[2020-07-26 09:10] altinoren opened #104 "Fix to support project creation on Azure Devops "Server""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-27 06:20] xuzhang3 commented on #104
Hi @altinoren  Currently, we have no plan to support Azure DevOps Server.  You can submit PR to fix this as you have mentioned in this issues, `templateTypeId` has been returned in `capabilities`.  But I cannot guarantee that other resource can work correct with Azure DevOps Server.

[2020-07-27 14:31] andrefcpimentel2 opened #106 "Error: invalid character '<' looking for beginning of value"
Running TF OSS locally on

win10 version 1809 | Build: 17763.1217

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue fol

[2020-07-28 02:24] xuzhang3 commented on #65
Closing as this issue has been fixed in #105

[2020-07-28 02:24] #65 closed, assigned to xuzhang3

[2020-07-28 05:35] xuzhang3 commented on #106
Hi @andrefcpimentel2 , Thanks for open this issue. I  can't reproduce your error,   I can use this configuration in Terraform v0.12.x ,  which  Terraform version are you using?

[2020-07-28 06:05] xuzhang3 commented on #77
Hi @rpeltola   Thank you for opening this issue.   ADO provider doesn't support  on-premise Azure DevOps Server.  We will put this in our backlog.

[2020-07-28 08:49] xuzhang3 commented on #36
Close this issue for #55

[2020-07-28 12:02] andrefcpimentel2 commented on #106
Hi @xuzhang3 ,

Thank you for you reply. It's happening in a customer machine, using v0.12.29 for Windows x64.

[2020-07-28 23:18] GaborEH commented on #65
Thank you @xuzhang3 and @EliiseS

[2020-07-29 03:09] xuzhang3 commented on #106
@andrefcpimentel2   I cannot reproduce your error, tested with terraform v0.12.29 on Win10 x64.
### Configure:
[code]
### Test result:
![image](https://user-images.githubusercontent.com/57888764/88751959-5b430680-d18b-11ea-94c8-806b89a020e1.png)

[2020-07-29 08:18] andrefcpimentel2 commented on #106
Hi, @xuzhang3
Thank you for your reply.
The issue is happening at plan phase using this repo: https://github.com/andrefcpimentel2/terraform-provider-azuredevops-cicd
We tried to run locally on MacOS, exporting the provider credentials as ENV vars, and it worked fine
We tried the same on Win and it failed. Init phase was successful, but on plan apply, we encountered the issue.

[2020-07-29 08:27] andrefcpimentel2 opened #112 "azuredevops_branch_policy_min_reviewers resource fails to detect drift on change"
After  Branch policy 'Requires a minimum number of reviewers' is manually disabled in AzDO UI, Terraform fails to notice the drift, and fails when trying to apply Terraform configuration to recover.
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the commun

[2020-07-29 14:48] andrefcpimentel2 opened #113 "Terraform - set Repo Policies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-29 14:56] andrefcpimentel2 opened #114 "Branch policies for repository"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-29 19:53] EliiseS commented on #114
Great idea, might be an opportunity to add them as part of some of the other branch policies, depending on the AzDO API.

[2020-07-30 03:12] xuzhang3 commented on #106
@andrefcpimentel2   I can create new project with your script,  both `plan` and `apply ` works.
### Test result
 - plan
![image](https://user-images.githubusercontent.com/57888764/88876249-72e6c180-d255-11ea-8bc7-62dbe6f01b25.png)
![image](https://user-images.githubusercontent.com/57888764/88876281-8134dd80-d255-11ea-8bcb-518648dc6d32.png)

 - apply
![image](https://user-images.githubusercontent.c

[2020-07-30 05:36] xuzhang3 commented on #112
@andrefcpimentel2  It's not recommend to manage resource with both `Terraform` and `Web UI`. Terraform cannot detect the resource changes when the change is not managed by Terraform.   Terraform manage the resource base on the `terraform.tfstate` file, the policy configures is in the `terraform.tfstate` file means the resource exist, when `terraform destroy` applied, terraform will try to destroy

[2020-07-30 15:03] lfmundim opened #116 "Failure Forking a Repo"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-31 02:37] xuzhang3 commented on #116
Hi @lfmundim Replace `parent_id` with `parent_repository_id`, this is a document error.  Since we have not release the new version. The documentation on the official Terraform website will not be updated,, you can get  the latest [document](https://github.com/terraform-providers/terraform-provider-azuredevops/blob/master/website/docs/r/azure_git_repository.html.markdown) here.

[2020-07-31 02:43] seqdan opened #117 "github serviceendpoint token cannot be updated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-31 07:54] rswe commented on #112
thakns @xuzhang3

Fix 1 details - trying to understand for use in the real world:

So if we have a Pipeline that is calling Terraform init/plan/apply, and we can update the Terraform configuration in code as well, would the following be needed in addition to 1. above, to destroy the azuredevops_branch_policy_min_reviewers resource (and then create again in a subsequent run)?

I'm assuming here tha

[2020-07-31 10:18] xuzhang3 commented on #112
@rswe If your resource is managed by Terraform only. You don't need to do the sync operation. If you manage the resources with Terraform and Web UI , you need sync the resource status, but not recommend, unexpected  error  may happen.

[2020-07-31 10:22] rswe commented on #112
@xuzhang3 Agree we would be trying to manage resources by Terraform only, and restricting privs in AzDO to encourage this good behaviour. But some Administrators would have the permission to make a small change to a Web UI setting (against recommendations) that would mess up the Terraform state and cause us to need to use the workaround.
That's why I wanted to clarify the details of the workaround

[2020-07-31 11:27] xuzhang3 commented on #117
Hi @seqdan Thanks for opening this issue. Looks like a service API breaking change , need more investigation. Similar issue #73

[2020-07-31 20:03] dgdarlington opened #120 "Kubernetes Type ServiceAccount not authenticating"
### Terraform (and Azure DevOps Provider) Version

Terraform: "0.12.29"
Azure DevOps Provider: ">= 0.0.1"

### Terraform Configuration Files

[code]
The service connection gets created without error, but I run a pipeline trying to use this service connection and get:
[code]
### Steps to Reproduce

1. `terraform apply` # code from above
2. Run pipeline

[code]

[2020-08-03 04:24] byunru commented on #101
Managed identities are service principals of a special type without secrets.
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview

[2020-08-03 05:13] xuzhang3 commented on #112
Closing this issue . Feel free to reopen it if you have questions.

[2020-08-03 05:13] #112 closed, assigned to nobody

[2020-08-03 08:39] beandrad opened #122 "Allow to grant or deny service connection access to all pipelines"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 21:13] dgdarlington commented on #120
Found my issue. Needed to encode the secret data. Closing this issue.

[code]

[2020-08-03 21:13] #120 closed, assigned to nobody

[2020-08-03 23:07] A30004028 opened #123 "azuredevops_variable_group crashes on import"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-03 23:50] edwardwu-servian opened #124 "Error when refreshing the state of `azuredevops_build_definition`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-04 00:52] edwardwu-servian commented on #124
Currently the workaround I found is removing `azuredevops_build_definition` from terraform state and delete the pipeline from Azure DevOps

[2020-08-04 03:27] xuzhang3 commented on #124
Hi @edwardwu-servian   Thanks for your feed back. Can you check the `agen pool` used in this `build definition` is still exist? This error  happened when the `agent pool` not exist.

[2020-08-04 03:30] edwardwu-servian commented on #124
@xuzhang3 thanks for getting back quickly. The agent pool has been removed and recreated with the same name. I assume the agent pool id may be different

[2020-08-04 03:32] xuzhang3 commented on #124
@edwardwu-servian  Delete and recreate, the id of the `agent pool` will be changed. Terraform can't  detect this if you change the resource out of terraform.

[2020-08-04 03:40] edwardwu-servian commented on #124
@xuzhang3 `azuredevops_build_definition` is expecting `agent_pool_name`, may be it should be `agent_pool_id` instead? although in the state file there is no reference of agent pool id

[2020-08-04 05:24] xuzhang3 commented on #124
@edwardwu-servian  In `azuredevops_build_definition`, only `agent_pool` name is used, You can use `azuredevops_agent_pool` to manage the agent pool.

[2020-08-04 05:35] edwardwu-servian commented on #124
@xuzhang3 we are using vmss agent pool. it does not seemed to be supported by resource `azuredevops_agent_pool`. There's a data source for `azuredevops_agent_pool` but I don't see how using `data.azuredevops_agent_pool.pool.name` is different from plain text input for `agent_pool_name`, could you please clarify?

[2020-08-04 05:45] xuzhang3 commented on #124
@edwardwu-servian No big difference in your scenario.

[2020-08-04 07:08] xuzhang3 opened #125 "New Resource agent queue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-04 07:36] edwardwu-servian commented on #124
@xuzhang3 thanks. we've decided to remove `agent_pool_name` since it is an optional input and leverage the pipeline yaml to explicitly specify the agent pool.

[2020-08-04 08:01] xuzhang3 commented on #124
Its kind like `ABA` issue, for Terraform the resource never changed. But for service the resource has been chhanged.

[2020-08-04 08:29] edwardwu-servian commented on #124
yeah it makes sense. was just hoping the backend could handle this in a more delicate manner. thanks again!

[2020-08-04 08:34] xuzhang3 commented on #124
I have submit a PR for  this issue.

[2020-08-04 09:19] xuzhang3 commented on #123
Hi @A30004028 Thanks for your feedback.   This is because you have secret values in your configuration,  service won't return secret values. We fix this to support secret values improt ,but you will lost the secret values.

[2020-08-04 10:14] A30004028 commented on #123
Thats fine, the secrets are maintained elsewhere in code. Am I right in thinking the values will get reapplied on the next plan/apply?

[2020-08-04 10:15] xuzhang3 commented on #123
yes, you are correct.

[2020-08-04 11:34] polanfong opened #129 "Create Azure Devops Organization"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-04 12:26] lfmundim commented on #116
After changing `parent_id` to `parent_repository_id`, `terraform plan` runs well, but `terraform apply` crashes

* [crash.log gist](https://gist.github.com/lfmundim/80905c1a2eba96280ca94033e6e870d3)

The repo is forked, but the build definition is not created

[2020-08-04 12:59] ndewijer opened #130 "No build badge inside repo when pipeline created via azuredevops_build_definition"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-04 14:06] ndewijer commented on #130
Just found #110 so already fixed, then.

[2020-08-04 14:06] #130 closed, assigned to nobody

[2020-08-05 00:05] DamonStamper commented on #123
So how would you import a variable group with secrets? Create an additional group and confirm that your IaC is able to recreate the original group then do a cutover to remove the original group and create it with TF? Would it be better to throw a warning that you weren't able to import the secrets?

Also on a tangental topic, if TF isn't able to see secret data then how is TF able to determine if

[2020-08-05 00:57] DamonStamper opened #132 "resource_authorization documentation page is missing navigation pane."
When visiting https://www.terraform.io/docs/providers/azuredevops/r/resource_authorization.html the navigation pane on the left side of the browser doesn't show up. Browsing other resources (https://www.terraform.io/docs/providers/azuredevops/r/variable_group.html) shows the pane without issue.

Chrome version 83.0.4103.116 (Official Build) (64-bit)

[2020-08-05 01:14] DamonStamper opened #133 "[Feature request] Support modifying a variable group's security settings"
Is there a way to modify a variable group's security settings?

I'd like to grant the role “Project Collection Build Service” the Administrator privilege for the variable group so that my pipelines can modify the varaible group's variables.

This is so that I can have the pipeline update two variables, "production" and "production-1" to enable artifact retention. I could go into more detail but I

[2020-08-05 04:33] xuzhang3 commented on #123
@A30004028 @DamonStamper  Sorry I misunderstand you at first.   Currently, ADO provider doesn't support import secret values and we cannot do that because service won't return this secret values.
Terraform check if values have been changed based on `.tfstate` and `.tf` configuration.

[2020-08-05 05:16] A30004028 commented on #123
Ok, I'm lost here again.

Will an tf import call, import the variable group AND the variable names of sensitive variables (but not the value)?

If so, will the the next plan/apply attempt to update the values of the sensitive variables due to an inconsistency between the `.tfstate` and `.tf` configuration?

[2020-08-05 05:53] xuzhang3 commented on #123
@A30004028  You point it good, we can investigate if we can import only names then apply again to get this values back into `.tfstate`.

[2020-08-05 08:53] xuzhang3 commented on #129
Hi @polanfong  Thanks for opening this issue. ADO provider is aimed at provision resources within Azure DevOps organization.  We have no plan to support create organizations and another reason is API is not exposed by the service side.

[2020-08-05 08:58] xuzhang3 commented on #132
Hi @DamonStamper  Thanks for your feedback, This is issue has been fix at #13 . Since we have not released the new version, the document won't updated.

[2020-08-05 09:05] xuzhang3 commented on #133
Hi @DamonStamper  Permission manage is not support yet.

[2020-08-05 12:52] DamonStamper commented on #133
Thanks for confirming it's not supported yet. Should I switch this question to a feature request or is support for modifying variable group permissions already on the roadmap?

[2020-08-05 12:54] #132 closed, assigned to nobody

[2020-08-05 15:34] DamonStamper opened #135 "Rename azuredevops_project.project_name field to azuredevops_project.name for consistency"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-05 15:56] DamonStamper opened #136 "Importing a variable group sets azuredevops_variable_group.project_id to the project's name not the project's id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-05 16:27] DamonStamper opened #137 "Change azuredevops_variable_group's "variable" from type "Set" to type "TypeList""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-06 00:07] polanfong commented on #129
ok thanks @xuzhang3

[2020-08-06 00:07] #129 closed, assigned to nobody

[2020-08-06 02:24] xuzhang3 commented on #133
@DamonStamper   You  can change the title to new feature requirement.

[2020-08-06 09:43] xuzhang3 commented on #125
Feature has been implemented: [agent_queue](https://www.terraform.io/docs/providers/azuredevops/r/agent_queue.html)

[2020-08-06 13:00] jameswestall opened #138 "azuredevops_variable_group crashes when an extra variable is added outside of terraform."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-06 13:03] jameswestall commented on #138
Probably worthwhile having a conversation on how to handle variable addition to various groups. Perhaps a flag such as "ignore_update". The driver here is to avoid secrets in state; I've attempted to use this to create a variable group containing some storage account details, however I don't want my keys to show up in the state, so manually added this leading to the crash.

[2020-08-07 02:35] xuzhang3 commented on #138
Hi @jameswestall Thanks for opening this issue. Service will return secret values as  `null`,  they cannot be imported by service design.

[2020-08-07 04:33] jameswestall commented on #138
@xuzhang3  - I'll have to retest then, from my initial setup using remote state they definitely showed in the clear.

[2020-08-07 08:12] xuzhang3 commented on #138
@jameswestall   You can use  azure keyvault for secret values. ADO provider will support this feature soon. We have  working on it.

[2020-08-07 16:09] straylight opened #139 "Link secrets from an Azure key vault as variables"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-07 16:18] DamonStamper commented on #139
I believe that this feature is planned. https://github.com/terraform-providers/terraform-provider-azuredevops/issues/138#issuecomment-670392497

[2020-08-07 16:49] straylight commented on #139
I read that issue and failed to see that comment for some reason, thank you for linking that.

Closing this as its already being worked on.

[2020-08-07 16:49] #139 closed, assigned to nobody

[2020-08-07 17:04] straylight commented on #106
I am also getting this error:
[code]
[code]
[code]
[code]

edit: upgrading to 0.12.29 does not fix this issue for me.

[2020-08-07 17:41] DamonStamper opened #140 "[Feature request] Add support for custom service endpoints"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-07 17:45] DamonStamper opened #141 "[Feature request] Add support for extensions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-07 18:55] DamonStamper opened #142 "[Feature request] Add support for importing azuredevops_git_repository"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-10 02:22] xuzhang3 commented on #142
Hi @DamonStamper   This feature is in reviewing :D. #118

[2020-08-10 06:52] xuzhang3 commented on #140
Hi @DamonStamper   Since service have abstract the API at high level schema.   I think it's a  good idea to support custom configuration for service connections.
[Get Service connections API](https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/get%20service%20endpoints?view=azure-devops-rest-5.1)
Configuration example:
[code]

[2020-08-10 06:56] xuzhang3 commented on #141
Hi @DamonStamper  This is duplicate with #140 . Service connections are have the same API configuration template.

[2020-08-10 07:40] xuzhang3 commented on #106
Hi @straylight   I  cannot reproduce your error, can you use `terraform validate`  to check if your .tf configuration is  correct?

![image](https://user-images.githubusercontent.com/57888764/89760788-a9f38780-db1f-11ea-8ec7-74a2f78bbf60.png)

[2020-08-10 13:29] #141 closed, assigned to nobody

[2020-08-10 13:37] DamonStamper opened #143 "[Feature request] Add support for "pipeline" > "Environments""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-11 05:48] xuzhang3 commented on #143
Hi @DamonStamper  , Environments API is supported at v6.0,  Current sdk API version is 5.1. This resource will pending until **auzde-deviops-sdk** support it. [SDK issue](https://github.com/microsoft/azure-devops-go-api/issues/86)

[2020-08-11 21:10] lightnir opened #145 "Provider produced inconsistent result after apply for azuredevops_resource_authorization"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-12 05:29] xuzhang3 commented on #145
Hi @lightnir   You need add the  the service principal secret key and ID for `azuredevops_serviceendpoint_azurerm`,   see the `credentials ` block.
Example:
[code]

[2020-08-12 13:52] sdebruyn opened #146 "Crash when trying to create a git repository"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-12 14:35] sdebruyn commented on #146
So the code that this is pointing to, has changed a bit since merging #118
But the new code has a similar nil check error, PR incoming

[2020-08-12 15:55] lightnir commented on #145
Thanks, @xuzhang3 for the reply. I can confirm that by using the optional credential block this works. However, I want to use the Automatic AzureRM Service Endpoint where the service principal gets created automatically. As I stated above the problem isn't the Automatic vs Manual AzureRM Service Endpoint usage (second run of `terraform apply` on the automatic works fine), but rather something goin

[2020-08-13 03:01] xuzhang3 commented on #146
Hi @sdebruyn Thanks for opening this issue. This is a bug of v0.0.1. The `initialization` is marked with `Optional` but `nil` is not checked. The `initialization` configuration  has been changed from `Optional` to `Required`. [initialization Required](https://github.com/terraform-providers/terraform-provider-azuredevops/blob/master/azuredevops/internal/service/git/resource_git_repository.go#L100)

[2020-08-13 03:12] #146 closed, assigned to nobody

[2020-08-13 08:12] xuzhang3 commented on #145
Hi  @lightnir     this issue is strange. The service connection can be created but authorization operation won't success(service always returned with HTTP code 200, but authorization not added ). I have open a new issue in [DevOps authorization failed](https://developercommunity.visualstudio.com/content/problem/1148427/cannot-perform-authorization-operation-for-auzrerm.html)

[2020-08-13 09:40] #114 closed, assigned to nobody

[2020-08-14 07:13] xuzhang3 opened #153 "Build definition allow access in .tfstate inconsistent with TF configuration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-14 15:35] sdebruyn commented on #124
I got the same crash. However, the agent pool did not change at all, same for the permissions. This just started happening, but it succeeded a couple of times before that.

[code]

[2020-08-14 16:01] sdebruyn commented on #124
Small update: looks like this happened because the PAT no longer had the permission to view all the agent pools

[2020-08-15 10:33] TechnologyAnimal opened #154 "Add support for committing files to "azuredevops_git_repository""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-16 14:27] cmielke opened #155 "Support path filters in azuredevops_branch_policy_build_validation resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-17 02:21] xuzhang3 commented on #124
Hi @sdebruyn  This issue was because you delete the agent pool bind to the pipeline.

[2020-08-18 05:11] kjoconnor opened #158 "Can not create PR triggers in build definitions on TfsGit type repos"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-18 05:17] kjoconnor opened #159 "`default_branch` attribute missing on azuredevops_git_repositories data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-18 06:11] kjoconnor commented on #158
I see this now on [this page](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=example%2Cparameter-schema#pr-trigger), I'm guessing that's why this is:
<img width="651" alt="image" src="https://user-images.githubusercontent.com/731233/90476660-f4649d80-e0f7-11ea-8501-b4c2c3e9cf24.png">

Are you able to manage build validation with this provider yet? Thanks

[2020-08-18 07:06] #153 closed, assigned to xuzhang3

[2020-08-18 07:13] xuzhang3 commented on #155
Hi @cmielke  This feature has been implemented. But not released.  You can find the `filename_patterns` in [build policy](https://github.com/terraform-providers/terraform-provider-azuredevops/blob/master/website/docs/r/branch_policy_build_validation.html.markdown) :

[2020-08-18 07:23] xuzhang3 commented on #154
Hi @TechnologyAnimal  You can use the Terraform Provisioner [local-exec](https://www.terraform.io/docs/provisioners/local-exec.html) . I will put this new feature request in our backlog.

[2020-08-18 08:00] xuzhang3 commented on #158
Hi @kjoconnor  You can use `azuredevops_branch_policy_build_validation` to create the PR triggers for `TfsGit` type repo.
Config example:
[code]

[2020-08-18 08:03] xuzhang3 commented on #159
Hi @kjoconnor  You need replace the `azuredevops_git_repositories`  with `azuredevops_git_repository`. `azuredevops_git_repositories` will get all of the repos within the project.

[2020-08-18 14:50] cmielke commented on #155
That looks great. Thanks @xuzhang3!

[2020-08-18 15:10] kjoconnor commented on #159
Thanks @xuzhang3, but it doesn't look like `azuredevops_git_repository` is a valid data source.

[code]

It isn't listed as a data source on the docs either, just `azuredevops_git_repositories`.

[2020-08-18 15:28] kjoconnor commented on #158
Thanks! One note, it looks like `filename_patterns` isn't valid, is that coming in a future version? I've verified on the docs and by running it and getting an error that it doesn't work.

https://www.terraform.io/docs/providers/azuredevops/r/branch_policy_build_validation.html

[2020-08-18 15:32] kjoconnor commented on #158
I see it is: https://github.com/paultyng/terraform-provider-azuredevops/issues/62

Thanks! Closing this one.

[2020-08-18 15:32] #158 closed, assigned to nobody

[2020-08-19 02:43] xuzhang3 commented on #159
@kjoconnor  My mistake. `azuredevops_git_repository ` not releaseed yet. You can use the `azuredevops_git_repositories`  get the repository `default_branch` .
Example config:
[code]

[2020-08-19 02:45] xuzhang3 commented on #155
Closing this issue. Feel free reopen it if you have questions.

[2020-08-19 02:45] #155 closed, assigned to nobody

[2020-08-19 04:36] kjoconnor commented on #159
Thanks!

[2020-08-19 04:36] #159 closed, assigned to nobody

[2020-08-20 12:13] sdebruyn opened #160 "Microsoft / HashiCorp ownership"
The repository has been moving around a couple of times lately. Can you please clarify to the community of users & contributors who is considered to be the owner of this repository and who will be maintaining this provider?

[2020-08-20 12:18] sdebruyn opened #161 "[Feature request] Expose organisation name on azuredevops_client_config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-20 12:43] sdebruyn opened #162 "[Feature Request] Add project_id as alternative attribute for project data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-24 03:07] xuzhang3 commented on #160
Hi @sdebruyn  This repo will be moved to http://github.com/microsoft  and Microsoft will maintain this provider.

[2020-08-24 05:35] xuzhang3 commented on #161
Hi @sdebruyn ,  ADO requires you to set the organization URL and PAT  env variable, all this configurations are with the organization. ADO's highest level resource is project. I'm afraid we cannot expose the organization/account here.  As organization URL already include organization name, you can get it from the URL env configuration.

[2020-08-24 09:10] xuzhang3 commented on #77
Close this issue. Feel free to reopen it if you have questions.

[2020-08-24 09:10] #77 closed, assigned to xuzhang3

[2020-08-24 09:25] #125 closed, assigned to nobody

[2020-08-24 09:34] xuzhang3 commented on #35
Close this issue. Free free to reopen it if anyone have questions.

[2020-08-24 09:41] xuzhang3 commented on #154
Closing this issue. Duplicate with #23

[2020-08-24 09:41] #154 closed, assigned to nobody

[2020-08-24 09:42] xuzhang3 commented on #63
Closing this issue. Feel free to reopen it if anyone have questions

[2020-08-24 09:42] #63 closed, assigned to xuzhang3

[2020-08-24 14:24] EliiseS commented on #162
I've added `project_id` field in PR #163

[2020-08-24 20:19] skinamdar opened #164 "Error 'rpc error: code = Unavailable desc = transport is closing' when creating multiple repos for a project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-08-25 01:00] hashitop commented on #160
@sdebruyn for now, it is still OK to report issues on this repo?

[2020-08-25 02:51] xuzhang3 commented on #160
@sdebruyn @hashitop   You still can report issues on this repo.

[2020-08-25 03:07] xuzhang3 commented on #164
Hi @skinamdar  This is a know issues, you need add the `initialization` configuration for your second repo configure.
[code]

[2020-08-25 04:53] skinamdar commented on #164
Thanks for the update @xuzhang3 , I'm able to initialize it now. Does that mean when ```parent_repository_id``` is included in the block, that ```initialization``` is ignored and there just for config compatibility purposes?

[2020-08-25 05:51] xuzhang3 commented on #164
@skinamdar `initialization` won't be ignored and in the next release will be changed to required

[2020-08-25 21:04] exocom commented on #160
@xuzhang3 when exactly is the move going to happen? I've just opened a PR to terraform/terraform-provider-azuredevops  and do not want to have to repeat this work if possible.

[2020-08-26 06:01] xuzhang3 commented on #160
@exocom  I can't give the exact time when this transfer will finished. There's some policy issues when move back to MS GH.  You can submit your PR to this repo.

[2020-08-26 10:01] #162 closed, assigned to EliiseS

[2020-09-01 13:01] #160 closed, assigned to nobody

[2020-09-01 18:32] #164 closed, assigned to nobody

[2020-09-01 18:37] skinamdar commented on #142
@xuzhang3 Since the importing of repos is still a work in progress, I am trying to initialize multiple repo's under the same project to match a template repo.

backend.tf
[code]

But when I run ```terraform apply``` I get the following error related to authorization
[code]

I confirmed the access token I'm using to authenticate has full permissions and googling this issues just suggests it's a per

[2020-09-01 19:02] skinamdar commented on #142
This may be related to failure to fork a repo - trying to troubleshoot how to resolve the issue.

[2020-09-02 06:23] xuzhang3 commented on #142
@skinamdar  The data source  `azuredevops_git_repositories`  you use will fetch all the repository belong to this project. The configuration  `parent_repository_id  = data.azuredevops_git_repositories.base_repo.project_id` is referenced to the project ID. You can get the repository ids from `data.azuredevops_git_repositories.base_repo.repositories`, you need to iterate it as it is an array
![image

[2020-09-03 17:10] tmeckel commented on #106
@xuzhang3  I got this error while running the acceptance tests:

![image](https://user-images.githubusercontent.com/14177833/92145840-1872ef00-ee19-11ea-81c3-e844564ac3a4.png)

[2020-09-04 09:16] xuzhang3 commented on #122
Hi @beandrad   `azuredevops_resource_authorization` can be used to authorize service connections to the  pipelines.

[2020-09-07 05:34] josh-barker opened #170 "Next release"
Hi,

I'm looking forward to using the new resources and features.

I'm wondering when is the next release expected?
How frequently do you think the releases will come out?

Cheers!

[2020-09-07 05:47] xuzhang3 commented on #170
Hi @josh-barker  Sorry for the inconvenient that we cannot release the new version due to the GPG keys.  As I know that we will get GPG keys at the  second half of the October and regular release will be every three weeks.

[2020-09-07 06:04] josh-barker commented on #170
Hi @xuzhang3

No worries. Thanks for the quick response!

[2020-09-07 06:04] #170 closed, assigned to nobody

[2020-09-08 09:06] xuzhang3 opened #173 "project_id in data source azuredevops_project not set correct"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-08 20:39] siftercoder2 commented on #65
I could not find a release where this change has been incorporated. currently, we are forking this repo and creating our own releases. please update releases after 0.0.1.

[2020-09-08 20:55] cd83 opened #174 "Importing repo fails when source repo requires authentication"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-09 03:14] xuzhang3 commented on #174
@cd83   Repository `Import` is not supported in v0.0.1.  This feature will be supported in the next version.  #118 #152

[2020-09-09 19:48] cd83 commented on #174
Thank you!

The documentation and the output of the `terraform plan` led me to believe this was supposed to be working.

The documentation over at https://www.terraform.io/docs/providers/azuredevops/r/azure_git_repository.html does state that:

[code]

On top of this, the `Terraform plan` provided output that described the plan to import the repository. You can see why I was banging my head agains

[2020-09-10 02:23] xuzhang3 commented on #174
@cd83  This is a document error. If you need the `import` feature, you can build a private package from the master branch. V0.0.2 will  be released in late October.

[2020-09-10 03:23] #173 closed, assigned to xuzhang3

[2020-09-10 04:04] paulbehrisch commented on #140
<img width="376" alt="Screen Shot 2020-09-10 at 14 03 38" src="https://user-images.githubusercontent.com/50549468/92680569-85810a00-f36e-11ea-9a8a-db1dd0189942.png">

Is there any support for "Other git" as of now?

[2020-09-10 06:57] xuzhang3 commented on #140
@paulbehrisch  You can open a new issue for your requirement, I will put it in our backlog.

[2020-09-10 11:16] paulbehrisch opened #180 "Support Other Git service connections"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-10 11:57] zhmurko opened #182 "[Feature request] Add support for service endpoint for Azure DevOps"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-10 15:50] cd83 opened #183 "Provider cannot read secure environment variable AZDO_PERSONAL_ACCESS_TOKEN"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-11 03:34] xuzhang3 commented on #183
@cd83 Where `AZDO_PERSONAL_ACCESS_TOKEN` you configured? For pipelines, the secret should be able to read ,we also used in this way for test cases.

[2020-09-11 08:23] #136 closed, assigned to xuzhang3

[2020-09-11 08:23] #135 closed, assigned to nobody

[2020-09-11 12:09] poligraph opened #186 "data user origin_id doesn't work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-11 14:34] cd83 commented on #183
It is being set in our Pipeline Variable (which in turn sets it as an Environment variable on the agent).

It works when it is **not secure**, but when we click the lock to `Change variable type to secret` it is unable to be read.

![image](https://user-images.githubusercontent.com/12536689/92937981-9fbff400-f411-11ea-9dc6-ce76389b0de4.png)

[2020-09-14 06:30] xuzhang3 commented on #183
HI @cd83     Secret variables are not automatically decrypted in YAML pipelines and need to be passed to your YAML file with env: or a variable at the root level.  [Pipeline secret variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#user-defined-variables)

Usage example:
![image](https://user-images.githubusercontent.com/5788876

[2020-09-14 07:04] xuzhang3 commented on #186
@poligraph   User detail information is wrapped in `azuredevops_users.user.users`
Potential output:
[code]

[2020-09-14 10:42] poligraph commented on #186
@xuzhang3 thanks for answer I was able to get this output, but data structure is a set and seems the only wat to access is by `  value = tolist(data.azuredevops_users.user.users)[0].descriptor`

is it any possibility to change type to access without to list conversion? ideally something like this
`value = data.azuredevops_users.user.users.descriptor`

thanks.

[2020-09-14 14:43] cd83 commented on #183
This pipeline was created in the UI (using the "Classic Editor") and not via YAML. (It is on our to-do list to convert it). We have worked with secret variables in other pipelines that were created via YAML. This seems to be an issue affecting the UI / Classic Editor pipelines.

Here is a screenshot of the Variables tab in the UI pipeline:

![image](https://user-images.githubusercontent.com/125366

[2020-09-15 02:19] xuzhang3 commented on #186
@poligraph   Users return from service API is a list, change list to a  object may result in meta data loss.

[2020-09-15 02:49] xuzhang3 commented on #183
@cd83  Same like YAML,  classis editor need  export the values to **Environment** too.  [Set secret variables
](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=classic%2Cbatch#secret-variables)
![image](https://user-images.githubusercontent.com/57888764/93159510-e890e900-f740-11ea-9d95-a8fd257db34e.png)

[2020-09-15 15:45] cd83 commented on #183
The Task we are using does not provide an option to input Environment Variables as shown in your screenshot, and as I can see is available in Tasks such as the Powershell or Azure Powershell Tasks.

Link to the Task we are using: https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/Terraform/Src/Tasks/TerraformTaskV1/README.md

Here is a screenshot of the options we have

[2020-09-16 03:01] xuzhang3 commented on #183
@cd83 Sorry, cannot help  you here.

[2020-09-16 16:22] cd83 commented on #183
How are you running your Terraform in Azure DevOps? Can you share an example of the tasks that you are using?

We are using the official Terraform Task from Microsoft - what are you using?

[2020-09-17 02:46] xuzhang3 commented on #183
@cd83   We use yaml and bash script.  Pipeline Terraform extension is also OK.
A simple YAML script.
[code]

[2020-09-17 19:59] Marcus-James-Adams commented on #143
Is there a time scale for v6.0 of the SDK?  Our pipelines rely heavily on this.

[2020-09-21 09:16] xuzhang3 commented on #145
@lightnir Looks like that service team have fixed this issue, I have tested and authorization works now.

[2020-09-22 02:27] xuzhang3 commented on #143
Azure-DevOps-GO-SDK is managed by another team,  they have working on it, but don't have a release date.

[2020-09-22 08:25] xuzhang3 commented on #59
@nmiodice  I think that all of this resources contains sensitives data,  and the service always returns these variables with empty string. If these resource can be imported, there will be a diff during the plan stage, customers need to  handle the diffs manually. Support for importing resources containing sensitive configuration is inappropriate.

[2020-09-22 08:30] xuzhang3 commented on #183
This question will be closed, feel free to reopen if you have questions.

[2020-09-22 08:30] #183 closed, assigned to nobody

[2020-09-22 08:31] xuzhang3 commented on #186
Closing this issue, feel free to reopen if you have questions.

[2020-09-22 08:31] #186 closed, assigned to nobody

[2020-09-22 08:32] xuzhang3 commented on #174
Close this issue, feel free to reopen if you have questions.

[2020-09-22 08:32] #174 closed, assigned to nobody

[2020-09-22 08:34] xuzhang3 commented on #124
Close this issue,  feel free to reopen it if you have questions

[2020-09-22 08:34] #124 closed, assigned to xuzhang3

[2020-09-22 08:41] xuzhang3 commented on #116
@lfmundim  This is a know issue, if `azuredevops_git_repository` lacks `initialization` configuration, terraform will crash during the `apply` phase.

[2020-09-22 08:51] xuzhang3 commented on #86
Close this issue, feel free to reopen it if you have questions.

[2020-09-22 08:51] #86 closed, assigned to nobody

[2020-09-22 08:57] xuzhang3 commented on #100
@EliiseS   Any update on this issues? 😄

[2020-09-22 09:00] EliiseS commented on #100
@xuzhang3 I'm not working on this. I just created the ticket :)

[2020-09-23 15:20] lightnir commented on #145
@xuzhang3 Sorry for the late reply. I've run the same codebase (as in the initial post) form a clean start (removed .terraform folder and the tfstate file) and I'm still getting the same error. How did you test the authorization?

[2020-09-24 02:19] xuzhang3 commented on #145
@lightnir  I just run the TF script you provide in this issue and the authorization is successful. A couple weeks ago, when I run the script, the authorization always failed though the HTTP response code is 200. Looks this issue still exist, I need to figure out how
 to reproduce this issue first, maybe I need to add a retry logic for this scenario.

[2020-09-24 02:23] josh-barker opened #189 "AzureRM Service Endpoint specify Resource Group scope with Credentials"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-24 03:25] xuzhang3 commented on #189
@josh-barker I afraid we cannot do it in this way.  Currently, `azurerm` support two types of  AzureRM service connections: `service principal (automatic)` and `service principal (manually)`
![image](https://user-images.githubusercontent.com/57888764/94095578-a3fa0180-fe54-11ea-95cb-ab683682f304.png)

If you choose to create in automatic way, you need specify the resource group name and subscripti

[2020-09-24 05:19] josh-barker commented on #189
Hi @xuzhang3,

There's another situation where I can configure a Service Principal Manually **and** set a resource group scope.

To do this from the portal, the process is:
1. Click on "Service Principal (Automatic)"
1. Set the Resource Group,
1. Press back
1. Click on "Service Principal (Manual)"
1. Fill in the service principal details
1. Press Verify & Save

You can call this endpoint `https://

[2020-09-24 07:16] xuzhang3 commented on #189
@josh-barker   Which  environment and scope level are you use, current environment and scope level are fixed to `Azure Cloud` and `Subscription` in ADO provider.

[2020-09-24 07:25] josh-barker commented on #189
@xuzhang3 In the portal, I set the scope to the Subscription and chose a Resource Group.

Yep, the environment is `AzureCloud` and scopeLevel is `Subscription`.

[2020-09-24 08:08] xuzhang3 commented on #189
@josh-barker  I get your point,  more like a trick. I need to confirm this with service team whether  this is normal.

[2020-09-24 15:43] poligraph opened #192 "terraform corrupted state: with Error: rpc error: code = Unavailable desc = transport is closing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-24 16:18] cd83 commented on #183
I was able to get this running with a Powershell task which is able to accept env variable as input - however we use the official Microsoft Terraform task to run our Terraform in production, and it does not have an option to pass in Environment Variables.

Official task: https://github.com/microsoft/azure-pipelines-extensions/tree/master/Extensions/Terraform/Src/Tasks/TerraformTaskV1

Which Pipeli

[2020-09-25 06:15] xuzhang3 commented on #183
I don't use terraform extensions, I use bash to manage the Terraform.

[2020-09-25 13:50] poligraph commented on #192
Seems like related issue I got when try to import build definitions

[code]

https://gist.github.com/poligraph/4ebfd23935a8ac1006edbf855fc31f35

[2020-09-25 15:29] petenorth commented on #123
I have a large number of variable groups containing a mixture of sensitive and non-sensitive config. The sensitive variables are marked as secrets (i.e. in Azure DevOps they appear as ****** ).

The presence of a secret in a variable group seems to result in the import failure

'Error: rpc error: code = Unavailable desc = transport is closing'

As soon as I remove the sensitive value the import su

[2020-09-25 18:37] cd83 commented on #183
In your [reply](https://github.com/microsoft/terraform-provider-azuredevops/issues/183#issuecomment-693775140), you said "Pipeline Terraform extension is also OK.", so I was wondering which one that is.

The fact that the Microsoft Azure DevOps Provider does not integrate with the Microsoft Terraform Task seems like a severe gap. We're not talking third party providers here - both projects are hos

[2020-09-27 02:52] xuzhang3 commented on #183
Yes, you can open an issue for this, but `azure-pipelines-extensions` is not managed by my team.
I would suggest change your pipeline from classic to YMAL and then you can set the ENV variables from the YAML script.

[2020-09-27 06:17] xuzhang3 commented on #192
@poligraph  Does your pipeline contains secret variables? If it is , this is a know issue, service will always return secret variables in empty string. I have put it in our backlog.

[2020-09-28 06:00] josh-barker opened #194 "Feature: Artifactory Service Endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-28 07:03] josh-barker opened #195 "[Feature Request]: SonarQube Service Endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-09-28 11:32] poligraph commented on #192
@xuzhang3 yes, pipeline contain secrets. I see PR - will wait for a fix

[2020-09-30 10:49] simongottschlag opened #197 "Publish new release to Terraform Registry"
Hi!

Are there any plans on doing a new release of this provider and are you looking into publishing it to the Terraform registry?

We have to build the code ourselves and store the binaries in GIT right now, would be really great if we could use a release from you instead.

Thank you!

Best regards,
Simon

[2020-10-01 08:36] birchb1024 commented on #195
The code in our fork did work today. Needs more testing. We also need the 'all projects' flag.
This is in progress.

[2020-10-01 12:00] veyu commented on #189
I stumbled upon this ticket when looking for information how I should configure service connection to AML workspace. I think I have similar problem - I am trying to configure AzureRM service connection with `resource_group` and `credentials` (and probably AML workspace name as well).
In portal I am using the same "trick" as @josh-barker (to not enter all stuff by myself) but in my case every field

[2020-10-01 23:07] mxrss2 commented on #197
Agreed if not in the registry can you please just publish released builds as artifacts in releases. It seems like its not clear what the release cadence is -- I am not even sure what version the provider is on.

[2020-10-02 21:58] schlbra commented on #133
Any updates on the feature request?

[2020-10-06 06:47] birchb1024 commented on #194
I'm starting on this today.

[2020-10-06 14:22] timja opened #199 "Error parsing Work Item Template ID, got : invalid UUID length: 0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-07 21:42] MattMencel opened #201 "Project Import Fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-07 23:18] josh-barker commented on #189
@xuzhang3 How did you go with the service team?

[2020-10-09 02:18] xuzhang3 commented on #197
@simongottschlag @mxrss2  Sorry for the inconvenient that we cannot release the new version due to the GPG keys. As I know that we will get GPG keys in the late October.  Next release  the provider will be released to Terraform registry.

[2020-10-09 03:02] xuzhang3 commented on #201
@MattMencel I test your configuration and  it works. From the logs, I can get the information that the provider cannot read the project.  Does your PAT have the permission to read the project?

[2020-10-09 03:23] xuzhang3 commented on #199
@timja How was you project created. Every project created by Azure DevOps will bound to a work item process template.
![image](https://user-images.githubusercontent.com/57888764/95539665-89618400-0a21-11eb-9907-0a41bb0d4b04.png)

[2020-10-09 06:52] timja commented on #199
It was created over a year ago it does have the agile process associated to it:

![image](https://user-images.githubusercontent.com/21194782/95552278-53fa6d80-0a04-11eb-9d26-75a42a2b3969.png)

I can send you the actual project if you want to take a look at it?

[2020-10-09 07:33] xuzhang3 commented on #199
Can you  help using `https://dev.azure.com/{orgniazaiton}/_apis/projects/{projectID or projectName}?includeCapabilitie=true&api-version=5.1-preview.1`  to get the project properties and check whether `capabilities.processTemplate` block exist. Normally the response will looks like:
![image](https://user-images.githubusercontent.com/57888764/95555534-85932900-0a44-11eb-8b39-cb5ecf93b172.png)

[2020-10-09 09:14] timja commented on #199
It does not exist:

[code]

[2020-10-09 09:22] xuzhang3 commented on #199
Looks strange. Can see the `Process` in the project property page?
![image](https://user-images.githubusercontent.com/57888764/95566180-ce9ea980-0a53-11eb-87f4-59c045a58d1c.png)

[2020-10-09 09:29] timja commented on #199
Yes I screenshotted that earlier, here's a bigger one:

![image](https://user-images.githubusercontent.com/21194782/95567064-55cf2b80-0a1a-11eb-8f45-1cabf51ab9c5.png)

[2020-10-09 10:30] xuzhang3 commented on #199
That's strange, seems  your account don't have enough permissions, need more investigation.

[2020-10-09 10:38] timja commented on #199
my account? I own the organisation.

[2020-10-09 20:02] MattMencel commented on #201
Ah, you are correct. I was using a secret someone else had placed in KeyVault, assuming it was the PAT. It wasn't.

Thanks for pointing me in the right direction.

[2020-10-10 05:23] xuzhang3 commented on #199
Try with different API versions to read the project properties, all of them can get  the project `capabilities.processTemplate`, cannot reproduce your error.  I would suggest not to use the UI and ADO provider to manage the project the same time, some of the configurations may out of Terraform's control.

[2020-10-12 16:36] CultClassik opened #202 "azuredevops_variable_group only works with managed resource of type azuredevops_project vs data source?"
I am sorry, what I thought was a provider issue was my own syntax issue. Removed.

[2020-10-12 18:08] CultClassik commented on #202
I am sorry, what I thought was a provider issue was my own syntax issue. Removed.

[2020-10-12 18:08] #202 closed, assigned to nobody

[2020-10-13 16:41] richardgavel opened #203 "Add support for service hooks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-14 08:38] xuzhang3 commented on #203
[REST API](https://docs.microsoft.com/en-us/rest/api/azure/devops/hooks/?view=azure-devops-rest-5.1)

[2020-10-15 12:05] aleqsss opened #204 "Agent Pool - Azure virtual machine scale set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-15 12:09] aleqsss commented on #204
I'm interested in working/contributing on this issue, but I'm impeded because as of my understanding, the [azure-devops-go-api](https://github.com/microsoft/azure-devops-go-api) is using an internal tool/code generator to generate the SDK.

[2020-10-15 22:12] mikemowgli opened #205 "Empty secrets from variable groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-16 03:00] birchb1024 opened #206 "Branch Policy Minimum Reviewers Additional Settings"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-16 03:02] birchb1024 commented on #206
I have started working on this one. Our Fork is here: https://github.com/colesgroup/terraform-provider-azuredevops

[2020-10-19 08:06] xuzhang3 commented on #205
@mikemowgli  I cannot reproduce your error.
Can you use `output "secret_val" {  value = azuredevops_variable_group.azure-tf-uat }`  print the created resource and check if Terraform uses the correct value?
Test script:
[code]

![image](https://user-images.githubusercontent.com/57888764/96417773-5b9bec80-1224-11eb-8ca6-083cc32b569f.png)

[2020-10-19 08:47] dhjensen opened #207 "Error: Value cannot be null."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-19 13:56] mikemowgli commented on #205
I frustratingly cannot reproduce either my own error. So I'm closing this. Apologize for the time wasted and thank you for your feedback @xuzhang3

[2020-10-19 13:56] #205 closed, assigned to nobody

[2020-10-20 06:26] hpomorski commented on #28
Do we have any update on that issue? It would be very nice to automate the process of setting whole DevOps projects by using seed jobs and it's one of the blockers.

[2020-10-20 06:45] xuzhang3 commented on #207
@dhjensen  Thanks for your feedback. This should be a bug in reading variable default value.   Suggest config the values manually .  I will add more constraints for the variables and update the document. constraints

[2020-10-20 15:29] cmielke commented on #62
I see that this issue has been merged and closed. How do I get a version of the provider that includes this change?

[2020-10-20 15:46] EliiseS commented on #62
@cmielke You'd need to build and install the provider from the source code. The instructions can be found here: https://github.com/microsoft/terraform-provider-azuredevops/blob/master/docs/contributing.md#3-build--install-provider

[2020-10-22 20:41] croemmich commented on #140
@xuzhang3 This is a bit of a "me too", but I wanted to point out that ~1/3 of the PRs and most of the feature requests are related to service endpoints. Adding this feature would provide all of them a decent workaround.

[2020-10-23 18:49] veyu opened #210 "Add support for Github Enterprise service connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-10-26 09:01] phillebaba commented on #23
Is there any progress on this? I would also like to have this feature in the same way that GitHub does it.
https://www.terraform.io/docs/providers/github/r/repository_file.html

[2020-10-26 11:11] dhjensen commented on #207
@xuzhang3 If I do as you suggest and specify the "values" / "variables" manually this resource will destroy them on subsequent `terraform apply` runs
The best workaround I have been able to find is to configure an empty variable in a variable group. But even in that case it will overide any values I add to the variable  on subsequent runs.

[2020-10-27 08:20] simongottschlag commented on #197
@xuzhang3 any updates? We don't want to contribute anything before we know this is the repository that will be releasing the provider and that we know new releases can be made.

[2020-10-27 08:26] xuzhang3 commented on #23
@phillebaba  This feature is our backlog and don't have a start date.

[2020-10-28 02:51] xuzhang3 commented on #197
@simongottschlag  We just get GPG key from the security team last few days and we are trying set up the release task.  The ADO provider will be released and I can guarantee that.

[2020-10-28 02:55] josh-barker-coles commented on #170
Hi @xuzhang3, just following up on the release. When will 0.0.2 to be released?

Cheers

[2020-10-28 03:00] josh-barker-coles commented on #189
Hi @xuzhang3, just following up on this issue.

Cheers,

Josh

[2020-10-28 03:01] xuzhang3 commented on #207
@dhjensen Can you share your new TF script?  Before execute `terraform apply`, you can  use `terraform plan` to track the difference.

[2020-10-28 03:35] xuzhang3 commented on #189
@josh-barker @josh-barker-coles  Sorry for the late reply.  I got no reply from service team but get the information from the support team that this is not a bug.  Based on the information I can get, I think we can introduce this feature to the ADO provider.

[2020-10-29 09:44] HarleyB123 opened #211 "work_item_template shouldn't destroy your project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-02 13:48] Chathuru opened #214 "Unexpectedly Terraform apply crash"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-03 08:37] xuzhang3 commented on #211
@HarleyB123  Project process can be changed in organization properties configuration page. This is an organization level configure and cannot be changed at project level. Also current projects API does not support change project processes [Projects API](https://docs.microsoft.com/en-us/rest/api/azure/devops/core/processes?view=azure-devops-rest-6.0),  I think current provider behavior is correct.

[2020-11-03 09:00] HarleyB123 commented on #211
Hey @xuzhang3 - Thanks for this!

Looking at the API documentation I agree, it would be impossible to cater for this need without there first being a change in the API itself.

Whilst slightly difficult to appreciate or understand from a users view (as I just want to change a projects process and retain all board items - the only way to do this after creating a project is to import it to the state

[2020-11-03 09:00] #211 closed, assigned to xuzhang3

[2020-11-03 09:20] simongottschlag commented on #197
@xuzhang3 do you need any assistance setting up the release task for the Terraform registry? I would gladly help out.

[2020-11-03 09:29] xuzhang3 commented on #197
@simongottschlag  I have setup a release pipeline https://github.com/microsoft/terraform-provider-azuredevops/pull/213, current issue is the GPG sign not working correct and this is an internal security service.

[2020-11-03 09:34] xuzhang3 commented on #197
It would be apricate if you can your help release the ADO provider, but file sign is an internal service, I'm afraid you may not be able to get involved.

[2020-11-03 09:53] simongottschlag commented on #197
@xuzhang3 ah! You can't use GitHub Actions to do this instead?

Terraform documentation: https://www.terraform.io/docs/registry/providers/publishing.html#github-actions-preferred-

Example: https://github.com/hashicorp/terraform-provider-scaffolding/blob/master/.github/workflows/release.yml

[2020-11-04 02:37] xuzhang3 commented on #197
@simongottschlag The security sign does not  support `GitHub action`.

[2020-11-04 05:55] xuzhang3 commented on #214
@Chathuru  This is a know issue caused by empty service connection description and I cannot reproduce your error. Can you  add a simple description to `azuredevops_serviceendpoint_kubernetes` service connection and try again? This issue has been fix in the latest branch.

[2020-11-04 06:00] xuzhang3 commented on #201
Close this issue, feel free to reopen it if you have questions.

[2020-11-04 06:00] #201 closed, assigned to nobody

[2020-11-04 08:56] simongottschlag commented on #197
@xuzhang3 ok! This means we need to wait for Microsoft to resolve this internally before we can release this provider?

[2020-11-04 15:26] xuzhang3 commented on #197
@simongottschlag  YES. The  release will coming soon as the only thing blocked us now is the internal sign issue.

[2020-11-04 15:54] Chathuru commented on #214
@xuzhang3 Yes, I haven’t used a description when creating services endpoint. I will try with the description.

[2020-11-04 16:59] Chathuru commented on #214
@xuzhang3 Tried building the code from the latest branch and its working. Thanks for your support.

[2020-11-04 16:59] #214 closed, assigned to nobody

[2020-11-05 08:06] xuzhang3 commented on #192
Close this issue. Feel free to reopen it if you have questions.

[2020-11-06 17:04] rasanjaya85 opened #215 "[Bug] - terraform apply with azuredevops_resource_authorization resource"
Error: Provider produced inconsistent result after apply

When applying changes to
azuredevops_resource_authorization.auth_iam_cloud_connection, provider
"registry.terraform.io/-/azuredevops" produced an unexpected new value for was
present, but now absent.

This is a bug in the provider, which should be reported in the provider's own
issue tracker.

[2020-11-07 13:19] Chathuru opened #216 "Enable cluster_admin in Kubernetes service connections"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-09 06:46] xuzhang3 commented on #215
@rasanjaya85 Can you share your TF config or error details?

[2020-11-09 06:51] xuzhang3 commented on #216
@Chathuru  Can you submit your PR? I can help review and merge. You may need add acceptance test for new property configuration. You can reference [resource_serviceendpoint_kubernetes_test](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/azuredevops/internal/acceptancetests/resource_serviceendpoint_kubernetes_test.go)

[2020-11-09 13:58] Chathuru commented on #216
@xuzhang3 I am new to Go programming. I will try to write unit test and acceptance test and send a PR.

[2020-11-11 08:48] xuzhang3 commented on #207
@dhjensen   This is Terraform's behavior.   Variable objects in  ADO provider are defined as `Set`,  when object property changed,  Terraform will treat the old object no longer  existed.

[2020-11-11 12:13] Chathuru commented on #216
@xuzhang3 Manage to update the unit test. Run the acceptance test and seems like they are passing the test. Git doesn’t allow me to create a PR, please have a look.

[2020-11-12 02:44] xuzhang3 commented on #216
@Chathuru  You should be able submit the RP. If you still cannot submit the PR, please send me your branch link, make sure you have submit all your latest code to your branch.
1. Go to your fork repo
![image](https://user-images.githubusercontent.com/57888764/98888714-71bf6480-24d3-11eb-8522-47d5e8b7930a.png)

2. Select the Pull request tab.
![image](https://user-images.githubusercontent.com/57888

[2020-11-12 07:44] simongottschlag commented on #197
@xuzhang3 any updates? We've been waiting for quite a while now and will have to start doing this ourselves if nothing happens.

[2020-11-12 07:48] xuzhang3 commented on #197
@simongottschlag Sorry for the inconvenient. The code sign onboard request still in processing.

[2020-11-12 07:56] simongottschlag commented on #197
@xuzhang3 do you have any estimate for when it will be ready? 👍

[2020-11-12 08:03] xuzhang3 commented on #197
As far as I know, 3 days ~ 7 days, I cannot give an accurate time. 😞

[2020-11-13 15:38] DevOpsBoondoggles commented on #143
This would definitely be great since it's the only way to do manual approval stages via yaml. Appreciate the dependency is not from you though.

[2020-11-19 08:20] simongottschlag commented on #197
@xuzhang3 I saw https://github.com/microsoft/terraform-provider-azuredevops/pull/224 beeing merged. Crossing my fingers it works :)

[2020-11-19 08:22] xuzhang3 commented on #197
@simongottschlag  If everything goes well,   new version will be released today.

[2020-11-19 08:23] simongottschlag commented on #197
@xuzhang3 that is the best news I've read this week 👍

[2020-11-19 08:27] dhjensen commented on #207
I'm not sure which code you wanted, this is what I ended up doing.:
[code]

[2020-11-19 08:32] dhjensen commented on #207
I will have to take your word for it.
However it would be nice for it to only "care" about the existance of the variables. Would be nice to be able to just specify variables with no values. Add value later without triggering terraform changes when it keeps the empty variable state.

[2020-11-19 09:00] sennerholm commented on #197
Super!

Another question, where is the doc going to show up? Is it at:
https://www.terraform.io/docs/providers/azuredevops/index.html or on: https://registry.terraform.io/search/providers?q=azure%20devops

Or some other place?

Sincerely
Mikael

[2020-11-19 09:06] xuzhang3 commented on #197
@sennerholm  The docs will be at https://registry.terraform.io/search/providers?q=azure%20devops

[2020-11-19 17:14] simongottschlag commented on #197
@xuzhang3 any info regarding getting it on Terraform Registry?

[2020-11-20 02:30] xuzhang3 commented on #197
@simongottschlag Microsoft   GPG signature cannot verified  by Terraform, I need change the signature format.

[2020-11-20 06:26] simongottschlag commented on #197
@xuzhang3 ah, that's unfortunate. I can't see the script used to sign, have you verified that it's the following?

gpg --detach-sign terraform-provider-{NAME}_{VERSION}_SHA256SUMS

[2020-11-20 06:32] xuzhang3 commented on #197
@simongottschlag  The GPG signature used here is supported by MS internal service.  Integrated in the release pipeline, not in the script.

[2020-11-20 06:53] simongottschlag commented on #197
@xuzhang3 ah, that's too bad. What's the plan forward?

Sorry for pushing this all day, every day, but we really need to make Azure DevOps a native part of Terraform for multiple projects and would of course prefer it being released from here instead of a third party fork.

[2020-11-20 07:01] xuzhang3 commented on #197
@simongottschlag  I'm contacting this with code sign service team if they can return the file in the format required by Terraform . Otherwise I need change the file format by myself to meet the Terraform publish criteria.

[2020-11-20 07:43] simongottschlag commented on #197
@xuzhang3 is it possible to convert it manually? That seems like a reasonable way of handling it until it can be automated, just to make sure we can do some new releases. 👍

[2020-11-20 11:04] simongottschlag commented on #197
@xuzhang3 I've forked the repo and published the provider using our GPG for now: https://registry.terraform.io/providers/XenitAB/azuredevops/latest

We need the PR #225 and can't wait for it any longer.

I'll remove the fork when you've made a successful release and merged the PR.

[2020-11-21 09:24] xuzhang3 commented on #197
@simongottschlag @sennerholm     ADO provider v0.1.0 has release to Terraform provider.
https://registry.terraform.io/providers/microsoft/azuredevops/latest
https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs

Configure example:
[code]

[2020-11-21 09:28] simongottschlag commented on #197
@xuzhang3 congratulations!!! 😁🎉👍 Thank you 😁

[2020-11-21 09:28] #197 closed, assigned to nobody

[2020-11-21 09:38] xuzhang3 opened #229 "Configuration example in document update to 0.13.x"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-23 06:09] xuzhang3 commented on #170
@josh-barker-coles @josh-barker
 Hi guys,  v0.1.0 has been released. https://registry.terraform.io/providers/microsoft/azuredevops/latest

[2020-11-23 16:04] Marcus-James-Adams opened #231 "Split variable creation from variable group creation to allow create/update/delete variables in a variable group and key vault independently"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-24 11:10] #229 closed, assigned to xuzhang3

[2020-11-24 17:43] NJannasch commented on #174
Any update?

[2020-11-24 21:46] amarkulis opened #232 "Project data source not working"
Since the provider has moved to Microsoft the data project source doesn't work as documented:

Error:
__Error: Unsupported argument

  on AZR-FOUNDATION.tf line 2, in data "azuredevops_project" "foundation":
   2:   project_name = "PCET-AZR-NEW"

An argument named "project_name" is not expected here.__

Code:

`data "azuredevops_project" "foundation" {
  project_name = "PCET-AZR-NEW"
}
`

[2020-11-25 03:04] xuzhang3 commented on #174
@NJannasch  You need to change `repositories[0].url
` to  `repositories[0].remote_url`, `remote_url` is the valid repository URL.
Make sure to use `v0.1.0`, `Import` supported since `v0.1.0`.

[2020-11-25 05:26] birchb1024 opened #233 "PROVIDER_VERSION.txt still 0.0.1 ?"
On master branch this file has contents '0.0.1'

Is that correct?

[2020-11-25 06:07] xuzhang3 commented on #233
@birchb1024  This  file is used for `scripts/build.sh, scripts/local-install.sh` etc.   The provider release version is based on tags.

[2020-11-25 06:10] xuzhang3 commented on #232
@amarkulis This is a breaking change in `v0.1.0`.  We renamed the project name from `project_name` to `name`. You can find it in the [change log](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/CHANGELOG.md)

[2020-11-25 15:12] amarkulis commented on #232
@xuzhang3 This migration has been really painful I was able to use this module last week and now everything on https://www.terraform.io/docs/providers/azuredevops/index.html is totally wrong.

[2020-11-25 15:54] ak58588 opened #236 "Support import private repository"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-25 16:50] amarkulis opened #237 "Error deploying variable group"
Error:
[code]

Code:
[code]

[2020-11-26 02:29] xuzhang3 commented on #232
@amarkulis  https://www.terraform.io/docs/providers/azuredevops/index.html will be deprecated.  Azure DevOps provider has been moved to Terraform registry  https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/project

[2020-11-26 15:16] lukerosser commented on #232
I've had the same problem - it should be made clearer that documentation is deprecated.

It also wasn't obvious that the provider location had moved. No mention of it in the release notes.

[2020-11-27 08:38] shwetanshu-cldcvr opened #238 "What would be the permissions required for Github PAT for Azure Devops build to work?"
I gave the following permissions to Github Account used in ADO along with admin access to Repos still I get the error :

Error: error creating resource Build Definition: Unable to configure a service on the selected GitHub repository. This is likely caused by not having the necessary permission to manage hooks for the selected repository.

admin:repo_hook:Full control of repository hooks
write:rep

[2020-11-27 13:26] poligraph opened #239 "argument org_service_url does not work in provider config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-11-27 13:44] poligraph commented on #192
looks like it fixed in v0.1.0.

[2020-11-27 13:44] #192 closed, assigned to nobody

[2020-11-30 02:57] xuzhang3 commented on #239
@poligraph The pre-config still needed here if you set  `org_url` and `persona_access_token` in the TF script.
[code]

[2020-11-30 03:25] xuzhang3 commented on #237
@amarkulis  Can you share the steps when this error occurs? I tried  provider v0.0.1 and v0.1.0 and cannot reproduce your error.
Though the log,  it seems the variable group used in the TF script has been deleted.

[2020-11-30 07:56] xuzhang3 commented on #238
@shwetanshu-cldcvr  Your permission configuration should be enough to create the build definitions.  Can you check that if the GitHub personal access token used in the service connection and the repository in build definition point to the same GitHub organization.

My test configuration:
![image](https://user-images.githubusercontent.com/57888764/100582306-045d6180-3324-11eb-97a5-87b5c4233902.png)

[2020-11-30 08:33] xuzhang3 commented on #236
@ak58588   Azure DevOps will create a repo with the same as the project name by default.  You  can reuse the default repository with data source `azuredevops_git_repository` or `azuredevops_git_repositories`

[2020-11-30 08:37] shwetanshu-cldcvr commented on #238
Ahh, I was using data.github_repository.main.id as input to repo name and that was causing it to fail. Used directly with repo name and it worked.

Thanks a lot for pointing in the right direction.

[2020-11-30 08:37] #238 closed, assigned to nobody

[2020-11-30 08:44] ak58588 commented on #236
@xuzhang3 thanks for your reply. What still I need is to create a new repo by importing some other existing one...and  I wonder what makes terraform apply to fail every time

[2020-11-30 09:14] xuzhang3 commented on #232
@lukerosser @amarkulis   I have update the release note. It's our mistake not to mention that the the document has been moved to the new location.

[2020-11-30 09:38] xuzhang3 commented on #236
@ak58588  I tested your script and it worked for me, I cannot reproduce your error(both of github repo and azure git repo works). Can you share more error logs or reproduce steps?    Is the repo you want to import is an existed one or created along with this repo.

[2020-11-30 15:12] amarkulis commented on #237
@xuzhang3 I did delete the variable group. After deleting state file and starting over I was able to resolve the error. I didn't realize terraform would crash because of this.  Thank you.

[2020-11-30 15:29] lukerosser commented on #232
Thanks @xuzhang3 - the "about" section on the repository is still using the wrong documentation link too.

[2020-11-30 23:02] simongottschlag commented on #204
@xuzhang3 would it be possible for you to ask internally at Microsoft what the plans are for the updated SDK?

@aleqsss has been waiting for a reply for quite some time and would be great to understand what the plans are.

I created the following more than a week ago and still nothing: https://github.com/microsoft/azure-devops-go-api/issues/93

Thank you 😊

[2020-12-01 02:48] xuzhang3 commented on #237
@amarkulis  It is not recommended to manage the resource both by Terraform and portal. Terraform cannot autodetect the resource changes, if you the resource changed out of Terraform, you need handle the changes carefully or Terraform may crash.

 In your scenario, `terraform refresh` may help you.

[2020-12-01 06:59] xuzhang3 commented on #232
@lukerosser    I create a new PR to fix the document link issue.

[2020-12-01 23:01] derhally opened #242 "Error: Failed to instantiate provider "azuredevops" to obtain schema: fork/exec"
Today we started getting the following error during terraform plan

[code]

This was not an issue with 0.0.1 .

We are using terraform 0.12.29

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do

[2020-12-02 03:52] xuzhang3 commented on #204
@simongottschlag  Sure, I will update the information when I got response from service team.

[2020-12-02 04:55] oscarmorasu opened #243 "Pipelines in the same Bitbucket repo is triggered multiple times"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-02 08:54] aleqsss commented on #204
Thank you for your input, @simongottschlag and @xuzhang3.

Unfortunately I haven't received any feedback whatsoever, on the [Add new taskagent resource functionality #90](https://github.com/microsoft/azure-devops-go-api/issues/90) issue/feature request. So an information update in regards of the plans of updating that SDK, would be highly appreciated @xuzhang3. Thank you for investigating this int

[2020-12-02 10:31] jakobyte1024 commented on #242
Can confirm. Same problem for me. Terraform 0.13.5 running with official TF docker image. Workaround `version = "<0.1.0"`

[2020-12-02 12:19] poligraph commented on #239
@xuachen I use token env variable `AZDO_PERSONAL_ACCESS_TOKEN` as before with 0.0.1 provider and `org_service_url` in config. But with 0.1.0 this combination does not work - I need to provide `AZDO_ORG_SERVICE_URL` in ENV, what is not convenient to use.

[2020-12-02 16:02] zoemac11 opened #244 "Timeout"
Hi,

My terraform tasks are posting a complete message but arent complete. See debug output below. This is happening on a validate and plan tasks. I'm using a self-hosted linux agent.

[code]

Also found on the agent it doesnt get the STDOUT/STDERR stream message.

Broken task
[code]

Any ideas why this would be?

[2020-12-02 17:01] Flaniga3 opened #245 "Service Endpoint AzureRM: Verification Fails With Invalid Key"
Affected resource:
`azuredevops_serviceendpoint_azurerm`

Terraform Version: 0.12.20

Provider version: built from master on November 20th, 2020

Resource configuration:
[code]

Expected Behavior:
I should be able to view the service connection in Azure DevOps and verify it.

Actual Behavior:
I attempt to verify the service connection in Azure DevOps and verification fails with "invalid key". This

[2020-12-03 04:01] xuzhang3 commented on #239
@poligraph  Your configuration should work for v0.1.0.  For ADO provider, ENV configure `AZDO_ORG_SERVICE_URL` and provider config `org_service_url` are the same configuration. Can you check whether the personal access token point to the organization you use?
I test different configuration combination, all worked for me.

[2020-12-03 04:51] xuzhang3 commented on #242
@derhally  `azuredevops` has been move to Terraform registry  and the plugin path has been changed by Terraform .Recommend not to set the plugin path in your script, Terraform can handle the plugin path  itself. If you specific the plugin location in your script file, you need change the path.
**Example**:
For v0.0.1, plugin path :`.terraform\plugins\windows_amd64`
For v0.1.0, plugin path :`.terra

[2020-12-03 07:50] derhally commented on #242
The new provider config is not supported by terraform 0.12 and it even warms you about that.  The issue is reproducible even with terraform 0.13.

I don't have issue with any other providers.

Did you try reproducing it?

[2020-12-03 10:22] kevinmatthews-kpmg opened #246 "Repos seems to require source_type even if not Import"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-03 13:33] SBiesinger commented on #242
Can confirm this problem persists on the official TF 0.14 docker image

[2020-12-03 23:54] matt-FFFFFF commented on #101
I'd like this too and have done some digging:

@xuzhang3 FYI

In terms of the AzDo API looks like we need support for the `ManagedServiceIdentity` authentication scheme when creating the service endpoint.

We currently only support `ServicePrincipal` authentication scheme:
https://github.com/microsoft/terraform-provider-azuredevops/blob/abee538ead915f3e8b802c910ae8ca396c88ffda/azuredevops/internal

[2020-12-03 23:58] matt-FFFFFF commented on #101
Example TF config:

[code]

[2020-12-04 03:39] xuzhang3 commented on #242
@derhally @SBiesinger ADO provider is a different with other provider,   ADO released the first version v0.0.1 as Hashicorp official provider then we moved the repo back to Microsoft and released the v0.1.0 to Terraform registry.
Provider local plugins path  released via Terraform registry has bee changed, For example:
[code]

**Hashicorp has helped sync the v0.1.0  from registry to the old provid

[2020-12-04 04:03] xuzhang3 commented on #244
@zoemac11 Can you give more logs or your operation steps? From the logs, I cannot find any error related with ADO provider

[2020-12-04 05:15] xuzhang3 commented on #246
@kevinmatthews-kpmg  DevOps will create a default repo with the same name as project. If you want reuse the default repository, you can use data source `azuredevops_git_repository`, you don't need to create an extra repo.
Example:
[code]
![image](https://user-images.githubusercontent.com/57888764/101124784-a2a63b80-3632-11eb-9ce5-8133e99a34a6.png)

[2020-12-04 05:44] xuzhang3 commented on #245
@Flaniga3 I cannot reproduce your error, I can create the AzureRM service connection and verify success. Can you check whether the AzuerRM configurations used in the TF schema is correct?
My test result:
![image](https://user-images.githubusercontent.com/57888764/101126429-6ecd1500-3636-11eb-905a-7da436e03bb8.png)

[2020-12-04 05:49] xuzhang3 commented on #237
The issue will be closed, if you have any questions, please feel free to open it.

[2020-12-04 05:49] #237 closed, assigned to nobody

[2020-12-04 06:19] ChrisF987 commented on #246
@xuzhang3 I don't think your response addresses the issue raised.

@kevinmatthews-kpmg we have hit the same issue. We have progressed with the updated provider by hacking the state file, so that within the `azuredevops_git_repository` resource, the `initialization` block changes from:

[code]

to

[code]

As you note, trying to do this using the terraform configuration itself doesn't work because

[2020-12-04 06:33] xuzhang3 commented on #246
@ChrisF987   I get your point , we add the 'Git' as the default repo type and add an constraint for the `source_type` which need `source_url` to be  configured. This  looks like a bug.

[2020-12-04 08:19] xuzhang3 commented on #243
@oscarmorasu  In your configuration, you set the configure: `use_yaml = true` which means the trigger is managed in your `pipeline.xml`, ADO provider cannot control the build triggers, you can find some configure example at: https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/bitbucket?view=azure-devops&tabs=yaml#ci-triggers

[2020-12-04 08:43] xuzhang3 commented on #101
Thank you  @matt-FFFFFF , is the `ManagedServiceIdentity` you mentioned is?
![image](https://user-images.githubusercontent.com/57888764/101140702-4b15c900-364e-11eb-8a86-612914fbea93.png)

If we are on the same thread,  I think only tenant ID is not enough here.

[2020-12-04 09:09] SBiesinger commented on #242
Hi @xuzhang3,

first of all, thanks for taking the time to support us on this issue. We are aware that the provider path has changed. The configuration on my side is so:

[code]

However, running on the official TF Docker image (tested on 0.13, 0.13.5 and 0.14), we get the following output:

[code]

We can see the plugin is indeed found by looking at this line, which appears during Terraform init:

[2020-12-04 09:51] xuzhang3 commented on #242
Hi @SBiesinger  I see, we need more investigation.

[2020-12-04 10:12] zoemac11 commented on #244
Agent worker logs
[code]

Agent logs

[code]

Azure Devops task debug logs
[code]

[2020-12-04 10:29] matt-FFFFFF commented on #101
Hi @xuzhang3

Yes, that's the thing.

The `tenantId` is the only property required for the authentication scheme. But, you're right in that depending on scope, we also need either: `subscriptionId` and `subscriptionName`. OR `managementGroupId` and `managementGroupName`

Would be great if we could include the option to grant access to all pipelines too:

[code]

[2020-12-04 11:07] poligraph commented on #239
@xuzhang3  so here is my config

[code]

`terraform plan` work with no issues

but after I do ```unset AZDO_ORG_SERVICE_URL```

it works fine :), let me do some research, I will not able to reproduce - I will close issues.

[2020-12-04 11:23] poligraph commented on #246
I faced the same issue, @xuzhang3 any ETA to fix it?

I added
[code]
to protect our repos, but our CI is totally broken

[2020-12-04 17:11] oscarmorasu commented on #243
Thanks for the information @xuzhang3

So if I use a Bitbucket as the connection and `use_yaml = true` with multiple build definition is an invalid setup?

This is how I came up with that configuration:

- Both pipelines already existed in ADO. They were created using the Web UI
- I ran `terraform import` on each build definition
- Ran `terraform plan` and look at the differences
- Tweak the terraf

[2020-12-04 20:49] kevinmatthews-kpmg commented on #246
@ChrisF987 I did exact same thing and hacked away at the state file, it was no good though as it still wanted the source url when I reran the terraform so failed.

The only thing I did to fix this was to change provider back to 0.0.1 which fixed it for now and allows me to continue to use our CI until the provider has been fixed.

[2020-12-06 17:33] ak58588 commented on #236
@xuzhang3  thanks for  your response. I have tried to deploy a project with a repo only (the one with import). I have examined the debug logs and found there
[code]
So it complains about the id expandGitRepository: ID is empty (not set)

[2020-12-06 19:11] ak58588 commented on #236
@xuzhang3 https://gist.github.com/ak58588/85c1a3bc6ade720a7af0039821b63944 this is the gist with the logs

[2020-12-06 19:21] ak58588 commented on #236
@xuzhang3 I think I got what my problem in my case is - I am referring another Azure DevOps git repo from the same organisation. I have just tried importing some github.com/<reponame>.git and it worked.

[2020-12-07 00:32] ChrisF987 commented on #236
@ak58588 I'm experiencing this issue also, with the same `Error: Error import repository in Azure DevOps: <nil> ` error message.

I'm trying to import an existing repo from the same project and organisation. When I do this via the UI, I have to provide authentication. @xuzhang3 is this supported by the updated provider?

Our use case is that when we create these new repos (there will be many), we

[2020-12-07 02:19] xuzhang3 commented on #101
Hi @matt-FFFFFF  We already have `azuredevops_resource_authorization` can be used to grant resource permissions.
 https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/resource_authorization

[2020-12-07 02:30] xuzhang3 commented on #244
Hi   @zoemac11    I cannot find the ADO or other Terraform provider errors from the log.  All I know is the job timeout of 5minutes, maybe you can set the timeout to 15minutes?

[2020-12-07 03:17] xuzhang3 commented on #243
Hi @oscarmorasu   Pipeline triggers can be set from UI or yaml configuration.  Here you use `use_yaml = true`  which means pipeline trigger is controlled by your `pipeline.xml`.
If you set `user_yaml=false`, an example UI configuration would look like:
![image](https://user-images.githubusercontent.com/57888764/101305469-bdb8bb80-387d-11eb-8ed7-9ced79d4b887.png)

[2020-12-07 06:43] xuzhang3 opened #247 "Support private repository import"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-07 06:44] xuzhang3 commented on #236
Hi @ChrisF987 @ak58588    The root issue here is current import function only support public repo link, if you want import a private repo, you need the pass the credentials.
If the source repository is empty. This error will also happen, the source repo should have at least one file.

Potential Terraform Configuration
[code]

[2020-12-07 06:46] #247 closed, assigned to nobody

[2020-12-07 07:12] xuzhang3 commented on #246
Hi @poligraph @kevinmatthews-kpmg If you add `source_type = "Git"` after you upgrade the provider to v0.1.0, a workaround for this is is remove the `source_type = "Git"` configure ,  provider will set the `source_type=Git` by default.  Though the state file have the `source_type = "Git"`, but this won't trigger the  `source_url` check.

[2020-12-07 08:51] zoemac11 commented on #244
I've managed to figure out what was causing it.

[code]

Added the following option to the terraform tasks and it's now completing in a normal time

[code]

[2020-12-07 09:00] kevinmatthews-kpmg commented on #246
@xuzhang3 i did try this, however it wants to destroy and recreate the repo, which is no good for us.

[2020-12-07 09:19] ak58588 commented on #236
Thanks, @xuzhang3 ! I have just tried adding the credentials and I am getting the error "unsupported argument" on these three parameters like this:
[code]

[2020-12-07 09:21] xuzhang3 commented on #236
Hi @ak58588  This is not supported yet, this is new feature we need to implement.

[2020-12-07 11:11] #244 closed, assigned to nobody

[2020-12-07 11:25] ak58588 commented on #236
@xuzhang3 thanks for the information

[2020-12-07 16:36] Flaniga3 commented on #245
Not sure what was wrong, but I cleared out the created service connections and allowed them to be recreated. Suddenly everything is working. Could have had something to do with the fact that they had to be updated a couple times before I finally got them correct. A fresh creation from the configuration I posted fixed it.

[2020-12-07 16:36] #245 closed, assigned to nobody

[2020-12-07 23:11] oscarmorasu commented on #243
I understand @xuzhang3

Now the issue I described originally happens when:

- Set `use_yaml = true` in the TF module
- Two different build configurations point to the same Bitbucket repo

I think there's still a bug there

Now, for my use case I took a step back and realized that NOT setting `use_yaml` at all and manage the triggers in TF is actually better:

- I don't need to copy-paste the ci tr

[2020-12-08 02:46] xuzhang3 commented on #243
hi @oscarmorasu   Have you set different path filter for different `pipeline.xml` configure?

[2020-12-08 09:46] zoemac11 opened #248 "Terraform plan has changes"
Looking to use the TERRAFORM_PLAN_HAS_CHANGES variable but looks like it is setting it true even when there are no changes made in plan

Using terraform 12.29

![image](https://user-images.githubusercontent.com/41298038/101467398-2cf3e580-393a-11eb-9718-32a6de0ff5af.png)

![image](https://user-images.githubusercontent.com/41298038/101467413-2f563f80-393a-11eb-9e93-004974c85130.png)

[2020-12-08 16:04] oscarmorasu commented on #243
BTW, good job with the ADO provider @xuzhang3

It boils down to this:

[code]

Some more notes:

- I actually have multiple infra and multiple src folders (mono-repo pattern), so I am encapsulating the `azuredevops_build_definition` in a module and generate multiple definitions at the same time using TF `count`. I suggest adding a section in the documentation about mono-repos, where multiple build

[2020-12-09 05:27] xuzhang3 commented on #243
@oscarmorasu  Good suggestions,  add example documents for different scenario 😄

[2020-12-09 05:48] xuzhang3 commented on #248
Hi @zoemac11  `TERRAFORM_PLAN_HAS_CHANGES` is not a Terraform configuration.

[2020-12-09 07:45] poligraph commented on #246
@xuzhang3 I have the same issue, any ETA to fix it? seems like a critical bug

[2020-12-10 03:23] CraigStuntzWillowTree opened #250 "Crash while importing azuredevops_serviceendpoint_github.github_serviceendpoint: "invalid memory address or nil pointer dereference""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-11 00:20] josh-barker-coles opened #251 "[Feature] Manage Permissions on Build Definitions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-11 10:11] moredhel opened #252 "When provisioning a Variable Group from KeyVault all the keys are included as disabled."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-11 17:01] flmmartins opened #253 "azuredevops_serviceendpoint_azurecr expose service_principal_id on output"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-14 13:34] Marcus-James-Adams commented on #138
@jameswestall This ties in with my request #231 , if variable groups were treated like keyvaults with the variables allowed to be set as a seperate reource you coudl easily mix TF and non TF variables in the same group.

[2020-12-15 02:49] nvmathure commented on #206
Are you still working on this feature? I need it for my integration. Please let me know how can I contribute to the work you have already started.

[2020-12-15 03:01] birchb1024 commented on #206
Yes, I have to push up a PR today

Bill

On Tue, 15 Dec 2020, 1:49 pm Nandan Mathure, <notifications@github.com>
wrote:

[2020-12-15 03:12] birchb1024 commented on #206
I'll push to our fork and let you know.

On Tue, 15 Dec 2020, 1:49 pm Nandan Mathure, <notifications@github.com>
wrote:

[2020-12-15 06:08] birchb1024 commented on #206
Hi,

please see PR #255.

Regards,
Bill

On Tue, 15 Dec 2020, 1:49 pm Nandan Mathure, <notifications@github.com>
wrote:

[2020-12-15 18:43] favoretti commented on #248
This is from Terraform extension to AzDO, not for you guys :) Feel free to close.

[2020-12-16 05:19] billbirchatcoles commented on #51
Hi,

We (Coles) are starting on this - to update the provider to include this feature. Our fork is https://github.com/colesgroup/terraform-provider-azuredevops.

Our branch is MADM-641-Import-groups-and-members-from-AAD-to-newly-created-project

Regards,
Bill

[2020-12-16 08:04] #248 closed, assigned to nobody

[2020-12-18 03:08] xuzhang3 commented on #250
Hi @CraigStuntzWillowTree  I cannot reproduce your error. Which type `github` service connection you try to import. Currently we only support `GitHub`

[2020-12-18 03:56] CraigStuntzWillowTree commented on #250
I'm actually using GitHub, although I don't remember if I specified `Git` or `GitHub` in the HCL. Based on the above it looks like I specified `Git`. Regardless it feels like terraform should return an error stating that only GitHub is supported instead of crashing.

[2020-12-18 15:44] wernerfred commented on #246
We upgraded the azuredevops provider from 0.0.1 to 0.1.0 too and now hitting the same issue:

terraform plan output (truncated - more than 100 more affected):
[code]

How can we solve this issue in the meantime and when is a fix expected?

EDIT: our workaround that solved the issue (for how long?) was to search and replace ```"source_type": ""``` with ```"source_type": "Git"``` in the state file

[2020-12-21 10:45] wernerfred commented on #236
Any information about a roadmap for this feature?

Digged a bit deeper in the source code and traced the function calls. Seems like the repository is created and afterwards the import is requested (which we can verify as the repo gets created in azure devops but in state uninitialized).
The function which should trigger the import seems to be this one:
https://github.com/microsoft/terraform-provid

[2020-12-21 11:15] pondichys opened #260 "Error: VS403284: Invalid operation when trying to set AGILETOOLS permissions on project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-21 18:51] CaptainStealthy commented on #252
@moredhel I see that the bug label was added to this issue. I assume that you haven't found a solution to this?

I haven't tried this myself, but I found this thread while searching for documentation on how to add a variable group referencing Key Vault secrets.

For now, I've assumed that doing this is impossible/broken, so I've worked around it by just creating a normal variable group with values

[2020-12-21 19:26] moredhel commented on #252
Yes,

I have also worked around the issue by using the key vault task which does a reasonable job.

[2020-12-22 15:48] petersonsbuild commented on #215
I'm getting the same error:

[code]

Here is my configuration:

[code]
It appears that when I attempt to do cross-account-authorization I get this error.

[2020-12-23 07:54] xuzhang3 commented on #215
@plbenpeterson In DevOps, organization agent pool and project agent pool are different. `projectb_auth` reference to an agent pool  exist in `projecta`. You need create an agent pool for `projectb` then  you can  then you can do the authorization.

[2020-12-24 08:06] xuzhang3 opened #261 "Service endpoint should call read function after create"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-12-29 03:22] xuzhang3 commented on #233
Close this issue, feel free to reopen it if you have questions.

[2020-12-29 03:22] #233 closed, assigned to nobody

[2020-12-29 03:27] xuzhang3 commented on #243
Close this issue, feel free to reopen it if you have questions.

[2020-12-29 03:27] #243 closed, assigned to nobody

[2020-12-30 12:12] y6vmeq opened #263 "System.AccessToken"
Is it possible to log in through the system PAT? which is used in AzureDevops Pipelines? $(System.AccessToken)

[2021-01-04 09:15] xuzhang3 commented on #263
Hi @y6vmeq   You can use the  $(System.AccessToken), make sure you export the PAT as the ENV variable
Example:
[code]

[2021-01-04 10:57] y6vmeq commented on #263
Thanks. I use this extension (https://marketplace.visualstudio.com/items?itemName=charleszipp.azure-pipelines-tasks-terraform)
And there is no way to use environment variables. Solved the problem like this

[code]

[2021-01-04 10:57] #263 closed, assigned to nobody

[2021-01-05 06:55] #251 closed, assigned to nobody

[2021-01-05 09:26] #182 closed, assigned to nobody

[2021-01-07 07:07] DanSibbernsen opened #266 "azuredevops_resource_authorization Error: Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-07 09:59] xuzhang3 commented on #266
Hi @DanSibbernsen  This because the resource you try to authorize not ready.  Wait 1 or 2 mins should working.

[2021-01-07 17:23] DanSibbernsen commented on #266
Hi @xuzhang3, I put in a time_sleep blocker like so:
[code]

I set it for 5 minutes and I'm still getting the same error. Any other tips?

[2021-01-08 01:04] DanSibbernsen commented on #266
Ah, I think I found my issue. The PAT I assigned to AZDO_PERSONAL_ACCESS_TOKEN doesn't have access rights to modify service connections of this type. Will confirm when I have a PAT that has those permissions. Though it's a bit weird that I could create the service connection but not be able to alter it, so maybe that's a bug?

[2021-01-08 02:31] xuzhang3 commented on #266
Checked with service team that this is not a bug.  I will follow up whether ADO can handle the resource state and maybe we can add a retry logic for the resource before resource ready.

[2021-01-08 21:26] DanSibbernsen commented on #266
Thanks @xuzhang3, your advice helped me resolve my problem! I had a few issues:
1. azurecr_spn_tenantid was wrong (populating it with the wrong value)
2. the delay between the azuredevops_serviceendpoint_azurecr that you mentioned

After getting both of those working, I can now create Azure Container Registry Service Connections with access to all pipelines. Here is my example code:

[code]

[2021-01-08 21:26] #266 closed, assigned to nobody

[2021-01-11 08:27] xuzhang3 commented on #242
@derhally  @derhally @SBiesinger  Provider not found should be fixed in v0.1.1. https://github.com/microsoft/terraform-provider-azuredevops/releases/tag/v0.1.1

[2021-01-11 08:34] xuzhang3 commented on #246
The `source_type`  default value has been removed.
If your `initialization.init_type` is not `Import`:
  - For v0.0.1 `.tfstate`, there will be no diff during plan && apply lifecycle.
  - For v0.1.0 `.tfstate`, there will be a diff during plan && apply lifecycle as the `source_type` default value has been removed.

[2021-01-11 13:47] poligraph commented on #246
@xuzhang3 I have upgraded from 0.1.0 to 0.1.1 and still have that issue
[code]

[2021-01-12 02:35] xuzhang3 commented on #246
@poligraph This is correct, v0.1.0 have default value `Git` while in v0.1.1 the default value has been removed. You can remove the `source_type` value from `.tfstate` manually or execute the `terraform apply` command (because the `source_type` is `ForceNew=true`, the apply command will destroy the old repo and create a new one)

[2021-01-12 09:51] xuzhang3 commented on #260
Hi @pondichys  The user group is set the scope to project but you try grant the `agile` permissions which can not be managed by project namespace.

[2021-01-12 21:07] richardgavel commented on #203
I can see why this hasn't been done yet. All the various kinds of triggers each require a potentially different block (buildCompleted vs codePushed vs etc). I'm starting to put it together myself, using serviceendpoint as a model

[code]

The trigger and the potential trigger block settings would be in the base, the other properties unique to the action would be in the each of the resource_service

[2021-01-13 05:37] josh-barker-coles commented on #51
@xuzhang3

The below code will create an **AAD** Group, create an **AZDO** Group, and add the AAD Group into the AZDO Group as a member.
I found to destroy `azdo_group_linked_to_aad`, you need elevated permissions; `Project Collection Administrators` is sufficient, but I'm not sure if there's another group that would allow you to create/delete the AZDO group.

[code]

[2021-01-13 16:18] poligraph commented on #246
@xuzhang3 thanks for workaround - i fixed state file and it works now.

[2021-01-13 22:45] drdamour commented on #252
per #8 it's supposed to work...

[2021-01-13 23:23] csharpdocs opened #270 "Add support for SSH Service connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-14 13:12] moredhel commented on #252
Indeed, I linked to that issue in my initial issue as something I had tried (but hadn't worked).

[2021-01-14 23:58] drdamour commented on #231
this would help me as my single code repo has the tf module code for my app as well as my app code to deploy.  For deployment i need values from a variable group with secrets...but that module is what creates the variable group in the first place.  i'd much rather create the variable group in the UX and then set secrets on it with the provider

[2021-01-18 06:39] shwetanshu-cldcvr commented on #216
Any estimated time for release for this?

[2021-01-19 02:59] xuzhang3 commented on #216
@shwetanshu-cldcvr  This feature has been released in v0.1.1 https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/serviceendpoint_kubernetes

[2021-01-19 04:32] birchb1024 opened #272 "terraform-plugin-sdk v2 roadmap?"
Currently the provider uses v1.13.1 of the terraform-plugin-sdk. There is a version 2 of the plugin SDK from Hashi (github.com/hashicorp/terraform-plugin-sdk/v2) which has a lot of changes. See [v2 upgrade guide](https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html.)

Do you have a plan to upgrade to the new plugin SDK? Is there any planned date for a new version?

[2021-01-19 10:36] xuzhang3 commented on #272
Hi @birchb1024  We have  no plans to upgrade to v2, currently v1 can cover our requirement, but we can investigate what we can benefit from v2. Regular release will be per three weeks. Due to bug fix and feature requirement, we may change the release cycle.

[2021-01-20 05:37] xuzhang3 commented on #216
Close this issue as this issue has been fixed. Feel free to open another issue if you have questions.

[2021-01-20 05:37] #216 closed, assigned to nobody

[2021-01-20 05:41] xuzhang3 commented on #242
Close this issue,  feel free to open another issue if you have questions.

[2021-01-20 05:41] #242 closed, assigned to nobody

[2021-01-20 08:32] xuzhang3 commented on #250
Hi @CraigStuntzWillowTree  I cannot reproduce your error.  The  root error is `Authorization.Scheme` is empty, but  `Authorization.Scheme`  is a required parameter for service connections.  I will keep this issue opening in case you have more information or questions.

[2021-01-20 08:34] xuzhang3 commented on #232
Close this issue, feel free to open another issue if you have questions.

[2021-01-20 08:34] #232 closed, assigned to nobody

[2021-01-20 13:37] CraigStuntzWillowTree commented on #250
Did you notice I had no `auth_[...]` parameter on the `azuredevops_serviceendpoint_github` at all? I wonder if that's connected? Again, I don't presume I'm doing this right, I might very well have omitted something important! I just want a better message about it.

[2021-01-21 08:37] xuzhang3 commented on #250
1.  `azuredevops_serviceendpoint_github`  cannot created without `auth[]`
2. All operation steps. How does the project and service connection created?  From Terraform or web page?  Have you modify the .tfstate file manually?

There is no errors in the following scenario:
1. Create project and service connection from web and using Terraform import them.
2. Create project and service connection with

[2021-01-21 09:34] #261 closed, assigned to xuzhang3

[2021-01-21 09:35] xuzhang3 commented on #246
Close this issue, feel free to open another issue if you have questions.

[2021-01-21 09:35] #246 closed, assigned to xuzhang3

[2021-01-21 09:36] xuzhang3 commented on #215
Close this issue, feel free to open another issue if you have questions.

[2021-01-21 09:36] #215 closed, assigned to xuzhang3

[2021-01-21 13:25] dano0b commented on #253
I think I'm running in the same issue. Service connection is created but Docker@2 task can't use it. For now I have to work around it by using Docker@1 and using a `azureSubscriptionEndpoint` instead of the `azuredevops_serviceendpoint_azurecr` which uses exactly the same subscription.

[2021-01-21 15:36] CraigStuntzWillowTree commented on #250
Again, perhaps the problem was that I had `auth_[...]` missing from `azuredevops_serviceendpoint_github`.

We manually created the ADO project and service connection, from the web page. I did not modify the `.tfstate` manually. I tried doing `terraform import` using _exactly the HCL above._ Perhaps I should have included an `auth_` section. I would expect an error message indicating this instead o

[2021-01-21 23:56] CaptainStealthy opened #274 "Possible to add secure files to the Pipeline Library?"
Is it possible to add secure files to the Library using this provider?

Looked through the docs, but didn't find anything.

Thanks!

![securefiles](https://user-images.githubusercontent.com/48744965/105427080-99d0ef80-5c09-11eb-8040-338d33822e0b.png)

[2021-01-22 03:17] xuzhang3 commented on #250
Hi @CraigStuntzWillowTree  You should add `auth_`  this is a required  configuration block. You also point out that we should make sure at least of `auth_`  configure block is configured.

[2021-01-22 13:46] l3dd opened #276 "on-prem support"
Hello,

I would like to know if we are able to use this provider to manage a on-prem azuredevops 2020 ?
I tried to access but i still have an error as `Error: Options "https:/xxx/xxx/_apis": Service Unavailable`

Thanks for your help !

[2021-01-24 17:08] pondichys commented on #260
Thanks for the answer.

[2021-01-24 17:08] #260 closed, assigned to nobody

[2021-01-25 09:46] xuzhang3 commented on #276
Hi @l3dd This provider is developed based on the `https://dev.azure.com` APIs,  some of the API is different with on-prem,  you may not be able to manage the on-prem resources with this provider.

[2021-01-25 09:52] xuzhang3 commented on #206
Close this issue , feature request  has been implemented and merged.

[2021-01-25 09:52] #206 closed, assigned to nobody

[2021-01-25 09:56] xuzhang3 commented on #117
Close this issue, feel free to open another issue if you have questions.

[2021-01-25 09:56] #117 closed, assigned to nobody

[2021-01-25 09:57] xuzhang3 commented on #122
Close this issue, feel free to open another issue if you have questions.

[2021-01-25 09:57] #122 closed, assigned to nobody

[2021-01-25 14:27] whiskeysierra opened #277 "ACR docker registry login server should be lower case"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-25 14:41] whiskeysierra opened #278 "ACR service connection implicitly requires Azure AD Application Administrator role"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-25 14:45] bibek-rauniyar opened #279 "Error: Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-25 18:33] picardsrcd opened #280 "Granting permissions to the Library"
When you have a library with a secure file (which i created using a null resource and local_exec to CURL to the API), you need to grant access to the secure file. I could not find how to grant such access.

When following the portal instructions in this URL: https://medium.com/@dzeyelid/check-use-secure-files-in-azure-devops-pipeline-b96314590bfd

The Library Security is updated (Pipelines --> Lib

[2021-01-25 19:54] picardsrcd commented on #143
An interim approach is possible with null-resource
https://joefecht.com/posts/creating-an-azdo-environment-via-api/

[code]

[code]

[2021-01-26 15:10] richardgavel commented on #143
I know it sounds ugly, but do we have to use the Go SDK, what about direct REST calls from within the TF provider? I only ask because it's been 5 months since the GO API has been updated in Github, even though it looks like these are all generated files.

[2021-01-26 16:12] whiskeysierra commented on #143
Honestly, both the go SDK and the terraform provider are maintained by
Microsoft. I don't see a reason why this hasn't been done yet...

On Tue, 26 Jan 2021, 16:10 Richard Gavel, <notifications@github.com> wrote:

[2021-01-26 21:42] CaptainStealthy commented on #252
@xuzhang3 Can you provide an ETA as to when this bug might be fixed?

[2021-01-27 03:23] xuzhang3 commented on #143
Hi @richardgavel @whiskeysierra  Terraform and SDK are managed by different team, we have feedback this to the SDK team.

[2021-01-27 05:44] whiskeysierra commented on #143
@xuzhang3 I'm in no position to suggest how Microsoft conducts their (open source) business, but as a user I see they represent themselves as a company (notably an organization on github: https://github.com/microsoft) and not as a bunch of teams. Obviously you need to have an organizational structure to run a company, but I fail to see why that is relevant to the outside. Feels like a classic case

[2021-01-27 05:59] whiskeysierra commented on #278
I don't believe there is much for the terraform-provider-azuredevops to do here. This seems like a bug in the Azure DevOps API which happily accepts requests that are missing permissions to create app registrations in AD and instead of failing hard it will respond successfully but create a service connection in a non-working state (only visible in UI, not via API and not usable due to authorizatio

[2021-01-27 05:59] #278 closed, assigned to nobody

[2021-01-27 09:31] xuzhang3 commented on #252
Hi @CaptainStealthy   The root issue is provider not check the Azure KV data and generate the data by ADO configuration which missed some meta data. An ETA for this issue will be 6th Feb.

[2021-01-27 16:48] skarlupka opened #281 "azuredevops_branch_policy_auto_reviewers auto_reviewer_ids value"
The azuredevops_branch_policy_auto_reviewers resource has an auto_reviewer_ids setting. This setting doesn't work with the user.descriptor field like many of the other resources do in the provider. When using a descriptor the output complains that the descriptor can't be turned in to a System.GUID type. The azuredevops_users data type provides an origin_id field, but using this value throws a `GUI

[2021-01-27 22:43] richardgavel commented on #143
I will say this. This is an open source project that accepts contributions. I'm sure the devs that own this repo have a lot to do. But given that, ideally they would first focus on removing blockers to contributions (i.e. reviewing PRs promptly, the old SDK issue) so we can add capabilities on our own rather than demanding something of a free library (that is in support of something MS doesn't eve

[2021-01-28 06:15] bibek-rauniyar commented on #279
Can anyone help me to solve this issue please?

[2021-01-28 07:57] xuzhang3 commented on #281
Hi @skarlupka `azuredevops_users.origin_id` is the origin user ID,  if user is from AAD, the `origin_id` is AAD ID,  devops cannot find the user by AAD ID.  Auto reviews IDs cannot use descriptor, it is limited to GUID by service.  In your scenario, you can use the group as the reviews.
Example:
[code]
![image](https://user-images.githubusercontent.com/57888764/106107029-59312300-6181-11eb-92bc-00

[2021-01-28 08:34] xuzhang3 commented on #280
Hi @picardsrcd,   Do you mean grant the pipeline access to the secure file ?
![image](https://user-images.githubusercontent.com/57888764/106110611-e5dde000-6185-11eb-849e-ea7d086b0f46.png)

ADO use `azuredevops_resource_authorization` to grant the resource permissions,  I'm not sure if ADO can grant the pipeline access to secure file permission with  `azuredevops_resource_authorization`, need more

[2021-01-28 08:41] xuzhang3 commented on #279
Hi @bibek-rauniyar This is a  know issue.  Previously, ADO won't check the service connection status which will ignore the creation error even we can find it in the service connection page.  Latest ADO(not released) will check the service connection status and make sure the service connection is created without error. #273

[2021-01-28 11:20] FernandoMiguel opened #282 "Default branch name for new repositories"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-28 11:24] FernandoMiguel opened #283 "git_repository default_branch"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-28 14:46] racdev commented on #113
We would also like the "File path validation" policy settings to be implemented by the provider.

[2021-01-28 15:15] skarlupka commented on #281
@xuzhang3  Thank you so much for the detailed explanation. Your suggestion worked!

[2021-01-28 15:15] #281 closed, assigned to nobody

[2021-01-28 21:13] CaptainStealthy commented on #27
@EliiseS @xuzhang3 Is there a chance that the `azuredevops_serviceendpoint_azurerm` resource could be updated to support management groups? This is going to become a problem for us very soon :(

[2021-01-29 13:06] FernandoMiguel opened #284 "drift detection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-01-29 18:55] picardsrcd commented on #280
@xuzhang3 On the portal, if you click permit, it adds the permissions on the Library itself.
![image](https://user-images.githubusercontent.com/71772354/106315405-32362800-6239-11eb-9302-6315820b32b7.png)

An alternative approach, which I've taken at this time is to add the Build Service service account to the the group `Project Valid Users`

I have not tried assigning directly to the secure file

[2021-01-30 14:01] marekaf commented on #6
Hi 👋 I'm interested in working on this. I see however a draft PR https://github.com/microsoft/terraform-provider-azuredevops/pull/178 already. Should I work on it / join forces / leave it as it is?:)

[2021-02-01 06:15] xuzhang3 commented on #274
Hi @CaptainStealthy  Seem cannot implement this resource for ADO provider because there's no secure file APIs.

[2021-02-01 06:34] xuzhang3 commented on #282
Hi @FernandoMiguel   `azuredevops_git_repository` support set the `default_branch`
[code]

[2021-02-01 06:37] xuzhang3 commented on #283
Hi @FernandoMiguel  you can set the `azuredevops_git_repository.default_branch`, it  is configurable. But you should ensure that the branch existed otherwise ADO won't be able to create this resource.

[2021-02-01 07:01] xuzhang3 commented on #284
Hi @FernandoMiguel  It is not recommended to manage the resource with different. Terraform detect the change base on the `.tfstate` and API response. If the configuration changed by web console is supported by the ADO provider then terraform can detect the changes otherwise  it won't.

[2021-02-01 07:25] FernandoMiguel commented on #282
Then the docs need to be updated

[2021-02-01 07:29] FernandoMiguel commented on #284
My experience with other providers, say AWS one, is that if a resource created and managed by terraform is modified outside of terraform, then on the next run of terraform that difference is detected and the state established on the source code is restored.
Azure devops provider does not seem to follow that expected behavior, at least for the one in this example.

[2021-02-01 13:49] aleqsss commented on #204
@xuzhang3 were you able to get any response from the service team?

Thank you! 🙂

[2021-02-01 23:25] ringoc opened #285 "Secret `variable` in `azuredevops_variable_group` should warn when no `secret_value` is used"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-02 03:19] xuzhang3 commented on #204
Hi @aleqsss We have some internal progress, I will update it here if there is any update.

[2021-02-02 08:33] xuzhang3 commented on #285
Hi  @ringoc  I know it is odd to separate common value and secret value.   We separate them because secret value is sensitive while common value not.
![image](https://user-images.githubusercontent.com/57888764/106573306-6af53a80-6574-11eb-92db-5b9125a9435c.png)

[2021-02-02 11:00] avishnyakov commented on #143
Might be a reasonable approach to go forward using REST API for the time being, good suggestion by @richardgavel

Go SDK repo seems to be supported by a single person (fair share of commits by me person, majority). Not much been happening there for quite a time. Best move forward and then refactor once SDK catches up?

[2021-02-02 12:40] aleqsss commented on #204
Thank you @xuzhang3, I appreciate that!

[2021-02-02 12:57] FernandoMiguel commented on #283
the all point of this resource is to create a repo.
in that moment no branches exist.
the idea is for it to create one with the name we choose, and not default to "master"

[2021-02-02 13:01] FernandoMiguel commented on #283
https://github.com/jamiemccrindle/terraform-provider-azuredevops/blob/master/azuredevops/internal/service/git/resource_git_repository.go#L71
says it is computed.
can we override that in terraform?

[2021-02-02 13:03] FernandoMiguel commented on #282
this PR is about a different resource than `azuredevops_git_repository`

it's about this
![image](https://user-images.githubusercontent.com/168366/106604053-01b2fe80-6557-11eb-8cbc-0b8c3e979547.png)

this is in the project settings

[2021-02-02 13:05] aleqsss commented on #64
Hello,

@xuzhang3

If there's additional scopes needed, other than:

- **Variable Groups:** Read, Create, & Manage

Such as (discussed above in this thread):

- **Build:** Read & execute
**AND/OR**
- **Tokens:** Read & manage

I'd like to propose that those scopes should be added to the [PAT Permissions Required section](https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/res

[2021-02-02 13:24] FernandoMiguel commented on #283
tested and working.
the docs need to be updated

[2021-02-02 13:24] #283 closed, assigned to nobody

[2021-02-02 14:59] FernandoMiguel opened #288 ""The policy configuration ... does not exist.""
After adding / updating branch policies, we seem to be stuck with this error:

[code]

no idea how to resolve it

[2021-02-02 15:06] FernandoMiguel opened #289 "last_pusher_cannot_approve etc"
We are trying to enable the following commented out options:
[code]
based on the code at:
https://github.com/microsoft/terraform-provider-azuredevops/blob/bacdd41906d38539d941b8202f54bb920b39fae8/azuredevops/internal/service/policy/resource_branchpolicy_min_reviewers.go#L16-L22

but on apply, results in the following error:
[code]

[2021-02-02 16:50] FernandoMiguel commented on #289
I see this is in master but the release is older.
is the team planning a new release?

[2021-02-03 06:43] xuzhang3 commented on #283
Hi @FernandoMiguel  `default_branch` can  override by Terraform.   Service will set a default value if this parameter is not set, so this configuration is `Computed`.

[2021-02-03 08:25] xuzhang3 commented on #282
@FernandoMigue  This API is not a public API, we can not add this resource to ADO based on the  current azuredevops-go-SDK

[2021-02-03 08:37] xuzhang3 commented on #64
@aleqsss  ADO is provide the ability to mange project level resources, ADO won't only one APIs when  you try create/update resources.  `variable group`  will check if you have grant the permission to the pipelines ,this is why ADO need  `Build` permissions. Thank for your update, the `variable group` doc is out of update and we need update it.

[2021-02-03 08:42] xuzhang3 commented on #289
@FernandoMiguel `azuredevops_branch_policy_min_reviewers` enhancement will release in v0.1.2.

[2021-02-03 08:47] xuzhang3 commented on #288
@FernandoMiguel Can you provide the operation steps? Seems you fixed the policy ID to 14,  but this policy has been deleted, have  you modify  the policies in web portal?

[2021-02-03 09:23] FernandoMiguel commented on #288
Yes. As we experiment with the various options, we are testing the ideal settings, both via web, and then coding them into terraform.

I'm not familiar with policy IDs.
But we would love to learn better how to handle this.
As even some other team member can at some point in the future do a similar change and our pipelines should handle this gracefully.

[2021-02-03 09:29] FernandoMiguel commented on #282
I understand. Thank you.

[2021-02-03 09:54] xuzhang3 commented on #288
Hi @FernandoMiguel  Normally terraform will auto get/get the ID when you try create/update the policy. But if you modify the policy out of terrrfrom won't be able detect the changes.  Terraform manage the resource based on the `.tfstate` file and service responses.
For example:
1. Create the policy with terraform.
2. Delete the policy from portal.
3. Change TF configures and apply,  terraform will

[2021-02-03 09:57] aleqsss commented on #64
Thank you for the information @xuzhang3.

For your information - adding the build scope permissions solved the problem for me.

[2021-02-03 10:44] FernandoMiguel commented on #282
Created a feature request with azuredevops-go-SDK
https://github.com/microsoft/azure-devops-go-api/issues/96

[2021-02-04 03:42] josh-barker-coles commented on #7
Hi @EliiseS, @tmeckel & @xuzhang3 Is there any movement on this issue?
I also need to authorize a pipeline to access a repo.

Cheers!

[2021-02-04 13:35] zanozbot opened #291 "Group membership not overwriting group members on first run"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-04 20:49] kuwas opened #292 "BUG > Insufficient permissions leads to crash without proper error messages"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-05 08:24] xuzhang3 commented on #289
Hi @FernandoMiguel  I'm going close this issue, v0.1.2 has been  released  https://registry.terraform.io/providers/microsoft/azuredevops/latest

[2021-02-05 08:24] #289 closed, assigned to nobody

[2021-02-05 08:41] xuzhang3 commented on #284
Terraform won't change the source code, terraform detect the changes based on service response and `.tfstate`. (make sure the configuration is supported by ADO)
For example:
1. Set  `azuredevops_branch_policy_min_reviewers.reviewer_count = 1` and apply
2.  Change the `reviewer_count` to 3  in portal
3. Run terraform plan and you will find terraform have detect the change and plan change the `revie

[2021-02-05 08:44] xuzhang3 commented on #279
Hi @bibek-rauniyar v0.1.2 has been released,  v0.1.2 should solve your problem

[2021-02-05 08:46] xuzhang3 commented on #277
Close this issue, has been fixed in v0.1.2.

[2021-02-05 08:46] #277 closed, assigned to xuzhang3

[2021-02-05 08:50] xuzhang3 commented on #252
Hi @CaptainStealthy this issue has been fixed in v0.1.2

[2021-02-05 08:51] xuzhang3 commented on #250
Close this issue, feel free to open another issue if you have questions.

[2021-02-05 08:51] #250 closed, assigned to nobody

[2021-02-05 08:51] #279 closed, assigned to xuzhang3

[2021-02-05 08:57] xuzhang3 commented on #194
Close issue.  Jfrog Artifactory service endpoint #256  has been supported in v0.1.2

[2021-02-05 08:57] #194 closed, assigned to nobody

[2021-02-05 09:05] xuzhang3 commented on #145
Close this issue. v0.1.2 has enhance the service connection state check during creation/deletion, the state handler will block the creation/delition until the service connection is ready or fail.

[2021-02-05 09:05] #145 closed, assigned to nobody

[2021-02-05 09:16] xuzhang3 commented on #292
Hi @kuwas I  cannot reproduce your error. Can you share you TF script?  If user don't have the permission, ADO will return an error message like:
[code]

[2021-02-05 14:32] CaptainStealthy commented on #252
Thanks!

cc @moredhel @drdamour

[2021-02-05 15:41] Yanson opened #295 "azuredevops_serviceendpoint_github with github app fails to plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-05 17:27] kuwas commented on #292
@xuzhang3
Precisely this is the specific configuration that had this issue.

We did not see a 401 error, instead just the provider plugin crashed. Please make sure to apply the configuration with a user to create the service connection, then switch to another user that is not an admin on the project or admin on the service connection.

[code]

[2021-02-05 23:40] FernandoMiguel commented on #284
That has not been my experience, sadly.
I'll retry with the latest release and report back

[2021-02-06 05:42] xuzhang3 commented on #295
Hi @Yanson  This is a document error. In ADO `description` is an optional configuration and cannot be empty string.

[2021-02-06 12:24] Yanson commented on #295
Yes, except "Github Apps do not support a description and will always be empty string". If the description is left off it defaults to "Managed by Terraform" and then the plan fails with "Github Apps can not be updated must match imported values exactly".

[2021-02-09 02:26] jameswestall opened #296 "ISSUE: Usage of variables in provider declaration does not flow through to nested modules."
I am having similar/same issue to #239 since terraform upgrade from 0.13 to 0.14.6

I am entirely unable to use variables in the  provider configuration  WHEN using custom modules which hold Azure DevOps resources.

**TF Version**
[code]

**Steps to reproduce**
- Clone this repo: https://github.com/jameswestall/azuredevops-tfprovider-module-issue-demo - provide an ORG URL and PAT as variables. Exa

[2021-02-09 15:16] matt-FFFFFF opened #297 "Git import does not respect default branch of source repo"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-09 18:09] jamescross91 opened #298 "Creating azuredevops_group.ad_group results in HTTP 503"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-09 19:27] matt-FFFFFF opened #300 "Support branch policy merge types"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-11 12:10] whiskeysierra commented on #143
For those who want to get something up and running right now: The REST API provider is an acceptable workaround (for me at least) right now. It's reasonably short and configurable enough to allow even updates/replacements, i.e. it properly tracks the lifecycle of the environment resource.

## Example

[code]

The necessary settings for the provider block:

[code]

You could pass the password (PAT

[2021-02-11 13:17] whiskeysierra opened #301 "Allow setting acceptUntrustedCerts for azuredevops_serviceendpoint_kubernetes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-11 16:07] whiskeysierra commented on #143
Slight fix: I used `force_new` incorrectly there. It's not a list of field names/paths, but rather a list of strings that force a replacement if they change. I ended up putting all my variables in there which make up the body so if any of them changes a new resource is being created (since PUT/PATCH are not supported).

[2021-02-11 16:08] whiskeysierra commented on #143
I also stumbled across this issue, which people might also face that want to use service account authorization for kubernetes service endpoints. I'm just leaving the link here for reference: https://developercommunity2.visualstudio.com/t/unable-to-create-a-workable-kubernetes-service-con/1337297

[2021-02-11 18:59] whiskeysierra commented on #301
This is the relevant section of code:

https://github.com/microsoft/terraform-provider-azuredevops/blob/d1f30fb8489635760661395fc6f4d45848552ca5/azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_kubernetes.go#L239-L241

[2021-02-11 21:04] whiskeysierra commented on #143
Related to the comment above, here is the `restapi_object` resource to create a kubernetes service connection with service account authorization:

[code]

[2021-02-12 21:50] rossbeehler opened #302 "azuredevops_branch_policy_auto_reviewers not accepting groups"
### Terraform (and Azure DevOps Provider) Version
Terraform v0.14.4
+ provider registry.terraform.io/hashicorp/azurerm v2.47.0
+ provider registry.terraform.io/microsoft/azuredevops v0.1.2

### Affected Resource(s)
azuredevops_branch_policy_auto_reviewers
azuredevops_group

### Expected Behavior
Should be able to set auto_reviewers branch policies to groups obtained from the azuredevops_groups dat

[2021-02-15 17:33] FernandoMiguel opened #303 "typos in error message"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-15 17:34] FernandoMiguel commented on #303
https://github.com/microsoft/terraform-provider-azuredevops/blob/33b33401b4539cd9ef245155e3cb8ca5fdd247ed/azuredevops/internal/service/taskagent/resource_variable_group.go#L429
https://github.com/microsoft/terraform-provider-azuredevops/blob/33b33401b4539cd9ef245155e3cb8ca5fdd247ed/azuredevops/internal/service/taskagent/resource_variable_group.go#L451
and other places

[2021-02-17 10:11] esciara opened #305 "Add support for settings -> scope -> match_type = DefaultBranch"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-18 03:39] xuzhang3 commented on #292
Hi @kuwas  I cannot reproduce your error.   Can you post the error logs?

[2021-02-18 03:40] kuwas commented on #292
Will reopen if we run into it again

[2021-02-18 03:40] #292 closed, assigned to nobody

[2021-02-18 09:47] xuzhang3 commented on #303
Hi @FernandoMiguel   This is an open source project, you can submit a PR to  fix this issues.

[2021-02-18 09:59] xuzhang3 commented on #295
Hi @Yanson  can you add the description for your service connections? The description was expect not to be an empty string in ADO provider.

[2021-02-18 10:15] xuzhang3 commented on #302
Hi @rossbeehler  you can reference the group ID with `azuredevops_group.g1.origin_id`

[2021-02-18 13:31] Yanson commented on #295
Hi @xuzhang3, I cannot set the description as terraform errors with:

The description needs to be an empty string, but the provider prevents that.

[2021-02-18 16:50] jeremywitte commented on #295
Importing an `azuredevops_serviceendpoint_github` resource backed by an existing GitHub App authentication worked as documented with the following provider version:
[code]
I suspect versions beginning with `0.1.0` included additional validation which broke the previous handling/detection of GitHub App auth based versions of this service connection resource.

Since the GitHub App-based auth version

[2021-02-18 17:49] giovanni-fontanel-overit opened #308 "In azuredevops providers the azuredevops_users data source do not export list, but set."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-19 02:52] xuzhang3 commented on #295
Hi @jeremywitte @Yanson The validation was added after v0.0.1.  As portal accept empty string,  I will update the validation.

[2021-02-19 16:08] rossbeehler commented on #302
Hi @xuzhang3, I mentioned above that I tried using `origin_id` and received this error:

[code]

Is it perhaps the fact that I'm using an Azure Active Directory Group?

[2021-02-20 05:23] xuzhang3 commented on #302
Hi @rossbeehler   I cannot reproduce your error,   Form the error message,  looks like service return the group info without `origin_id`.  Can you find the group `[TEAM FOUNDATION]\Group Name` in your project groups?
![image](https://user-images.githubusercontent.com/57888764/108584739-af5b4580-737e-11eb-8623-d5fab2be8bf8.png)

[2021-02-20 05:47] xuzhang3 commented on #308
The origin design return users in set type, need more investigation if we can change the user type from set to list.

[2021-02-20 10:09] giovanni-fontanel-overit commented on #308
Hi,
thank you for your reply. I can suppose that the bug is an incorrect or incomplete documentation. [This](https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/data-sources/users#attributes-reference) documentation say:

Is more correct to say:

?

Or

?

I'm sure that you could provide a better description that I'm suggesting ( sorry, I'm not an editor :) )

[2021-02-22 02:33] xuzhang3 commented on #308
Hi @gfontanelwork I would prefer `users - A set of existing users`

[2021-02-22 17:53] BudickDa commented on #199
We had the same problem in the company I work for.
Weird thing: Everything worked last Friday and since today all the pipeline that we use this provider stop with the same error.
I run the same version, that run successful in Azure Devops on Friday in the same pipeline and it failed. We confirmed, that nobody changed anything in the configuration over the weekend. I also confirmed that I used the

[2021-02-23 19:44] FernandoMiguel opened #311 "azuredevops_variable_group data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-24 09:51] racdev commented on #302
I can replicate this issue using an Azure Active Directory Group as well.
It seems that neither origin_id or descriptor is the correct format for the create request.
Using the UI and inspecting the API calls made in the browser, it looks as though the groups **localId** value is used when adding a group as a reviewer - however this value isn't in the azuredevops_group resource schema so isnt avail

[2021-02-25 01:17] avishnyakov opened #312 "azuredevops_serviceendpoint_azurecr, unable to update description property"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-02-25 19:33] whiskeysierra commented on #312
I can't offer a fix, but we stopped using `azuredevops_serviceendpoint_azurecr` altogether because it creates a service principal but doesn't manage it afterwards, i.e. it won't get deleted when the service connection gets deleted etc.

We switched to a docker service connection of type "Others" and that works much better:

[code]

[2021-02-25 20:17] jacky-ni opened #313 "Adding AD group as a member of Azure DevOps group with Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-01 00:05] josh-barker-coles commented on #313
Hi @jacky-ni,

Is this what you're trying to do - https://github.com/microsoft/terraform-provider-azuredevops/issues/51#issuecomment-759217529

Perhaps the documentation / examples could be updated?

/cc @xuzhang3

[2021-03-01 09:55] jacky-ni commented on #313
Hi @josh-barker-coles

Thanks a lot for your solution, I tried it and it works well.
It seems that I am missing the step that transfers the aad ID to Azdo group descriptor...
Great solution!

[2021-03-01 09:55] #313 closed, assigned to nobody

[2021-03-01 13:13] nimmyarjith opened #314 "Variable group created. But getting 401 Unauthorized error (PAT permissions :Variable Groups: Read, Create, & Manage)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-01 16:47] dktodorov opened #315 "azuredevops_build_definition import crash"
### Terraform (and Azure DevOps Provider) Version
Terraform 0.14.7
azuredevops 0.1.2

### Affected Resource(s)

* `azuredevops_build_definition`

### Terraform Configuration Files

[code]

### Debug Output
https://gist.github.com/dktodorov/52f130a418f2d47203ad380b120296a2#file-gistfile1-txt

### Panic Output
https://gist.github.com/dktodorov/52f130a418f2d47203ad380b120296a2#file-gistfile2-txt

###

[2021-03-01 19:30] FernandoMiguel opened #316 "Azure DevOps PATs for CI"
Is there a pattern for issuing and using PATs in CI/azure devops pipelines?

I need to auth against Azure DevOps pipelines.
the provider https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs only talks about Personal Tokens (PATs) 

what’s the approach here? create an AD user to create this PAT?
I don't want to use one associated with my corporate account

Can a PAT be issued f

[2021-03-01 21:58] aashishkoirala commented on #312
Just hit this today. Looks like the provider is not fetching the `spnObjectId` from the service connection definition in AzDO before constructing the request that it makes back to AzDO. I just gave up and added `description` to my `ignore_changes` list. I also got another `authorization` property (one that the resource doesn't even support) showing up as changed when working with an imported servi

[2021-03-03 07:01] xuzhang3 commented on #316
Hi @FernandoMiguel  You  can create PAT with any account as long as this account have the access permission to your Azure DevOps ORG.  https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?view=azure-devops&tabs=preview-page

[2021-03-03 08:18] xuzhang3 commented on #315
Hi @dktodorov   I cannot reproduce your error, can you find the  `report build status` configuration in the pipeline you try to import?
![image](https://user-images.githubusercontent.com/57888764/109773234-f1676f80-7c39-11eb-9fb7-be4dffcbd1c9.png)

[2021-03-03 08:34] FernandoMiguel commented on #316
But how do I invite a service principal, for example?
I tried with the ID with no luck.

Is there a way to authenticate against Azure devops resources (for example agent pool data source) without a PAT being provided in the terraform provider config block?

[2021-03-03 08:43] xuzhang3 commented on #314
Hi @nimmyarjith  Variable group is configured under a project and project need read the template configurations. So you should grant at least the following permissions: `Project:  read`, `Work Items: Read` and `Variable Groups: Read, create, & manage `

[2021-03-03 08:55] xuzhang3 commented on #316
Every operation need granted permissions.  In ADO provider, you cannot manage the resources without PAT. A workaround in your scenario:
1. Create a new account in AAD
2. Add this account as the admin of your organization
3. Create a PAT for the new AAD account.

[2021-03-03 09:38] FernandoMiguel commented on #316
Yeah that seems to be the way around this, which prevents this from being deployed at scale in a programmatically way.

Is there a restriction for ADO to only use PAT?

From the link you provided, other methods of auth are available.

[2021-03-03 14:46] FernandoMiguel commented on #49
was there any progress on finishing this?

[2021-03-03 18:27] whiskeysierra commented on #316
Can't you just use the build service identity that executes your pipeline? We assigned that one all the permissions it needs.

[2021-03-03 18:34] whiskeysierra commented on #106
Try debug log. That error happens usually if the API responds with an HTML page, usually with a login or error page of some sorts. Hence the first character being a "<".

[2021-03-03 18:43] FernandoMiguel commented on #316
@whiskeysierra care to explain that a little better?
the docs say the provider needs a PAT to authenticate to ADO https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs
[code]
I already have a service principal, and use that for the AzureRM provider

[2021-03-03 20:02] whiskeysierra commented on #316
You can pass the `$(System.AccessToken)` pipeline variable. It doesn't have to be a personal access token. No need to have a service principal for DevOps.

[2021-03-03 20:05] whiskeysierra commented on #316
[code]

You need to set that on your pipeline task that executes terraform.

[2021-03-03 20:40] FernandoMiguel commented on #316
Thank you. I'll give it a try tomorrow.

[2021-03-04 02:08] xuzhang3 commented on #49
There is a draft PR on this issue #178 , not sure if @exocom  still working on this.

[2021-03-04 03:18] xuzhang3 commented on #106
Not sure how do set or encode the PAT, I cannot reproduce this error. But I will get an sign in HTML page if I missed the PAT in POSTMAN request.

[2021-03-04 08:39] xuzhang3 commented on #297
Hi @matt-FFFFFF Do you mean import repo should use the default branch setting like `refs/heads/master` or  custom the default branch?

[2021-03-04 11:20] matt-FFFFFF commented on #297
When I import a repo that has multiple branches, the default branch of the source repository is not respected.

E.g Source repo branches (on GH):

- main [default]
- prod
- canary

Once imported into AzDO using the above, it looks like this

- main
- prod
- canary [default]

[2021-03-04 12:27] nimmyarjith commented on #314
Hi @xuzhang3 Thank you for your response. We have also tried with the read permissions on project, workitem and something more. It did not work actually. But our concern is that TF is creating the variable groups. If it was a permission issue, it should not create the variable group itself. But it is creating it. But returning error. Any more suggestions please

[2021-03-04 13:49] exocom commented on #49
@FernandoMiguel The branch is quite a bit out of date & we are looking for some help to get it up to date. I don't plan on picking it back up until June or July of this year. Let me know if you are interested in pitching in.

[2021-03-04 19:45] #316 closed, assigned to nobody

[2021-03-04 19:46] FernandoMiguel commented on #316
that was an awesome tip @whiskeysierra
i hadnt seen anywhere refer that.
can you provide me with some more context of how it works?

can i use that identity to also access a storage account without having to use a service principal or a storage account principal access key?

[2021-03-04 20:05] whiskeysierra commented on #316
Happy to help 🎉

I just tried it and it worked. I think it's just an unfortunate naming in the terraform devops provider. If it would be called *access token* and you can either pass a *personal* or a *system* one, that would be easier to understand.

They way I understand it is, that there are two kinds of identities in DevOps:
1. Normal (usually human) users
2. Build service identities

The buil

[2021-03-05 02:58] xuzhang3 commented on #314
Hi @nimmyarjith  The root issue here is `azuredevops_variable_group` can grant the access permission to pipelines
![image](https://user-images.githubusercontent.com/57888764/110060548-0f9baf80-7da1-11eb-86a8-19d1417fc113.png)
This permission managed by `Tokens` or `Token Administration`. I would suggest you grant the access with `azuredevops_resource_authorization` though `azuredevops_variable_gro

[2021-03-05 06:30] xuzhang3 commented on #298
Hi @jamescross91   I cannot reproduce your error.  Is `origin_id  = var.analytics_ad_group_id` the  real AzureRM ADD group object ID?

[2021-03-05 09:50] xuzhang3 commented on #296
Hi @jameswestall  This is not a ADO provider issue. You should define the variables in child module too, you can reference this post: https://discuss.hashicorp.com/t/accessing-variables-declared-and-defined-in-parent-from-child-module/10462/6

Working configuration is :
1. Add `org_service_url` and `personal_access_token` to `demo-module-usage` configure block:
[code]
2.  Define `org_service_url`

[2021-03-06 09:57] dktodorov commented on #315
Hi @xuzhang3,

our pipelines were initially created with Python SDK https://github.com/microsoft/azure-devops-python-api/tree/dev/azure-devops/azure/devops/v6_0

When you create the pipeline with the SDK, **buildDefinition.Repository.Properties** can be **nil**. So properties dictionary didn't exist at all.
Maybe it is better to add a fix, which actually checks if properties is a dictionary, befor

[2021-03-08 00:15] jameswestall commented on #296
@xuzhang3 - I'm not sure if you're correctly understanding the problem I've described. What I'm experiencing is not aligned to the Terraform documentation and expected behaviour. From the provider documentation:

"Provider configurations, unlike most other concepts in Terraform, are global to an entire Terraform configuration and can be shared across module boundaries"

See here for implicit inher

[2021-03-08 03:03] xuzhang3 commented on #315
Hi @dktodorov   The python SDK you use is v6, but ADO provider is based on v5.  I can add a check for `buildDefinition.Repository.Properties`, but this might not help in this scenario.

[2021-03-09 06:29] nimmyarjith commented on #314
Hi @xuzhang3  Thanks for your reply. Sorry i did not get that point. Because we are setting allow_access = false in our code

[2021-03-09 08:03] xuzhang3 commented on #314
`azuredevops_variable_group` will try set to the access flag for pipelines and this permission is managed by `Tokens` and `Token Administration`

[2021-03-09 08:06] #300 closed, assigned to nobody

[2021-03-09 09:46] xuzhang3 commented on #296
@jameswestall I get your point, I need more investigation on this issue.

[2021-03-09 09:48] xuzhang3 commented on #308
Close this issue, feel free to open another issue if you have questions.

[2021-03-09 09:48] #308 closed, assigned to nobody

[2021-03-10 03:20] xuzhang3 commented on #301
Hi @whiskeysierra `accept_untrusted_certs` has been supported by  `azuredevops_serviceendpoint_kubernetes` . This  configuration is available when you  authorize in `kuberConfig`.
[code]

[2021-03-10 03:36] xuzhang3 commented on #252
Close this issue, feel free to open another issue if you have question.

[2021-03-10 03:36] #252 closed, assigned to nobody

[2021-03-10 05:54] xuzhang3 commented on #253
Hi @flmmartins   This issue has been fixed in PR #317  and will release in v0.1.3

[2021-03-10 06:18] dhjensen commented on #207
@xuzhang3 I no longer use these resources so I cannot give any more feedback on the matter. You can close this issue if there is confirmation of a fix?

[2021-03-11 08:27] Marcus-James-Adams opened #323 "Unsupported argument data.azuredevops_project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-11 08:27] #323 closed, assigned to nobody

[2021-03-11 08:28] Marcus-James-Adams commented on #323
my mistake hadn't seen the change of projecty_name

[2021-03-12 21:36] fyvekatz opened #325 "azuredevops_git_repository "Import" does not import from another Git repository"
I've been unable to create a repo that successfully imports the content of another (public) repo. I can provide logs if necessary but the scenario is simple. Using the following main.tf, a project is created in my instance of Azure DevOps. A properly named repo is created a long with it, but it is not populated with the contents from the public remote repository.

From the logs, the version of the

[2021-03-13 03:35] wunderhund opened #326 "Can't import GitHub App service endpoint - resource requires one of auth_oauth, auth_personal"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-15 03:31] xuzhang3 commented on #325
Hi @fyvekatz  I cannot reproduce your error.  You can find all the repos at `Project settings -> Repos -> Repositories`.
Azure DevOps will create a default repo with same name with project, so project `Test Demo` have two repo.
![image](https://user-images.githubusercontent.com/57888764/111100038-ca863300-8581-11eb-8911-3d810a42799f.png)

[2021-03-15 04:18] xuzhang3 commented on #326
Hi @wunderhund GitHub service connection need at least one of `auth_oauth,auth_personal` specified.
 You can authorize with `oAuth` or `personal access token`, this is on your choice. If  the existed GitHub service connection  is authorized with `oAuth`, you need write your configuration like this:
[code]

otherwise:
[code]

[2021-03-15 08:46] cc93691810 opened #327 "May I know the whitelist of domain when downloading this provider?"
When downloading and installing this provider, we got the below error. May I know the whitelist of the domain so that we can add them into our firewall rules.

![image](https://user-images.githubusercontent.com/43203994/111126371-96c10280-85ad-11eb-9ba9-3d300bd9b4d6.png)

[2021-03-15 09:15] xuzhang3 commented on #327
Hi @cc93691810  ADO provider is released at https://registry.terraform.io/providers/microsoft/azuredevops/latest

[2021-03-16 05:54] xuzhang3 commented on #297
Hi @matt-FFFFFF   I did some research, this is the default behavior of Azure DevOps. `import` can be used to import repository from Azure DevOps git repo, GitHub repo etc.

[2021-03-16 12:49] wunderhund commented on #326
@xuzhang3 yes, GitHub service connection need at least one of `auth_oauth, auth_personal` specified. **That is the problem.** The Azure API contains a third authorization scheme for Service Connections configured through Github Apps. In the Azure API it looks like this:

[code]
This is what it looks like in the Azure portal:
<img width="236" alt="Using Azure Pipelines App" src="https://user-images

[2021-03-16 21:47] Ysabo27 commented on #106
i am try now and see the same error'
i check in server 2019 and in ubunto 20.04

[2021-03-17 02:36] xuzhang3 commented on #106
Hi @huxh27  DevOps server is not supported. Currently we only support web portal https://dev.azure.com.

[2021-03-17 04:30] xuzhang3 commented on #326
Hi @wunderhund  I submit a PR #328 to fix this issue, thanks for your feedback.

[2021-03-17 07:06] nimmyarjith opened #329 "Unable to download Microsoft's Official Terraform Provider for Azure DevOps"
Hi All,

We get error while initializing the azuredevops provider.

We use Octopus as a deployment tool. The tentacle agent is in a controlled environment, protected by firewall. The terraform code is running from there. Initially we were getting error

**"https://github.com/microsoft/terraform-provider-azuredevops/releases/download/v0.1.2/terraform-provider-azuredevops_0.1.2_SHA256SUMS":
An exist

[2021-03-18 04:20] tullydwyer opened #330 "Provider not detecting azuredevops_branch_policy_build_validation has been deleted"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-18 12:51] jpiecuch opened #331 "How to add GitHub Enterprise Server service connection using provider"
Hello folks,

is there a way to create GitHub Enterprise Server service connection using provider or this functionality is not yet available? I went through documentation https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/serviceendpoint_github and couldn't find any information about this.

[2021-03-18 13:18] julie-ng opened #332 "Support darwin/arm64 (Apple Silicon)"
I am running Terraform on a new Apple mac with the m1 chip and while most terraform providers, including azurerm have been updated to run on arm architecture, the `microsoft/azuredevops` provider does not work.

### Terraform (and Azure DevOps Provider) Version

| Software | Version |
|:--|:--|
| Terraform CLI | 0.14.7 |
| azuredevops Provider | 0.1.2 |

### Expected Behavior

Terraform is success

[2021-03-19 02:29] xuzhang3 commented on #332
Hi @julie-ng  Thanks for your feedback.  ADO is built based on GO v1.14. We need upgrade the golang from v1.14 to v1.16 to support Apple Silicon.

[2021-03-19 02:39] xuzhang3 commented on #331
Hi @jpiecuch  GitHub Enterprise Server service connection  is not yet available. #210  is tracking on this resource.

[2021-03-19 02:52] xuzhang3 commented on #329
Hi @nimmyarjith  ADO is released at https://registry.terraform.io/providers/microsoft/azuredevops/latest. So I think you need add `https://registry.terraform.io` to your FW.

[2021-03-19 03:25] xuzhang3 commented on #330
Hi @tullydwyer   Thanks for your feedback. Looks like ADO ignore the changes when compare the `.tfstate` and  service response, need more investigation.

[2021-03-19 06:34] jpiecuch commented on #331
Thank you for quick answer!

[2021-03-19 06:34] #331 closed, assigned to nobody

[2021-03-19 07:42] julie-ng commented on #332
Thanks @xuzhang3 for the response. Any idea on the timeline for this? March? April?

[2021-03-21 21:25] pasqualedevita opened #334 "Add Npm registry Service Endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-21 21:33] pasqualedevita commented on #334
Possible implementation: https://github.com/microsoft/terraform-provider-azuredevops/pull/335

[2021-03-21 22:36] rdalbuquerque commented on #302
I can reaffirm @racdev comment, I went through the same investigation.
What I had to do was map the Active Directory group to an Azure Devops group and than use the Azure Devops group on the reviewers list.

[2021-03-22 09:09] xuzhang3 commented on #332
Hi @julie-ng   v0.1.3 support darwin/arm64

[2021-03-22 09:31] xuzhang3 commented on #330
Fixed in v0.1.3, closing this issue. Feel free to open another issue if you have questions.

[2021-03-22 09:31] #330 closed, assigned to xuzhang3

[2021-03-22 09:31] xuzhang3 commented on #326
Fixed in v0.1.3, closing this issue. Feel free to open another issue if you have questions.

[2021-03-22 09:31] #326 closed, assigned to nobody

[2021-03-22 09:32] xuzhang3 commented on #312
Fixed in v0.1.3, closing this issue. Feel free to open another issue if you have questions.

[2021-03-22 09:32] #312 closed, assigned to xuzhang3

[2021-03-22 09:33] xuzhang3 commented on #315
Fixed in v0.1.3, closing this issue. Feel free to open another issue if you have questions.

[2021-03-22 09:33] #315 closed, assigned to nobody

[2021-03-22 09:34] xuzhang3 commented on #295
Fixed in v0.1.3, closing this issue. Feel free to open another issue if you have questions.

[2021-03-22 09:34] #295 closed, assigned to nobody

[2021-03-23 15:04] dmccaffery opened #339 "feat: service endpoint for azure devops / tfs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-24 08:32] mintxelas opened #340 "Support setting all group permissions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-25 08:15] #334 closed, assigned to nobody

[2021-03-25 08:27] xuzhang3 commented on #332
Close  this issue, feel free to open another issue if you have questions.

[2021-03-25 08:27] #332 closed, assigned to nobody

[2021-03-26 17:23] drdamour opened #343 "Teams support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-26 17:58] drdamour opened #345 "import group doesn't set scope"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-26 20:28] drdamour commented on #291
what i've found is overwrite doesn't overwrite anything NOT in the state file...IE it only removes things that are in the state file

[2021-03-26 21:35] drdamour commented on #340
also it's unclear to me what these settings are for and where they show up in the web ux

    # i THINK These are piplines things, accessible within the pipline (though it doesn't match up completely)
    # Administer a build
    # ADMINISTER_BUILD
    # Start a build
    # NOTE: this might be Queue Build
    # START_BUILD
    # Edit build quality
    # EDIT_BUILD_STATUS
    # Write to build opera

[2021-03-26 21:42] drdamour opened #346 "build pipeline root security"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-03-29 04:27] jameswestall commented on #296
Hey there @xuzhang3 - Not to rush you on this issue, is there anything I can help with collection for diagnosis?

[2021-03-29 07:14] xuzhang3 commented on #346
Hi @drdamour You can use `azuredevops_build_definition_permissions` to manage the pipeline security https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/build_definition_permissions

[2021-03-29 07:17] drdamour commented on #346
@xuzhang3 but that requires a build definition id.  I want to set the “top level” default permissions. How is that done?

[2021-03-29 09:09] xuzhang3 commented on #345
Hi @drdamour Thanks for your feedback. The `scope` is the query parameter, should not be used to check the resource difference,  I have submit a PR #347  to fix this issue.

[2021-03-29 09:18] xuzhang3 commented on #343
Hi @drdamour  Teams and group similar but different. You refer this post: https://developercommunity.visualstudio.com/t/what-is-the-difference-between-team-and-security-g/534380

Teams API: https://docs.microsoft.com/en-us/rest/api/azure/devops/core/teams?view=azure-devops-rest-5.1

[2021-03-29 09:32] xuzhang3 commented on #296
hi @jameswestall This issue is still under investigation.  ADO read `personal_access_token` and `org_service_url` from environment configurations.  As  `-var` can pass the configurations and ADO  can find it,  I assume this variables are set to the Terraform context session.  The problem is sub modules cannot get these configuration, we need to figure out if this is an ADO provider issue or Terraf

[2021-03-29 11:51] krishrocks1904 opened #348 "How to link existing agent pool to the project ?"
![image](https://user-images.githubusercontent.com/67486994/112832668-8de02e80-908d-11eb-9b8a-5bfb0f9ad79a.png)

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" com

[2021-03-29 15:41] drdamour commented on #343
looks like team create doesn't take a group...which is too bad since it makes one for you.  so pretty much have to copy some of the basic attributes from group and then expose a group as an attribute for the team to be used in all the security/membership stuff i'd guess.

[2021-03-30 02:58] xuzhang3 commented on #348
Hi @krishrocks1904   Currently agent pool cannot be reused by `azuredevops_agent_pool`.

[2021-03-31 07:24] xuzhang3 commented on #329
Close this issue, feel free to open another issue if you have questions.

[2021-03-31 07:24] #329 closed, assigned to nobody

[2021-03-31 07:25] xuzhang3 commented on #327
Close this issue, feel free to open another issue if you have questions.

[2021-03-31 07:25] #327 closed, assigned to nobody

[2021-03-31 07:26] xuzhang3 commented on #314
Close this issue, feel free to open another issue if you have questions.

[2021-03-31 07:28] xuzhang3 commented on #301
The issue will be closed, if you have any questions, please feel free to open it.

[2021-03-31 07:28] #301 closed, assigned to nobody

[2021-03-31 07:28] xuzhang3 commented on #297
The issue will be closed, if you have any questions, please feel free to open it.

[2021-03-31 07:28] #297 closed, assigned to nobody

[2021-03-31 07:29] xuzhang3 commented on #288
The issue will be closed, if you have any questions, please feel free to open it.

[2021-03-31 07:29] #288 closed, assigned to nobody

[2021-03-31 08:00] mintxelas commented on #340
This is the most complete list I found: https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/project_permissions

[2021-04-01 16:10] richardgavel commented on #348
I thought this is what azuredevops_agent_queue is for?

https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/agent_queue

[2021-04-01 16:15] richardgavel commented on #282
@xuzhang3  Even for setting the default branch of a azure_devops_git_repository, if the default_branch CAN be set, the docs are still off. They only reference default_branch as an exported attribute, not as a settable argument.

https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/git_repository

[2021-04-02 17:59] richardgavel opened #351 "Support Bearer Token"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-05 03:57] ajhall opened #352 "Add support for managing Status Check policies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-05 04:18] ajhall opened #353 "Add support for managing build pipeline folders"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-05 04:34] ajhall opened #354 "Add support for managing release pipeline folders and permissions"
### Community Note

- Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
- Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
- If you are interest

[2021-04-06 13:26] krishrocks1904 commented on #348
thanks @richardgavel this works as expected.
closing the issue now

[2021-04-06 13:26] #348 closed, assigned to nobody

[2021-04-06 21:55] amarkulis opened #355 "Incorrect Provider URL"
I have been using terrafrom devops provider for a bit but recently tried using a different agent that did not have azuredevops provider downloaded and I am receiving this:

[code]

I have tried deleting my state file and recreating but I am seeing the same results.

[2021-04-07 06:53] #270 closed, assigned to nobody

[2021-04-07 06:57] xuzhang3 commented on #355
Hi @amarkulis you should install the provider from Terraform registry not GitHub release.
How do you verify the provider? The provider is signed with GPG.