[2022-04-29 07:30] xuzhang3 commented on #574
API not available . `_apis/distributedtask/pools/{pooId}/poolmetadata` not documented.

[2022-04-29 18:06] Phil1972 opened #584 "Add ability to add a resource under an Environment - Kubernetes / Virtual Machine"
Hi,

I am not able to find the functionality, maybe I have it wrong, but is there a way to create a resource under an environment?  ie: either add a kubernetes namespace or a virtual machine.

We are presently stuck at creating a functioning environment because this is missing (or we are not able to find out how to do it).

The missing piece is supposed to under-the-hood call MS azure devops REST

[2022-04-29 20:06] klecouvey opened #585 "azuredevops_repository_policy_check_credentials can't create policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-05-04 01:17] kal-el opened #586 "`azuredevops_serviceendpoint_aws` does not support 'shared' service connections"
In Azure DevOps, one can share a service connection across various projects within the same AzDo org. When you enable this through the console, the service connection shows up with a tag 'Shared' next to it.

If you create a new service connection using this provider and then make it shared via the console, or try to import an existing service connection which is shared - although the import works

[2022-05-05 07:34] xuzhang3 commented on #585
@Maetis This feature is not available by default,  supported by extension: https://docs.microsoft.com/en-us/azure/security/develop/security-code-analysis-overview.
If your ORG has this extension enabled, you will find the configuration at `project -> Settings -> Repositories -> Policies`:
<img width="616" alt="image" src="https://user-images.githubusercontent.com/57888764/166879582-64c0b973-caa4-4

[2022-05-05 08:03] xuzhang3 commented on #586
@kal-el ,  `shared` is currently not supported. Modifications outside of Terraform may not be handled correctly. https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/update-service-endpoint?view=azure-devops-rest-6.0

[2022-05-05 08:22] xuzhang3 commented on #586
If the description is  changed after sharing, the shared project will get the old description, this is service behavior not a bug.
Original:
<img width="535" alt="image" src="https://user-images.githubusercontent.com/57888764/166886225-0d5e14bc-15ff-43ff-8e2a-fdcb3b82f62d.png">
Shared connection:
<img width="387" alt="image" src="https://user-images.githubusercontent.com/57888764/166886079-43ba2fb

[2022-05-05 10:39] klecouvey commented on #585
Thanks @xuzhang3 for clarifying this point.

Maybe a note in the documentation would be useful.

[2022-05-05 10:39] #585 closed, assigned to nobody

[2022-05-05 13:16] kal-el commented on #586
Hello @xuzhang3  - thanks for your response. The issue we have is that when we use the primary connection as the service connection resource via the azure devops provider, it doesn't pick up these changes. Once the primary connection is shared, we don't import or use those shared connections in terraform - as they are managed by other projects. And yes, through the console those don't sync up.

As

[2022-05-06 22:00] guhcampos commented on #499
@xuzhang3 can you specify what are the required permissions and possibly document them?

I am having the exact same problem when running my terraform code in Azure Pipelines. The Build Service account for my pipeline has `Edit project-level Information`, `View project-level Information` and `Manage project properties` Allowed in the destination project, I figured that should be enough.

I can run

[2022-05-07 02:27] xuzhang3 commented on #499
@guhcampos   The permission based on the PAT not service account. Can you provide the logs?

[2022-05-09 15:05] guhcampos commented on #499
@xuzhang3 I don't see why the PAT would be required, as the Service Token is capable of requesting most of the same permissions. Even so, I never found in the docs what permissions the PAT does require. The docs state that:

_

_

But never mentions what are the required permissions required for each resource. I assumed I'd need the permissions stated in my previous post for managing service conne

[2022-05-09 15:19] MADHBHAR opened #588 "I have python wheel files in Azure Artifacts. How Can I install these wheel files on a databricks cluster using terraform?"
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

---

If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.

[2022-05-10 03:24] xuzhang3 commented on #499
@guhcampos Can you help check if service returns the `serviceEndpointProjectReferences` in the response for the service  endpoint?
API:
https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/get?view=azure-devops-rest-6.0 or
`curl --user basic:<PAT>  https://dev.azure.com/{organization}/{project}/_apis/serviceendpoint/endpoints/{endpointId}?api-version=6.0`

[2022-05-10 08:19] MartinForre opened #589 "`azuredevops_resource_authorization` results in "Root resource was present, but now absent.""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-05-10 15:03] Phil1972 commented on #584
<img width="872" alt="Environments - Pipelines - Issue" src="https://user-images.githubusercontent.com/40364427/167660115-564a98fc-17c2-4561-a9f5-d3e5c72af0fc.png">

Here is an image for better understanding of what we would need.

[2022-05-10 15:13] joshfria commented on #291
I am experiencing this behavious myself.

[2022-05-10 17:41] ariciputi commented on #305
Hi,
I had the same issue today and I landed here. AFAICU there is a PR open for this, but it got stuck somehow. How can I help to make this done?

[2022-05-10 18:57] guhcampos commented on #499
I don't understand: what should I use as `{endpointId}` if I'm creating a new Service Endpoint?

Moreover, this is quite obviously a bug, a user facing application cannot possibly crash with a SIGSEGV. If you are trying to access a struct property that may not be there, this access must be guarded with the proper error handling.

Still, as a workaround: what permissions are required for this to ex

[2022-05-11 19:08] wetwicky commented on #305
Hi,
I also had the same issue but with the resource 'azuredevops_branch_policy_status_check'.
 we would requires the same fix for match_type
[code]

[2022-05-12 08:09] xuzhang3 commented on #499
@guhcampos  Not creating service endpoints. Get the created service endpoint and check the response body if `serviceEndpointProjectReferences` existed.
Yes, permission is required.

[2022-05-12 08:38] xuzhang3 commented on #586
@kal-el this looks like a bug, the import operations should read the latest changes.

[2022-05-12 14:50] avosepp opened #590 "Importing azuredevops_project does not find existing assets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-05-12 15:03] xuzhang3 commented on #588
@MADHBHAR you can use ` local-exec` or `remote-exec` invoke the install command after databricks cluster created https://www.terraform.io/language/resources/provisioners/local-exec

[2022-05-13 08:08] xuzhang3 commented on #590
@avo-sepp   What permission does your PAT have?

[2022-05-13 11:48] avosepp commented on #590
@xuzhang3 I own the project, my PAT has full permissions.

[2022-05-13 18:46] Radical-Dave opened #592 "azuredevops_project creation fails during plan - options https://dev.azure.com/XXX/_apis: read tcp ... wsarecv: An existing connection was forcibly closed by the remote host."
I've tried multiple AZDevOps Orgs and PAT's (with Full Access).

Full error:

Error: Options "https://dev.azure.com/ipazdotest/_apis": read tcp [2600:8804:4d05:da00:cd89:2615:fb12:b322]:23941->[2620:1ec:21::20]:443: wsarecv: An existing connection was forcibly closed by the remote host.
│
│   with provider["registry.terraform.io/microsoft/azuredevops"],
│   on provider.tf line 17, in provider "azu

[2022-05-16 03:41] xuzhang3 commented on #590
@avo-sepp Can you help  decrypt the error logs?  My keybase is installed on another device and I cannot get it.

[2022-05-16 07:27] tmahncke-lhind commented on #204
@nechvatalp do you have an idea about a timeline? Is there any way this can be supported or is access to the internal code required in order to generate the new objects?

We are currently working around the issue manually, but since we have quite a few Azure DevOps VMSS agent pools in use this would be quite a help.

[2022-05-16 09:19] xuzhang3 commented on #204
@tmahncke-lhind  VMSS API is not available in v6 SDK. A workaround for this is to use  [terraform  local-exec ](https://www.terraform.io/language/resources/provisioners/local-exec) with `azure cli ` or `powershel`

[2022-05-17 09:25] xuzhang3 commented on #592
@Radical-Dave `An existing connection was forcibly closed by the remote host.` usually to be a network issue or the creation reach the timeout limit.

[2022-05-18 14:36] Radical-Dave commented on #449
What I'm running can be found here: https://github.com/Radical-Dave/Auto/tree/main/data/providers/tf/tasks/core-devops-azure

For the most part, its the same. Just playing with different backend settings, etc. But no matter what I've tried, same error. Additional oddity, is that it HAS successfully generated a plan a few times and even successfully applied once, maybe twice.

[2022-05-22 10:57] rob-zz opened #593 "Plugin crashed while adding features to existing projects"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-05-23 07:55] rob-zz opened #595 "Transient "Error unknown features: repositories" when creating project with features set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-05-23 08:29] xuzhang3 commented on #595
@robbert-nlo  Any other errors? This is  a validation error that happened during local configuration validation,  this is hard coded validation to ensure the features names are right.

[2022-05-23 08:34] rob-zz commented on #595
@xuzhang3  No, no other errors. I know it is a validation error, but apparently the validation is flaky. I hit it again with a 'terraform plan', and again a subsequent run made it go away. Does not feel very stable:

[code]

[2022-05-23 08:55] xuzhang3 commented on #595
This is  strange. Based on the error log,  looks like the feature names for validation has been changed.

[2022-05-24 03:02] xuzhang3 commented on #593
dup #595. concurrent bug.

[2022-05-24 03:22] xuzhang3 commented on #595
@robbert-nlo  #593 has the same error as yours and has a more detailed error logs. From the log,this is a concurrent  modification error.

[2022-05-24 06:02] rob-zz commented on #595
@xuzhang3 : I'm submitter for both bugs you marked as duplicate. Not sure why they are duplicate, one is a clear crash of the plugin (which IMO should never happen) and the other seems a validation error. That said, the underlying cause could of course be the same.

Also, I'm not entirely sure what you mean by 'concurrent modification error', but if you mean that these resources were modified by m

[2022-05-24 07:15] xuzhang3 commented on #595
@robbert-nlo Error message `fatal error: concurrent map writes`  in #593 direct this to concurrent update error.  I can reproduce this error in my local dev env.
For  `│ Error: unknown feature: artifacts`,  potential concurrent update/read will happen at https://github.com/microsoft/terraform-provider-azuredevops/blob/main/azuredevops/internal/service/core/resource_project_features.go#L113 when mu

[2022-05-24 07:18] rob-zz commented on #595
@xuzhang3 Ah, I understand, you mean it is a concurrency issue internal to the extension.

[2022-05-24 07:20] xuzhang3 commented on #595
yes, this is a provider internal bug.

[2022-05-25 13:42] ankek opened #597 "Error: Plugin did not respond"
The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider).ValidateResourceConfig call. The plugin logs may contain more details.
╵

Stack trace from the terraform-provider-azuredevops_v0.2.1 plugin:

fatal error: concurrent map writes

goroutine 47 [running]:
runtime.throw(0x1986acf, 0x15)
        runtime/panic.go:1117 +0x79 fp=0xc0002c0bf0 sp=0xc0002c0bc0 pc=0xe79a39
ru

[2022-05-25 13:43] ankek commented on #597
Failing on plan and apply

[2022-05-25 14:14] karlschriek opened #598 "`azuredevops_serviceendpoint_azurecr` fails when using `$(System.AccessToken)` in DevOps pipeline"
We are building terraform resources (including azuredevops resources) by running Terrafom jobs in DevOps build pipelines. Most of these work without any issue, but creating an `azuredevops_serviceendpoint_azurecr` fails with the following error:

`│ Error:  waiting for service endpoint ready. Error looking up service endpoint given ID (yyyyy-ea93-49ba-ab54-8a97f2633ff5) and project ID (d5a24b7f-ca

[2022-05-25 19:52] bobmhong commented on #353
Hello,

I have a similar need and am working on a local fork to implement the azuredevops_build_folder and azuredevops_build_folder_permissions resources. I hope to open a PR to contribute this back to the upstream project in the next few weeks.

[2022-05-26 08:41] xuzhang3 commented on #597
dup with #593. #595  PR: #596 will fix this issue

[2022-05-26 09:33] abindg commented on #117
Is this resolved ? I am having a similar issue . I am using an existing service connection and importing it into my terraform state using azure devops . But when it goes to apply stage , it creates the following error :

Error updating service endpoint in Azure DevOps: Github Apps can not be updated must match imported values exactly

[2022-05-26 09:49] xuzhang3 commented on #117
@abindg Where did you  import the  GH connection from? `Project settings -> Pipelines -> Service Connections` or `Project settings -> Boards -> GitHub connections`, if from `Project settings -> Boards -> GitHub connections`, then cannot be updated.

[2022-05-27 08:09] abindg commented on #117
@xuzhang3

Thank for the reply . I have resolved this issue I think.

I am running a terraform manifest through azure devops pipeline , which after creating other resources , creates another azure devops pipeline in the same project . That was having problem as there was a conflict with the original github Service endpoint that was used to check in the terraform repo .

I had to import the Github

[2022-05-28 01:38] paul-towler opened #600 "Add Url Argument to azuredevops_serviceendpoint_azurerm to cater for Service Connections to Azure Stack Hub"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-01 19:23] VincentVerweij opened #601 "Git repository with the name exists when importing private repo into newly created project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-02 06:23] robobrown opened #602 "azuredevops_serviceendpoint_kubernetes - using an old version of Azure AKS API"
When deploying a DevOps service connection for AKS we are getting an error stating that the API version 2018-03-31 is invalid

Error:  waiting for service endpoint ready. Error looking up service endpoint given ID ({ID}) and project ID ({PROJECTID}): map[state:Failed statusMessage:An error occured while fetching the AKS cluster. Internal error: Failed to query service connection API: 'https://mana

[2022-06-02 09:05] xuzhang3 commented on #602
@robobrown can you share your TF script, this can help reproduce the error

[2022-06-06 11:07] mickmorse commented on #429
@davoodharun did you ever get to the bottom of this? we are experiencing something similar?

Mick.

[2022-06-07 05:40] xuzhang3 commented on #429
@davoodharun  are you using `System.AccessToken ` or  PAT,   any error logs?

[2022-06-07 20:09] derhally opened #603 "azuredevops_serviceendpoint_dockerregistry doesn't update password"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-10 10:23] karlschriek commented on #598
Maybe just to clarify a bit, it actually does make sense that `$(System.AccessToken)` would not be able to do this, since it doesn't have any rights on AAD/ARM, which presumably are necessary in the background. I have however also tried this with an Access token for a a user that _does_ have all permissions and still get the same failure.

I think this opens up a larger questions though, which is

[2022-06-10 15:28] bobmhong commented on #353
I've opened my first PR for the provider here: https://github.com/microsoft/terraform-provider-azuredevops/pull/604.

Hope it helps others.

[2022-06-10 20:47] Jolton opened #605 "Modifying a repository with init_type as Uninitialized fails on apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-10 21:51] croemmich commented on #584
@Phil1972 I implemented this a few months ago in https://github.com/microsoft/terraform-provider-azuredevops/pull/553. Unfortunately it's blocked by an upstream issue no one seems to care much about... which pretty much describes my entire experience with the https://github.com/microsoft/azure-devops-go-api team. @xuzhang3 any chance you could poke them again?

[2022-06-13 21:56] JeffLeite opened #606 "Upload a Wiki to a newly created Project for Standardized Guidance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-14 06:25] xuzhang3 commented on #603
@derhally  one `password` changed and run `terraform plan`, you will see the diffs:
![image](https://user-images.githubusercontent.com/57888764/173507816-29414eb9-a367-4d59-b451-de091abd706d.png)

Can you check if `data.google_secret_manager_secret_version.ado_prod_svc_account_key.secret_data` has been chagned?

[2022-06-14 06:40] xuzhang3 commented on #605
@Jolton This a conflict setting  between `initialization.init_type=Uninitialized` and `default_branch`.  This error message is a bit confuse, you need remove the `default_branch` when set `initialization.init_type=Uninitialized`.  More context, `initialization` was originally introduce from ADO provider, it combines different API and features which should be separated into different resources like

[2022-06-14 06:48] xuzhang3 commented on #606
API: https://docs.microsoft.com/en-us/rest/api/azure/devops/wiki/wikis/create?view=azure-devops-rest-6.0

[2022-06-14 08:50] derhally commented on #603
@xuzhang3 I went back and tried manually changing the password and it generated the plan.   Not sure why it didn't last time.  Sorry about that.

[2022-06-14 08:50] #603 closed, assigned to nobody

[2022-06-14 15:18] Jolton commented on #605
Hi @xuzhang3 thanks for responding

How would I remove the default branch as I'm not setting that in terraform?

[2022-06-14 20:52] JennaFriesen commented on #605
@xuzhang3 For some more clarification:

* We are setting the init_type=Unitialized, and adding Initialization to the ignore_changes lifecycle as the documentation suggests (https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/git_repository#import)
* We are _not_ setting the default_branch in terraform.  That seems to get set in the state once the repo is initialized

[2022-06-15 08:57] mblaschke commented on #27
bump

[2022-06-16 16:46] thevman commented on #589
hey guys, any word on this issue? it has been open for a while now. We're still experiencing this problem. Any help will be appreciated.

[2022-06-20 03:37] xuzhang3 commented on #584
@croemmich  Sorry, no update 😞

[2022-06-21 12:41] mickmorse commented on #316
I've tried to do this with existing terraform ado resources (created originally with a PAT) and it wants to destroy and recreate all ado resources? has anyone seen this before?

[2022-06-21 13:54] robobrown commented on #602
Sorry for the delay, below are the key points for keeping it brief. nothing too fancy.

Versions in Use

terraform version
Terraform v1.2.3
on windows_amd64
+ provider registry.terraform.io/cloudflare/cloudflare v3.17.0
+ provider registry.terraform.io/hashicorp/azuread v2.24.0
+ provider registry.terraform.io/hashicorp/azurerm v3.10.0
+ provider registry.terraform.io/hashicorp/external v2.2.2
+ p

[2022-06-21 14:35] robobrown commented on #602
I managed to get it working, the parameter **resourcegroup_id** is actually expecting the **resource group name** and not the resource Id as per Azure, you may want to think about renaming the field to resourcegroup_name

[2022-06-22 14:42] mickmorse opened #607 "Resources destroying and recreating when switching from PAT to System.Access.Token when running terraform in azure devops pipelines"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-22 22:01] jdaugherty opened #608 "Support Querying Service Connections via data"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-24 10:28] VincentVerweij commented on #597
I had the exact same error and wanted to log an issue but this has a similar log `fatal error: concurrent map writes`, and my log trace shows the same function causing troubles.
In the meanwhile, since no new release is available yet, my workaround was to remove the `features` block from the `azuredevops_project` resource.

@xuzhang3 not sure whether you're related to Microsoft, but is there any r

[2022-06-27 06:54] omkarsrcm opened #611 "Not able to understand how user_entitlement is being used in azure_devops"
Hello Team,
i have been trying to automate and manage complete azure devops via terraform.I have following issue.
1. i could not understand why we have to use user_entitlement.Did not understand it.Doc just say it used to managed users in azure devops and there permission
2. My doubt is suppose i already have set of users added in azure devops organisation along with proper lic(basic).
3. Now i wa

[2022-06-27 12:35] hbuckle opened #613 "azuredevops_serviceendpoint_servicefabric - client_certificate not updated (due to bcrypt?)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-06-28 08:03] xuzhang3 commented on #611
@omkarsrcm   Not all API returns the user  ID, in some scenario, ADO return  `descriptor` as the use ID and it can be convert to ID with API(API: https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/storage-keys/get?view=azure-devops-rest-6.0).
data source `azuredevops_users` support  convert the `descriptor` to ID, Example:
[code]

[2022-06-29 09:42] mickmorse commented on #607
Any update on this?

[2022-06-30 07:54] xuzhang3 commented on #597
@VincentVerweij new version will coming soon, sorry for the delay.

[2022-07-01 11:10] larsmaes-sogeti opened #614 "Deleting project outside of terraform causes apply to fail"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-04 06:50] xuzhang3 commented on #614
`404` should be handled  as special error.

[2022-07-05 07:34] rajeshyadavk2 opened #615 "Adding Secure File using terraform"
Hi,

How can we add the secure file using terraform(Library-->Securefiles)? Can you please suggest me a way to add the id_rsa file to the azure devops using terraform code?
I'm stuck at this point. Any help will be highly appreciated!!

Thanks in advance
Rajesh beri

[2022-07-05 08:12] xuzhang3 commented on #615
@rajeshyadavk2  are you try to read the `id_isa` file when running terraform? you export the file content as ENV variable.

[2022-07-06 12:35] rajeshyadavk2 commented on #615
I'm trying to upload the id_rsa file using terraform code.
I will use this id_rsa file inside the task(**Install an SSH key**)

# Install SSH key
# Install an SSH key prior to a build or deployment
- task: InstallSSHKey@0
  inputs:
    knownHostsEntry:
    sshPublicKey:
    #sshPassphrase: # Optional
    sshKeySecureFile:
    #addEntryToConfig: # Optional
    #configHostAlias: # Optional
    #conf

[2022-07-07 03:09] xuzhang3 commented on #615
@rajeshyadavk2  manage secure files is not supported by this provider and the API is not correctly documented.
 https://www.terraform.io/language/resources/provisioners/local-exec may be the alternative choice for you

[2022-07-07 07:58] hbuckle commented on #613
@xuzhang3 - what can we do to address this, is there a different hashing mechanism that could be used?
We're having to update all of our service connections manually at the moment

[2022-07-07 08:01] xuzhang3 commented on #613
@hbuckle  for other service connection with secret/password, this issue used to be an unnecessary set of the secret/password. I need to debug into it to find out why terraform ignore the changes.

[2022-07-08 08:24] xuzhang3 commented on #613
@hbuckle this is `bcrypt ` issue, `bcrypt ` has a limitation of max length 72 while the test secret here is over than 73.

[2022-07-08 08:30] hbuckle commented on #613
@xuzhang3 - yes that's what I assumed. The `client_certificate` expects a base64 encoded certificate, which is well over 72 characters, and the first part of the strings are often identical (you can see this if you create a key vault with a self signed cert, create a new version of it and compare the base64 strings)

[2022-07-08 08:49] xuzhang3 commented on #613
@hbuckle tend to remove the hash validator

[2022-07-09 08:22] fredgate opened #618 "Recreate azuredevops_user_entitlement when user is not a project collection administrator"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-07-11 07:09] cveld commented on #419
What is the current status? I would like to execute azure devops terraform scripts from the commandline in the security context of my az cli user context without having to setup PATs.

[2022-07-11 08:52] xuzhang3 commented on #618
@fredgate  the error log show that the user has been changed outside of Terraform,  can you provide the reproduce steps?  Have you changed the authorization from PAT to  System.Access.Token?

[2022-07-11 09:16] xuzhang3 commented on #419
@cveld   devops doesn't support non-interactive service access via service principals.  Oauth flow is the potential way to do the authorization but we not verified that way.
Ref: https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/authentication-guidance?view=azure-devops

[2022-07-11 12:15] fredgate commented on #618
The user has not been changed outside Terraform.

We use Azure devops provider by authenticating using a PAT.
[code]

If I run the `terrform plan` command with a PAT associated with my account (I am a member of _Project Collection Administrator_ group), the result is ok : no change are detected for the `azuredevops_user_entitlement` resource.

If a colleague (not member of _Project Collection Admi

[2022-07-12 09:56] cveld commented on #419
@xuzhang3 I know. You can circumvent this with [OAuth 2.0 Resource Owner Password Credentials (ROPC) grant](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc) as @tmeckel confirmed.

Az cli does the very same trick below the covers. And indeed it will fail when az cli is connected with Azure through a service principal. You will need to connect az cli with an AAD user.

[2022-07-14 09:08] #529 closed, assigned to nobody

[2022-07-14 09:13] #305 closed, assigned to nobody

[2022-07-14 09:18] #593 closed, assigned to nobody

[2022-07-14 09:24] #562 closed, assigned to nobody

[2022-07-14 09:25] #531 closed, assigned to nobody

[2022-07-14 09:26] #614 closed, assigned to nobody

[2022-07-15 07:18] #527 closed, assigned to nobody

[2022-07-18 07:05] fredgate commented on #618
The reproduce steps are
- `terraform apply` with PAT of an user who is member of the Project collection administrators group
- `terraform plan` with PAT of an user who is NOT member of the Project collection administrators group (if this other user is added to the Project collection administrators group, then expected behavior occurs, no changes are detected)

The user has not been changed outside

[2022-07-18 23:00] dvasdekis commented on #419
You can use Terraform external data sources to solve this, to call the token from the az cli.  See below:

[code]

[2022-07-26 12:13] sahinM opened #624 "Error: Failed to install provider, Error while installing microsoft/azuredevops v0.2.1: local error: tls: bad record MAC"
### Terraform Version
[code]

### Terraform Configuration Files

## main.tf
[code]

## versions.tf
[code]

### Debug Output
[code]

### Expected Behavior
It should be successfully installed with output:

[code]

### Actual Behavior
[code]
### Steps to Reproduce
`terraform init -backend-config="access_key=${ACCESS_KEY}" ${{ parameters.terraform_backend_config }} -no-color`

### Additional Context
O

[2022-07-29 07:26] xuzhang3 commented on #624
@sahinM  `microsoft/azuredevops`  is a third part provider supported MS.  `terraform init` will download the providers form Terraform registry,  the URL looks like: `https://registry.terraform.io/v1/providers/{org}/{name}/{version}/download/{os}/{arch}`.  Does there any WAF or policy that will verify the URls?

[2022-08-02 12:39] rob-zz opened #625 "Permissions to set project features are unclear"
Hi,

I'm trying to create a new Azure DevOps project with only specific features enabled. I'm using a PAT with the following permissions:
- Build: Read & Execute
- Environment: Read & Manage
- Project & Team: Read, Write, & Manage
- Service Connections: Read, query, & manage

Terraform:
[code]

This results in:
[code]

What permissions do I need to assign to the PAT to be able to disable project f

[2022-08-03 14:17] wwmoraes commented on #199
@tmeckel thanks for the suggestion, I've implemented it on #626 😄

[2022-08-04 07:07] xuzhang3 commented on #625
@robbert-nlo  you may may need full access permission instead of custom permission:
Ref: https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/manage-pats-with-policies-for-administrators?view=azure-devops#restrict-creation-of-full-scoped-pats

[2022-08-04 08:05] rob-zz commented on #625
@xuzhang3 It seems a bit overkill to give full permissions only to disable some features. I'd prefer to make this PAT's permissions follow least privilege principle. Is it not possible to allow this functionality with specific permissions?

[2022-08-04 14:22] DaleyKD commented on #231
This is almost 2 years later, and this is the reason I can't use this provider. @xuzhang3 : Please; this NEEDS to be done yesterday.

[2022-08-05 02:57] xuzhang3 commented on #625
@robbert-nlo this is a service permission is with v6 APIs,  to handle this issue. One way is using the [null_resource](https://registry.terraform.io/providers/hashicorp/null/latest/docs/resources/resource) to call the features APIs(v5) with `curl` etc.

[2022-08-11 12:30] alexMagicBeans opened #629 "azuredevops_serviceendpoint_aws - secret_access_key appears empty in state file"
Hello, I'm having issues with the resource : **azuredevops_serviceendpoint_aws**

Basically, I'm creating a IAM user and associate his credentials with a service connection in Azure Devops all using terraform.

The problem is: In state file:
            "type": "aws_iam_access_key" has the access key and secret access key values correct.

But, on type:
            "type": "azuredevops_serviceendpo

[2022-08-11 13:47] tiagoarrulo commented on #629
I'm having the same issue

[2022-08-12 00:30] a30004053 commented on #464
We have encountered the same issues when importing existing Azdo projects into our code
![image](https://user-images.githubusercontent.com/57163790/184263998-28e0ffc1-3947-40a3-9f6c-98e754b88d2f.png)

The import doesn't seem to set the project_id in the state, nor the features themselves

[2022-08-16 00:25] stormshaun commented on #189
This 'trick' doesn't work, or doesn't work anymore. I am also trying to look into having a Resource Group scope with credentials as I want to avoid the service creating a new service principal in AzureRM for each connection if possible

[2022-08-16 08:20] dza89 opened #630 "azuredevops_variable_group - can't datasource secret value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-16 08:20] dza89 commented on #630
Variable group layout:
![afbeelding](https://user-images.githubusercontent.com/20373984/184832531-250f6b6f-024d-4c06-8be1-3ec09398eee5.png)

[2022-08-16 09:15] xuzhang3 commented on #629
@alexMagicBeans this is by design, the `secret_access_key` is encoded and stored in `secret_access_key_hash`

[2022-08-16 09:24] xuzhang3 commented on #630
@dza89 this is service behavior, sensitive data like secret, password etc. cannot be get though API

[2022-08-16 09:34] dza89 commented on #630
Shouldnt this be in the docs then? Why is this provider then capable of outputting the secret value at all then?

[2022-08-16 13:24] jamescross91 opened #631 "Provider initialisation crashes when service URL is unreachable even if no resources are defined"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-17 06:41] dza89 commented on #630
Thanks, closing this.

[2022-08-17 06:41] #630 closed, assigned to nobody

[2022-08-18 04:07] a30004053 commented on #464
@xuzhang3
There appears to be a general issue with this resource and associated acceptance tests
[code]

re-running it causes it to fail for a different reason
[code]

[2022-08-18 07:52] xuzhang3 commented on #631
ADO provider will create all the required client connection before real resource `create/update`, delay the client initialization until  real resource need to be `create/update` which should fix this issue, the error will be like `401 Unauthorized` instead of  `Error: Invalid provider configuration`.

[2022-08-18 07:54] jamescross91 commented on #631
@xuzhang3 Yes that would be much better - in our case where we feature toggle the entire module off we only need the provider to initialise successfully, even if the credentials are unauthorised, since when the module is toggled off no resources will be created, so it shouldn't fail

[2022-08-22 21:08] waylew50 opened #633 "Group Rules"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-23 08:44] xuzhang3 commented on #633
Group rule: https://docs.microsoft.com/en-us/rest/api/azure/devops/memberentitlementmanagement/group-entitlements?view=azure-devops-rest-6.0

[2022-08-25 07:34] ieso-stephenh commented on #199
We've recently come across this issue, despite nothing changing in our config (was working up until this week), and it's stopping us being able to use this provider. I'm wondering if this is going to start becoming a more widespread issue.

[2022-08-25 19:33] NattyMojo commented on #598
wanted to check in since I'm experiencing a similar issue, did you find a resolution to the issue?

[2022-08-25 22:20] dperezro-ins commented on #63
@xuzhang3 what about `az pipeline create` command? the default is unchecked. Is this something that can be changed as well? Thanks!

Edit: oh sorry, this is the terraform provider. Do you know who could work it for the `az` CLI? thank you

[2022-08-26 02:56] xuzhang3 commented on #63
@dperezro-ins   you can open issue at https://github.com/Azure/azure-devops-cli-extension

[2022-08-28 14:48] DevOpsBoondoggles commented on #204
@tmeckel @nechvatalp heya just wondering if there's any progress towards v7

[2022-08-29 07:40] tmeckel commented on #204
@gabrielmccoll seems nobody is working on the Azure DevOps Go SDK and as long as version 7.1 is not supported the provider can't support creating elastic agent pools.

[2022-08-29 08:47] DevOpsBoondoggles commented on #204
Dang. At times like this I wish I knew Go. Or proper developing.

[2022-08-29 19:22] anandamalla opened #634 "Enable Data Sources for Azure DevOps Repository files"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-30 12:58] venkatesh-thatham commented on #584
@croemmich, @xuzhang3 any update on this PR, we really need this enhancement to be merged for our use case also. Appreciate your help.

[2022-08-31 09:56] mgu4kor commented on #631
Is there a way to toggle the azuredevops provider to off.. I was forced to add the provider in a module, where i don't really have a azure devops provider url and pat token. Any workaround will be appreciated.

[2022-08-31 11:14] StefanSchoof opened #635 "azuredevops_serviceendpoint_kubernetes plugin crashed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-08-31 11:45] julietrb1 commented on #56
Thank you so much!! This has been driving me up the wall for the last six hours straight, and is *still an issue today*.

Without your comment, I would be giving up right about now. Bless you, friend!

[2022-09-01 11:18] StefanSchoof commented on #635
I got the `azuredevops_serviceendpoint_kubernetes` to work. The kubeconfig.kube_config was invalid. So the devops api returned an error.

I updated this using the AzureSubscription authorization type and it works without an crash:
[code]

Looks like the provider is handling the error response not well.

[2022-09-01 20:40] bnchou opened #636 "azuredevops_serviceendpoint_azurerm - support for environment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-05 10:19] ccadruvi commented on #635
I got the same error:

╷
│ Error: Plugin did not respond
│
│   with module.azuredevops_serviceconnection.azuredevops_serviceendpoint_kubernetes.se_kubeconfig["d6602a75-eeec-43d9-9043-23633bd6cead"],
│   on modules/azuredevops_serviceconnection/main.tf line 10, in resource "azuredevops_serviceendpoint_kubernetes" "se_kubeconfig":
│   10: resource "azuredevops_serviceendpoint_kubernetes" "se_kubecon

[2022-09-09 15:42] bobmhong opened #637 "0.2.3 Release Schedule / Preparation"
@xuzhang3 - Is there a tentative schedule for the next release of the provider? Are there any tasks that could be done by community members to help prepare for the release? I'm able to assist if needed.

[2022-09-14 09:31] FischlerA opened #639 "Min reviewers policy last_pusher_cannot_approve inverted"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-15 08:31] xuzhang3 commented on #639
@FischlerA   `last_pusher_cannot_approve` is not allowed in the azuredevops, it is not selected.
![image](https://user-images.githubusercontent.com/57888764/190355168-97b7ced7-bb40-46ef-8fae-4267ce3422f4.png)

[2022-09-15 08:32] FischlerA commented on #639
Oh my bad, i misread the cannot as can like 3 times... so sorry!

[2022-09-15 08:32] #639 closed, assigned to nobody

[2022-09-15 09:01] xuzhang3 commented on #637
@bobmhong sorry for the delay, there's not too much new resources/enhance/bug fix since last release,  v0.2.3 will be pending

[2022-09-19 06:43] #613 closed, assigned to nobody

[2022-09-19 06:43] #635 closed, assigned to nobody

[2022-09-23 17:32] petrovicboban opened #642 "Terraform client looks for hashicorp/azuredevops for unknown reason"
With the simplest config possible:
[code]

When I do `terraform init`, I get:

[code]

Why does it look for `hashicorp/azuredevops` which it, of course, can't find and fail there?

[2022-09-24 17:54] Jolton opened #643 "azuredevops_build_definition_permissions plan fails if build definition is deleted"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-09-27 13:22] #642 closed, assigned to nobody

[2022-09-29 08:32] xuzhang3 commented on #643
close via #644

[2022-09-29 08:32] #643 closed, assigned to nobody

[2022-09-29 12:53] aellwein commented on #27
This feature is still needed :-)

[2022-10-03 20:53] petrovicboban opened #645 "Bug in azuredevops_build_definition_permissions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-04 18:18] petrovicboban commented on #645
This is not bug, it's just bad and misleading error message.
The reason for error above is the fact that creating build definition and setting permissions on it is not atomic transaction. Build definition is created first and then terraform tries to set permissions. The problem arises if the folder where terraform creates permission doesn't have "Allow" on "Edit Pipeline Permissions" for user acco

[2022-10-04 18:18] #645 closed, assigned to nobody

[2022-10-05 12:22] themaroqa opened #646 "Cannot add team to another team"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-09 07:54] xuzhang3 commented on #646
@themaroqa to ref another team member as the member, you should use the members not the name:
[code]

[2022-10-10 15:49] themaroqa commented on #646
@xuzhang3 I am not sure your modification is right.
Firstly because I'd like to have the team added and not the members (doing so if I add a new member directly from Azure DevOps it'll inherite the permission of the first team).
Besides that I tried your solution but it doesn't work for me:

[code]

[2022-10-10 17:18] alinuxguru70 opened #647 "Error: error creating resource Build Definition: Agent pool Azure Pipelines was not found."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-11 03:31] xuzhang3 commented on #646
@themaroqa  To add the team as the members, you need to convert the team ID to descriptor then you can use the descriptor as the members(API: https://learn.microsoft.com/en-us/rest/api/azure/devops/graph/descriptors/get?view=azure-devops-rest-6.0&tabs=HTTP). This is a new feature not supported,  #528 is tracking on this feature.

`azuredevops_team.example.members` is type Set. Change
[code]
 to
[c

[2022-10-11 06:18] xuzhang3 commented on #647
@alinuxguru70  `Azure Pipelines` is the default agent pool for free.  To restrict the pipeline running in the specific agent pool, you should create an agent pool the this pipeline.  You can manage the agent pool at `Project settings -> Agent pools`

[2022-10-11 11:20] alinuxguru70 commented on #647
The issue is not the choice of agent pools.   The issue is I cannot create an azuredevops_build_definition resource using **ANY** agent pool.   I have a self hosted agent which also fails.      If I send azuredevops_agent_pools information to outputs, it returns null data.

2022-10-11T12:37:01.4823299Z   "resources": [
2022-10-11T12:37:01.4823591Z     {
2022-10-11T12:37:01.4823827Z       "mode": "

[2022-10-12 05:52] xuzhang3 commented on #647
@alinuxguru70 how do you create agent pool with `azuredevops_agent_pools`, you need set `auto_provision = true` otherwise the agent pool will only be available to ORG not project.

[2022-10-12 08:07] xuzhang3 commented on #598
@karlschriek @NattyMojo  [$(System.AccessToken)](https://learn.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#systemaccesstoken) has limited permissions, you can add the user/token to a group(Project Collection Build Service). This token used to run the pipelines.

[2022-10-13 08:22] #199 closed, assigned to nobody

[2022-10-13 13:02] alinuxguru70 commented on #647
Thank you.    The issue was that the build agent account did not have Build Administrators permissions to the project.   Once that was resolved, the issue was resolved

[2022-10-13 13:02] #647 closed, assigned to nobody

[2022-10-13 18:14] Ahzekri opened #649 "Cannot add Azure AD group to team members or administrators"

[2022-10-15 13:55] pdarji-bakkt opened #652 "Azure devops pipeline is failing to create "azuredevops_serviceendpoint_kubernetes""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-15 14:11] pdarji-bakkt commented on #449
I'm facing the same issue. Does anyone have a fix for this issue yet?
Reported the issue here too:
https://github.com/microsoft/terraform-provider-azuredevops/issues/652

[2022-10-18 06:49] xuzhang3 commented on #649
@Ahzekri can you share your script? This can help us reproduce and solve this issue.

[2022-10-18 06:51] mg-8 commented on #291
I am also experiencing this behavior :(

[2022-10-18 08:31] xuzhang3 commented on #652
@pdarji-bakkt  I cannot reproduce this error. Any other  error messages?  Can you successfully  run `terraform plan` with HCL:
[code]

[2022-10-18 08:34] xuzhang3 commented on #649
To add the group as a team's members or administrators, you need the group's `dfescriptor` which is not support in v0.2.2. #648 will export the `descriptor` then you can add the group as the team member

[2022-10-18 14:17] pdarji-bakkt commented on #652
@xuzhang3 Thanks for looking into this issue.
I've made suggested changes, however, I'm still seeing the same error. Here is the file layout:
- Env
  - dev
     - myapp
        - myapp-gke (folder)
   	    backend.tf
   	    outputs.tf
   	    variables.tf
   	    terraorm.tfvars
   	    azdo_provider.tf
- Module
   - gke-private-cluster (folder)
 	  azdo_provider.tf
 	  azdo.tf
 	  variables.tf

[2022-10-19 05:45] xuzhang3 commented on #652
@pdarji-bakkt  Can you share your script?  I also tried the script at https://github.com/microsoft/terraform-provider-azuredevops/issues/449#issuecomment-1130100678, but no errors.

[2022-10-19 13:25] pdarji-bakkt commented on #652
Here is the code
[https://github.com/pdarji-bakkt/azdo_gcp](url)

[2022-10-19 18:58] pdarji-bakkt commented on #652
The issue is resolved. I'll update the code

[2022-10-20 03:14] xuzhang3 commented on #652
good to see this issue resolved.

[2022-10-20 19:02] banani720 opened #653 "Variable block in Azure DevOps Variable Group resource should represented by a list of objects as opposed to a set of objects"
### The issue
I am trying to create a variable group within azure devops which contains a secret value that I do not want to expose to my repository, so I've done something along these lines

[code]

My preference would be to be able to lifecycle ignore only on the value of a given variable as opposed to having to lifecycle ignore the entire variable block. attempting to lifecycle ignore `variable

[2022-10-21 09:13] venkatesh-thatham commented on #422
@xuzhang3, last commented was Jul 19, 2021. It's been more than an year the issue remain open. any update on the fixes. looking forward to be hearing from you

[2022-10-21 10:35] mallaranand commented on #634
Hi Team,

It's been 2 months since we created this issue. I hope someone is looking into it.

Thank you
In Advance.

[2022-10-21 17:56] AndrewHuddleston opened #655 "Plugin crashed!"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-24 06:31] xuzhang3 commented on #422
@thatham  #656 will fix this bug. Service will return the sensitive data password/token etc. as empty string or null, this cause the second update change the token to null even user not update the HCL.

[2022-10-24 07:02] xuzhang3 commented on #655
@AndrewHuddleston #638 have fixed this issue, but not released.

[2022-10-24 07:27] xuzhang3 commented on #653
@banani720  is there any possible use Azure KV as the data source? in this way you will only need to specific the value names.

[2022-10-25 04:30] banani720 commented on #653
@xuzhang3 KV seems like overkill really for what it is I’m trying to do. Terraform gives us this ignore lifecycle changes functionality and allows us to set variable values secret (in conjunction with portal functionality of course).

Given that ability it doesn’t seem unreasonable to think that users are going to create secret vars w/ IaC and not want those to be placed in their repos. And given

[2022-10-26 10:02] venkatesh-thatham commented on #422
@xuzhang3 I'm still getting below error
Error: Error creating service endpoint in Azure DevOps: Unable to find service connection type 'artifactoryService' using authentication scheme 'Token'.

[2022-10-26 12:41] martenvd opened #657 "Add support for the SonarCloud service endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-26 22:20] drdamour commented on #456
ran into this recently, and totally agree the web ux lets me createa  queue and then some how magically a pool is created even though i can't create a pool directly.  would like the same in terraform.

[2022-10-27 14:19] diegolagospagopa commented on #655
People it would be very helpful if we could have this issue released, we are having a lot of colleagues who are stuck with plugin crashes.

Thank you for the work you have put into it

[2022-10-28 09:08] IronMania opened #660 "Add Work Item Resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-10-30 14:43] IronMania commented on #660
I am thinking. Could it be better to have a desired state for a ticket?
This way one could track that the ticket is correctly created, when it is done as example.

In our case we have a ticket workflow and I want to create a ticket and I want that the Ticket went to done.
So that the read is only accepting it as complete when desired value matches the actual state of the Ticket.
Something like thi

[2022-11-01 10:34] aristosvo commented on #368
Please vote on this issue: https://developercommunity.visualstudio.com/t/Update-of-the-Go-SDK-to-include-new-feat/10186787

[2022-11-01 10:35] aristosvo commented on #204
Please vote on this issue: https://developercommunity.visualstudio.com/t/Update-of-the-Go-SDK-to-include-new-feat/10186787

[2022-11-01 10:35] aristosvo commented on #564
Please vote on this issue: https://developercommunity.visualstudio.com/t/Update-of-the-Go-SDK-to-include-new-feat/10186787

[2022-11-01 10:36] aristosvo commented on #459
Please vote on this issue: https://developercommunity.visualstudio.com/t/Update-of-the-Go-SDK-to-include-new-feat/10186787

[2022-11-01 15:08] KevinBrooke commented on #653
There are a couple of issues open with this same problem; can it be prioritised?
I also cannot use Key Vault to store the credentials and I do not want Terraform to manage them, so I need to be able to ignore_changes on variable values.

[2022-11-02 06:20] xuzhang3 commented on #422
@thatham you need install the JFrom Artificatory extension( https://marketplace.visualstudio.com/items?itemName=JFrog.jfrog-artifactory-vsts-extension) for your ORG, this extension was not enabled by default.

[2022-11-02 07:51] venkatesh-thatham commented on #422
@xuzhang3 we had installed JFrom Artificatory extension in our Azure DevOps, this is error

Error: Error creating service endpoint in Azure DevOps: Unable to find service connection type 'artifactoryService' using authentication scheme 'Token'.
│
│   with module.jfrog_service_connections["0"].azuredevops_serviceendpoint_artifactory.distribution,
│   on modules/jfrog/distribution.tf line 1, in reso

[2022-11-02 08:43] xuzhang3 commented on #422
@thatham can you check that the extension correctly installed?
![image](https://user-images.githubusercontent.com/57888764/199441295-4abc0cc2-9a35-44ab-ab52-9020809c0e86.png)

[2022-11-02 09:08] venkatesh-thatham commented on #422
@xuzhang3, we have installed this extension which has all service connection modules
![image](https://user-images.githubusercontent.com/34929590/199449078-0b9955e0-bf4f-45ac-95f1-a229f7be1a68.png)

![image](https://user-images.githubusercontent.com/34929590/199449348-8026b34b-3d54-4a1b-a162-859477349766.png)

[2022-11-02 09:14] xuzhang3 commented on #422
@thatham a bit different from my extension,
![image](https://user-images.githubusercontent.com/57888764/199450512-6298b4bd-538a-4182-8720-f1ef2c347073.png)

you need install this extension:
![image](https://user-images.githubusercontent.com/57888764/199450738-befc4170-9b28-42cb-8ffb-0b06956d1677.png)

I will update the doc to include the requirement.

[2022-11-02 10:08] xuzhang3 commented on #655
@diegolagospagopa [v0.3.0](https://registry.terraform.io/providers/microsoft/azuredevops/0.3.0)  has been released

[2022-11-02 10:20] venkatesh-thatham commented on #422
@xuzhang3 Jfrog Artifactory extension is using old version. if you refer my previous screenshots there's distinct difference between these two extension.
https://www.jfrog.com/confluence/display/JFROG/Artifactory+Azure+DevOps+Extension
https://www.jfrog.com/confluence/display/JFROG/JFrog+Azure+DevOps+Extension (using V2)

[2022-11-02 10:23] xuzhang3 commented on #422
@thatham current resource only support the old version. A new resource need to added to support Artifactory v2

[2022-11-02 13:38] movergan commented on #6
At least something IaC for releases is highly desirable.  +1

[2022-11-02 14:34] martenvd commented on #657
The resource has been merged, I'll close this issue, thanks!

[2022-11-02 14:34] #657 closed, assigned to nobody

[2022-11-03 17:27] banani720 commented on #653
Any progress on this or plans to fix/amend implementation?

[2022-11-03 18:33] garddolau opened #662 "Pipeline >> Environments >> Approvals and checks"
Hi Team,

Can you confirm if its currently possible to deploy config for Pipeline >> Environments >> Approvals and checks ?
If not, can we add to feature request if it's not already captured

Thanks,
Darren

[2022-11-11 14:16] bloewes opened #663 "azuredevops_git_repository_file does not consider branch while checking for file existence"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-14 11:58] JoshStead opened #664 "Add support for the SNYK service endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-18 07:56] musukvl commented on #298
Spent a few days on the same issue. In my case, the real 503 meaning was: "PAT token user had not enough permissions".
For some reason organization admin user was replaced, so old user (who PAT I used) had permission to create projects, but not to list groups from external AD.
My case example was:
[code]

[2022-11-24 09:06] UnlimitedValue opened #665 ""Default" project-named Repo deletion by terraform in code"
Dear all,

I would like to have only my "defined" repository **with resource "azuredevops_git_repository"** and not have the system generated one uninitalized with project name, is it possible on code level somehow?

Could you please help me to find this answer ?

Thank you in advance,

[2022-11-25 08:44] xuzhang3 commented on #665
@UnlimitedValue The default repo was created by service not Terraform.

[2022-11-25 15:46] damhau commented on #409
Any news on this ?

[2022-11-26 07:02] bloewes commented on #663
@xuzhang3 any chance you can have a look at this?

[2022-11-28 08:53] xuzhang3 commented on #664
@JoshStead   Is the extension already installed by default or users need to install the extension before using it?
Is this the  resource https://marketplace.visualstudio.com/items?itemName=synker.synker-tools?

[2022-11-28 09:00] xuzhang3 commented on #663
@bloewes  The create/update will failed if the branch not exist.  Introduce a new resource `azuredevops_repositroy_branche` to managed the branches would be the best choice.

[2022-11-28 21:23] jdaugherty opened #666 "Add Support for Dynamics Lifecycle Services endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-29 18:24] jan-mrm opened #667 "Add minimum number of reviewers to azuredevops_branch_policy_auto_reviewers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-29 19:00] thiagomarinho opened #668 "azuredevops_git_permissions "Repository level" example with "Project Collection Administrators" is not working"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-11-30 19:44] DamonStamper commented on #133
FYI, still have a need for this