[2019-09-25 01:18] nmiodice opened #3 "Identify & document strategy to implement more broad / general service connection resource"
Currently the only supported service connection is a GitHub service connection. This resource should be extended to support all possible service connections. This will also require refactoring to support optional parameters per type of service connection (e.g., github_service_endpoint_pat).

* Copied from https://github.com/nmiodice/terraform-azure-devops-hack/issues/40

# Acceptance Criteria
 - [

[2019-09-25 01:19] nmiodice opened #4 "Implement GitHub Service Connection - Read"
* Sourced from https://github.com/nmiodice/terraform-azure-devops-hack/issues/39

[2019-09-25 01:20] nmiodice opened #5 "Implement GitHub Service Connection - Update"
* Sourced from https://github.com/nmiodice/terraform-azure-devops-hack/issues/39

[2019-09-25 01:20] nmiodice opened #6 "Implement GitHub Service Connection - Delete"
* Sourced from https://github.com/nmiodice/terraform-azure-devops-hack/issues/39

[2019-09-25 01:23] nmiodice opened #7 "Add unit tests for core provider code"
The code that is responsible for configuring the AzDO client (aka, the provider code) is currently under tested. The schema is not tested, nor are the default values for the schema elements. The code is located here: https://github.com/microsoft/terraform-provider-azuredevops/blob/master/src/provider.go

# Acceptance Criteria
- [x] Schema for provider is tested
- [x] Tests are invoked as part of t

[2019-09-25 01:26] nmiodice opened #8 "Document how mocks are used by the tests, and how to extend the mocks for testing"
The usage of mocking for unit tests is under documented and needs clarity in order to foster a buy in from the OSS community.

# Acceptance Criteria
- [ ] Add documentation covering how to update the azdo_config.go and generate the mock_azdo_client.go
- [ ] If a script is useful to generate the mocks, add it to the repository.

* Sourced from https://github.com/nmiodice/terraform-azure-devops-hack

[2019-09-25 01:28] nmiodice opened #9 "Add unit tests for project create/read functionality"
The code that is responsible for managing AzDO projects is currently under tested. The code is located here: https://github.com/microsoft/terraform-provider-azuredevops/blob/master/src/resource_project.go

# Acceptance Criteria
- Code is tested for success and failure scenario for each of the following functionalities:
  - [x] Project create
  - [x] Project read
- [x] Tests are invoked as part of

[2019-09-25 01:30] nmiodice opened #10 "Add unit tests for core build definitions code"
The code that is responsible for managing AzDO build definitions is currently under tested. The code is located here: https://github.com/microsoft/terraform-provider-azuredevops/blob/master/src/resource_pipeline.go

# Acceptance Criteria
- Code is tested for success and failure scenario for each of the following functionalities:
  - [x] Build Definition Create
  - [x] Build Definition Read
  - [x]

[2019-09-25 01:32] nmiodice opened #11 "Rename pipeline resource to build_definition"
Currently the resource that hits the [Build Definitions API](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/definitions?view=azure-devops-rest-5.0) is referred to as a "Pipeline" resource. This is incorrect and should instead be referred to a as a "Build Definition"

# Acceptance Criteria
- [ ] `pipeline` resource is refactored to be referred to as `build_definition`

[2019-09-25 01:35] nmiodice opened #12 "Implement project - Delete"
The project resource has no implementation for "Delete" resulting in a `terraform destroy` to not work correctly.

# Acceptance Criteria
 - [x] Executing `terraform destroy` should delete a terraform managed project in AzDO

[2019-09-25 01:36] nmiodice opened #13 "Implement project - Update"
The project resource has no implementation for "Update" resulting in a `terraform apply` to not work correctly if a project needs to change.

# Acceptance Criteria
 - [x] Executing `terraform apply` should update a terraform managed project in AzDO
 - [x] Unit tests are written, if needed
 - [x] Acceptance test is implemented - https://www.terraform.io/docs/extend/testing/acceptance-tests/testcase

[2019-09-25 01:40] nmiodice opened #15 "Refactor project packaging for proper Go namespacing"
Current unit tests are living within the main package/namespace but should be in their own package/namespace. This invites us to rethink the overall project packaging structure and may require a project packaging structure that more directly conforms to go conventions.

For example, GoMock framework auto generates files when executing commands to mock interfaces and the framework assumes users wil

[2019-09-25 01:41] nmiodice opened #16 "Add feature to mockgen to support picking an interface from a source file"
In https://github.com/golang/mock/blob/master/mockgen/mockgen.go add a flag for "interface" to allow the user to pick a single interface from the source file from which to generate a mock file.

* Sourced from https://github.com/nmiodice/terraform-azure-devops-hack/issues/22

[2019-09-25 01:42] nmiodice opened #17 "Implement a data source for projects"
Currently projects do not have a [Terraform data source](https://www.terraform.io/docs/configuration/data-sources.html) implemented.

# Acceptance Criteria
- [ ] A project data source exists
- [ ] Projects can be queried by name and the output is the ID

[2019-09-25 01:44] nmiodice opened #21 "Design: Support AzDO Variable Groups"
As a developer I want to provision a pipeline that can consume variables from a variable group. This story is a design story to figure out how to do that!

# Acceptance criteria
- [x] Investigate how to provision variable groups. Values should be able to be marked as a secret.
- [x] Investigate how to link variables with build definitions
- [x] Document schema for variable group in this issue as a

[2019-09-25 01:45] nmiodice opened #23 "Support AzDO Agent Pools"

[2019-09-25 02:19] nmiodice opened #25 "Document how to contribute to the project"
The instructions for contributing to the project are missing and need to be filled out so that the OSS community can collaborate on this project.

https://github.com/microsoft/terraform-provider-azuredevops/blob/04b5cdbbf281916fcea1f23fa87f5c51cc1dfba1/README.md#developing-the-provider

[2019-09-27 17:26] nmiodice opened #27 "Restructure project to match Azure AD provider"
After discussions with Microsoft and HashiCorp we learned that the goal for structure of the codebase is best exemplified by the [Azure AD Provider](https://github.com/terraform-providers/terraform-provider-azuread).

The task here is to refactor our code base and README to match the AD provider. The work is already ~90% done.

There may be overlap with the following issue: https://github.com/micr

[2019-09-27 17:30] nmiodice opened #28 "Document leanings from mikaelkrief/terraform-provider-azuredevops repository"
After starting this project we were pointed towards this repository: https://github.com/mikaelkrief/terraform-provider-azuredevops/tree/master/azuredevops.

The resource coverage is minimal and the SDK used is unsupported by Microsoft. After not being able to find contact information for the author, we decided to investigate the repository and document the leanings that can be applied to this repo

[2019-09-27 21:02] nmiodice opened #32 "Add template for new PR"

[2019-09-30 16:30] nmiodice opened #35 "repository should be officially open sourced"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-30 16:37] nmiodice opened #36 "Follow terraform provider pattern of "flatten" and "expand" for project implementation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-30 17:03] nmiodice commented on #35
Done!

[2019-09-30 17:03] #35 closed

[2019-09-30 17:12] nmiodice opened #41 "Add Go Report Card to README.md"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-30 17:13] nmiodice opened #42 "Add build badge to README.md"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-30 17:24] nmiodice opened #44 "Trigger CI check as part of PR process"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-09-30 18:33] nmiodice commented on #44
I believe that the existing CI/CD pipeline, while being run on every PR, is not configured properly to act as a GitHub status check.

The documentation [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#grant-access-to-your-github-repositories) suggests that the pipeline should be configured as a GitHub app. I need to understand what that means

[2019-09-30 21:55] nmiodice opened #46 "Follow terraform provider pattern of "flatten" and "expand" for build resource"
Same as https://github.com/microsoft/terraform-provider-azuredevops/issues/36 except for the pipeline resource

[2019-09-30 21:56] nmiodice opened #47 "Follow terraform provider pattern of "flatten" and "expand" for service connection implementation"
Same as https://github.com/microsoft/terraform-provider-azuredevops/issues/36 except for the service connection resource

[2019-10-01 16:53] nmiodice opened #48 "Remove `project_id` property from project and favor the `id` property instead"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-01 16:55] nmiodice opened #49 "Break shared code from `project` resource into shared packages"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-01 19:11] #42 closed

[2019-10-01 19:11] #41 closed

[2019-10-01 21:32] nmiodice commented on #44
Discussed with @awkwardindustries that we can leave the current pipeline in place until we have a github app service connection implemented

[2019-10-01 21:32] #44 closed

[2019-10-01 21:44] #48 closed

[2019-10-01 21:44] #49 closed

[2019-10-01 21:44] #36 closed

[2019-10-01 22:15] nmiodice commented on #51
Question: Does this even belong in the AzDO provider?

[2019-10-02 22:04] awkwardindustries opened #55 "Add unit tests for GitHub service endpoint/connection functionality"
The code that is responsible for managing AzDO service connections is currently under tested. The code is located here: https://github.com/microsoft/terraform-provider-azuredevops/blob/master/src/resource_serviceendpoint.go

# Acceptance Criteria
- Code is tested for success and failure scenario for each of the following functionalities:
  - [ ] GitHub Service Connection Create
  - [ ] GitHub Serv

[2019-10-02 23:04] #32 closed

[2019-10-03 14:22] nmiodice commented on #28
# Learnings from `mikaelkrief/terraform-provider-azuredevops`

## Resource & property coverage in `mikaelkrief/terraform-provider-azuredevops`
 - project
   - name
   - description
   - source_control_type
   - template_type_name
   - visibility
 - build definition
   - name
   - description
   - project_id
   - buildnumber_format
   - badge_enabled
   - repository
   - variables
   - designer_pha

[2019-10-03 14:47] nmiodice commented on #25
Note: The following guide will probably save us a lot of time. We can leverage quite a bit of this: https://github.com/Azure/terraform/blob/master/provider/CONTRIBUTE.md

[2019-10-03 16:37] nmiodice opened #60 "Wait for async operation is not idiomatic for go"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-03 17:01] #8 closed

[2019-10-03 17:02] #28 closed

[2019-10-03 17:10] #7 closed

[2019-10-03 18:45] #9 closed

[2019-10-03 18:45] #60 closed

[2019-10-03 20:12] #4 closed

[2019-10-03 20:12] #47 closed

[2019-10-04 02:39] #27 closed

[2019-10-04 13:53] nmiodice opened #66 "Implement integration tests for azuredevops_project"
The same as https://github.com/microsoft/terraform-provider-azuredevops/issues/59, but scoped to the `azuredevops_project` resource

[2019-10-04 14:16] nmiodice opened #67 "Unit test names do not follow the recommended structure from HashiCorp"
The unit test structure, while valid, does not follow the structure recommended by Hashicorp.

As we will soon need to integrate with Hashicorp's CI/CD process, we need to move more towards their approach to ensure consistency across the providers.

The convention is described here: https://www.terraform.io/docs/extend/testing/unit-testing.html

## Acceptance criteria
 - [ ] Re-name tests to match

[2019-10-04 18:57] #25 closed

[2019-10-04 19:23] nmiodice opened #70 "Implement Integration tests for azuredevops_build_definition"
The same as https://github.com/microsoft/terraform-provider-azuredevops/issues/59, but scoped to the `azuredevops_build_definition` resource

[2019-10-04 19:24] nmiodice opened #71 "Implement Integration tests for azuredevops_serviceendpoint"
The same as https://github.com/microsoft/terraform-provider-azuredevops/issues/59, but scoped to the `azuredevops_serviceendpoint` resource

[2019-10-04 19:37] nmiodice commented on #59
Closing this as the stories have been broken down

[2019-10-04 19:39] nmiodice opened #73 "Identify and document a strategy for supporting Azure Repos"
Currently we have no support for Azure Repos. We need to deep dive into how we can support this with TF.

# Acceptance criteria
 - [x] Deep dive into the relevant APIs - you need to define these as there may be many - in AzDO to understand what metadata needs to be tracked by Terraform in order to manage repos
 - [x] Break down the implementation into granular stories that can be implemented in 2

[2019-10-04 19:41] nmiodice opened #74 "Support AzDO Group Membership"
As a maintainer of an AzDO organization and/or project, I want to have the ability to add users from my companies AD group and/or GitHub and add them to groups within the org/project.

More specifically, I want to support the following actions:
 - [x] Import and remove a user from AAD/GitHub to AzDO org - https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/users?view=azure-devops-rest-5.0

[2019-10-04 20:02] #11 closed

[2019-10-04 21:34] #12 closed

[2019-10-04 21:34] #66 closed

[2019-10-07 16:00] nmiodice commented on #62
Some thoughts (from a non-security guru)...

Cryptographic salt (https://www.terraform.io/docs/providers/random/r/string.html, https://www.terraform.io/docs/providers/random/r/password.html) could be used along with a hash...

https://auth0.com/blog/adding-salt-to-hashing-a-better-way-to-store-passwords/

[2019-10-07 17:56] nmiodice commented on #53
Or increase agent pool size

[2019-10-07 18:49] nmiodice commented on #15
# Research
 - The `mockgen` tool expects a `-package` flag specifying the package where the mocks should live. The package as of https://github.com/microsoft/terraform-provider-azuredevops/issues/27 can be specified as `azuredevops`

 - The main package is only used for one file; https://github.com/microsoft/terraform-provider-azuredevops/blob/master/main.go

 - The file structure with respect to

[2019-10-07 19:18] ThePhen commented on #67
It looks like this work is mostly:
- [ ] renaming `go` files, as needed (this seems to be OK with the current test files that I see), and
- [ ] renaming test functions to match the `Test<Provider>_<Test Name>` idoim.

[2019-10-07 19:38] nmiodice commented on #15
Seeking advice to see if this story is still relevant based on the changes made in https://github.com/microsoft/terraform-provider-azuredevops/issues/27

[2019-10-08 22:17] #67 closed

[2019-10-08 22:17] #46 closed

[2019-10-08 22:27] nmiodice commented on #15
We (@ThePhen) and I have had some discussions about this and have come to the conclusion that the existing package structure can stay for now, but we reserve the right to re-visit this in the future. Some notes on the discussion can be found below.

### Notes about package structures in Go
 - Most Go applications have a very rich package structure. Examples of this are exemplified the repositories

[2019-10-08 22:27] #15 closed

[2019-10-08 22:38] nmiodice commented on #53
![image](https://user-images.githubusercontent.com/2497673/66438498-71ac8580-e9f2-11e9-8441-baaa26bc09e8.png)

[2019-10-08 22:39] nmiodice commented on #53
Purchased 4 parallel jobs

[2019-10-09 15:08] nmiodice opened #80 "Migrate to use TF Development SDK"
The project currently pulls dependencies from the Terraform core. Hashicorp has released a [plugins SDK](https://www.terraform.io/docs/extend/plugin-sdk.html) which is now the preferred dependency to pull in.

Our project is compatible with this project and can be migrated like so:

[code]

[2019-10-09 15:18] nmiodice commented on #5
@KeithJRome this may be a good one for you! Let me know your thoughts

[2019-10-09 15:28] nmiodice commented on #53
Discussing with @ThePhen  today and we saw the price of the concurrent builds. We are opting to save some $ and go with the approach described in the issue

[2019-10-09 16:45] ThePhen commented on #62
Here's the approach I'd like to try @nmiodice :

### Goal

To compare inbound state changes against
 previously stored bcyrpted hashed secrets. If
 secret values aren't changing, help TF to see
 it that way.

### See:
* [Customized Diff](https://www.terraform.io/docs/extend/resources/customizing-differences.html)
* [Resource Diff](https://godoc.org/github.com/hashicorp/terraform-plugin-sdk/helper/

[2019-10-09 16:50] nmiodice commented on #62
Neat! In the approach, do we ever store the raw secret to state?

[2019-10-09 16:51] nmiodice commented on #62
And do you forsee the need to add a salt? I'm not super well versed in the security around all this, would love to hear your thoughts

[2019-10-09 17:57] KeithJRome commented on #62
You would only store the hash and salt in state, otherwise it would be a major security flaw. Never store a raw authentication credential unless you're using something designed especially for that purpose.

For sure, salting would add some measure of protection from dictionary-based cracks and probably _should_ be done, but this might not be secure enough depending on how much of a risk the expose

[2019-10-09 18:49] nmiodice opened #83 "Design: Support Azure Repos Policies"
As a developer managing an instance of AzDO, I want to enable branch protection policies for the repositories hosted in AzDO so that I can ensure that builds pass prior to being merged into a branch that I want to protect.

This will be quite a bit of work so this task requires a deep dive to understand the APIs that we need to invoke and then it needs to be broken into individual design or implem

[2019-10-09 19:12] ThePhen commented on #62
We would not store a secret in persistent state. We'd store a bcrypt (one-way) hash of the secret. bcrypt uses salt, so a salt value is required.

The salt would be selected at random and stored with the hash in state.

[2019-10-09 19:34] nmiodice commented on #74
# Some notes on some relevant API calls...

### Given a group name, find the names of all members
[code]

[2019-10-09 20:02] nmiodice commented on #62
This sounds great. I think we can go forward with writing this up into a doc of some kind and adding it to `./docs` and linking from the contributing document so that it can be easily found.

Great approach!

[2019-10-09 22:22] nmiodice opened #84 "Write canonical TF that exercises the feature-set we are working towards for V1"
As a possible stakeholder in this project, I want to understand how I might go about using this provider to provision resources in AzDO so that I can understand how it can be useful.

# Acceptance Criteria
 - Write tf file in `./examples/` folder that shows usage of the following:
   - Group Membership
   - Variable Group definition
   - Project creation
   - Service connection (ARM)
   - Azure Re

[2019-10-10 19:50] #5 closed

[2019-10-10 19:50] #6 closed

[2019-10-10 21:30] ThePhen commented on #84
Perhaps it'll help to see an example of using `az devops` to create a set of AzDO resources. I used this on a recent project (I've 'sanitized' some of the names/secrets):

[code]

[2019-10-11 16:30] #70 closed

[2019-10-11 17:39] #10 closed

[2019-10-11 21:00] nmiodice opened #90 "Integrate project with Sonarcloud"
As a developer, I want to see trend analysis on the repository so that I can gain visibility into code smells and technical debt. We have an existing tool that helps us do this -- [Sonar Cloud](https://sonarcloud.io/project/issues?id=microsoft_terraform-provider-azuredevop)

The repository is already onboarded to Sonar Cloud but we need to integrate the report generation at build time.

# Acceptan

[2019-10-11 21:23] nmiodice opened #91 "Move the service connection ID out of the repository block for the build_definition resource"
As of now the service connection ID lives within the repository block for the  `build_definition` resource. Logically this should be moved into the top level definition of the resource, as it is not an attribute of the repository.

[2019-10-11 22:12] KeithJRome commented on #73
Breaking this work down into multiple phases:

1. Minor change to existing Project resource's handling of versioncontrol type
2. Define new resource type for git repository
  - Stubs for create/read/update/delete ops
  - Simple schema
3. Stories for implementation of basic CRUD ops
4. Stories for advanced creation scenarios (imported/forked/parented repos)

[2019-10-11 22:22] KeithJRome opened #92 "Modify Project resource handling of git/tfvc repositories during creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-11 22:28] KeithJRome opened #93 "Define new resource type azuredevops_git_repository"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-11 22:33] KeithJRome opened #95 "Implement Create operation for AzDO-based Git Repository resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-11 22:34] KeithJRome opened #96 "Implement Delete operation for AzDO-based Git Repository resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-11 22:35] KeithJRome opened #97 "Implement Update operation for AzDO-based Git Repository resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-11 22:43] KeithJRome opened #98 "Add support for imported git repos to Git Repository resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-11 22:45] KeithJRome opened #99 "Add support for forked git repos to Git Repository resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-11 22:52] KeithJRome commented on #73
@nmiodice Please review the story breakdown for this and prioritize accordingly. All spawned stories should be showing above as referencing this design task.

[2019-10-12 12:18] tmeckel commented on #93
I think it's important to have a Terraform data source as well for git repositories. Especially when it comes to manage security and permissions with this Terraform provider.

The data source should export at least a property `id`, so that the data source could be used in other resources.

## Potential Terraform Configuration

[code]

[2019-10-12 18:54] stevenfranks commented on #91
PR added, could this be reviewed please?

[2019-10-13 22:19] TsuyoshiUshio commented on #13
Please assign it to me.  :) I can't move the task of the Kanban board.

[2019-10-14 10:31] tmeckel opened #103 "Implement Terraform Resource: azuredevops_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-14 14:14] nmiodice commented on #91
Need to re-visit this issue. I may have mis-understood how the service connection auth works for pipelines, making this an invalid story.

Please hold! I'll re-visit this today.

[2019-10-14 15:35] nmiodice commented on #73
Thanks @KeithJRome !

Some comments:
 - For https://github.com/microsoft/terraform-provider-azuredevops/issues/92 can we add an AC to test that the behavior for defaulting to Git vs TFVC works properly?
 - https://github.com/microsoft/terraform-provider-azuredevops/issues/93 is the `default_branch` optional? if so, what should it default to?
 - https://github.com/microsoft/terraform-provider-azure

[2019-10-14 15:38] KeithJRome commented on #93
Thanks for your contributions @tmeckel

We've discussed this internally and agree that there should be a data source peer for this resource, as well as in other cases that we hadn't previously considered, to increase flexibility of this provider. I'll split off the data source work into a separate story so that it can live on the backlog and get prioritized. You're of course free to implement and

[2019-10-14 15:41] nmiodice commented on #91
@stevenfranks apologies for a mistake that I made with regards to https://github.com/microsoft/terraform-provider-azuredevops/issues/91 - I misunderstood how the service connection configuration works for build definitions and mistakenly thought that this ID was used to configure the service connection that the *whole* build runs under. However, this property only configures the service connection

[2019-10-14 15:41] #91 closed

[2019-10-14 15:44] tmeckel opened #105 "Implement a Terraform data source to lookup users"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-14 15:59] nmiodice opened #107 "Add resource getting started guide that pairs a resource implementation with its tests to help people onboard to the project"
The getting started documentation does not cover what an actual resource impl. looks like along side its tests. This should be called out more explicitly in `./docs/contributing.md` to help onboard new people to the project.

[2019-10-14 16:20] tmeckel opened #108 "Implement Terraform data source to lookup projects"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-14 16:41] tmeckel commented on #93
Hi @KeithJRome added this as a new issue.

https://github.com/microsoft/terraform-provider-azuredevops/issues/106

Currently we are in a planning phase for automatic deployment of DevOps artifacts like projects, Git repositories and the like in a cloud project at a German bank. We could like to get touch with the team here how to discuss how to provide support for implementing functionality. I cop

[2019-10-14 18:56] KeithJRome commented on #73
Regarding #93, it is optional. If omitted, then git will decide what to do. Almost always this means the default value will be `master`

[2019-10-14 19:34] #73 closed

[2019-10-14 20:19] nmiodice commented on #106
This will most likely be trivial after the implementation of https://github.com/microsoft/terraform-provider-azuredevops/issues/94

[2019-10-14 20:25] #84 closed

[2019-10-14 21:07] nmiodice commented on #74
https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/users/create?view=azure-devops-rest-5.0

[2019-10-14 21:09] nmiodice commented on #74
https://docs.microsoft.com/en-us/rest/api/azure/devops/memberentitlementmanagement/user%20entitlements/add?view=azure-devops-rest-5.0

[2019-10-14 21:10] nmiodice commented on #74
* Validate that we can add users from GH and AAD

[2019-10-14 21:30] nmiodice commented on #51
Relevant documentation: https://developer.github.com/apps/

[2019-10-14 21:41] nmiodice commented on #112
Covered here: https://github.com/microsoft/terraform-provider-azuredevops/issues/74

[2019-10-14 21:56] codevbus commented on #108
@nmiodice - I'd like to take this.

[2019-10-14 22:04] nmiodice commented on #108
@codevbus Thank you! Post a PR when its ready. Please be sure to read out [contributing docs](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/docs/contributing.md) to get started.

[2019-10-14 22:05] nmiodice commented on #17
Duplicate of https://github.com/microsoft/terraform-provider-azuredevops/issues/108

[2019-10-14 22:05] #17 closed

[2019-10-14 23:19] nmiodice commented on #83
Based on this feature, perhaps PR policies can be de-prioritized for now https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#pr-trigger

[2019-10-15 00:07] nmiodice commented on #74
Working flow using AAD member. Current tenant does not allow importing from GH. More on that later...

[code]

[code]

[2019-10-15 06:50] pascalberger commented on #83
@nmiodice I don't think this is related. The YAML schema allows to define pull request triggers for builds, but there's not possibility to define branch policies through it.

It would be nice to have the possibility to manage branch policies by code. Especially if it supports some kind of inheritance (e.g. define a branch policy on project level which would be set for all repos in this project). T

[2019-10-15 14:45] nmiodice commented on #93
@tmeckel thank you for reaching out. I want to make our internal roadmap more visible so I've posted a PR here: https://github.com/microsoft/terraform-provider-azuredevops/pull/111. Our short term priorities are stemming from this road-map so our efforts will be focused here (in the short term) but we always appreciate open source contributions.

Have you come across our [contributing guidelines](

[2019-10-15 16:01] nmiodice commented on #74
The JSON file used for the initial user import are the following:

### AAD user
[code]

### GitHub user
Note: the GH user ID can be rendered using the following command:
`curl -s https://api.github.com/users/$GH_USER_NAME| jq -r .id`
[code]

[2019-10-15 18:49] #13 closed

[2019-10-15 19:13] nmiodice commented on #74
@KeithJRome @ThePhen @TsuyoshiUshio please have a look when you get a chance

# Design for Azure AD Group Membership

The scope of this document is to identify an implementation strategy for the following features:
 - Add entitlements to users that exist in AAD and GitHub. This materializes a user into the AzDO organization; without it, you cannot interact with the user within AzDO.
 - Add users t

[2019-10-15 20:01] tmeckel commented on #93
My colleague (@tiwood) and I would like to support the project. However, it would make sense if we could find a way to avoid redundant work with other people here. Like assigning issues to one of us so that it'll be clear that the issue is currently worked on and how's responsible. I don't know if you'd like to run the project that way.

My colleague and I have already worked on various Open Sourc

[2019-10-15 20:26] TsuyoshiUshio commented on #74
It looks very well designed! Awesome job!. Only question is this part. https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/users/create?view=azure-devops-rest-5.0
In this case which scenario do you support? usually we can use principalName however, OID scenario, requires OID. OID one means BtoB multi-tenant scenario. If it requires for users, we might need to consider it.

[2019-10-15 20:34] nmiodice commented on #113
Should we have a new debug-build script that uses those flags so that the "production" build uses compiler optimizations?

[2019-10-15 20:42] nmiodice commented on #74
@TsuyoshiUshio I am targeting the `Add an AAD user by UPN` scenario, however, you make a great point. It will be relatively straight forward to support more use cases.

What are your thoughts on the following proposal that would allow for more flexibility? It involves adding an `origin_id` field and making both `origin_id` and `principal_name` optional:

 - If `origin_id` is provided, it will be u

[2019-10-15 20:44] TsuyoshiUshio commented on #74
Looks cool to me. :)

[2019-10-15 20:49] nmiodice commented on #74
Great -- I'll go ahead and update the original comment based on your feedback. I'll be leaving this open a day or 2 to collect more feedback prior to breaking it into stories

[2019-10-15 20:55] TsuyoshiUshio commented on #113
It think it is a good solution!

[2019-10-16 17:07] #93 closed

[2019-10-16 19:12] nmiodice commented on #93
@tmeckel @tiwood I'd love to continue this discussion in a more chat-friendly forum. I've gone ahead and created a gitter for us to chat: https://gitter.im/terraform-provider-azuredevops/community#

I'd love to hear more about your use cases to see what kind of alignment there is between our work. Can we move the discussion to https://gitter.im/terraform-provider-azuredevops/community#?

[2019-10-16 22:32] #107 closed

[2019-10-16 23:32] #80 closed

[2019-10-17 21:39] KeithJRome opened #121 "Add support for git repository initialization"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-17 23:37] nmiodice commented on #74
Note - make out of scope the definition of the group/role

[2019-10-18 01:04] rguthriemsft commented on #74
org level groups are in a different rest api than project groups.

https://docs.microsoft.com/en-us/rest/api/azure/devops/memberentitlementmanagement/group%20entitlements?view=azure-devops-rest-5.1

[2019-10-18 05:47] rguthriemsft commented on #74
In playing around with the REST API's tonight, I would consider limiting the Group Membership to project level groups.  I would also put out of scope dealing with group entitlements for now.  So you only entitle users and you can create project level groups maybe but not deal with org.  The same group API is used for both org / project but the params are slightly different.  I think a lot more tes

[2019-10-18 14:41] nmiodice commented on #74
@rguthriemsft Ill model the resource generically, but i'll model it slightly differently so that (1) the same data source can be used for orgs **once we deep dive into the right way** and (2) we can validate that its only used for project groups for now:
[code]

[2019-10-18 15:02] tiwood commented on #105
I'm going to implement this functionality.

[2019-10-18 15:27] nmiodice opened #126 "Implement data source to query project groups based on project ID and group name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-18 15:28] nmiodice opened #127 "Implement resource for AzDO group membership"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-18 15:28] #74 closed

[2019-10-18 18:07] TsuyoshiUshio opened #128 "Document for Provider users"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-18 21:38] nmiodice commented on #126
Note: ID is not a thing for groups, only descriptor...

[2019-10-21 07:33] tmeckel commented on #125
@nmiodice what is missing here from my point of view, is the fact how to specify the actual entitlement. Entitlements are integer values (bit field) of permissions defined by the security namespace respectively. What permissions (entitlements) a security namespace defines and what bit has to be set or cleared for a specific entitlement can be read from the securitynamespace REST API endpoint.

Bec

[2019-10-21 14:56] nmiodice commented on #103
@tiwood

[2019-10-21 15:30] #95 closed

[2019-10-21 15:30] #96 closed

[2019-10-21 16:54] #55 closed

[2019-10-21 19:19] nmiodice commented on #128
- Re-scope to:
  - cover only azure repos update code
  - write story for other resources
  - document the documentation approach in our contributing guidelines

[2019-10-22 06:52] tmeckel commented on #103
As long as it's assigned to @tiwood or me no sweat :-D

[2019-10-22 15:52] nmiodice commented on #83
@Pascalberger, I'm inclined to agree based on the documentation. Thanks for pointing me towards it :)

Can you point out the code for implementing branch policies in https://github.com/bbtsoftware/AzureDevOpsPolicyConfigurator?

[2019-10-22 15:53] nmiodice commented on #135
@TsuyoshiUshio I agree! I like this item in our backlog. Would be great to see this feature after we foll out the milestone 1 features!

[2019-10-22 16:23] pascalberger commented on #83
@nmiodice In which part are you interested? The actual update of policies happens [here](https://github.com/bbtsoftware/AzureDevOpsPolicyConfigurator/blob/develop/src/AzureDevOpsPolicyConfigurator/Logic/PolicyExecuter.cs#L73). It utilizes Azure DevOps .NET client libraries to call the REST API. The resolving of the input configuration JSON file happens in [this method](https://github.com/bbtsoftwa

[2019-10-22 16:25] nmiodice commented on #108
@codevbus do you have an ETA? If you are not actively working on it I suggest we remove you as the asignee until you are able to implement, in case somebody else has bandwidth to pick it up.

[2019-10-22 16:27] #97 closed

[2019-10-22 16:29] #16 closed

[2019-10-22 16:31] codevbus commented on #108
@nmiodice - Sorry about that! I should have something out by EoW. Apologies for the delay!

[2019-10-22 21:33] #126 closed

[2019-10-22 21:59] ThePhen commented on #3
After reviewing the [relevant ADO Go SDK code](https://github.com/microsoft/azure-devops-go-api/tree/dev/azuredevops/serviceendpoint), I'm inclined to lean towards 1st creating the generic I/F for creating service endpoints.

So there would be a generic resource for this, before there would be ACR and AzRM specific sub-types.

_Note: the AZ DevOps CLI does provide convenience operations for some s

[2019-10-22 23:20] nmiodice commented on #3
@ThePhen I know you are still deep diving, but I'm interested in whether you think that there should be a single `service_endpoint` resource, or a different resource for each type of service endpoint?

Of course the order in which we implement can be decided later, but I'm curious which direction you are leaning (once you have an opinion, that is). I think you answered it in your last comment but

[2019-10-23 03:53] ThePhen commented on #3
@nmiodice I've tried teasing out a little code, tonight, to get a feel for one choice or the other.

When I wrote the comment, earlier, I had been looking at the available structures with the ADO Go SDK, and also looking at some CLI code that accomplished creating a new ACR Service End Point.

Since then, I've realized that its very simple to create a type-specific resource for each of the types t

[2019-10-23 10:35] mikaelkrief commented on #143
I am interested to contribute to this feature

[2019-10-23 14:18] nmiodice commented on #127
There is a nearly complete implementation on this branch: https://github.com/microsoft/terraform-provider-azuredevops/tree/niiodice/graph-membership

It is missing all tests, and needs to be re-based off master as it is quite old at this point

[2019-10-23 17:08] #71 closed

[2019-10-24 17:02] #128 closed

[2019-10-24 17:14] nmiodice opened #147 "Document how to use PostMan to test AzDO API calls"
As a new member to the project, I want to have a good way to test API calls in isolation of the terraform provider being built. There is a great collection of test APIs [here](https://github.com/hkamel/azuredevops-postman-collections), and we should reference it from our contributing guide

### Acceptance Criteria
 - [ ] In our documentation for contributing to the provider, we have some narrative

[2019-10-24 21:12] nmiodice commented on #143
@mikaelkrief hello! Can you confirm you have read through the contributing guidelines? If so, I'll assign this to you and you can feel free to post a PR.

FYI, more comprehensive contributing info in PR: https://github.com/microsoft/terraform-provider-azuredevops/pull/149

[2019-10-24 21:24] nmiodice opened #150 "Add client-facing documentation for Build Definition Resource"
The azure repos resource is missing client facing documentation. We should follow the approach outlined in https://github.com/microsoft/terraform-provider-azuredevops/issues/128 and add this documentation so that people can understand how to use the build definition resource

[2019-10-24 21:24] nmiodice opened #151 "Add client-facing documentation for Azure Repos Resource"
The azure repos resource is missing client facing documentation. We should follow the approach outlined in https://github.com/microsoft/terraform-provider-azuredevops/issues/128 and add this documentation so that people can understand how to use the repos resource

[2019-10-25 08:27] mikaelkrief commented on #143
@nmiodice it's clear for me

[2019-10-25 11:55] tmeckel commented on #127
@nmiodice I'd propose a different syntax for the resource. It provides the possibility to manage the memberships of a group using a list of principals.

[code]

[2019-10-25 14:37] nmiodice commented on #143
Assigned

[2019-10-25 15:02] nmiodice commented on #127
@tmeckel, I was thinking of that approach as well but was concerned that having a list means that the resource implementation becomes more complicated due to the fact that you need to consider how to handle changes to the list, which means supporting update. With the current approach, that logic is managed by the Terraform core.

A similar approach for configuring lists like this is supported by T

[2019-10-25 15:33] nmiodice commented on #104
@tmeckel Have you considered removing the `principals` block? If we allow management of group membership through multiple resources, it can be **really tricky** to implement correctly due hidden dependencies that users of the provider may introduce.

Here is a similar example where there are 2 ways to configure permissions to Key Vault in the AzureRM provider -- it is easy for permissions to accid

[2019-10-25 15:35] nmiodice commented on #104
In other words, each non-READ API in AzDO should really only be used by a single terraform resource, otherwise you can run into unknown dependencies in terraform state.

[2019-10-25 15:36] nmiodice commented on #153
Similar comment to https://github.com/microsoft/terraform-provider-azuredevops/issues/104 regarding removing the `principals` block

[2019-10-25 17:04] #121 closed

[2019-10-25 18:38] tmeckel commented on #104
@nmiodice I think you've been caught in a misunderstanding. The `principals` block is required to create the ACE entries for the security namespace 52d39943-cb85-4d7f-8fa8-c6baac873819.

If you look at the REST API [Access Control Lists - Query](https://docs.microsoft.com/en-us/rest/api/azure/devops/security/access%20control%20lists/query?view=azure-devops-rest-5.1) you can see how security is man

[2019-10-25 18:39] tmeckel commented on #104
I copy @tiwood as reference here.

[2019-10-25 18:41] tmeckel commented on #153
@nmiodice same comment about security namespaces and their ACE list as in #104

[2019-10-25 18:46] nmiodice commented on #104
@tmeckel, thanks for pointing this out. I'm not very strong in this area of devops and suspect that you are correct in pointing out my mis-understanding.

Calling in our resident AzDO expert - @rguthriemsft

[2019-10-25 18:47] tmeckel commented on #153
Copy @tiwood as reference

[2019-10-25 19:04] tmeckel commented on #127
@nmiodice I can definitely reproduce the argument, having the Terraform handling the update process for a resource. But from my point of view I think you must find a way to balance the effort you've to put into an implementation and it's ease of use.

With your approach you force the user to implement (use) a count (for_each) strategy in favor of having an easy (simple) implementation.  I'd favor

[2019-10-25 19:12] tmeckel commented on #104
@nmiodice Thanks for adding @rguthriemsft here as well!

[2019-10-25 19:32] nmiodice commented on #127
Hmm... I think you have convinced me :) I'll go ahead and update the acceptance criteria. Also i will make the property names more user friendly.

[2019-10-25 19:48] tmeckel commented on #127
@nmiodice I really hope with a joint effort we can create an awesome Terraform provider for Azure DevOps! ☺️

[2019-10-25 19:54] nmiodice commented on #127
Community feedback like yours is critical to making sure that we are building the right thing that people will *actually use.*

Please keep the feedback coming!!

[2019-10-25 20:09] tmeckel commented on #127
You're really welcome! But @tiwood would definitely warn you about me 😆

But getting serious again here: while I was writing my issues and looking what you and @KeithJRome are doing, perhaps we should have some sort of a "test driven" approach in which we challenge each others HCL code proposals for the different data sources and resources by trying to write down some HCL code for oneselve and see

[2019-10-25 20:24] tmeckel commented on #127
Oh and another thing: we should be consistent about the names of the properties of the resources and data sources. Your're using `subjects` for the ´references to the identities that should be a member of a group. Whereas I proposed the `principals`block in #153 or #104. I definitely insist on my proposal here, but we should agree on a common name, so that the Terraform resources are easy and more

[2019-10-25 20:37] nmiodice commented on #127
+1 on your last comment -- I've been driving my terminology primarily based on the concepts that exist in the [REST API](https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/memberships/add?view=azure-devops-rest-5.1). This is not to say that this is the **right** way, though, but it typically been the place that I start.

I see opportunity to distill the complicated API spec into somethin

[2019-10-25 21:10] tmeckel commented on #127
Me and @tiwood had an intense discussion yesterday about the HCL code for the `azuredevops_git_permissions` #153 or the `azuredevops_project_permissions` #104 resources, because we (all) must find a way to have the complicated and matured DevOps (TFS) API converted into a concise and easy to use Terraform Resource Provider and in the end @tiwood convinced me to have two different properties for a

[2019-10-29 20:10] ThePhen commented on #3
# Investigation into Service Endpoint Creation

My goal has been to dtermine which data are needed in order to CRUD Azure Devops Service Endpoint resources (aka 'Service Connections').

Initially, we're most interested in being able to manage the following service endpoint types:
* GitHub
* Azure RM
* ACR (via the Docker Registry type)

## Approach

1. Created one of the types via the AzDO web UI.

[2019-10-29 20:36] nmiodice commented on #3
@ThePhen a few questions regarding the resources in general:
 - What is `SP-ID` for the docker registry type? Do we need to provide a service principal? I thought that it was created for us behind the scenes, but I'm not sure.
 - Will we have a `service_endpoint_acr` and `service_endpoint_docker`, or will they share the same resource?
 - It may be worthwhile to note that there are 2 ways (i think)

[2019-10-29 21:56] TsuyoshiUshio commented on #21
Hi @nmiodice

I had some research for the API. Also, I need to discuss something about this.
Any comment is welcome.
# User Interface

![Screen Shot 2019-10-29 at 12 08 59 PM](https://user-images.githubusercontent.com/1390976/67808597-35e66800-fa54-11e9-80ae-aa77f66d79a8.png)

# Example Usage

## Plain Variables group (The first implementation)

[code]

## With KeyVault reference (The second imple

[2019-10-29 22:06] TsuyoshiUshio commented on #21
# Stories

* Implement new resource "azuredevops_variable_group"
* Add KeyVault reference feature for VariableGroups Resource

 In case, you want to split Authorized Project Resource,
* Implement new resource azuredevops_authorized_project_resource

However, the API is too abstract.  So for the usability, to implement it inside of the azuredevops_variables_group might be fine, IMO.

[2019-10-29 22:38] nmiodice commented on #21
Great work! Thx for the investigation.

Some comments/questions:
 - What needs to change for the `azuredevops_build_definition` resource in order to consume these variable groups? The API reference is [located here](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/definitions/create?view=azure-devops-rest-5.0#variablegroup). I imagine that we can support it by taking a list of variable

[2019-10-29 23:01] nmiodice opened #165 "Error messages should all provide added context and follow the same general pattern"
### Description

The project currently does not handle error messaging in a consistent way, so it is difficult to know why some errors are happening due to a lack of consistent context.

Examples:
 - https://github.com/microsoft/terraform-provider-azuredevops/blob/1b7b3a0fa389a4004c319b5a9fc7c40758663689/azuredevops/resource_azure_git_repository.go#L99
 - https://github.com/microsoft/terraform-pro

[2019-10-29 23:26] nmiodice opened #166 "Design: What does a "release" look like for this provider?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-30 00:57] TsuyoshiUshio commented on #21
# Build definition

I tried the API, Your recommendation is right. It just requires id and it looks required. In this case, variables_groups is  like below, it is an array of the object.

[code]

I just don't know the notation of following. Is it works? If works? I'll take your advice. :)

[code]
# Schema definition.

I'll update the comment.

# KeyVault metadata
It is the part of the VariableGrou

[2019-10-30 01:27] TsuyoshiUshio commented on #21
Hi @nmiodice
I answered your comment and update the definition. Thank you for your great advice. I took all of them and experiment if it works.

[2019-10-30 01:57] nmiodice commented on #155
@TsuyoshiUshio can you help me understand which tools should be included in `tools.go` with this suggestion?

here is a list of tools that I think we use -- perhaps you can help me fill in the table so that we can make the acceptance criteria for this task more concrete:

| tool name | used for | version controlled by | should be in `tools.go`? |
| --- | --- | --- | --- |
| bash | script execution

[2019-10-30 03:06] nmiodice commented on #83
Here are some **WIP** notes to come back to later...
[code]

[2019-10-30 10:42] hbuckle opened #167 "Implement new resource "Service Fabric Service Endpoint""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-30 15:22] ThePhen opened #168 "Implement new resource "Docker Hub Service Endpoint""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-30 15:41] ThePhen commented on #3
Issues spun-off from this work-to-date:
#168 #160 #161 #162

[2019-10-30 17:01] TsuyoshiUshio commented on #21
@nmiodice
Awesome! I love your idea! I'll take it! It simplify it and gain the ability to validation.

[2019-10-30 17:05] hbuckle commented on #3
FWIW we started our own provider before we knew about this one and went for a generic service connection resource. Seeing as you can create your own custom ones this seemed to make sense.
https://github.com/clearbank/terraform-provider-azuredevops/blob/development/azuredevops/resource_azuredevops_service_endpoint.go

[2019-10-30 17:11] rguthriemsft commented on #3
@hbuckle is correct, there are many extensions that create service connections in AzDo.

[2019-10-30 17:19] nmiodice opened #169 "Document required permissions for PAT for each resource"
### Description
As an administrator for Azure DevOps I don't want to provision a PAT with full access to my AzDO organization. Instead, I'd like to provision a PAT with the **minimum amount of permissions.**

### Acceptance Criteria
 - The specific scope and permissions required to provision/manage each resource/datasource in the project are documented in the client-facing documentation, which exi

[2019-10-30 18:35] TsuyoshiUshio opened #171 "Add VariableGroups to "azuredevops_build_definition""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-30 18:46] TsuyoshiUshio opened #172 "Add KeyVault reference feature for VariableGroups Resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-10-30 18:54] nmiodice commented on #172
Note: blocked on https://github.com/microsoft/terraform-provider-azuredevops/issues/171

[2019-10-30 20:04] #21 closed

[2019-10-30 20:13] nmiodice commented on #83
**WIP:** Possible resource configurations

[code]

[2019-10-30 21:05] pascalberger commented on #83
@nmiodice Do you plan to also support custom status (status set through the REST API on a pull request)?

[2019-10-30 21:52] nmiodice commented on #83
@pascalberger in the long term I can see this being supported, but for the initial implementation I'll be focusing on build validation & minimum # of reviewers.

My hope is to build this in a way that makes supporting other types of build policies very simple... more to come when I have time to consolidate my notes.

[2019-10-30 21:54] #127 closed

[2019-10-31 17:52] nmiodice commented on #83
@pascalberger see the updated design -- I appreciate feedback!

[2019-10-31 19:20] tmeckel commented on #105
Implementation done in branch

https://github.com/tiwood/terraform-provider-azuredevops/tree/ds_r_user/azuredevops

[2019-10-31 20:14] TsuyoshiUshio commented on #155
It looks good. The scenario covers something that in under the $GOPATH/bin and not under control of Go Modules. This is my $GOPATH/bin. Currently, you don't use it however, if you use golint on CI, You might want to make these under the control go Go Modules, In this case, you can configure `tools.go`

[code]

[2019-11-01 15:36] ThePhen commented on #3
@hbuckle I am in agreement that the provide should export the generic service connection resource from the Go SDK (thus the Az DO REST API). We've been prioritizing 'easy to use' "syntactic sugar" for this first RC of the provider, with the hope that the generic structures would follow.

I fully agree, however, that this provider ought to expose the base REST structures, and then offer convenience

[2019-11-01 15:52] nmiodice opened #177 "Investigate how to reduce boiler plate in the codebase"

[2019-11-01 16:47] nmiodice commented on #83
@KeithJRome  I have updated based on our design review

[2019-11-01 18:50] #147 closed

[2019-11-01 21:34] nmiodice commented on #83
Note: The composition approach in this branch is more extensible: https://github.com/microsoft/terraform-provider-azuredevops/compare/thephen/issue-160-github-sep

The design should reflect that -- exposing base flatteners/expanders that can (should be) be used by the subtypes, but not forcing a composition pattern on them. Need to update the design to reflect this before closing

[2019-11-02 18:35] nmiodice opened #181 "Verify proper schema validation and diff suppression used & verify that string comparisons are case insensitive"
### Description
Terraform has a rich schema syntax that allows resources to provide [up-front validation](https://www.terraform.io/docs/extend/schemas/schema-behaviors.html#validatefunc) and [diff suppress](https://www.terraform.io/docs/extend/schemas/schema-behaviors.html#diffsuppressfunc) behavior that will be applied before the provider code is ever invoked. This simplifies the provider impleme

[2019-11-03 23:47] nmiodice opened #184 "Implement Min Reviewer Count Policy Resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-03 23:49] nmiodice commented on #83
Implementation stories:
 - https://github.com/microsoft/terraform-provider-azuredevops/issues/182
 - https://github.com/microsoft/terraform-provider-azuredevops/issues/184
 - https://github.com/microsoft/terraform-provider-azuredevops/issues/183

[2019-11-03 23:49] #83 closed

[2019-11-04 00:14] nmiodice commented on #143
Closed by https://github.com/microsoft/terraform-provider-azuredevops/pull/156

[2019-11-04 09:43] mikaelkrief commented on #170
I am interested to work on this feature

[2019-11-05 18:43] ThePhen commented on #3
Here’s the example Terraform HCL code that came out of the design work.

[code]

[2019-11-06 00:50] nmiodice opened #187 "Various improvements to documentation"
### This story is meant to capture gaps in documentation discovered during the week of 11/5

Points of ambiguity in the docs:
 - `DEV_ROOT` implies that it is needed beyond the initial setup steps, which it is not. Clarify and/or remove
 - `TF_ACC` is (1) misspelled in docs and (2) confusing because it is set in the `acctest.sh` script. Call this out as an "extra info" but do not make it a critica

[2019-11-06 14:55] xibix-fp opened #188 "Issue removing group membership"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-06 16:38] ThePhen commented on #164
@KeithJRome @nmiodice ... if you get desperate and just want to clean an org's `test-acc` projeccts, I've been using this to help me keep my org clean by-hand:

[code]

[2019-11-06 17:29] #3 closed

[2019-11-06 20:05] EliiseS commented on #165
@nmiodice

I've found that on deletes we sometimes return a nil for an empty string, while other times we try to convert it into an UUID. Which approach should be used?

[code]

vs

[code]

[2019-11-06 20:38] #169 closed

[2019-11-07 16:03] beatcracker commented on #141
I'm not sure how you'll be able to do that, since one can't remove the last repo in the project:
[code]

- https://stackoverflow.com/questions/34946400/visual-studio-team-services-delete-repository
- https://github.com/MicrosoftDocs/vsts-docs/issues/3540
- https://developercommunity.visualstudio.com/content/problem/91852/cannot-delet-git-repo.html

[2019-11-07 22:06] #171 closed

[2019-11-07 22:06] #150 closed

[2019-11-07 22:06] kevinhartman opened #200 "Implement allow_access for Variable Group resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-11-07 22:07] #165 closed

[2019-11-08 09:27] mikaelkrief commented on #200
I am interested to work on this

[2019-11-10 17:19] tmeckel commented on #108
@codevbus I would really need this implementation to test the resource for groups #103 . When will the data source be ready?

[2019-11-10 18:01] codevbus commented on #108
Apologies on this. I've finally got some clean runway to work on this again. Would EoD Wednesday be ok to deliver a finished PR?

[2019-11-10 19:10] tmeckel commented on #108
Hi @codevbus! Sure! Great! I was just asking, becuase I'm just in the middle of implementing the `azuredevops_group` resource #205  and it would be great having the ability to lookup projects via a data source while designing tests and examples.

[2019-11-11 23:27] #168 closed

[2019-11-11 23:34] nmiodice commented on #138
Done in #199

[2019-11-14 02:59] codevbus commented on #108
@tmeckel @nmiodice  - I'm afraid I'm blocking too long on this without moving the needle.

The PR isn't where I'd want it to be... IRL-stuff is really killing my free time right now. Really sorry to have dragged this on so long but I think it's best if I hand this off.

My apologies, I'll take this as a lesson learned to be more honest with myself about time available. I appreciate your patience a

[2019-11-15 17:07] tmeckel commented on #108
@codevbus Sorry to hear that! As far as I know there's no real feasible way that I can easily take over your PR because it's bound to your branch and forked version of the repository. @nmiodice perhaps you might correct me :wink:

So my proposal would be that I copy your actual work from branch `ds-108` into our fork to give you credit on the work you did so far. I will file a new PR from our fork

[2019-11-15 17:14] tmeckel commented on #108
@codevbus  I copied over you work already.

https://github.com/tiwood/terraform-provider-azuredevops/commits/ds_projects

[2019-11-15 17:37] nmiodice commented on #108
Great! I'll close the other PR

[2019-11-15 17:40] nmiodice commented on #200
@mikaelkrief done

[2019-11-15 18:04] codevbus commented on #108
@tmeckel @nmiodice - Thanks guys. Really sorry to have blocked so long on this.

[2019-11-20 15:38] #200 closed

[2019-11-20 16:18] mikaelkrief commented on #188
@nmiodice I am interressed to investigate and fix this

[2019-11-20 17:05] nmiodice commented on #188
@mikaelkrief assigned. you may want to validate this bug before spending much time on it. Also we have a test that is currently not being used due to the fact that we see it cause transient issues due to a data propagation delay within AzDO related to group memberships.

See more info here: https://github.com/microsoft/terraform-provider-azuredevops/issues/174

[2019-11-25 10:12] mikaelkrief commented on #188
@nmiodice I reproducted this issue, by adding new user in the group

[2019-11-26 20:14] nmiodice opened #213 "Document `azuredevops_projects` data source"
The `azuredevops_projects` data source needs documentation under `website` so that customers can find it.

# Acceptance Criteria
 - Follow existing documentation pattern and implement for `azuredevops_projects`

[2019-11-26 20:16] nmiodice commented on #186
Many thanks for the reply @dikhan!

[2019-11-26 20:18] nmiodice commented on #167
@hbuckle you may want to look back into the existing implementation, as it has been made generic as to make extensions of service endpoints easier.

Ex:
 - https://github.com/microsoft/terraform-provider-azuredevops/blob/master/azuredevops/resource_serviceendpoint_dockerhub.go
 - https://github.com/microsoft/terraform-provider-azuredevops/blob/master/azuredevops/resource_serviceendpoint_github.go

[2019-11-27 10:42] mo-saeed commented on #161
Any updates here ?

[2019-11-28 18:28] jlpedrosa commented on #215
I did not saw the previous ticket. Duplicate of #103

[2019-12-06 17:16] cwebbtw opened #218 "Support GitHub enterprise as a build definition repository type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-09 08:23] mikaelkrief commented on #172
@nmiodice , I am interested to work on this . can you assign to me

[2019-12-09 22:57] #23 closed

[2019-12-09 22:58] nmiodice commented on #172
@mikaelkrief  done!

[2019-12-10 06:59] jonasbark opened #219 "Support Bitbucket Cloud as a build definition repository type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-11 10:41] mikaelkrief commented on #172
@nmiodice , Can you add requirement for this task, it's to create Azure RM service connection,, see the issue #161.

I can work on the #161 before this issue.

[2019-12-12 10:34] mikaelkrief commented on #161
@nmiodice I am interressed to implement this before the #172

[2019-12-12 23:00] nmiodice commented on #188
Fixed in https://github.com/microsoft/terraform-provider-azuredevops/pull/212

[2019-12-12 23:00] #188 closed

[2019-12-13 10:03] mikaelkrief opened #220 "Check the PR with GitHub Action"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-13 10:34] saidst opened #221 "Support Kubernetes as service endpoint type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2019-12-13 10:37] saidst commented on #221
I want to work on this.

Besides CLA, what is your process of designing a feature?

[2019-12-13 10:52] mikaelkrief commented on #220
@nmiodice , at the requirement of this GitHub action workflow you need to create secrets in the GitHub Settings of the repository like as in the following image:

![image](https://user-images.githubusercontent.com/2725302/70794900-03dc5b80-1d9f-11ea-85b1-d2effbe2ad7c.png)

[2019-12-13 11:10] mikaelkrief commented on #220
PR #222

[2019-12-16 12:28] Jyoti492 commented on #221
@saidst I also want to use this feature . Did you get any reply when this will be developed ?
I would like to help if required.

[2019-12-16 23:04] nmiodice commented on #161
@mikaelkrief I don't understand your comment -- can you elaborate on the blocker you identified during research?

[2019-12-17 12:10] ssala7 opened #223 "Resource for bitbucket connection"
We have repository in bitbucket and In azure DevOps we can create service connection with bitbucket We would like to do the same using terraform please provide an resource for azuredevops_bitbucket_repository

[2019-12-17 15:47] mikaelkrief commented on #161
@nmiodice : sorry, forgot my previous comment, I will soon finish this feature.

[2019-12-17 18:51] saidst commented on #221
I have not received any response so far.
However, I've done first private, prototype implementations.

[2019-12-18 14:43] SidGrundfos opened #224 "Install AZDO in devops pipelines"
Hi Team, I am trying to create a devops service connection to ACR via azuredevops profider terraform.
How do I install the provider in my release pipeline?

[2019-12-18 18:15] nmiodice commented on #224
Unfortunately since this is not yet hosted anywhere official (yet) you won't be able to include this provider using a `provider` block in Terraform HCL.

You will need to [build](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/scripts/build.sh) and [install](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/scripts/local-install.sh) this plugin locally

[2019-12-18 18:18] nmiodice commented on #221
Hi, sorry for the delay. I have bad filters on my inbox and missed this!

Regarding the design proposal, can you please provide me with an example API post for configuring such an endpoint? Also, have you looked at the existing service connection resources? They will abstract quite a bit of the implementation logic away to make your implementation easier @saidst @Jyoti492

[2019-12-19 08:54] saidst commented on #221
I've seen your abstractions. They speed things up.
Based on them, I've done a very basic test-implementation for a certain subtype of the kubernetes endpoint: [resource_serviceendpoint_kubernetes.go](https://github.com/saidst/terraform-provider-azuredevops/blob/feature/kubernetes-serviceendpoint/azuredevops/resource_serviceendpoint_kubernetes.go)

To what do you refer with *example API post* ?
If

[2019-12-21 07:21] Jyoti492 commented on #221
@nmiodice any update please ?

[2019-12-24 10:15] jonasbark commented on #223
https://github.com/microsoft/terraform-provider-azuredevops/issues/219

[2020-01-02 12:31] Jyoti492 commented on #221
@saidst : have you started working on it and do you know the expected delivery time ?

[2020-01-03 08:45] saidst commented on #221
Not (officially). I try to stick to the contribution guidelines. According to them, the anticipated new features first needs to be accepted and second be assigned to someone.

Also, I figured, that we need to invest further efforts into the semantics of the resource prior to implementation.

[2020-01-06 09:13] saidst commented on #221
@nmiodice: have you had the chance to take a look on the latest comments?
We would like to work on this piece.

[2020-01-09 10:56] jorgemarti commented on #99
When using the _Fork_ initialization type for an `azuredevops_git_repository` resource I'm getting the following error:

[code]

I guess this is due that this feature hasn't been implemented yet, right? Any estimation on when will this be available?

Thanks

[2020-01-09 17:18] nmiodice commented on #221
@saidst sorry for the delay here -- I have been in and out of the office as I prepare for my wedding next week. Needless to say things have been a *little* crazy on my end.

I apologize for the delay and think that your approach makes a lot of sense. I'll go ahead and assign this story to you and you can feel free to post a PR when you have an implementation that works.

**Note** I'll be unable to

[2020-01-10 14:39] iojas commented on #3
Any timeline on `azuredevops_serviceendpoint_acr` ? Thanks.

[2020-01-12 12:54] jasonsears commented on #224
Any thoughts on timing for this being in the Terraform Registry? We are fairly new to Terraform and using their Terraform Cloud. It appears providers must be in the registry to be utilized from TF Cloud. I've opened a support case with Terraform to confirm my suspicion regarding community providers and TF Cloud.

[2020-01-15 14:18] vvanouytsel opened #230 "Error expanding repository resource data: invalid UUID length"
When trying to create a repository using the .tf file below, `terraform apply` fails throwing the following error:
[code]

**The .tf file:**
[code]

**The output of `terraform apply`:**
[code]
**Terraform version:**
[code]

Does anyone know why the invalid UUID error appears?

[2020-01-15 15:03] SidGrundfos commented on #224
Any updates on the availability of the binaries in Terraform Registry

[2020-01-15 15:06] vvanouytsel commented on #230
After some more debugging I found the issue.

I had to use `project_id = "${azuredevops_project.test.id}"` instead of `project_id = "test"`
The .tf file below works perfectly.

[code]

[2020-01-15 15:06] #230 closed

[2020-01-30 06:54] saidst commented on #221
Updated semantics of resource. See initial post.

[2020-02-03 18:11] tmeckel commented on #103
This issue has been implemented with PR #205

[2020-02-03 18:11] #103 closed

[2020-02-03 19:12] tmeckel commented on #161
@nmiodice for housekeeping: this issue can be closed because PR #225 has been merged!!!!! 😄

[2020-02-03 21:07] nmiodice commented on #113
Closed in PR #233

[2020-02-03 21:13] nmiodice commented on #224
Not yet -- we are working towards this as a goal, but it involves cross company collaboration. Nothing yet to report on this, I'll keep you in the loop.

For now, you can use the scripts located in `scripts/` to build the binary and install it locally. Perhaps it is possible to include it, pre-built, in your repository?

More info here: https://www.terraform.io/docs/plugins/basics.html#installing-

[2020-02-03 21:15] nmiodice commented on #221
@saidst any ETA on a PR?

[2020-02-03 21:17] nmiodice commented on #220
Closing based on the following limitation of GH secrets:
[code]

source: https://help.github.com/en/actions/automating-your-workflow-with-github-actions/creating-and-using-encrypted-secrets#using-encrypted-secrets-in-a-workflow

[2020-02-03 21:17] #220 closed

[2020-02-05 08:53] saidst commented on #221
We are almost there. Expect to open the PR today/tomorrow.
Will rebase onto master now and see which suprises I encounter.

[2020-02-06 12:13] saidst opened #234 "Authorization of resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-02-18 04:40] lachie-white commented on #142
https://github.com/flynnhandley/terraform-provider-azdevops

One of the awesome engineers i was working previously started working on this 15 months ago. Our biggest reason to move away from the Microsoft one was the use of service connections missing from the provider

[2020-02-28 14:35] kagarlickij opened #240 "Value of the variable in AzDO Variable group is not chaged"
### Terraform (and Azure DevOps Provider) Version
Terraform v0.12.20
+ provider.azuredevops v0.0.1
+ provider.azurerm v2.0.0

### Terraform Configuration Files
[code]

### Expected Behavior

When I change value of the variable from `val1` to `val2` `terraform plan` must show the change and `terraform apply` must apply it

### Actual Behavior

`terraform plan` output: `No changes. Infrastructure is

[2020-03-02 20:47] tmeckel commented on #240
@kagarlickij I was able to reproduce the error. Also, the implementation does not detect changes to the variable group in DevOps, not only in the `.tf` file. I'll have a closer look on this.

[2020-03-02 21:49] tmeckel commented on #240
The problem lies inside the Terraform Plugin SDK, which does not perform a deep compare for the type 'set' when comparing values in a schema.

If the following is changed to `schema.TypeList` the bug is fixed.

https://github.com/microsoft/terraform-provider-azuredevops/blob/a6c79b5113a20b3430c74d5a8e71094c229fda0c/azuredevops/resource_variable_group.go#L56

Issue here is that, the user might now

[2020-03-02 21:51] evertonmc commented on #240
I can also repro this. Just to be clear: tf plan/apply reacts to changes as soon as a `variable` set is added or removed to/from the group, but not when the `value` of an existing variable is changed.

[2020-03-03 18:45] kevinhartman commented on #240
@tmeckel, is that a bug in the Terraform Plugin SDK, or documented behavior (that deep comparison is not used for sets)? Using a TypeList here doesn't seem quite right, since there are no ordering semantics for devops variables.

There *should* be a check somewhere to assert that multiple variables sharing the same name within the set results in an error. @awkwardindustries, any idea if/where that

[2020-03-04 16:19] tmeckel commented on #240
@kevinhartman didn't have the time yet to check if this is really a bug inside the Terraform Plugin SDK or the behavior is by design.  But what we can do to circumvent the potential issue that the DevOps Api returns the variables in a different order than how they are stored in the state, is to sort the variables before we flatten them to the state.

Another benefit to use a `TypeList` would be to

[2020-03-05 02:36] cgriggs01 opened #241 "HashiCorp Terraform Provider Partner Program - Initial Review"
I’ve taken a look at the provider here and would like to say great work so far! I do have feedback outlined below that I’d like to see addressed before we move on to the next steps. I’m opening this issues as a sort of checklist for tracking items and discussion. If it works better for you, this changes can be added to a separate branch if any changes conflict with your current build process.  The

[2020-03-08 07:32] mybayern1974 commented on #219
We are putting this request to our backlog right now while currently there is not a timeline for that. We are focusing on evaluating the checklist in issue [241](https://github.com/microsoft/terraform-provider-azuredevops/issues/241). Thank you for your understanding.

[2020-03-12 08:26] jorgemarti opened #249 "Adding AAD groups to Azure DevOps project groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-03-15 16:16] nmiodice commented on #250
Can you expand on what you mean by `with default configuration`?

[2020-03-15 16:48] sheeeng commented on #250
Sorry that I did not clarify it earlier. Creating an Azure DevOps project with given default configuration as shown in the Azure Dashboard. For example,  default private visibility and using default Agile work_item_template.

[2020-03-15 16:49] tmeckel commented on #250
@sheeeng we already have a resource `azuredevops_project` which creates Azure DevOps projects:

https://github.com/microsoft/terraform-provider-azuredevops/blob/master/website/docs/r/project.html.markdown

In addition we're planning to provide a resource `azuredevops_project_features` to manage features for projects

https://github.com/tiwood/terraform-provider-azuredevops/issues/5

So as @nmiodic

[2020-03-15 16:52] sheeeng commented on #250
Thank you for the further clarification. I have misunderstood something. I will close this issue.

[2020-03-15 17:07] tmeckel commented on #249
@jorgemarti perhaps the current documentation for [`azuredevops_group_membership`](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/website/docs/r/group_membership.html.markdown) is a bit misleading,
but you can add groups as `members` already as well, if you retrieve the subject descriptor of the group with the [`azuredevops_group`](https://github.com/microsoft/terraform-pr

[2020-03-15 21:31] nmiodice commented on #241
@cgriggs01 thank you so much for having a look. A question regarding the linting tool you mentioned. I don't see these rules enforced by the [makefile](https://github.com/terraform-providers/terraform-provider-github/blob/master/GNUmakefile) referenced. Should these be baked into the one we create for this provider?

Also, do you recommend `tfproviderlint` or `tfproviderlintx`?

[2020-03-15 22:11] nmiodice commented on #243
### Some notes/questions while I work through the linting issues

- I don't see this integrated into any other provider's CI process. Is this intended to help with development, or should it be baked into the `Makefile` called out in #244 and #241 ?
- The following lint checks are triggering, but I believe they are safe to be ignored:
  - `.../azuredevops/utils/tfhelper/tfhelper.go:72:8: R001: Reso

[2020-03-16 04:26] nmiodice commented on #243
PR 1 of ?: https://github.com/microsoft/terraform-provider-azuredevops/pull/251

[2020-03-16 10:13] jorgemarti commented on #249
@tmeckel many thanks, I was able to test it, and even with `mail` instead of `origin_id` it works.

[2020-03-16 10:13] #249 closed

[2020-03-16 11:19] xuzhang3 commented on #241
@cgriggs01 @tmeckel  @nmiodice I have do some code refactor on my onboard branch. Please have a look when you got chance. [Terraform onboard Branch](https://github.com/xuzhang3/terraform-provider-azuredevops/tree/f/onboard)
Relate issues: #241 #243 #244 #245 #246 #247 #248

**Some questions:**
1. What is the suggested CI? ADO do itself or terraform will manage this biuld with github CI .
2. Servic

[2020-03-16 13:17] nmiodice commented on #241
@xuzhang3 Regarding your branch - please create a PR back into this repo's master branch
![image](https://user-images.githubusercontent.com/2497673/76761967-665a4480-675e-11ea-85f4-d6f3eaef4803.png)
![image](https://user-images.githubusercontent.com/2497673/76762002-783be780-675e-11ea-8cdd-26d3c592225e.png)

FYI - it helps to have separate PRs for each issue. I have one open for #243 already, FYI

[2020-03-16 16:19] tmeckel commented on #249
@jorgemarti  glad it worked for you!

[2020-03-16 18:42] tmeckel commented on #247
GoReleaser https://goreleaser.com/ can create changelog files automatically from Git commits

[2020-03-17 08:58] LaurentLesle commented on #172
I use a lot variable groups to keyvault keys as a way to securely expose them to Azure Devops pipelines. It also allow security teams to inject their secrets while keeping them hidden from the devops team. I can see the the blocker #170 and #161 have been completed. Is that something that can be prioritized?

[2020-03-17 11:24] xuzhang3 commented on #241
Hi Nick, I submit a PR #252 here. You review here. All requirements described in #241 are include in this PR.

[2020-03-17 13:56] nmiodice commented on #243
@xuzhang3 would you like to take this as well? I unassigned myself from the issue. Please advise if you should take it or if I should.

[2020-03-21 03:43] nmiodice commented on #241
@cgriggs01 can you elaborate on this point:

We do have existing acceptance tests that are prefixed with `TestAcc`. Other tests that do not have this prefix are unit tests that have mocked dependencies so that we can have thorough testing of our error handling. Should these *unit* tests also be prefixed with `TestAcc`?

[2020-03-23 13:10] sheeeng commented on #253
For example, this request can be done using the Azure DevOps portal. I wonder whether we can do the same with this Terraform provider.

[![Image](https://docs.microsoft.com/en-us/azure/devops/organizations/settings/media/services/set-service-visibility.png?view=azure-devops)](https://docs.microsoft.com/en-us/azure/devops/organizations/settings/set-services?view=azure-devops)

[2020-03-24 11:18] nmiodice commented on #240
Seems as though there is logic elsewhere in the SDK plugin that prevents such as solution (at this time).

Based on the following change:
[code]

I still get this locally:
[code]

[2020-03-24 11:23] nmiodice commented on #240
Non optimal fix, based on my findings trying to do it the right way (and not succeeding) - can be found here https://github.com/microsoft/terraform-provider-azuredevops/pull/254

I appreciate feedback on it :)

[2020-03-24 20:05] tmeckel commented on #253
https://github.com/tiwood/terraform-provider-azuredevops/issues/5

[2020-03-24 20:19] tmeckel commented on #240
The `ListOfUniqueStrings` method that I mentioned in my comment above is part of the Terraform Plugin SDK since [1.6.0](https://github.com/hashicorp/terraform-plugin-sdk/blob/master/CHANGELOG.md#160-january-29-2020) so and there's also a unit test for this method (https://github.com/hashicorp/terraform-plugin-sdk/blob/master/helper/validation/list_test.go). Perhaps there's still something wrong wi

[2020-03-28 14:05] nmiodice commented on #240
Fixed in https://github.com/microsoft/terraform-provider-azuredevops/pull/254

@tmeckel I was unable to get this working with the validation capabilities of the TF development SDK, based on my error logs above, even after updating the SDK to the latest version.

Happy to circle back when that limitation no longer exists.

[2020-03-28 14:05] #240 closed

[2020-04-01 08:18] xuzhang3 commented on #245
In accordance with Microsoft policy, the MIT license will continue to be used in this repository.  Hasicorp will manage the license issue after migrate to there repository

[2020-04-01 12:32] tmeckel commented on #248
Okay ... this issue has been closed without any further comment. Pretty surprising, because without a branch that collects incoming pull requests and other contributions from the team, a REAL (serious) release management, including changelog maintenance, will not be possible.

There are enough examples from other Microsoft projects (like SharePoint PnP, or the DSC Team) that adopted a workflow lik

[2020-04-01 18:10] EliiseS opened #257 "Checks missed due to case-insensitive validation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-01 18:50] tmeckel commented on #241
@nmiodice did you receive any answer yet? Very interesting question, because to me it would make no sense to rename the existing tests, which utilizes the mock infrastructure, because they are (more or less) sophisticated unit test and no acceptance test, what the prefix 'TestAcc' implies.

[2020-04-05 09:18] tmeckel opened #259 "Unable to compile using GNUmake"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 10:04] xuzhang3 opened #262 "New service endpoint Bitbucket"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-07 18:28] ttpp8794 opened #264 "Is there a binary available for release version v0.1.0?"
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

---

If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.

[2020-04-08 02:49] xuzhang3 commented on #259
I don't know which user group your account is in.
[code]
should fix this

[2020-04-08 03:16] xuzhang3 commented on #264
We are migrating the plugin to the official Terraform repository.  Version v0.0.1 is coming soon.

[2020-04-08 07:40] tmeckel commented on #259
@xuzhang3 the execute permission must be checked into GIT

https://www.jerriepelser.com/blog/execute-permissions-with-git/

[2020-04-08 08:10] xuzhang3 commented on #259
I create a new PR #265  to fix this issue

[2020-04-10 20:05] ttpp8794 commented on #264
@xuzhang3 Thank you for your response. Any ETA on this plugin available in official Terraform repository?

[2020-04-13 02:39] #262 closed

[2020-04-13 12:12] rmaziarka commented on #264
Before that, could you provide the plugin? There is no information on how long it will take so the file could be valuable for the time being.

[2020-04-14 03:32] xuzhang3 commented on #264
You can build a binary file in three steps.
  1. Install golang
  2. Checkout terraform-provide-azuredevops source code
  3. Go to project root directory and run the command "go build -gcflags="-N -l" -o terraform-provider-azuredevops". You will find the "terraform-provider-azuredevops" file in project root directory
If you run terraform in a Windows environment, you may need to add the file suffi

[2020-04-14 03:35] xuzhang3 commented on #264
Not sure when this plugin will available in official Terraform repository. Currently they are reviewing the code.

[2020-04-14 18:52] tmeckel commented on #259
Works as expected now after PR #265 has been merged

[2020-04-14 18:52] #259 closed

[2020-04-14 18:54] tmeckel commented on #257
There are many places inside the code of the provider where the equal operator is used to compare strings instead of `string.EqualFold`. All string comparisons should be verified if the must be replaced by using `string.EqualFold`

[2020-04-14 19:16] tmeckel opened #267 "Exclude _test.go files from SonarQube checks"
Can we exclude the test files (`_test.go`) from the SonarQube checks?

![image](https://user-images.githubusercontent.com/14177833/79264552-0e197e00-7e95-11ea-82a0-b16649f65149.png)

![image](https://user-images.githubusercontent.com/14177833/79264617-28535c00-7e95-11ea-9932-5f8fef43374b.png)

[2020-04-15 00:09] techiechap opened #268 "azure: malformed storage account key: illegal base64 data at input byte 0"
If you are running into one of these scenarios, we recommend opening an issue in the [Terraform core repository](https://github.com/hashicorp/terraform/) instead.
--->

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize

[2020-04-15 17:53] tiwood commented on #268
It seems like you have issues with your `azurerm` backend config. This is the `azuredevops` provider repository and has nothing to do with the `azurerm` backend config.

Backend related stuff goes here: https://github.com/hashicorp/terraform/issues

[2020-04-16 20:03] nmiodice commented on #257
@tmeckel do you know of any good linters to check this in an automated way?

[2020-04-16 21:54] nmiodice commented on #257
This is fixed in #269 but I'd like to keep this open for a little bit to see if we can incorporate a lint check. cc @xuzhang3 @EliiseS

[2020-04-16 23:01] techiechap commented on #268
@tiwood  yep,  i had to rewrote the inline ps script to store the storage key, i think copy pasting the script was an issue  we can close the issue,

[2020-04-16 23:01] #268 closed

[2020-04-17 18:14] tmeckel commented on #257
Perhaps [go-critic](https://github.com/go-critic/go-critic) is worth a try. There's already a [check](https://go-critic.github.io/overview#equalFold-ref) about string comparison done with `EqualFold` or with the normal `==` operator.

[2020-04-18 11:01] rmaziarka commented on #142
I investigated these options for using TF with creation of my personal blog. There are two endpoints:
- [link](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/authorizedresources/authorize%20project%20resources?view=azure-devops-rest-5.1) to allow a service connection to be used by all builds
- [link](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/resources/authorize%20d

[2020-04-18 16:01] rmaziarka opened #273 "azuredevops_serviceendpoint_azurerm sets empty password, when changed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-21 00:46] midacts opened #275 "azuredevops_variable_group - Not Respecting State"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-21 01:17] midacts commented on #276
Maybe it is how it is intended to be used?

It took me a little while to figure it out so maybe updating the variable groups documentation showing how to use it.
Or making the project data source only work with one project.

BTW - really glad this project exists. I was super excited when I stumbled across it today.

[2020-04-21 07:19] tiwood commented on #276
@midacts, can you please check if `data.azuredevops_projects.muh-bucket.projects[0].project_id` works for you? This should be the correct syntax IMO.

[2020-04-21 12:47] midacts commented on #276
I forgot to mention trying that.
It doesn't work either.

[code]

[2020-04-21 16:33] tmeckel commented on #276
@midacts

Create a map and access the project by name afterwards

[code]

[2020-04-21 17:30] midacts commented on #276
That would work.
Along with `projects.*[0].project_id`.

It's just kind of a janky way of using it.

[2020-04-22 14:05] EliiseS commented on #257
@tmeckel That only checks for `strings.ToLower(x) == strings.ToLower(y)`, but we want a check for `x == "x"`

[2020-04-22 14:40] nmiodice commented on #276
@xuzhang3 @tmeckel what are your thoughts on another data provider `azuredevops_project` (note the omission of the final `s`), to pick out a single project only?

[2020-04-22 14:44] tmeckel commented on #257
Well a linter can't save you from your own stupidity 😁 but perhaps we shouldn't overcomplicate the situation here.

I totally agree with you that a perfect solution can't be possible or would create to much effort but I think when we could apply a linter like go-critic and check for the normal `x == "y"` we are good to go for 80% percent of the time.

[2020-04-22 14:48] tmeckel commented on #276
@nmiodice @xuzhang3  easy to do and actually I though about the same. We should have a single data source and multi result data source . So people can chose the type of the data source according to their demand.

I was always happy with the multi result data source, because that gives you the possibility to apply permissions for all projects with minimal HCL code by using `for_each` or `count`. Bu

[2020-04-22 14:55] nmiodice commented on #275
I admit, this is not perfect. I don't see a way to fix it without making it possible for Terraform to keep this value up-to-date, though. This comes down to the Azure DevOps API not returning the value of variables marked as a `secret`.

As an example, if we fix this issue (which will involve storing the secret value to the TF state) then if it is ever changed outside of Terraform, it will be impo

[2020-04-22 18:08] midacts commented on #275
I would assume it would need to be stored in Terraform state and just be marked as sensitive when terraform plan is run.
Like you said, otherwise Terraform does not know the value to verify if anything needs to change.

I'd be curious how other providers deal with similar issues.

[2020-04-25 09:55] tmeckel commented on #253
@nmiodice I started the implementation https://github.com/tiwood/terraform-provider-azuredevops/tree/r_project_features  can you assign me the issue please 😁

[2020-04-27 17:57] EliiseS commented on #172
@nmiodice and I have discovered a blocking issue in the go SDK implementation, found here: https://github.com/microsoft/azure-devops-go-api/issues/58

[2020-04-27 20:40] mcmcghee commented on #221
This would almost complete our automation via terraform and would be a killer feature! Right now we have to do this manually and prevents us from doing automated destroy and create jobs.

[2020-04-28 06:04] saidst commented on #221
The PR is already open. We need to figure with Microsoft how to proceed on it. There seems to be parallel development going on, which needs to be synced.

[2020-04-28 06:13] cgriggs01 commented on #241
Hi All,

Apologies for the delay. We are ready to more forward with the final changes and release of this provider. Just a few addition items to address before I can start the migration process.

- [ ] The first two are related to broken links in the website documentation sidebar layout file. The `azuredevops_group` link on [line 32](https://github.com/microsoft/terraform-provider-azuredevops/edit

[2020-04-28 19:50] nmiodice commented on #183
Further implementation is blocked on https://github.com/microsoft/azure-devops-go-api/issues/59

WIP branch is here: https://github.com/microsoft/terraform-provider-azuredevops/tree/niiodice/build-policy

[2020-04-28 19:50] nmiodice commented on #184
Further implementation is blocked on https://github.com/microsoft/azure-devops-go-api/issues/59

WIP branch is here: https://github.com/microsoft/terraform-provider-azuredevops/tree/niiodice/build-policy

[2020-04-28 21:27] nmiodice commented on #276
Implemented here - https://github.com/microsoft/terraform-provider-azuredevops/pull/284

[2020-04-28 21:41] nmiodice commented on #276
You were not joking, @tmeckel - the implementation is just 13 lines of code. The tests is exactly 4x that.

And of course the changes to the `vendor` directory are... staggering :D

[2020-04-28 21:49] nmiodice commented on #267
I'd prefer to delay this until we move to HashiCorp CI as I dont think we'll have that issue there.

[2020-04-28 21:50] tiwood commented on #275
I‘ll say we should set ForceNew on the value property, that way the variable will only be (re)created when the value is changed (state diff).

Always updating resources + showing a plan is against Terraform Provider patterns afaik.

[2020-04-28 21:51] nmiodice commented on #264
Based on the update here - https://github.com/microsoft/terraform-provider-azuredevops/issues/241 - its safe to close this in favor of the official CI approach.

[2020-04-28 21:51] #264 closed

[2020-04-28 21:54] nmiodice commented on #219
Closed by https://github.com/microsoft/terraform-provider-azuredevops/pull/260

[2020-04-28 21:54] #219 closed

[2020-04-28 21:54] nmiodice commented on #223
Closed by https://github.com/microsoft/terraform-provider-azuredevops/pull/260

[2020-04-28 21:54] #223 closed

[2020-04-28 21:54] nmiodice commented on #224
I'm closing this in favor of the official tracking issue here - https://github.com/microsoft/terraform-provider-azuredevops/issues/241

[2020-04-28 21:54] #224 closed

[2020-04-28 21:56] nmiodice commented on #181
This is a duplicate issue. https://github.com/microsoft/terraform-provider-azuredevops/issues/257

[2020-04-28 21:56] #181 closed

[2020-04-29 02:43] midacts commented on #276
Thanks for implementing this.
I'm still learning golang, but I'd like to one do be able to contribute.

[2020-04-29 03:10] hassan-wow opened #286 "Error creating service endpoint in Azure DevOps: Authorization parameter 'AccessToken' must be supplied to complete OAuth flow"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-29 04:08] #187 closed

[2020-04-29 04:08] nmiodice commented on #182
Further implementation is blocked on microsoft/azure-devops-go-api#59

WIP branch is here: https://github.com/microsoft/terraform-provider-azuredevops/tree/niiodice/build-policy

[2020-04-29 13:24] nmiodice commented on #276
@midacts we'll always welcome OSS contributions :)

I believe this ticket can be closed -- please let us know if the new `azuredevops_project` is still difficult to use and we can revisit

[2020-04-29 13:58] nmiodice commented on #166
Closing in favor of https://github.com/microsoft/terraform-provider-azuredevops/issues/241

[2020-04-29 13:58] #166 closed

[2020-04-29 13:59] nmiodice commented on #141
Closing as this is ADO behavior, not related to the implementation of this provider.

[2020-04-29 14:00] nmiodice commented on #105
I believe this is merged

[2020-04-29 14:00] #105 closed

[2020-04-29 14:01] nmiodice commented on #108
I believe this is merged

[2020-04-29 14:01] #108 closed

[2020-04-29 14:01] nmiodice commented on #100
I believe this is merged

[2020-04-29 14:01] nmiodice commented on #90
Integration complete

[2020-04-29 14:01] #90 closed

[2020-04-29 18:00] tmeckel commented on #276
@nmiodice  Yep... well designed code always pays off 😁

As I said already to @EliiseS , we urgently need a way to deal with PRs that contain changes to the vendor directory or include new components in `go.mod`.  I think we can't allow people to simply make arbitrary changes to the components which are used inside the provider.  This could end in an hard to maintain and unstable product.

[2020-04-29 18:05] tmeckel commented on #267
@nmiodice I'm not sure if Hashicorp is using Sonarcloud at all.. if not ... would be a pitty. I'm not even sure about all the internals on the onboarding process for the provider with Hashicorp but if it's designed like the process with the providers at Pulumi as a maintainer you (can) push changes from your "working" repo to the maintained corporate repo and thus your're free to use any code qual

[2020-04-29 20:09] nmiodice commented on #272
Fix implemented here - https://github.com/microsoft/terraform-provider-azuredevops/pull/288

[2020-04-29 20:45] nmiodice commented on #272
Fixed in the referenced PR

[2020-04-30 02:13] nmiodice commented on #276
@tmeckel can you elaborate on your point?

[2020-04-30 02:25] xuzhang3 commented on #276
I think update  ```vendor``` should be fine, as this files are dependencies files defined in the ```go.mod``` file. We can control the update of ```go.mod```.

[2020-04-30 02:39] nmiodice commented on #275
I'll try to have a go at fixing this tomorrow

[2020-04-30 02:44] nmiodice commented on #276
I tend to agree @xuzhang3, but I'm interested to learn about @tmeckel 's concern.

Is the concern that the `vendor` directory may not actually match what is in `go.mod`, perhaps leading to the ability for potentially malicious injections into the project? Or is the concern purely about managing dependencies?

[2020-04-30 03:48] lachie-white commented on #142
@rmaziarka Based on my experience using this granularity should be favoured. i.e. we should enable each pipeline to be run under a service connection. This can enable the use of a one to one mapping between whatever the deployment boundary the pipeline controls is. For example, a resource group or a subscription.

I would favour that direction

[2020-04-30 04:03] lachie-white commented on #241
have a PR ready to go with the 3 last changes in this PR, but don't have access to create the branch or push the PR?

Happy to raise as soon as advised how to proceed?

[2020-04-30 08:31] Mobrockers opened #290 "Are there plans to enable roll out of a new organization using this provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-04-30 16:13] nmiodice commented on #275
https://github.com/microsoft/terraform-provider-azuredevops/pull/291/files

[2020-04-30 16:19] nmiodice commented on #290
I don't believe that there exists a public API that we can use to create an organization. I'll happily be proven wrong, though, as I think that would be awesome!

ADO APIs:

https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/variablegroups/get%20variable%20groups%20by%20id?view=azure-devops-rest-5.1#security

[2020-04-30 16:19] nmiodice commented on #290
cc @xuzhang3

[2020-04-30 16:22] nmiodice commented on #281
Can you add some information to the issue @gertjvr? I'm not really sure what you are referring to.

If you are talking about release definitions in the sense of the ones you create using the UI, I don't think it is worthwhile to build this out because there has been a heavy investment from Microsoft in YAML based pipelines, which offer a more natural way to configure these releases and has lots of

[2020-04-30 18:34] nmiodice commented on #213
This is already documented

[2020-04-30 18:34] #213 closed

[2020-04-30 18:35] nmiodice commented on #151
This is already documented

[2020-04-30 18:35] #151 closed

[2020-04-30 18:53] nmiodice commented on #275
Merged! This should be fixed :)

[2020-04-30 18:53] #275 closed

[2020-04-30 19:56] nmiodice commented on #221
@saidst @mcmcghee

There are pending merge conflicts in the PR and also the build is not passing! Please fix and we can get this in :)

https://github.com/microsoft/terraform-provider-azuredevops/pull/236

[2020-04-30 19:59] nmiodice commented on #201
These are accepted

[2020-04-30 20:01] nmiodice commented on #92
No plan to fix

[2020-04-30 20:01] #92 closed

[2020-04-30 20:32] nmiodice commented on #164
@cgriggs01 I don't see the `make sweep` target in the Makefile. Are these docs up to date?

https://www.terraform.io/docs/extend/testing/acceptance-tests/sweepers.html

[2020-05-01 03:49] lachie-white commented on #241
@cgriggs01 Think we are good to go with the next sets, after the PR was merged:
https://github.com/microsoft/terraform-provider-azuredevops/pull/289

[2020-05-01 08:40] Mobrockers commented on #290
Correct, there is no azure devops API. However it is possible to create an azure devops organization (and project) by submitting the following arm template to the azure RM deployment API endpoint:

[code]

The template definition is here: https://schema.management.azure.com/schemas/2014-02-26/microsoft.visualstudio.json#/resourceDefinitions/account

[2020-05-01 10:51] tmeckel commented on #290
Maybe this sounds a bit ridiculous 😀 BUT if there's an ARM endpoint (template) for this, the resource should be implemented in the [AzureRM Terraform provider](https://github.com/terraform-providers/terraform-provider-azurerm)

[2020-05-01 11:18] nmiodice commented on #290
@tmeckel I agree -- this seems like a better fit for https://github.com/terraform-providers/terraform-provider-azurerm. I didn't realize you could do that with ARM.

*Note*: A less-than-ideal solution if you need this ASAP would be to deploy it using this resource - https://www.terraform.io/docs/providers/azurerm/r/template_deployment.html.

[2020-05-01 11:24] nmiodice commented on #253
@tmeckel done, and thank you!

[2020-05-01 11:28] nmiodice commented on #286
@hassan-wow this is a known limitation of the underlying API that we are using and is described in  [the documentation](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/website/docs/r/serviceendpoint_github.html.markdown#argument-reference).

From the docs:
**NOTE: Github OAuth flow can not be performed via terraform. You must create this on Azure DevOps and then import it.*

[2020-05-01 11:28] #286 closed

[2020-05-01 17:23] tmeckel commented on #290
@tiwood any idea how much effort it would be to add support for creating AzDO organizations into the Terraform AzureRM provider?

[2020-05-01 21:49] gertjvr commented on #281
while I agree that pipelines are the way forward, currently looking after a few azuredevops instances that are using releases and don't see those customer pivoting away from releases until there is official word that they are depreciated.

Would love a way to automate creating those release pipelines, alongside the ci pipeline.

[2020-05-03 11:33] saidst commented on #221
We are on it.

Can you give us read-access to your Azure Pipelines in order to see the build logs?

Linting seem so fail.

[2020-05-03 15:51] jonasbark commented on #281
If you like to live on the very experimental side, there's a branch by @exocom regarding release definitions:
https://github.com/exocom/terraform-provider-azuredevops/tree/release-definitions

With some further adjustments and lots of workarounds I was able to make it work for us.

[2020-05-04 06:40] tiwood commented on #290
@tmeckel, I'll look into it today, but I don't really think that you can do that (anymore?) with the Azure API. AFAIK the orgs only show up if you link them to your AAD and/or a subscription for billing.

[2020-05-04 07:21] C123R commented on #280
Hey @nmiodice, can I give it shot?

[2020-05-04 14:22] tmeckel commented on #257
@nmiodice @EliiseS found another candidate for Linting purposes https://github.com/quasilyte/go-ruleguard ... best of with this tool ... it's dynamically extensible

[2020-05-04 15:51] nmiodice commented on #267
@tmeckel the primary development work will be done in the HC repo.

FYI I've set the exclusion policies like so. Hopefully it helps.

![image](https://user-images.githubusercontent.com/2497673/80985434-d7c88200-8df4-11ea-82cc-2516cd1746de.png)

![image](https://user-images.githubusercontent.com/2497673/80985485-e747cb00-8df4-11ea-8b93-a55694737062.png)

[2020-05-04 16:45] cgriggs01 commented on #164
Hi @nmiodice,

It looks like this is not used on must of the provider today. The Azurerm provider uses Dalek instead.

I've let the team know and they will look at updated this documentation.

Best,
Chris

[2020-05-05 10:02] LaurentLesle opened #293 "Add Agent_Pool data source support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-05 16:24] nmiodice commented on #257
cc @cgriggs01 can we integrate tooling like the suggestion from @tmeckel once we move to a HC repo?

[2020-05-05 16:25] nmiodice commented on #280
Go for it!

[2020-05-05 16:27] nmiodice commented on #281
If somebody from the community would like to implement this we'll absolutely take the contribution. However, I don't for-see us having the capacity to prioritize this feature based on the direction that AzDO in general is moving.

@exocom or @jonasbark would you be willing to port the changes into this provider?

[2020-05-05 16:28] nmiodice commented on #221
Let me deep dive on this a little bit today to see whether or not I can grant access without giving away access to some sensitive internal-only information

[2020-05-05 16:46] exocom commented on #281
@nmiodice Yes, I've got a branch I would love to get in. I've been waiting to open a PR because it still had some fundamental bugs. Most of the bugs have now been worked out and it is finally at a stable point.

One other challenge is the shear size of the API payload. This thing is massive and there are still parts that are missing because they are can be added later. So it is kinda an all or not

[2020-05-05 16:52] nmiodice commented on #281
There is a WIP tag that we can use to mark it as such.

I'm OK with the large PR, or with partial functionality. This is one of the reasons I prefer YAML, btw :D

[2020-05-05 16:54] nmiodice commented on #248
@xuzhang3 can you provide clarity on why this was closed?

[2020-05-05 17:03] tmeckel commented on #221
@nmiodice I had a quick check about the same issue in another project ... problem is, well as far as I understood the AzDO docs: you cannot grant access to people from an public project in GitHub because there's no "everyone" or "read" role, that is assigned to an account for a public project while accessing a connected resource in AzDO. For a private GitHub project you've no issue at all, because

[2020-05-05 17:05] nmiodice commented on #221
@tmeckel did you find any creative workarounds?

[2020-05-05 17:11] nmiodice commented on #221
I'm reaching out to Azure DevOps experts in my org to look in depth on my end.

[2020-05-05 17:32] saidst commented on #221
Thanks for your support. I am confident to sort things without that read-access. However, for mid-term, I think we need it.

[2020-05-05 19:15] cgriggs01 commented on #257
Hi @nmiodice,

I don't see any issue with using this tooling for development of the provider.

Thanks for asking

[2020-05-05 20:55] tmeckel commented on #221
No, unfortunately not, although I must admit that I didn't really have time to fully analyze the problem and find a solution.

[2020-05-06 07:54] xuzhang3 commented on #248
@nmiodice @tmecke Sorry for I closed this issue without any comments.
As this provider will be migrated to Terraform official provider repository and Terraform workflow does not follow the "git flow", normally they merge the new PRs directly to the master.

[2020-05-06 11:27] tiwood opened #294 "Unable to create "Key Vault linked" Variable groups due to invalid AzureRM service connection"
If I try to create a new variable group, which I want to link to an Azure Key Vault, I'm getting the following error message in Azure DevOps (Portal UI):

[code]

This only happens for Service Connections created with `azuredevops_serviceendpoint_azurerm`. You can see that the URI is malformed and `missing the actual subscription id`.

It seems the issue is caused by two capital `S` inside the `da

[2020-05-06 15:11] nmiodice commented on #234
This has been merged!

[2020-05-06 15:11] #234 closed

[2020-05-06 17:44] nmiodice commented on #293
@LaurentLesle can you expand on the use case for this feature? When do you need to reference a property of an agent pool, other than its name (which you'd need for the data source).

[2020-05-06 17:46] nmiodice commented on #276
@tmeckel can you please open an issue with your concern regarding the dependency management? I want to give this issue the right attention, but I don't think this is the right issue for it.

[2020-05-06 17:47] nmiodice commented on #267
I believe this is now complete -- lets re-open if it becomes an issue or if there are any improvements that can be made.

[2020-05-06 17:47] #267 closed

[2020-05-06 19:59] mattdot commented on #162
@nmiodice is this still blocked or would it be possible to create now?

[2020-05-06 20:11] nmiodice commented on #162
@mattdot this is no longer blocked. There is a core component that you can use to simplify the creation of service endpoints located [here](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/azuredevops/crud/serviceendpoint/crud_service_endpoint.go)

Examples:
- [AzureRM](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/azuredevops/resource_serviceendpoi

[2020-05-06 20:12] nmiodice commented on #162
If you'd like, I can assign this to you if you have plans to implement

[2020-05-06 20:15] nmiodice commented on #273
@rmaziarka this is intentional. Instead of storing the password in plain-text, we store a `bcrypt`'d value and use that to identify if the value in the configuration has actually changed.

Is this causing any issues with your plan/apply?

[2020-05-06 20:16] nmiodice commented on #290
I'm going to close this as we have no plans to implement this feature.

[2020-05-06 20:16] #290 closed

[2020-05-06 20:19] tiwood commented on #273
We had an issue where some users changed the name of the service connection, which caused an in-place upgrade and resulted in an service connection without password.

[2020-05-06 20:26] nmiodice commented on #273
Ah, thats not good! I see, this makes sense to implement. I will have a go at it this week.

[2020-05-06 20:31] nmiodice commented on #197
The API to use will be this one:
https://docs.microsoft.com/en-us/rest/api/azure/devops/extensionmanagement/installed%20extensions/install%20extension%20by%20name?view=azure-devops-rest-5.1

A possible configuration may look like:
[code]

[2020-05-06 21:41] nmiodice commented on #273
Fix: https://github.com/microsoft/terraform-provider-azuredevops/pull/296

[2020-05-07 06:35] mattdot commented on #162
After looking into it a little more, what we actually need is an “other docker repository” service connection.  I’ll create a feature request for that one and submit a pr in the next couple days.

[2020-05-07 15:01] mattdot commented on #297
@nmiodice please assign me to this one.

[2020-05-07 15:07] nmiodice commented on #297
@mattdot I'm curious -- will this resource be for an arbitrary docker registry that uses username/pass to authenticate? If so, perhaps [resource_serviceendpoint_dockerhub](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/azuredevops/resource_serviceendpoint_dockerhub.go) can be extended by:
- Adding a new field called `registry_endpoint`
- Having `registry_endpoint` default

[2020-05-07 15:52] LaurentLesle commented on #293
I have some situations when the agent pools are already provisioned at the organization level and I want to use the data source to check if the agent pool already exist and skip the creation of the agent pool.

something like that

[code]

[2020-05-07 15:53] nmiodice commented on #273
This should be fixed so I'll go ahead and close the issue. If you find other related issues, please do not hesitate to re-open or create a new bug!

[2020-05-07 15:53] #273 closed

[2020-05-07 17:37] nmiodice commented on #300
Based on your description, it sounds like what you really want is an `azuredevops_agent_queue` resource, which is described by this [API](https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/queues/add?view=azure-devops-rest-5.1):

[code]

Can you confirm?

[2020-05-07 18:12] nmiodice commented on #298
Fixed

[2020-05-07 18:13] nmiodice commented on #248
Based on the updated description, I'll go ahead and close this. You can re-open if you'd like to continue the discussion.

[2020-05-08 01:09] LaurentLesle commented on #300
Correct. Let me adjust the name of the issue

[2020-05-09 00:01] nmiodice commented on #221
This feature is now merged

[2020-05-09 11:00] rmaziarka commented on #142
@lachie-white I think that Terraform should support both options because both options are available in the Azure DevOps portal.

First is available in the creation of Service Connection:
![image](https://user-images.githubusercontent.com/5219374/81471791-f616ef00-91f3-11ea-9517-412be6202da0.png)
The second is available in pipeline view:
![image](https://user-images.githubusercontent.com/5219374/81

[2020-05-11 11:37] EliiseS commented on #294
This is fixed by PR: https://github.com/microsoft/terraform-provider-azuredevops/pull/277

[2020-05-11 15:43] #294 closed

[2020-05-11 19:40] tmeckel commented on #276
@nmiodice there you go => #311 have fun reading it.

[2020-05-12 15:40] nmiodice commented on #311
Thanks for the writeup @tmeckel - I think that this is a worthwhile pursuit. A questions to help me learn a bit more...

Are you referring to changes manually made to files that reside in `vendor/`, or changes that have been made in the packages and incorporated into the `vendor/` directory via `go mod vendor`?

[2020-05-12 15:51] tmeckel commented on #311
@nmiodice Ha! Same question @EliiseS had yesterday ... Hold on I'll copy my answer from LinkedIn 😁

And well of course you can inadvertently or intentionally manually incorporate changes to the vendor directory. Me and @tiwood are using this approach to fix the nasty error in the DevOps Go API, which prevents us from rolling out support for permission related feature in the provider.

This particu

[2020-05-13 11:06] EliiseS commented on #172
Here's are the discoveries I've made while researching this issue:

**POST** `https://<azdo>.visualstudio.com/_apis/distributedtask/variablegroups`
[code]
- This API does not have validation on what the parameters can be set to. I've been able to set these parameters to various incorrect values: `key`, `value`, `enabled`, `expires`, `content_type`, `serviceEndpointId`, `vault`.
- This API endpoint

[2020-05-13 15:42] tmeckel commented on #172
@EliiseS I see you used Postman for your analysis. I'd prefer to use the officially maintained Python API which allows me to switch between API Versions 5.1 and 6.0.  In addition `api-version=5.0-preview.2` is pretty outdated. Perhaps `api-version=5.1` (the official one) is worth a try.

To my own shame, I have to say that I personally have fallen for the problems with the different API versions s

[2020-05-13 17:19] nmiodice commented on #314
@lachie-white can you provide the configuration you used that fails? I have the following configuration that applies without any error agains the latest master

[code]

[2020-05-14 03:31] xuzhang3 commented on #316
@mindlessroman
Sorry this REAMME.md file misleading you. This file was prepared for migrate this provider to Terrform official repository,  some path or rep path had been changed to a place not exist. I will change this file or you can help update this file.

I will change this introduce looks like:
[code]

[2020-05-14 03:40] xuzhang3 commented on #311
I think we should submit in a separate PR when we need update `go.mod` file. In this way , if one user update vendor files through `go mod vendor && go mod tidy`, another user won't be able to overwrite the vendor files already used.

[2020-05-14 07:05] tmeckel commented on #311
@xuzhang3 this could be a possibility as well. Perhaps we should ask someone from Hashicorp how they handle changes around `go.mod` and the `vendor` directory. Megan Marsh (@SwampDragons) comes to my mind for example, because she's maintaining [Packer](https://github.com/hashicorp/packer) for Hashicorp. And perhaps, in the end, I might over emphasize the importance and potential hazards which come

[2020-05-14 07:20] xuzhang3 commented on #311
@tmeckel
Hashicorp handle `go.mod` update in separate PR.

[2020-05-14 09:36] tmeckel commented on #174
@nmiodice  I'm a bit late here for sure :grin: but why does the acc test still fail, although we're utilizing the `WaitForState` pattern?

https://github.com/microsoft/terraform-provider-azuredevops/blob/3de82399117f659947f101707bce1fcf97094138/azuredevops/resource_group_membership.go#L82

[2020-05-14 09:39] tmeckel commented on #221
@nmiodice Can this be closed now?

[2020-05-14 09:42] tmeckel commented on #142
Correct me ... but isn't that implemented with

https://github.com/microsoft/terraform-provider-azuredevops/blob/master/azuredevops/resource_resource_authorization.go

https://github.com/microsoft/terraform-provider-azuredevops/blob/master/website/docs/r/resource_authorization.html.markdown

[code]

[2020-05-14 15:18] lachie-white commented on #142
I think the `authorization` part is now covered yes! as I believe is most likely this Issue in its entirety!

[2020-05-14 15:32] lachie-white commented on #314
Thanks for opening this issue @nmiodice, This could just come down to many documentation errors but either way its good to solve.

Firstly, within the Usage Example of the Readme, `repo_id` is not mentioned anywhere so following that will lead users to an issue straight away. It is also not within any of the other examples e.g. https://github.com/microsoft/terraform-provider-azuredevops/blob/maste

[2020-05-14 15:40] lachie-white commented on #315
Not sure if these all belong here but:

- ```repo_id``` is not mentioned anywhere in the documentation.
- Example is out of date and no longer works.
https://github.com/microsoft/terraform-provider-azuredevops/blob/master/examples/github-based-cicd-simple/main.tf
- Delete Resource Authorizations (Such as Github Service Connection Authorization) at the same time as a project deletion fails with an

[2020-05-14 16:05] mindlessroman commented on #316
Perfect!!!

[2020-05-14 16:13] erickascic commented on #315
the README.md references azuredevops_azure_git_repository instead of azuredevops_git_repository

[2020-05-14 16:43] nmiodice opened #318 "azuredevops_client_config data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-14 16:44] nmiodice opened #319 "azuredevops_org data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-14 17:01] nmiodice commented on #315
Keep the feedback coming! I have a branch where I am working through fixing these

https://github.com/microsoft/terraform-provider-azuredevops/tree/niiodice/docs-update

[2020-05-14 17:12] nmiodice commented on #314
Ok! This is good context. I'd like to mull on the right approach here for a bit. I'll report back when I have some quiet time to work through it.

[2020-05-14 17:12] nmiodice commented on #221
Oops... I thought I closed it :)

[2020-05-14 17:12] #221 closed

[2020-05-14 17:41] mindlessroman commented on #316
Just made the PR #317 if you want to review @xuzhang3

[2020-05-14 19:27] nmiodice commented on #315
I've created a [PR](https://github.com/microsoft/terraform-provider-azuredevops/pull/320) to address the following:
 - Validate all sample `*.tf` files
 - Validate all documentation for resources - includes documenting `repo_id` field
 - Validate all documentation for data sources
 - Fix `azuredevops_azure_git_repository` issue in main `README.md`
 - Fix typo for `auth_oath`
 - Explicitly link to

[2020-05-14 20:13] SwampDragons commented on #311
Hi! Thanks for pinging me. It's definitely a sticky problem and doesn't have a perfect answer. But here's a basic outline of how Packer approaches dependency management.

To address #1:  When possible, we try to live by "A little copying is better than a little dependency." (https://go-proverbs.github.io/).

Even with that guidelines, Packer is huge because of all the different APIs and use cases

[2020-05-14 21:38] nmiodice commented on #314
@lachie-white I went ahead and removed the redundant field in this PR https://github.com/microsoft/terraform-provider-azuredevops/pull/321

[2020-05-15 05:02] lachie-white commented on #315
@nmiodice :

If you build the below (sub in the correct PAT's) then try to remove it all in one step the error occurs.

[code]

[2020-05-15 07:19] tmeckel commented on #311
@SwampDragons  Megan, thank you very much for your detailed contribution and I knew why I wanted your opinion on the topic here in the discussion!

@nmiodice, @xuzhang3 from my point of view, we definitely should incorporate the Makefile command Megan mentioned in her answer as soon as possible. Regarding to the other answers we should define a process in a short time frame, how we want to handle

[2020-05-15 07:57] rmaziarka commented on #142
Maybe I don't see it, but is there an option to define `definitionId` in Terraform? As you can see in the [Microsoft API documentation](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/resources/authorize%20definition%20resources?view=azure-devops-rest-5.1#definitionresourcereference) related to the resource authorization you authorize resource with the particular build.

[2020-05-15 08:29] xuzhang3 commented on #311
@tmeckel  @nmiodice
I can update the `Makefile`.  Also I will update `ci.yml` file too,  current pipeline builds are not using `Makefile` commands

[2020-05-15 08:41] EliiseS commented on #311
@xuzhang3 I believe nick was looking into using the make file commands in CI yesterday, but I'm not sure how far he got

[2020-05-15 14:57] nmiodice commented on #315
Reproducing and found the issue. Implementing the fix today

[2020-05-15 16:06] nmiodice commented on #314
Closing as the docs have been fixed and redundant field removed

[2020-05-15 16:09] nmiodice commented on #142
I think it does indeed make sense to extend the current implementation with the ability to specify a `project_id` *or* a `definition_id`

[2020-05-15 16:21] nmiodice commented on #142
I probably won't get to this ASAP so if somebody from the OSS community would like to take a go at it, please do!

[2020-05-15 18:13] nmiodice commented on #311
Not very far @EliiseS

[2020-05-15 18:16] nmiodice commented on #174
That's a good question. If I'm honest, my memory of the reason behind the failure is fuzzy. I'd need to dive back into it to explore.

[2020-05-15 18:25] nmiodice commented on #316
Merged, so I'll close this issue. Thanks @mindlessroman !

[2020-05-15 18:28] nmiodice opened #324 "Introduce rich package structure to codebase"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-15 19:45] nmiodice commented on #324
cc @xuzhang3

[2020-05-15 20:16] nmiodice commented on #324
I have a [branch](https://github.com/microsoft/terraform-provider-azuredevops/tree/niiodice/refactor-effort-POC) where I am playing around with some ideas to see what works and what doesn't. The branch is a POC and so it will not be suitable for any kind of merge. At least not as of today.

### Findings So Far

- The API structure, which is also the same structure used by the [Go SDK](https://gith

[2020-05-16 15:22] tmeckel commented on #324
@nmiodice In my experience, I can say that the deeper, or you could say more detailed, a folder structure is set up for a project, the more you will (wildly) browse through the various folders to find the code you need. Even if modern IDEs help you to navigate by pressing F12 or another hotkey to browse between your code, personally, this jumping back and forth between folders or files annoys me.

[2020-05-16 15:58] nmiodice commented on #318
Merged

[2020-05-16 15:58] #318 closed

[2020-05-16 15:59] nmiodice commented on #315
I believe all of the items here are closed out. @lachie-white can you confirm? If so, we can consider this issue closed!

[2020-05-16 16:06] nmiodice commented on #325
Hi @mathieu-benoit - The instructions (for now) to use this provider can be found [here](https://github.com/microsoft/terraform-provider-azuredevops#developing-the-provider). You'll need to run `./scripts/build.sh && ./scripts/local-install.sh` to side-load it into your local plugins folder. Then your `init` should work without issue.

You can follow along with [this issue](https://github.com/micr

[2020-05-17 03:27] lachie-white commented on #315
LGTM! Awesome work, I can't wait till this is in the registry and ready to be used!

[2020-05-17 13:08] mathieu-benoit commented on #325
Ok got it, go to know, thanks. Do you think having a section in the main README.md which call out "how to install this tf provider"?

[2020-05-18 06:43] xuzhang3 commented on #311
I have a branch working on this feature too and nearly finished it.

[2020-05-18 11:29] EliiseS commented on #300
I'm working on adding agent pool and agent pools data

[2020-05-19 12:18] xuzhang3 commented on #324
@tmeckel  @nmiodice
In my experience , construct a rich package construct  is always a good idea. I used to manage project that more than 1000k code lines. By a good defined package construct, we can get a clear view of the whole project. These projects package construct looks like `feature`, `feature2`, `utils\help`, `common` etc.
I agree with @tmeckel's  idea ` laying out the folders along the s

[2020-05-19 13:35] tmeckel commented on #324
@xuzhang3 kudos about the idea having a structure that mimics the REST API go to @nmiodice :grin:
But what's your guys opinion about my proposal to have all acceptance tests inside a separate directory (like `acctests`) on the top level of the source code alongside `azuredevops`, `vendor` etc.?

[2020-05-19 20:57] nmiodice commented on #324
@tmeckel @xuzhang3 I like the idea of keeping all of the acceptance tests in a directory like `acctests` or similar as it does indicate that the tests are not dependent on the implementation and it makes it easier to keep some testing code isolated to a single package a little bit easier.

@xuzhang3 the "correct" package structure is used in the autogeneration of the [GO SDK](https://github.com/mi

[2020-05-19 20:59] nmiodice commented on #325
I do indeed, however, part of https://github.com/microsoft/terraform-provider-azuredevops/issues/241 is migrating to what the steps *should/will* be and so we made a decision to remove them for the time being.

If this process is delayed we can add them back in.

[2020-05-19 21:00] nmiodice commented on #293
@EliiseS are you working on this? If so, please assign to yourself

[2020-05-19 21:12] EliiseS commented on #293
Right, I didn't see this one. I have also assigned myself to the other one: https://github.com/microsoft/terraform-provider-azuredevops/issues/300

But I think it I misunderstood the other one, because I thought it was about getting an agent pool too.

[2020-05-19 21:18] EliiseS commented on #300
I'm working on adding the data right now, so I'll free this ticket up incase someone else has bandwidth to add this before I will.

[2020-05-20 05:04] xuzhang3 commented on #324
@nmiodice @tmeckel  Current test file contains all the acceptance test and unit test in one file. Split acceptance tests into separate folder, we need two test files, `_test` and `acctest_test` or keep in the `_test` file?

[2020-05-20 14:35] nmiodice commented on #324
@xuzhang3 I was thinking that each resource would still have *unit* tests that sit alongside the implementation (so it is possible to test private functions), whereas the *acceptance* tests sit in a different folder all together

I'll start adding version #s to my proposals:

## Proposal v2.1
**`azuredevops/`**
Contains
- `provider.go`
- `provider_test.go`

**`azuredevops/internal/core/`**
- imple

[2020-05-20 21:51] nmiodice commented on #300
WIP branch - https://github.com/microsoft/terraform-provider-azuredevops/tree/niiodice/agent-pool-queue

[2020-05-20 22:28] seqdan commented on #325
I had the same issue as @mathieu_benoit : It took me a while to figure out how to install and use the provider. Maybe something very simple like https://github.com/microsoft/terraform-provider-azuredevops/pull/331 would help.

[2020-05-21 18:36] EliiseS commented on #324
@nmiodice I agree with keeping acceptance tests separate, while keeping unit tests by the files. This is a common placement of tests for golang projects.

[2020-05-21 18:58] nmiodice commented on #300
PR posted. cc @LaurentLesle

[2020-05-21 21:29] nmiodice commented on #324
@EliiseS Have a read over this link and let me know if it changes your perspective - https://golang.org/doc/go1.4#internalpackages.

My reasoning for using it is that it keeps all of the stuff we don't care to export -- everything except the main `Provider` -- internal to the module so that nobody else can import it in their Go applications.

It is not necessary, but nice to have (In my opinion).

[2020-05-21 22:54] EliiseS commented on #324
Oh, I see! It's a keyword package, that's nice. Well in that case I think it's a great idea :)

[2020-05-22 04:20] exocom commented on #281
Added #333 with WIP in the title. We use the code from the PR on a daily basis and it does function, however, there are many gotchas. So next up is adding documentation so others can easily try it out.

Looking forward to making this happen with help form the community.

[2020-05-22 09:55] tmeckel commented on #324
@nmiodice I agree with @EliiseS, great catch!! As her I was not aware of the fact that the directory named `internal`is used as a keyword to separate public and private packages and I always thought that the guys from Hashicorp used the directory name simply because it sounds good 😁 You live and learn!

Anyway ...  I like your proposal v2.1, and moving the acceptance tests to a directory `internal

[2020-05-22 17:41] nmiodice commented on #281
This is awesome to see @exocom! Thanks for the contribution.

Based on the size of the implementation we may want to consider hosting this code, or a lot of the specific implementation logic, in its own package. cc @xuzhang3

[2020-05-25 23:01] carlosjourdan opened #335 "Login with Service Principal instead of PAT"
How can I login with Service Principal instead of using Personnal Access Tokens when running terraform commands?

I'm trying to build an Azure Devops project that will be used to manage terraform files and deploy other Azure Devops projects. The idea is to have a git repository with .tf files, and a pipeline that will execute terraform apply. But in order to do that, I need to have persistent cred

[2020-05-26 00:11] nmiodice commented on #335
@carlosjourdan can you elaborate on why a PAT is not sufficient for your use case? Can you provide a link to the documentation that describes, in detail, the authentication strategy you want to use?

[2020-05-26 00:40] carlosjourdan commented on #335
Looking into the [docs](https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/authentication-guidance?view=azure-devops) I found out that "The Azure DevOps API doesn't support non-interactive service access via service principals."

So I guess there's nothing to be done here unless that changes.

Thanks anyway.

[2020-05-26 00:40] #335 closed

[2020-05-26 06:23] xuzhang3 commented on #281
I think we should separate `rich package` and `release definition` into two PRs, they have different  feature and different purpose.

[2020-05-26 08:04] edwardwu-servian opened #336 "`ci_trigger` and `pull_request_trigger` blocks cause error for build definitions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-26 09:23] carlosjourdan opened #337 "Hide secret variable from plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-26 16:08] nmiodice commented on #336
I'm not a bitbucket expert so I may be messing up the terms here, but the `repo_id` in this case, and for GitHub, will look like the following (using this repo as an example): `microsoft/terraform-provider-azuredevops`. So it is `<org>/<repo>`.

[2020-05-26 16:25] nmiodice commented on #336
I've clarified this in https://github.com/microsoft/terraform-provider-azuredevops/pull/338

[2020-05-26 16:28] nmiodice commented on #51
Fixed now with the inclusion of the oauth block

[2020-05-27 01:43] edwardwu-servian commented on #336
Thank you for getting back so fast!

`repo_id = var.repo_name` does work. However, I had to remove `ci_trigger` block and `pull_request_trigger` during `terraform apply`. Including either of these blocks resulted in a failure. Please refer to below as an example.

### Terraform Configuration Files
[code]

### Debug Output

https://gist.github.com/edwardwu-servian/bc395317b04d453ff3252d693198a997

[2020-05-27 10:42] xuzhang3 commented on #336
@edwardwu-servian
Looks like it is a bug when create `build_definition ` with `bitbucket ` repos. I can reproduce your error , but not sure what's wrong .I will follow up this issue.

[2020-05-27 13:09] eissko opened #341 "PROVIDER_VERSION is hardcoded with version 0.0.1 and not got updated by version tag"
Hello MSFT,
we had been struggling with aztfmod/rover which consumes azuredevops provider here in Dockerfile (https://github.com/aztfmod/rover/blob/1e1c15cb3c78c79c83acdb2d7341f6258bad3476/Dockerfile#L42).

It took a lot of time to debug. When we attached to the container - every azuredevops provider having in it is name suffix 0.0.1 regardless the version commit/tag version used - in fact it is t

[2020-05-27 20:35] nmiodice commented on #341
@eissko, can you help me understand the pain this is causing within the dockerized context? The `PROVIDER_VERSION.txt` strategy is not in-line with our long term versioning goal (we hope to snap to the strategy used by other TF providers) and so I'd like to better understand so we can align on the right path forward.

[2020-05-27 20:38] nmiodice commented on #337
@xuzhang3 I think the same strategy can be used with the `azuredevops_build_definition` resource, as it consumes variables that may be secrets as well.

Personally, I like the approach to have a `secret_value` (or `secret`) field and remove the `is_secret` flag, as the value cannot be marked as sensitive in the schema dynamically.

This would bea breaking change, though. What do you think @xuzhang

[2020-05-27 20:41] nmiodice commented on #336
That sounds good to me @xuzhang3. I renamed the issue to increase clarity, but i'll leave the real work to you :)

[2020-05-27 20:42] #184 closed

[2020-05-27 20:46] nmiodice commented on #324
cc @xuzhang3 I believe you should be making the final call here. Are you OK with proposal **V2.1**?

[2020-05-27 20:54] eissko commented on #341
not big pain for me. as I mentioned above - another project also led by ms team using you build.sh to compile the provider. hence the provider artifact in that docker build always end-up with same name even it is different version.

using this part of code:

`function compile() {
  NAME=$(cat "$PROVIDER_NAME_FILE")
  VERSION=$(cat "$PROVIDER_VERSION_FILE")

  BUILD_ARTIFACT="terraform-provider-${N

[2020-05-27 21:28] nmiodice commented on #311
I've gone ahead and integrated the vendor checks into the CI - see the linked PR. Note, I ended up using the following:

[code]

This is slightly different than the example shared by @SwampDragons - I found that by using the `git diff` approach it would not catch *new* files (i.e., an added dependency) as changes caused by *new* dependencies were not staged changes, and therefore not picked up by

[2020-05-28 01:46] carlosjourdan commented on #337
Although it's a breaking change, I think it makes sense from a security perspective. I was linking the variable to a password that is generated on a predecessor task. In the first run this didn't catch my attention, as it was marked to be set after the run. But then I went on to change another variable on the same group and the plan showed the secret even though I wasn't touching it. I think this

[2020-05-28 03:32] xuzhang3 commented on #337
@nmiodice I think we can keep the `is_secret`, this can inform the user that if they want config a secret value or not.
Config without `is_secret`:
[code]

[2020-05-28 03:53] xuzhang3 commented on #337
@nmiodice Agree with your idea, remove `is_secret` and  add new filed `secret_val`.

[2020-05-28 03:57] xuzhang3 commented on #324
@nmiodice  Looks good, Agree with your idea and proposal **V2.1**

[2020-05-28 07:26] xuzhang3 commented on #341
@eissko ADO provider release with `goreleaser` , [you can find the release here](https://github.com/microsoft/terraform-provider-azuredevops/releases). We already release new version with tag.

[2020-05-28 12:05] tmeckel commented on #311
@nmiodice great catch to use `git status` to detect new files in the vendor branch as well!! Like it! Perhaps @SwampDragons will adapt your solution in Packer 😁

[2020-05-28 13:41] nmiodice commented on #311
If I’m not mistaken, I believe this issue can be closed. Feel free to re-open if I’ve missed anything here.

[2020-05-28 14:59] tmeckel commented on #311
@nmiodice  With #343 we ensure that `vendor` and `go.mod` are in sync. But what's the process around introducing new packages in `go.mod`?

[2020-05-28 15:32] nmiodice commented on #311
I've tried to elaborate on that here, @tmeckel: https://github.com/microsoft/terraform-provider-azuredevops/blob/master/docs/contributing.md#8-post-a-pr

were you thinking something more explicit?

[2020-05-28 16:34] tmeckel commented on #311
@nmiodice oh I'm sorry Nick! I simply overlooked this. Good wording! Although as a German I would prefer a checklist, of course. Naaaa ... just kidding! 😁 So IMHO because all objectives of this issue has been achieved, you were right to close it! 👍

[2020-05-28 17:19] KeithJRome commented on #346
AZDO Projects always include a default repo. You can see this behavior if you manually create a project in the portal as well.

[2020-05-28 21:46] nmiodice commented on #346
@carlosjourdan - I recommend using the date resource for [git repos](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/website/docs/d/data_git_repositories.html.markdown)

This will load all, but will allow you to filter on the name. We do not yet have one that loads a specific git repo, but it will be simple to implement. Would you like to see this feature? cc @xuzhang3

[2020-05-28 21:47] nmiodice opened #347 "Migrate acceptance tests into their own folder"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-05-29 03:01] xuzhang3 commented on #346
@carlosjourdan
You can refer the created  `repo` with [data_git_repositories](https://github.com/microsoft/terraform-provider-azuredevops/tree/master/website/docs/d).
An HCL config example :
[code]

[2020-05-29 12:34] nmiodice commented on #311
Hah!! That made me chuckle :). I’ll go ahead and close this out. Not a bad way to start my Friday!

[2020-05-29 15:43] tmeckel commented on #346
Well this only will work when the Project is initially created and no other Git Repos are created. As far as I remember there's no flag which indicates the default Git Repo for a project. The only way, to some extend, to find the "default Git Repository" is to use the name of the (created) project as the name of the Git Repository in question.

[2020-05-29 18:05] carlosjourdan commented on #346
Thank you all for the tips. Apparently the data_git_repositories with filtering will suffice.

I'm very new to Terraform, so there's still a lot of room to cover. But I was able to accomplish a lot in the past few days, in many ways thanks to this project. I was able to provision a devops project that includes the terraform source code and a pipeline to apply it. So, after the inital apply, all fu

[2020-05-29 18:41] nmiodice commented on #346
@carlosjourdan you may want to take a peek at this piece of Terraform code, which automates AzDO in a similar way you are describing:

https://github.com/microsoft/cobalt/tree/master/infra/templates/ado-bootstrap-iac-pipeline

[2020-05-29 18:41] nmiodice commented on #346
I'll go ahead and close this issue, but feel free to re-open if you have any questions. We are always happy to lend a hand!

[2020-05-29 20:17] nmiodice commented on #319
I am not finding any public APIs for the organization, so I'll be closing this as there seems to be no feasible and long-term supportable path to supporting this use case.

[2020-05-29 20:17] #319 closed

[2020-05-29 20:18] nmiodice commented on #164
Closing with no plans to fix

[2020-05-29 20:18] tmeckel commented on #311
@nmiodice just stumbled upon this
go-mod-outdated: A Tool to Find Outdated Dependencies - https://t.co/pjIksbrYhN

[2020-05-29 20:21] nmiodice commented on #135
Duplicate of https://github.com/microsoft/terraform-provider-azuredevops/issues/197

[2020-05-29 20:42] nmiodice commented on #155
This should be solved via the `vendor` directory now. The contents of this directory are asserted to be accurate via `make check-vendor-vs-mod` on each PR as well.

[2020-05-29 21:20] carlosjourdan commented on #346
Wow, this cobalt project is almost exactly what I have built! I guess it was still worth going through this process to get the hang of how terraform works.

Now I'm trying to modularize it to scenarios where some projects have multiple repos and pipelines. I just need to set up the proper permissions for the main bootstrap service principal so that it can create other service principals.

Thanks a

[2020-05-30 02:20] nmiodice commented on #346
I am a core contributor for that project as well - happy to help you on your journey if you have any questions that come up!

[2020-06-01 07:53] edwardwu-servian opened #350 "`id` output from Agent Pool is not a UUID valid for authorization"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-01 10:38] xuzhang3 commented on #350
@edwardwu-servian
Currently `azuredevops_resource_authorization` only support service connection resources. [You can find document here](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/website/docs/r/resource_authorization.html.markdown)

[2020-06-01 10:43] edwardwu-servian commented on #350
Ah thanks, closing this one

[2020-06-01 10:43] #350 closed

[2020-06-01 18:11] nmiodice commented on #351
@carlosjourdan we had initially thought about this as the implementation strategy but decided against it because it makes managing a variable group extremely difficult, if not impossible. This is due to the following:

* The variable definition/entity itself includes the keys/values of each of the variables in that group
* Secret values are not returned from the API

Based on this, its not possibl

[2020-06-01 18:55] nmiodice commented on #350
@edwardwu-servian - this behavior will be more flexible once this PR is merged, by the way:

https://github.com/microsoft/terraform-provider-azuredevops/pull/332

[2020-06-01 19:21] nmiodice commented on #352
I'll wait until https://github.com/microsoft/terraform-provider-azuredevops/pull/348 is merged. My branch has this implemented but it depends on that PR being merged - https://github.com/microsoft/terraform-provider-azuredevops/tree/niiodice/move-resources

[2020-06-01 21:51] #293 closed

[2020-06-01 22:41] nmiodice commented on #354
cc @xuzhang3

[2020-06-01 22:43] EliiseS commented on #354
[code]

https://dev.azure.com/terraform-azdo/terraform-provider-azuredevops/_build/results?buildId=1104&view=logs&j=b08f2e40-82fb-586f-1049-b3a2527363c9&t=a6782e9d-c568-5eeb-da73-1de6887d27cb

[2020-06-01 23:05] #172 closed

[2020-06-01 23:14] edwardwu-servian commented on #350
Thanks for letting me know!

[2020-06-02 09:39] xuzhang3 commented on #354
Not sure what caused this problem,  guess it was caused by parallel operations on the same project. Need more investigation.

[2020-06-02 12:28] tmeckel commented on #354
I'd like to cite my statements about data sources and resources in Terraform and what implementation requirements they have.

https://github.com/microsoft/terraform-provider-azuredevops/pull/292#issuecomment-637467698

[2020-06-02 21:03] nmiodice opened #357 "Acceptance tests not run as part of CI"
The acceptance tests have stopped running as a part of a bug introduced by https://github.com/microsoft/terraform-provider-azuredevops/pull/348.

The bug occurs because there are no implementation files inside the `azuredevops/internal/acceptancetests` folder. Therefore, it is not identified as a package when running `go list ./...`, and the tests are not found by the CI.

The fix is to add an emp

[2020-06-02 21:58] #357 closed

[2020-06-02 22:03] nmiodice commented on #347
PR merged

[2020-06-02 22:03] #347 closed

[2020-06-02 22:03] nmiodice commented on #324
Closing, as the implementation stories have been written.

[2020-06-02 22:03] #324 closed

[2020-06-03 01:37] nmiodice commented on #354
Another one:
https://dev.azure.com/terraform-azdo/terraform-provider-azuredevops/_build/results?buildId=1129&view=logs&j=b08f2e40-82fb-586f-1049-b3a2527363c9&t=a6782e9d-c568-5eeb-da73-1de6887d27cb
[code]

[2020-06-03 03:21] xuzhang3 commented on #336
I try communicate this issue with service team,  bad luck, no helpful information. They suggest open a report for customer support team. [report link](https://developercommunity.visualstudio.com/content/problem/1062011/can-not-create-a-build-definition-with-bitbucket-a.html)

[2020-06-03 04:07] edwardwu-servian commented on #336
So the behavior without `ci_trigger` and `pull_request_trigger` is that the pipeline is still created with trigger - they are just not enabled (overriden).
Interestingly, the same yaml could create a pipeline from the Azure DevOps frontend with triggers enabled. I wonder if there's any issues related to this in the REST API

![image](https://user-images.githubusercontent.com/65932538/83594716-4a1e

[2020-06-03 16:46] nmiodice opened #360 "Non list data sources should return an error from `Read` for resources that are not found"
Based on the lengthy exploration/discussion in [PR 292](https://github.com/microsoft/terraform-provider-azuredevops/pull/292) as well as the confirmation of @tmeckel's findings through the [Plugin SDK forums](https://discuss.hashicorp.com/t/data-source-behavior-resource-not-found/9542), we identified that some data sources are not handling _404 Not Found_ scenarios correctly.

The correct behavior

[2020-06-03 20:50] nmiodice commented on #300
@LaurentLesle this feature has been merged!

[2020-06-03 21:22] nmiodice commented on #354
See #360 and #361

[2020-06-03 21:30] nmiodice commented on #360
Request to improve documentation in HashiCorp's website and code: https://github.com/hashicorp/terraform-plugin-sdk/issues/467

[2020-06-04 10:00] xuzhang3 commented on #353
@AgileCloudInstitute`import` is not yet supported. Sorry the documentation misled you
cc @nmiodice

[2020-06-04 14:27] #336 closed

[2020-06-04 17:04] nmiodice commented on #360
Merged

[2020-06-04 17:04] #360 closed

[2020-06-04 17:53] nmiodice commented on #351
Closing with no plans to fix

[2020-06-05 07:30] xuzhang3 commented on #354
I will close this issue as the retry logic for project create and update has been added in PR #362 .

[2020-06-05 07:48] xuzhang3 commented on #352
Close this issue as #356 has been merged

[2020-06-05 07:51] #341 closed

[2020-06-05 07:52] #257 closed

[2020-06-05 09:07] xuzhang3 commented on #229
@amnk you can find github service endpoint document here [link](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/website/docs/r/serviceendpoint_github.html.markdown)

[2020-06-05 09:11] xuzhang3 commented on #353
Relate issue #98

[2020-06-05 09:14] xuzhang3 commented on #162
Closing this issue due to #304

[2020-06-05 09:16] xuzhang3 commented on #177
@nmiodice  Can this issue be closed ?

[2020-06-05 13:04] #177 closed

[2020-06-05 19:10] nmiodice commented on #162
Re-opening - 304 was for docker registry connections. There is another type - ACR - which does not require a username/password

[2020-06-05 20:51] AgileCloudInstitute commented on #353
Can you please suggest an automated alternative to import code from another outside git repo into a an Azure git repo created using `azuredevops_git_repository`, at the time of creation?

Perhaps a terraform output variable for the newly created Azure git repo would be fed into a separate script in another language?

A link to a working example and explanation would be ideal.

This must be a very

[2020-06-08 03:28] xuzhang3 commented on #353
@nmiodice   Do you know any workaround for this issue?

[2020-06-09 07:40] xuzhang3 commented on #366
@russellmccloy  I have fix this in #368 and release a new version V0.1.3.

[2020-06-09 08:27] xuzhang3 commented on #367
@edwardwu-servian Took a look of this issue, this is a bug. Thanks for your feedback.

[2020-06-09 14:53] aledeniz commented on #241
Hi @cgriggs01,

Is [github.com/terraform-repositories/](https://github.com/terraform-repositories/) a private repo?

I can see [github.com/terraform-providers/](https://github.com/terraform-providers/), but I cannot find [github.com/terraform-repositories/](https://github.com/terraform-repositories/).

Will this project be eventually migrated to [github.com/terraform-providers/](https://github.com

[2020-06-09 21:02] simongottschlag opened #370 "Implement new resource "AWS Service Endpoint""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-10 05:32] xuzhang3 commented on #370
Potential HCL config:
[code]

[2020-06-10 05:34] xuzhang3 commented on #366
Closing this issue due to #368

[2020-06-10 08:33] russellmccloy commented on #366
Thanks @xuzhang3 really fast turn around. 👍

[2020-06-10 12:03] ams0 opened #372 "Manage SSH keys in a repo"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-11 03:26] xuzhang3 commented on #372
Hi @ams0, thank you for opening this issue. This new feature will be blocked due to SDK does not support this API. [Azuredevops API SDK](https://github.com/microsoft/azure-devops-go-api/)

[2020-06-11 04:43] xuzhang3 commented on #367
Close this issue due to #369

[2020-06-11 22:01] phillebaba commented on #370
So I implemented an AWS service endpoint resource.
https://github.com/phillebaba/terraform-provider-azuredevops/blob/aws-service-connection/azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_aws.go

The only thing that does not seem to work are the confidential values. The paramters `secret_access_key` and `session_token` are not returned by the api, causing issues with the stat

[2020-06-11 22:38] mxrss2 commented on #353
you could just use a provisioner block to git push a sample repo into the repository.

Look up provisioners block in the terraform documentation @AgileCloudInstitute.

[2020-06-11 22:50] mxrss2 opened #373 "Support Importing Git Repository Resources -- azuredevops_git_repository"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-12 10:19] xuzhang3 commented on #370
@phillebaba  Thanks for you contribute, wonderful work.  I'm not experience with AWS, I guess that `secret_access_key` and `session_token` can only get from AWS portal or CLI. You can reference here [Bitbucket handle password ](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_bitbucket.go#L15),  `password`

[2020-06-12 10:22] xuzhang3 commented on #370
@phillebaba I assign this task to you.

[2020-06-15 09:45] xuzhang3 commented on #353
closing this issue due to #373

[2020-06-16 08:47] phillebaba commented on #370
I looked a bit closer at how the other resources did and realized that they do not store the secret as it is not returned by the API. Instead they use a custom diff function and a hash of the secret to detect when any changes are made.

I will change my secrets handling to it works in the same way, and I guess it should work.

[2020-06-16 19:26] AgileCloudInstitute commented on #353
@mxrss2   @xuzhang3   How do you suggest getting credentials through the provisioner block that you suggest?  When we add a provisioner block inside the `azuredevops_git_repository` declaration, Terraform prompts for a manual input of password for the repo.  There is no mention of how to set a repo password in this `azdo provider` documentation for `azuredevops_git_repository`, and we cannot leave

[2020-06-16 20:30] phillebaba commented on #370
@xuzhang3 I made the changes so that the state is not out of sync all the time. I am not familiar with how your testing environment looks like though. Should I go ahead and implement a test that just assumes that aws-toolkit-azure-devops is installed?

[2020-06-16 20:42] mxrss2 commented on #353
@AgileCloudInstitute

Your just pushing a git repo, a simple shell script can import the repo. If you want to pull from a cloned url you just use NetRC or SSH keys to authenticate to the repo.

The item that @xuzhang3 mentions is a different ask, its not an import and `import` is a really bad name to use. because of this confusion. These tickets are asking different questions. One is to support th

[2020-06-16 20:58] AgileCloudInstitute commented on #353
@mxrss2    @xuzhang3    @nmiodice

Here is the code we are using now:

    resource "azuredevops_git_repository" "repository" {
        project_id = azuredevops_project.project.id
        name       = "my-simple-repo"
        initialization {
          init_type = "Clean"
        }
        provisioner "local-exec" {
            command = "git remote set-url origin ${azuredevops_git_repository.repo

[2020-06-16 21:42] mxrss2 commented on #353
@AgileCloudInstitute

Are you doing this through a container to do the push? Does it work when you run this locally?

[code]
You are using a local provisioner. You will need to source the key using ssh-key-agent or use .netrc

NetRC (https://ec.haxx.se/usingcurl/usingcurl-netrc)
SSH-Agent (https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_keymanagement)

I usually do m

[2020-06-17 02:41] #337 closed

[2020-06-17 03:17] xuzhang3 commented on #370
@phillebaba  We use Terraform acceptance test framework for testing, acceptance test will create real resource and destroy it after test finished ([Acceptance Test Document](https://www.terraform.io/docs/extend/testing/acceptance-tests/index.html)). You don't need to judge whether the organization has installed the aws-toolkit-extension. When required resource not found, service API will return an

[2020-06-19 01:16] lachie-white commented on #241
https://www.terraform.io/docs/providers/azuredevops/index.html !!!!!!!!!!!

[2020-06-19 02:40] xuzhang3 opened #376 "Notification of migration to Terraform"
[New Repository Address](https://github.com/microsoft/terraform-provider-azuredevops)
To everyone who contributes to ADO providers and ADO users. The ADO provider has been migrated to the official Terraform repository. If you have any questions or new PRs to submit, please go to the new repository. Thank you to everyone who has contributed to this repository 🥇.

[2020-06-20 21:07] rmaziarka commented on #142
Today I had some time to sit down to this issue.

`azuredevops_resource_authorization` works great if you want to add service connection to the whole project - this is a situation in service connection edit panel after running `terraform apply`:
![image](https://user-images.githubusercontent.com/5219374/85211361-a9711880-b348-11ea-9316-32fea4d6e4cf.png)

In the same time, adaptation to additionall

[2020-06-22 08:26] tiwood commented on #376
Should we move our active PRs to the new repository?

[2020-06-24 21:27] AgileCloudInstitute commented on #353
@mxrss2   @xuzhang3  @nmiodice

We need to authenticate using a personal access token due to the way that secrets are designed to flow through the system in which this will run.

We are currently getting the following error message:

    (local-exec): fatal: No such URL found: https://MyOrganization@dev.azure.com/MyOrganization/MyProject/_git/MyRepo

When we run the current generation code, which

[2020-06-24 23:49] AgileCloudInstitute commented on #353
@mxrss2   @xuzhang3  @nmiodice

We just substantially re-wrote the preceding comment to make it easier for you to answer.  Not sure if you are messaged when we re-write a comment like that, so we are adding this brief comment to trigger the system to ping you to alert that we have a clearly stated question above.

[2020-06-25 15:12] jakobyte1024 opened #377 "Create Fork with azuredevops_git_repository parent_id not working"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-06-25 20:31] mxrss2 commented on #353
@AgileCloudInstitute

Lets look at some simplification before we make this too complicated

[code]

[2020-06-27 21:16] C123R commented on #364
Hey @xuzhang3 👋, can I give a shot?

[2020-06-28 03:15] xuzhang3 commented on #376
@tiwood Sorry for reply late. Yes, you need submit your active PRs to new repository.

[2020-06-28 03:44] xuzhang3 commented on #364
Hi @C123R Sorry for reply late. Thanks for you participate. We have migrated this repository to terraform-provioder. I will transfer the issues to the new repository. But you can start your work. [New Repository Address](https://github.com/terraform-providers/terraform-provider-azuredevops)

[2020-06-28 05:39] xuzhang3 commented on #353
@AgileCloudInstitute You can add your SSH key though portal.
[Reference Document](https://docs.microsoft.com/en-us/azure/devops/repos/git/use-ssh-keys-to-authenticate?view=azure-devops&tabs=current-page)
![image](https://user-images.githubusercontent.com/57888764/85938751-86df9080-b942-11ea-89b4-2510e6cbaeff.png)
****

[2020-06-28 16:25] C123R commented on #364
@xuzhang3 @nmiodice just one more question, I have another WIP pull request #306 which is currently blocked due to [AZDO GO SDK](https://github.com/microsoft/azure-devops-go-api/issues/67). Should I create (copy of)an issue in the new repo?

[2020-06-29 02:16] xuzhang3 commented on #364
Hi @C123R I will transfer the whole issues to new repo later.  You can create a new issue in the new repo too, I will handle the duplicate issues.

[2020-06-29 12:52] muellermatthias commented on #377
I ran into the same problem.
After checking the code I found the option `parent_repository_id`.
Using that will result in a terraform crash: `panic: runtime error: invalid memory address or nil pointer dereference`, but will fork the repo successfully at the same time.

Terraform v0.12.13
+ provider.azuredevops v0.0.1

[2020-06-30 11:17] anikm1987 opened #378 "Github service connection for Github enterprise"
Hi,
I was trying to create service connection for GITHUB enterprise but unable to find any option to provide server url.
Is this feature planned?
Is there any other way I can do that.
Thanks

[2020-06-30 11:21] anikm1987 opened #379 "Service Connection for Azure China and ablity to select management group"
Hi,
Currently I am not able to find any option to set azurm_enviornment while creating service connection which is kind of restricting me to use it for Azure China cloud.

Also in service azuredevops_serviceendpoint_azurerm, there is no option to provide management group as an option.

Is this planned for future release?

Thanks
Aniket

[2020-06-30 18:50] cd83 commented on #377
Terraform v0.12.24

I can confirm that using `parent_repository_id` works as @muellermatthias stated. However, Terraform does not crash in my case and instead I get the following error message:

[code]

[2020-07-01 03:11] xuzhang3 commented on #378
Hi @anikm1987, `github_enterprise_service_connection` is in our future plan.  You can create the GITHUB service connection in the traditional way(use portal).
We have migrate this repo to [terraform-provider-azuredevops](https://github.com/terraform-providers/terraform-provider-azuredevops)

[2020-07-01 03:24] xuzhang3 commented on #379
Hi @anikm1987, We have migrate this repo to [terraform-provider-azuredevops](https://github.com/terraform-providers/terraform-provider-azuredevops)
1. In AzureRM service connection, `Environment` is not supported yet. We will add this in the future.
2. What management group do mean? [Membership resource](https://www.terraform.io/docs/providers/azuredevops/r/group_membership.html) may help you.

[2020-07-02 13:55] EliiseS commented on #378
Issue migrated to terraform-providers/terraform-provider-azuredevops#28

[2020-07-02 13:55] EliiseS commented on #379
Issue migrated to terraform-providers/terraform-provider-azuredevops#27

[2020-07-02 13:55] #378 closed

[2020-07-02 13:55] #379 closed

[2020-07-02 14:01] EliiseS commented on #274
Issue migrated to terraform-providers/terraform-provider-azuredevops#30

[2020-07-02 14:01] EliiseS commented on #218
Issue migrated to terraform-providers/terraform-provider-azuredevops#35

[2020-07-02 14:01] EliiseS commented on #363
Issue migrated to terraform-providers/terraform-provider-azuredevops#34

[2020-07-02 14:01] EliiseS commented on #372
Issue migrated to terraform-providers/terraform-provider-azuredevops#31

[2020-07-02 14:01] EliiseS commented on #197
Issue migrated to terraform-providers/terraform-provider-azuredevops#32

[2020-07-02 14:01] EliiseS commented on #364
Issue migrated to terraform-providers/terraform-provider-azuredevops#29

[2020-07-02 14:01] #372 closed

[2020-07-02 14:01] EliiseS commented on #162
Issue migrated to terraform-providers/terraform-provider-azuredevops#33

[2020-07-02 14:01] #218 closed

[2020-07-02 14:18] EliiseS commented on #124
Issue migrated to terraform-providers/terraform-provider-azuredevops#39

[2020-07-02 14:18] EliiseS commented on #122
Issue migrated to terraform-providers/terraform-provider-azuredevops#40

[2020-07-02 14:18] EliiseS commented on #167
Issue migrated to terraform-providers/terraform-provider-azuredevops#38

[2020-07-02 14:18] EliiseS commented on #174
Issue migrated to terraform-providers/terraform-provider-azuredevops#37

[2020-07-02 14:18] EliiseS commented on #377
Issue migrated to terraform-providers/terraform-provider-azuredevops#36

[2020-07-02 14:18] EliiseS commented on #373
Issue migrated to terraform-providers/terraform-provider-azuredevops#43

[2020-07-02 14:18] #377 closed

[2020-07-02 14:18] EliiseS commented on #99
Issue migrated to terraform-providers/terraform-provider-azuredevops#42

[2020-07-02 14:18] EliiseS commented on #142
Issue migrated to terraform-providers/terraform-provider-azuredevops#41

[2020-07-02 14:18] #167 closed

[2020-07-02 14:18] #373 closed

[2020-07-02 14:18] #99 closed

[2020-07-02 14:23] EliiseS commented on #98
Issue migrated to terraform-providers/terraform-provider-azuredevops#45

[2020-07-02 14:23] #98 closed

[2020-07-02 14:23] EliiseS commented on #241
Issue migrated to terraform-providers/terraform-provider-azuredevops#44

[2020-07-02 14:23] #241 closed

[2020-07-02 14:33] EliiseS commented on #153
Issue migrated to terraform-providers/terraform-provider-azuredevops#46

[2020-07-02 14:35] EliiseS commented on #104
Issue migrated to terraform-providers/terraform-provider-azuredevops#47

[2020-07-02 14:37] EliiseS commented on #370
Issue migrated to terraform-providers/terraform-provider-azuredevops#48

[2020-07-02 14:37] #370 closed

[2020-07-02 14:40] EliiseS commented on #281
Issue migrated to terraform-providers/terraform-provider-azuredevops#49

[2020-07-02 14:41] EliiseS commented on #280
Issue migrated to terraform-providers/terraform-provider-azuredevops#50

[2020-07-02 14:57] phillebaba commented on #48
Thank you for moving the PR! Did not know you could do this in Github.

[2020-07-02 15:19] tmeckel commented on #47
🥇

[2020-07-02 15:21] tmeckel commented on #46
🥇

[2020-07-03 02:40] xuzhang3 commented on #48
@phillebaba We can only move the issues, cannot move the PR,  you need submit another :D

[2020-07-03 02:59] xuzhang3 commented on #383
@rusticshiv86 We have move this repo  to https://github.com/terraform-providers/terraform-provider-azuredevops.  Can you open another issue in the new repo?
Based on you description, I think what you need is a `azuredevops_membertship_data_resource` which can be used for importing exist AAD groups.  I need some investigation for this new resource.

Potential configure:
[code]

[2020-07-03 06:07] rusticshiv86 commented on #383
sure @xuzhang3 . Will move the issue there..

[2020-07-03 06:48] rusticshiv86 commented on #383
Hi @xuzhang3 , could you please try to transfer the issue to new repo yourself ? I guess I lack permissions to move it myself.

[2020-07-03 06:50] xuzhang3 commented on #383
@rusticshiv86  you can open a new issue in the new repo and close this one.

[2020-07-03 07:16] rusticshiv86 opened #51 "Import groups and members from AAD directly to newly created azure devops project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-03 07:17] rusticshiv86 commented on #383
@xuzhang3  its done, new link https://github.com/terraform-providers/terraform-provider-azuredevops/issues/51

-Shiva

[2020-07-03 07:20] xuzhang3 commented on #383
Closing this issue as this issue has been moved to the new repo.

[2020-07-03 07:23] xuzhang3 commented on #51
Potential configure:
[code]

[2020-07-03 08:20] patr00n opened #52 "Can not create fork repository"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-03 08:58] xuzhang3 commented on #52
Hi @patr00n  Thanks for your feed back. You  can change you config like this :
[code]

`parent_id  ` is not a valid configure in `azuredevops_git_repository`.
**Attention**
You need specify the `initialization`  configuration in `azuredevops_git_repository`, otherwise  Terraform may crash. This is a know issue in azuredevops, we will fix this soon.

[2020-07-03 10:54] patr00n commented on #52
Thanks for your quick reply!
It works with `parent_repository_id`. But [documentation](https://www.terraform.io/docs/providers/azuredevops/r/azure_git_repository.html#create-fork-of-another-azure-devops-git-repository) says `parent_id`. It would be nice to fix.

[2020-07-03 11:48] patr00n opened #53 "Error when trying to import existing git repo"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-03 13:39] EliiseS opened #54 "Terraform crash if initialization not set for git repo"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-03 13:48] EliiseS commented on #52
I've fixed the docs here: https://github.com/terraform-providers/terraform-provider-azuredevops/pull/55

[2020-07-03 14:30] ac-obair opened #56 "Bad request "InvalidApiVersionParameter" after service endpoint creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-03 17:01] #52 closed, assigned to EliiseS

[2020-07-04 20:21] logachev commented on #25
Sorry, git repos are fine. The error occurs for at least Build Definitions and Service Authorizations. I sent a PR to fix it.

I agree, it is not recommended to manage resources outside of Terraform, but it happens :)

Here is sample that shows an error (apply, delete project via UI, run plan)

[code]

[2020-07-05 18:25] phillebaba commented on #48
Oh, I was a bit too optimistic there I guess. Sorry for not getting to this earlier, but I have had a lot on my plate the last two weeks. Now there is a PR in the correct repo with the same changes.

[2020-07-06 14:23] nmiodice opened #59 "Documentation for import of service endpoints is missing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-07 03:31] xuzhang3 commented on #53
Hi @patr00n Thanks for opening this issue.  Import Git repository has not been implemented yet. Sorry the document mislead you.  I will close this issue as this issue has been opened in #45

[2020-07-07 03:31] #53 closed, assigned to nobody

[2020-07-07 06:29] xuzhang3 commented on #56
Hi @ac-obair Thanks  for open this issue.  Can you provider more logs or operation details? I cannot reproduce your error.
 I can create k8s service connection and consumed by release. `az devops service-endpoint  show` works for me too.

Test script
[code]

## Screen shot
### k8s service connection
![image](https://user-images.githubusercontent.com/57888764/86724350-4a571780-c05b-11ea-9fa3-a1e344

[2020-07-07 11:07] ac-obair commented on #56
Hey, sure. Following the same steps you've taken:

## Screen shots

<img width="457" alt="Screenshot 2020-07-07 at 10 00 00" src="https://user-images.githubusercontent.com/20089429/86754275-aceaec00-c038-11ea-98cd-7ee920acb87a.png">

AZDO_PROVIDER_TEST or any name created using the provider isn't seachable.

<img width="635" alt="Screenshot 2020-07-07 at 10 01 40" src="https://user-images.githubus

[2020-07-07 11:16] xuzhang3 commented on #56
![image](https://user-images.githubusercontent.com/57888764/86772081-f0b81280-c085-11ea-8984-4196569537ea.png)
@ac-obair Can check your SPN id and secret is correct in your Terraform script? Azure DevOps can create the new service connection with fake configs, but will result int authentication fail when we need it. Some times additional space will added if we copy the secret or id from another fi

[2020-07-07 13:25] ac-obair commented on #56
Interesting. I can't query the service connection via cli since it looks like it doesn't exist. I also can't find any other way to query what credentials it was created with beyond my PAT.

Which SPN id and secret are you referring to? I'm using a PAT to create devops resources. I'm using az login to authenticate myself and from the trace output I can see terraform using azure cli to obtain a toke

[2020-07-07 14:41] patr00n opened #61 "Lost data during resource force replacement when ADO api gets an error"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-07 15:57] patr00n opened #62 "Add "Path filter" support for repository build policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-08 00:08] edwardwu-servian opened #63 "`azuredevops_build_definition` does not report build status to Bitbucket by default"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-08 06:45] xuzhang3 commented on #56
@ac-obair Sorry I cannot reproduce your error. So I can only guess some potential operations may help you.
1. Check you PAT,  make sure this PAT is bind with the organization that you try to use k8s service connections.
2. Use `az account show  --output table` check which subscription you current use in CLI context.  Make sure the service principle used to create the service connection is bind wit

[2020-07-08 06:54] xuzhang3 commented on #63
Hi @edwardwu-servian Thanks for your suggestion, We will put this in our backlog.

[2020-07-08 08:37] xuzhang3 commented on #61
Hi @patr00n , The branch policy is bind with a  project. If you change the project ID. In Terraform's perspective, the branch policy is not longer needed and should be destroyed. After the old branch policy destroyed, a new one will be created.
If you want create multiple projects, you can use [foreach](https://www.hashicorp.com/blog/hashicorp-terraform-0-12-preview-for-and-for-each/)

[2020-07-08 09:12] GeromeRen opened #64 ""401 Unauthorized" when creating variable group"
Hi guys,

When creating azuredevops variable group using "azuredevops_variable_group", we are experiencing below error. The azuredevops pat we are using has variable groups: Read, Create, & Manage permission. We found when add "Tokens" scope to our pat, there will be no error. May i ask why we need "Tokens" scope in the pat?

-------------------------------------------------------------
random_str

[2020-07-08 10:04] ac-obair commented on #56
@xuzhang3 Yea, I'm aware what the api version should be from the ms docs unfortunately. This isn't a test box or test environment running a test setup for test purposes. My environment is set up for all the azure automation for the company, hundreds of resources.

I have a set of data that when passed into a template and applied using az devops cli extension builds a service connection that I can

[2020-07-08 10:51] ac-obair commented on #56
I had another user run the same terraform from a different environment that they use using their own credentials that work as they're an owner of pretty much everything. Same error.

[2020-07-09 06:35] GaborEH opened #65 "Build Definition does not create"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-09 09:50] EliiseS commented on #65
Shouldn't this:

[code]
 be this:

[code]

Not sure if that's the root cause

[2020-07-09 16:00] EliiseS opened #68 "Missing "path" parameter documentation in docs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-09 19:51] patr00n commented on #61
I think provider should restore destroyable resources when creating a new one is failed, or maybe it should check creation compliances during the `plan`, isn't it?

[2020-07-09 23:40] GaborEH commented on #65
@EliiseS: Good morning – My apologies but that was a copy-paste error and the actual code does have the correct and matching resource names. Anyways, I corrected the naming in my original bug report and I can confirm that it still does fail to run.

[2020-07-10 03:18] xuzhang3 commented on #64
Hi @GeromeRen ,   If you just want manage variable groups. In ADO provider, you need   `build `, `variables group` permissions.
![image](https://user-images.githubusercontent.com/57888764/87112268-f5efaa00-c29d-11ea-976f-0b4dc084339c.png)
 `token`  is a kind of permission aggregation which will can provide multiple  resources permissions.

[2020-07-10 04:10] coffeedome opened #69 "Resource for AWS service connections from Azure DevOps"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-10 06:52] xuzhang3 commented on #65
Hi @GaborEH   This is a breaking change of API . We have located the problem and will fix this soon. Thanks for your feedback.

[2020-07-10 06:53] GaborEH commented on #65
Thank you @xuzhang3

[2020-07-10 12:19] xuzhang3 commented on #69
Hi @estebanes22 `aws_service_connection` has been implemented by @phillebaba. You can find the [PR](https://github.com/terraform-providers/terraform-provider-azuredevops/pull/58) and [issue](https://github.com/terraform-providers/terraform-provider-azuredevops/issues/48) here. I closing this issue as this is a duplicate issue.

[2020-07-10 12:19] #69 closed, assigned to nobody

[2020-07-13 00:22] AlanOuyang commented on #65
👍 Please kindly fix this bug.

[2020-07-13 09:41] xuzhang3 opened #72 "Github service connection API breaking change"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-14 03:17] xuzhang3 commented on #61
You create a new resource with a different name, after you create the new resource successful, then you can delete the old one.

[2020-07-14 11:54] phillebaba commented on #48
We can close this issue, as the PR has been merged.

[2020-07-15 02:34] xuzhang3 commented on #61
@patr00n  [resource lifecycle](https://www.terraform.io/docs/configuration/resources.html#lifecycle-lifecycle-customizations) may help you.

[2020-07-15 06:38] patr00n commented on #61
I didn't know about that functionality. Thanks

[2020-07-15 06:39] #61 closed, assigned to nobody

[2020-07-15 07:51] xuzhang3 commented on #64
Closing this issue. Feel free to reopen it if you still have questions.

[2020-07-15 07:51] #64 closed, assigned to nobody

[2020-07-15 09:16] rpeltola opened #76 "Updating Kubernetes service endpoint does not update the resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-15 09:54] rpeltola opened #77 "Service endpoint import crashes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-16 09:25] xuzhang3 commented on #76
Hi @rpeltola , Thank you for your feedback. Just checked this issue, this has been fixed, you can waiting for our next release.

[2020-07-16 10:52] ac-obair commented on #56
Got this working turns out

`resourcegroup_id  = data.azurerm_resource_group.aks-cluster.id`

Shouldn't be the resource group id despite the name `resourcegroup_id`. It should be the name of the resource group...

`resourcegroup_id  = data.azurerm_resource_group.aks-cluster.name`. This can be closed but would be nice if the key was more descriptive.

[2020-07-16 17:42] coffeedome opened #81 "Error: azuredevops_serviceendpoint_aws not supported by azuredevops provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2020-07-17 02:56] xuzhang3 commented on #81
Hi @estebanes22   We have not release the new ADO provider version.

[2020-07-17 03:08] xuzhang3 commented on #56
@ac-obair  Sorry for reply late.  The [azuredevops_serviceendpoint_kubernetes](https://github.com/terraform-providers/terraform-provider-azuredevops/blob/master/website/docs/r/serviceendpoint_kubernetes.html.markdown) did the wrong description, this must misguide you:
 **resourcegroup_id - (Required) The resource group id, to which the Kubernetes cluster is deployed.**
I will update the document.