[2021-04-07 07:51] xuzhang3 commented on #351
hi @richardgavel  SDK does not support bearer token. If we need support bearer token, ADO should create new connection to support  the new HTTP headers.
https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/oauth?toc=%2Fazure%2Fdevops%2Forganizations%2Ftoc.json&bc=%2Fazure%2Fdevops%2Forganizations%2Fbreadcrumb%2Ftoc.json&view=azure-devops#authorize-your-app

[2021-04-07 14:02] amarkulis commented on #355
@xuzhang3 I am not sure what you mean.  Is this not pulled form my required providers?

 required_providers {
    azurerm = {
      source  = "hashicorp/azurerm"
      version = "~>2.0"
    }
    azuredevops = {
      source = "microsoft/azuredevops"
      version = ">=0.1.0"
}
  }

[2021-04-08 03:44] xuzhang3 commented on #355
Hi @amarkulis   My mistake. I try  catch the provider install  log, the provider was pulled from GitHub release.
I cannot reproduce your error. The HTTP request `https://github-releases.githubusercontent.com/....`  was send by Terraform, this request will download the SHA256SUMS file.  The error shows `x509: certificate signed by unknown authority`, looks like your server not recognize the HTTPS c

[2021-04-08 15:18] amarkulis commented on #355
@xuzhang3 I will work on that. I also see it is looking in the wrong registry url:  registry.terraform.io/microsoft/azuredevops  which returns a 404.  It should be https://registry.terraform.io/providers/microsoft/azuredevops/.  Is there a way for me to fix that?

[2021-04-09 03:55] xuzhang3 commented on #355
Hi @amarkulis
This is the Terraform initialization log:
[code]

You need change `registry.terraform.io/microsoft/azuredevops` to `https://github.com/microsoft/terraform-provider-azuredevops/releases/download/v{version}/terraform-provider-azuredevops_{version}_{os}_{arch}.zip` in order to download the provider.

[2021-04-09 15:06] amarkulis commented on #355
@xuzhang3 Forgive my ignorance but how do I make that change?

[2021-04-12 02:19] xuzhang3 commented on #355
@amarkulis  I was thinking you download the provider by  script and your server have WAF or IP grant list,  so I think you may need to handle the domain or the real download URL in order to  download the ADO provider.

[2021-04-12 07:40] wernerfred commented on #236
@xuzhang3 any roadmap update on this? Is there any point where we can assist?

[2021-04-14 08:57] xuzhang3 commented on #236
Hi  @wernerfred   In portal, when you try to import a repository with authorization, you will find 4 HTTP requests before the repository created.
![image](https://user-images.githubusercontent.com/57888764/114682398-a31db400-9d41-11eb-9905-1840d90e8183.png)
Analysis the requests, you will found that the authorization is based on service connection(the third request `endpoints`), since [import API

[2021-04-14 09:12] xuzhang3 commented on #236
@wernerfred This issue is in our backlog, but not the highest priority. If you interest in this issue, you can create a PR for it.

[2021-04-16 14:06] stefanes commented on #204
@xuzhang3 Any update on the internal progress you mentioned?

[2021-04-16 17:07] flmmartins commented on #253
Hello everyone and @xuzhang3

I just used this new version (thanks!)

The service principal ID was created successfully  but when I assign this to ACR via azurerm_role_assignment. Just like in the first example. It timeouts and says that azurerm_role_assignment could not find azuredevops_serviceendpoint_azurecr.this.service_principal_id

Here is the code:

[code]

**I wonder what's happening. Mayb

[2021-04-16 17:12] xuzhang3 commented on #204
@stefanes   I get some repsonse internal that v6.x will be released but do not have the timeline

[2021-04-19 17:32] dikal795 opened #362 "Schedule triggers not working with github repo while creating azure devops pipeline using terraform script"
We have a yaml file in github with schedule job added in it as below
# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
schedules:
[code]
**Using below terraform script to create pipeline in azure devops**
[code]
Schedule jobs should trigger every one min but this is not

[2021-04-20 04:18] ranikamadurawe opened #363 "Creating an Audit Stream using Azuredevops Terraform provider"
## Question

I am currently trying to create an organizational level audit stream to a splunk or azure log analytics workspace using the resources provided in [1]. Is it possible to automate this using the terraform azuredevops plugin? If not is this an inteded feature to be added to the provider?

## Resources

[1] https://docs.microsoft.com/en-us/azure/devops/organizations/audit/auditing-streami

[2021-04-20 15:59] xuzhang3 commented on #362
@dikal795   I tried this with Azure Git repo ang GitHub repo, when the `.yml` file is in the Azure Git  repo, the schedul will wokring but in the GitHub repo, the schedule not working. I think this issue is a AzureDevsOps issue not ADO provider issue.

[2021-04-22 12:16] FernandoMiguel opened #364 "can't destroy with nested providers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-23 21:23] drdamour opened #365 "crlf issues with heredocs on group descriptions"
this might be my own fault, but since i never observed this behaviour with the azurerm provider i'm wondering if it's not something that needs to be handled at the provider level.  I use a heredoc for the description of a group and if i run on a windows host it'll show changes for crlf stuff, if i apply the run on ubunut in azdo pipeline it shows changes and they just fight each other.  i know i c

[2021-04-26 06:02] HeikoNeblung opened #366 "azuredevops_group scope not set with version 0.1.4"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-04-27 19:13] racdev commented on #346
We would also like this feature so that we can remove the edit pipeline permission from contributors and hence force the creation/management of pipelines to be via teraform.

[2021-04-29 08:02] billbirchatcoles commented on #112
We have this issue, I believe this is a provider defect. Here's why:
Terraform did  refresh the state file as part of the plan step, and it **found** 3876:
[code]
then in the Apply step it errored:
[code]
When I looked at [the API](https://docs.microsoft.com/en-us/rest/api/azure/devops/policy/configurations/update?view=azure-devops-rest-5.1) it requires the "revision" attribute.

So it appears _to

[2021-04-29 08:11] billbirchatcoles commented on #288
This looks like a duplicate of issue:#112.

Here's my comment, also duplicated:

We have this issue, I believe this is a provider defect. Here's why:
Terraform did  refresh the state file as part of the plan step, and it **found** 3876:
[code]
then in the Apply step it errored:
[code]
When I looked at [the API](https://docs.microsoft.com/en-us/rest/api/azure/devops/policy/configurations/update?vie

[2021-04-29 10:06] rahmnstein commented on #143
Nice, got it working with `restapi_object`, do anyone know if there is an API for adding approvals to an environment? I cannot find it, maybe it does not exist yet.

[2021-04-29 12:40] whiskeysierra commented on #143
You can always perform the action in the UI and inspect network requests using the developer tools of your browser. The fastest way to figure out the corresponding API call.

[2021-05-01 06:18] birchb1024 commented on #112
I have been able to reproduce the error message` "Error: Error updating policy in Azure DevOps: The policy configuration with ID '3876' and revision '3' does not exist."` however only if the policy is manually deleted in the UI _after_ the plan has been run. Example:

[code]
Now Manually delete the policy 135

[code]

TIL  This is completely normal for Terraform. It's quite possible for a race con

[2021-05-05 00:24] flobeier opened #367 "v0.1.4 crashes when running terraform plan ("invalid memory address or nil pointer dereference")"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-05 09:36] schwarzzz commented on #366
Same problem here...

[2021-05-05 09:51] Ravio1i opened #368 "Add support for managing pool vmss / elastic pools"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-05 14:03] schwarzzz commented on #51
Thank you @josh-barker-coles, this is working.
One question, though: Does this (the use of the `azdo_group_linked_to_aad` group) create any (otherwise) unnecessary objects in Azure DevOps? I checked the resulting project as well as the organization and did find a corresponding object in Azure DevOpy...

[2021-05-06 04:12] josh-barker-coles commented on #51
Hi @schwarzzz,

You could try add group membership directly on the linked group - `azdo_group_linked_to_aad`, and not create `azdo_group`.
However, there could be some limitations on the linked Azure DevOps group.
For example, I don't think you can change the name of the group, as it's linked to Azure AD.

[2021-05-06 05:31] xuzhang3 commented on #363
Hi @ranikamadurawe The auditing resource is supported since API v6, current SDK is based on v5.x. This resource will be blocked until SDK v6.x released.
https://docs.microsoft.com/en-us/rest/api/azure/devops/audit/streams/create?view=azure-devops-rest-6.0

[2021-05-06 06:42] xuzhang3 commented on #365
Hi @drdamour  The  resource diff is detected by [Terraform core](https://github.com/hashicorp/terraform). At provider or resource level, what we can do is suppress the resource changes, Terraform will ignore the changes whenever the resource changed.

[2021-05-06 08:48] xuzhang3 commented on #366
This is a bug, #369 will fix it.

[2021-05-06 14:42] drdamour commented on #365
i think it'll be better to just for tf to LF endings with a .gitattributes

[2021-05-06 14:42] #365 closed, assigned to nobody

[2021-05-07 06:33] xuzhang3 commented on #367
Hi @flobeier I cannot reproduce your.  This error happened when the `authorization` or `scheme` is null, normally the service will return the service connection's `authorization.scheme`
![image](https://user-images.githubusercontent.com/57888764/117406512-bd614100-af3f-11eb-8edc-5e4031c15d0a.png)

Another questions is can you make sure this is the correct log when you execute `terraform plan`?  Th

[2021-05-07 06:49] xuzhang3 commented on #364
Hi @FernandoMiguel  Can you share your module construct and TF files? With this limited information, I cannot reproduce this error. If you want share the variables though different module, you may need more configuration, otherwise the module cannot read the defined configurations.
Ref Terraform post: https://discuss.hashicorp.com/t/codependent-values-across-different-modules/11455

[2021-05-07 07:39] FernandoMiguel commented on #364
I'm off work today.
But I'll try to build you a sample reproduce.
But basically all it takes is to place the provider inside the module, not in the root module

[2021-05-07 09:09] aleqsss commented on #204
@xuzhang3, any updates in regards of the timeline? 🙂

[2021-05-07 09:11] aleqsss commented on #368
Hi @Ravio1i,

Please vote on my #204 feature request, since this request seems to be about the same thing. 🙂
Also, there's some additional information inside of it that might be of interest for you.

[2021-05-07 12:49] tmeckel opened #371 "Unable to build provider on Ubuntu 18.04"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-07 12:49] tmeckel commented on #371
@xuzhang3 can we revert to the change in the `GNUmakefile` which causes the build to fail on Ubuntu 18.04?

[2021-05-07 12:53] tmeckel commented on #371
@xuzhang3 Another obvious option would be to set the SHELL used by make to BASH. But I don't know if this would be portable e.g. on a MAC 😁 which I don't use.

![image](https://user-images.githubusercontent.com/14177833/117452385-fe5b5480-af43-11eb-95aa-a7e08450db26.png)

[2021-05-08 02:49] xuzhang3 commented on #371
Hi @tmeckel  Looks like the make file use the `/bin/sh` not `/bin/bash`, Fixed in PR: #372 .  Tested with  wsl: unbuntu18.04, ubuntu20.04, windows git bash, mac OSX.
The WSL ubuntu still use CRLF, you need change the git configuration:  `git config --global core.autocrlf true` otherwise `make check-vendor-vs-mod` will not pass.

[2021-05-08 07:30] xuzhang3 commented on #371
@tmeckel  Code reverted to v0.1.4,  there's something wrong with the CI

[2021-05-08 10:05] tmeckel commented on #371
@xuzhang3 this issue with the vendor updates and the `GNUmakefile` gave me quite a hard time 😁

had to remove the following commits from my branch:

[code]

Build is working again, thus I'm closing the issue.

[2021-05-08 10:05] #371 closed, assigned to nobody

[2021-05-08 10:14] tmeckel commented on #343
@drdamour Teams support is on it's way with #121

For configuring backlog (levels), areas, bug management and capacity management (work days etc) we do need additional resources I think. What's you opinion in this @xuzhang3?

[2021-05-11 09:04] xuzhang3 commented on #355
Close this issue, feel free to open another issue if you have questions.

[2021-05-11 09:04] #355 closed, assigned to nobody

[2021-05-11 09:07] xuzhang3 commented on #210
Close this issue for resource has been implemented.

[2021-05-11 09:07] #210 closed, assigned to nobody

[2021-05-11 09:10] xuzhang3 commented on #207
Close this issue,  feel free to open another issue if you have questions.

[2021-05-11 09:10] #207 closed, assigned to nobody

[2021-05-11 09:31] xuzhang3 commented on #325
@fyvekatz  DevOps will create a default repo have the same name as the project and this repo will displayed as the default repo, you can find all the repos at: `Project settings -> Repos -> Repositories`

[2021-05-11 14:19] Marcus-James-Adams commented on #231
@xuzhang3 , As we have a support contract with Microsoft, is there anything we can do, somebody to speak to, in order to get this on the roadmap?

[2021-05-12 05:03] FLavalliere commented on #143
@rahmnstein mind to share how you created / manged environments with taht?

[2021-05-12 07:16] sdebruyn opened #381 "Add debug logging"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-12 11:00] sdebruyn opened #382 "azuredevops_group creation fails with 503 until you add the group manually"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-12 18:17] t3mi opened #383 "feature request for branch (refs) management"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-13 09:10] xuzhang3 commented on #382
@sdebruyn   which group are you reference in `  origin_id = azuread_group.mygroup.object_id`?  (AzureRM AD group/devops organization group, project group)

[2021-05-13 09:19] xuzhang3 commented on #381
Hi @sdebruyn The real HTTP response is processed in the azuredevops_sdk,  the response we get has been parsed.  We can add a switch for the debug in ADO provider, but you may not be able get the data you want.  If you are familiar with Golang and Terraform provider development, you can debug the provider source code directly.

[2021-05-13 21:49] withersj888 commented on #382
I started using v0.1.4 today and find that Terraform was saying that it had created DevOps groups (ID displayed) but they were not appearing in the UI; Other DevOps resources which referenced the groups would also fail because they couldn't find them. After changing back to v0.1.3 it was not an issue

[2021-05-14 02:28] xuzhang3 commented on #382
@jmwithers1986 v0.1.4  have a bug that group cannot set the scope, the project group will be created in organization. Fixed in PR #377

[2021-05-14 05:16] withersj888 commented on #382
Thanks!
________________________________
From: xuzhang3 ***@***.***>
Sent: Friday, May 14, 2021 3:28:59 AM
To: microsoft/terraform-provider-azuredevops ***@***.***>
Cc: Jay Withers ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/terraform-provider-azuredevops] azuredevops_group creation fails with 503 until you add the group manually (#382)

@jmwithers1986<https://github.com/jmwithers19

[2021-05-14 13:41] booyaa opened #385 "azuredevops_variable_group fails to detect drift in variables with secret_value set"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-14 17:48] drdamour opened #386 "New resource azuredevops_iteration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-17 07:32] sdebruyn commented on #382
@xuzhang3 Azure AD group, please see https://registry.terraform.io/providers/hashicorp/azuread/latest/docs/resources/group

[2021-05-18 07:50] hbuckle opened #387 "ForceNew on azuredevops_serviceendpoint_azurerm"
After importing an existing AzureRM service endpoint terraform plan shows it needs to be replaced due to credentials. Is this correct behaviour? It should be possible to update the credentials of the service endpoint without replacing it?

[code]

[2021-05-19 16:07] booyaa opened #388 "Provider can only lookup 25 key vault items when adding variables to a linked variable group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-20 06:23] xuzhang3 commented on #387
Hi @hbuckle This is the right behavior.  Recreation service connection will have a new ID which may broken your current CI/CD.
I try remove the force new flag and it works too,  looks there's no need to renew a new service connection when `credentials` changed,  this can an update of the API but ADO provider not updated.

[2021-05-20 08:16] xuzhang3 commented on #388
Hi @booyaa  Thanks for your feedback, this is a bug.  The default secrets response page size is 25 and ADO provider only get the first page.

[2021-05-20 08:33] hbuckle commented on #387
@xuzhang3 - I can raise a PR to remove the ForceNew so credentials can be updated?

[2021-05-20 16:04] flobeier commented on #367
@xuzhang3 usually a pipeline deploys the resources and doesn't crash. Running `terraform plan` (yes, `plan`, not `apply`) locally triggers this crash. It might be relevant to the issue that I'm lacking the permissions to read Azure AD objects like users and see related errors due to that because of other resources. However, none of the errors point to the file that contains the Azure DevOps resour

[2021-05-21 02:18] xuzhang3 commented on #387
@hbuckle  Remove the [credentials.ForceNew](https://github.com/microsoft/terraform-provider-azuredevops/blob/master/azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_azurerm.go#L33) and you can build a private package and test it, you will find that Terraform will only update the credentials not create a new one.

[2021-05-21 02:29] xuzhang3 commented on #385
Hi @booyaa  Secret value is combined with `is_secret=true` and `secret_value`, if `is_secret=false`, the variable will treated as normal text plain variable.

[2021-05-21 03:00] xuzhang3 commented on #367
@flobeier   `terraform plan`  will do the read operation and compare the response with `.tfstate` file then generate an execution plan. You can check the service connection response with API  (service connection get)[https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/get?view=azure-devops-rest-5.1], if you does not have the permissions, you will get an error message.

[2021-05-21 15:22] booyaa commented on #385
hi @xuzhang3, the point I'm making is that if I change the value of s a secret value in the DevOps portal, I expect terraform to detect the change. At the moment it doesn't.

[2021-05-24 05:45] xuzhang3 commented on #385
@booyaa  provider cannot detect the changes when you change the value outside of Terrafrom. API response always return the secret value as `null`
![image](https://user-images.githubusercontent.com/57888764/119302010-f87ca780-bc95-11eb-910f-f9ba7951ed8b.png)

[2021-05-24 12:27] sennerholm commented on #367
I hade an simular problem (trace), I think it's a permission problem combining with that the code didn't handle it in a good way. When I added the service principal that runs the plan output to "Endpoint Administrators" I got it running.
The service endpoint was created from my personal account, but the pipeline was running as an other user that didn't saw all Service endpoints"

[2021-05-24 16:22] booyaa commented on #385
That's a shame, looks like the only safe way to detect value changes is via Key Vault linked variable group.

Thanks.

[2021-05-24 16:22] #385 closed, assigned to nobody

[2021-05-25 03:00] xuzhang3 commented on #367
@sennerholm Have grant the pipeline the access  permission? ![image](https://user-images.githubusercontent.com/57888764/119433076-16a2e000-bd48-11eb-8c7c-ff8c186084c4.png)
If not, yuou can use [azuredevops_resource_authorization](https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/resource_authorization)  grant pipeline the access permission. Provide created service

[2021-05-25 06:21] sennerholm commented on #367
We had the "Pipeline user" in the "Permissions->Endpoint creators" but not the "Permissions->Endpoint Administrators" with the impact that when the service endpoint was created from another user the "terraform plan" gave that stacktrace. It would be better if it got a more controlled error.
But with this information I think you can reproduce it.

[2021-05-27 15:27] schnerring opened #391 "Changing `azurecr_name` of `azuredevops_serviceendpoint_azurecr` in-place fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-05-28 07:42] tmeckel commented on #391
@xuzhang3 If the observation is correct, we need a  `ForceNew: true` on the Name schema attribute.

https://www.terraform.io/docs/extend/schemas/schema-behaviors.html#forcenew

[2021-05-29 00:01] jtravell opened #392 "Cannot install terraform-provider-azuredevops"
This problem is occurring on a Windows 10 DevBox, but the solution should work in any operating system.

**CURRENT ERROR:**

Here is the error that is breaking our program, and that we need to resolve:

    2021/05/28 16:25:33 [TRACE] providercache.fillMetaCache: error while scanning directory .terraform\providers: cannot search .terraform\providers\registry.terraform.io\microsoft\azuredevops\0.1.

[2021-05-31 02:58] xuzhang3 commented on #392
@jtravell  `terraform.rc` is a CLI configuration proxy file, in your configuration Terraform will try to install the provider from `C:\\projects\\terraform\\providers` not Terraform registry. Before you execute `terraform init`, you need to make sure you have synchronized all the required providers to the installation source location:  `C:\\projects\\terraform\\providers`.  Also I would suggest de

[2021-06-03 10:40] dmccaffery opened #394 "feat: resource for azuredevops_area"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-03 16:07] bhavith opened #395 "Support for using Service principal to authenticate azure devops provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-06 15:49] tmeckel commented on #343
Related: #394

[2021-06-07 06:21] xuzhang3 commented on #395
@bhavith  If I'm not wrong, SPN cannot access the devops resources.
ref: https://docs.microsoft.com/en-us/azure/devops/integrate/get-started/authentication/authentication-guidance?view=azure-devops

[2021-06-07 15:08] avadhut0111 opened #396 "Not able to create Azure Devops Custom security groups at project level and its creating groups at organization level even we are defining scope at project level in the code"
###Create Azure DevOps Project Group at Project Level:

resource "azuredevops_group" "tf-group" {
  scope        = data.azuredevops_project.project.id
  display_name = var.group-name
  description  = var.description
}

###Using azure devops provider version:

terraform {
  required_providers {
    azuredevops = {
      source = "microsoft/azuredevops"
      version = ">=0.1.0"
    }
  }
}

[2021-06-08 19:14] stewartadam commented on #381
Agreed, there needs to be user-accessible debugging. The Azure RM provider does this well, showing the REST API request and response pairs so you can get more info than just the HTTP response code when a failure occurs.

[2021-06-09 08:32] hbuckle opened #397 "0.1.5 release?"
Any chance of cutting a new release? I'd like to start using the service fabric service endpoint resource

[2021-06-09 09:08] xuzhang3 commented on #396
@avadhut0111 This is a know issue. Fixed in #369

[2021-06-09 09:14] xuzhang3 commented on #397
@hbuckle  Sorry for the delay, coming soon....

[2021-06-09 16:21] stewartadam commented on #314
@xuzhang3 are these documented anywhere? It seems like this information would be key to have on the respective doc pages, e.g. https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/variable_group

[2021-06-09 16:35] stewartadam opened #398 "Document PAT scopes required to run various terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-10 02:51] xuzhang3 commented on #314
@stewartadam All the documents are at https://github.com/microsoft/terraform-provider-azuredevops/tree/master/website/docs
The variable group document: https://github.com/microsoft/terraform-provider-azuredevops/blob/master/website/docs/r/variable_group.html.markdown

[2021-06-10 02:54] xuzhang3 commented on #381
@stewartadam Can you be more specific or give an example? If you have some good ideas, you can submit a PR for this issue.

[2021-06-10 05:41] xuzhang3 commented on #253
@flmmartins    `azuredevops_serviceendpoint_azurecr` creation timeout or `azurerm_role_assignment` creation timeout？ The default creation timeout for `azuredevops_serviceendpoint_azurecr` is 2 minutes,  Looks like I should adjust the timeout to 5 minutes, I got a timeout error too.

[2021-06-10 15:20] flmmartins commented on #253
Hello so I re-run again and this is the operation where it fails:

[code]

The plan looks like this:

[code]

 This means that is trying to change the service principal IDs to the ones created by azuredevops_serviceendpoint_azurecr and allow them to do operations in the Docker Registry (ACR)

 The timeout of the azurerm_role_assignment is 30 minutes so it runs for about 30 minutes and then it time

[2021-06-10 15:55] patr00n opened #400 "azuredevops_users datasource return id that can't be used in other resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-10 17:39] stewartadam commented on #381
#398 describes one scenario where request/resposne pair debugging is necessary. If you're getting 4xx errors, presently even with `TF_LOG=trace` the azure devops provider doesn't provide any additional information, making it very difficult to identify the errors.

Desired/expected behavior would be to see the HTTP request/response being sent to the API with TF_LOG=trace so that we can identify whi

[2021-06-10 17:42] stewartadam commented on #314
I think those the resource doc pages may need a pass from someone familiar with the inner workings of this provider to update the required permissions - for example the page linked for Variable Groups mentions "PAT Permissions required: Variable Groups: Read, Create, & Manage" which based on the discussion above now seems to require:

* Projects: read
* Work Items: Read
* Variable Groups: Read, cr

[2021-06-11 04:37] xuzhang3 commented on #400
@patr00n `azuredevops_users` will read all t he users match the `principal_name` the `azuredevops_users` ID is meanness here.  You can find the user in `data.azuredevops_users.user.users`.   The problem here is service will return the user descriptor or user origin  ID but no user ID, a workaround here is add the user to a group and use this group as the auto reviewer.
[code]

[2021-06-11 09:19] xuzhang3 commented on #397
@hbuckle v0.1.5 released https://registry.terraform.io/providers/microsoft/azuredevops/latest?pollNotifications=true

[2021-06-11 09:19] #397 closed, assigned to nobody

[2021-06-11 09:21] xuzhang3 commented on #366
@HeikoNeblung  Please update the provider to v0.1.5.

[2021-06-11 09:21] #366 closed, assigned to xuzhang3

[2021-06-11 09:22] xuzhang3 commented on #345
Close this issue, feel free to open another issue if you have questions.

[2021-06-11 09:23] xuzhang3 commented on #392
close this issue, feel free to open another issue if you have questions.

[2021-06-11 09:23] #392 closed, assigned to nobody

[2021-06-11 09:24] xuzhang3 commented on #391
@schnerring Fixed in v0.1.5. Close this issue ,feel free to open another if you have questions.

[2021-06-11 09:24] #391 closed, assigned to nobody

[2021-06-11 09:26] xuzhang3 commented on #387
Close this issue, feel free to open another issue if you have questions.

[2021-06-11 09:26] #387 closed, assigned to nobody

[2021-06-11 09:28] xuzhang3 commented on #396
@avadhut0111  Fixed in v0.1.5, please update the provider.

[2021-06-11 09:28] #396 closed, assigned to nobody

[2021-06-11 14:15] cmayomsft commented on #314
Please reopen this issue. I am also getting 401's when trying to create a Variable Group using a PAT with Variable Groups: Read, Create, & Manage scope. The feature is confusing (why do I need more scopes?) and docs are incorrect (doesn't prescribe the scopes I do need).

But, it is also failing when I use the scopes suggested in this issue.

I was only able to get this working when I added Build

[2021-06-11 19:24] drdamour commented on #345
@xuzhang3 i'm not sure this was fixed,  using 0.1.5 i'm now getting

![image](https://user-images.githubusercontent.com/1514496/121739026-49730500-cab8-11eb-923c-a06ebcb36340.png)

[2021-06-15 05:33] xuzhang3 commented on #381
@stewartadam  Thanks  for your suggestions. Most ADO error log only print the service error with limited informations. From your suggestions,  ADO  error log should include at least the identifier's like `project-subresource1-subresource2` and context meta data when error occur like resp/req data or other data which may helpful.

[2021-06-15 06:35] stewartadam commented on #381
Thx, agreed uri/request/response would be helpful to identify which call was causing the 4xx errors.

[2021-06-15 09:29] xuzhang3 commented on #367
@sennerholm ADO provider mange the access permissions based on  the personal access token.  The group managed permissions should not affect the Terraform execution permissions. Can you check personal access  token configurations?

[2021-06-15 15:27] timolbg opened #404 "azuredevops_git_permissions cannot set Git folder permissions"
The resource azuredevops_git_permissions doesn't allow setting "create branch" permissions on a folder. This is commonly needed to restrict Contributors to create branches only in feature/*, bugfix/*, etc.

I get the error message:
[code]

However, this is possible using the "az devops permission" commandline tool. So I don't think this is a limitation of the RESTful API, but caused by the terrafo

[2021-06-15 16:43] djtjwillia commented on #7
Hey @EliiseS, @tmeckel & @xuzhang3 Is there any movement on this issue? We also could really use this feature!

[2021-06-16 02:43] #314 closed, assigned to nobody

[2021-06-16 02:56] xuzhang3 commented on #404
@timolbg Default behavior won't create the none exist branch and set the permissions. The enhancement here is ADO should check whether the branch exists and create the branch.

[2021-06-16 06:17] biswaranjanb commented on #242
What was the fix done @xuzhang3

[2021-06-16 08:08] patr00n commented on #400
@xuzhang3  `data.azuredevops_users.user.users` got it, thanks!

This is ADO API behavior? Can we fix this?
And thanks for the workaround but it's not convenient for us because our groups are managed on an organization level and I can't modify them just read because I have admin rights only on my specific project. I think this is not only my case and it would be great to get proper id from data sou

[2021-06-16 08:13] racdev commented on #113
@xuzhang3 - just noticed the new azuredevops_repository_policy_file_path_pattern resource in the latest release, thanks for that.

However, our requirement is to apply the policy at project level (i.e. the "All Repositories" policies screen in the UI), but that doesnt look to be an option in the new resource (as repo is required)?

[2021-06-16 08:39] xuzhang3 commented on #400
@patr00n The API  [Get User](https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/users/get?view=azure-devops-rest-5.1) used in this resource can get the user info with descriptor but no user ID.  In v6.x, there an API [identities](https://docs.microsoft.com/en-us/rest/api/azure/devops/ims/identities/read%20identities?view=azure-devops-rest-6.0) can be used to get the user ID.  I think the

[2021-06-16 08:45] xuzhang3 commented on #113
@racdev The implemented policies are based on repository and there are  4 repository level policies not implemented. The project level policy not covered yet.

[2021-06-16 08:49] racdev commented on #113
@xuzhang3 do you want a separate issue raising for the project level policies?

[2021-06-16 17:37] timolbg commented on #404
@xuzhang3 This is not about creating a branch and setting permissions on it. It is about setting folder permissions. This can be done using tf.exe or az devops extension, but not with this terraform resource because of above mentioned limitation.

[2021-06-17 02:48] xuzhang3 commented on #113
@racdev   feel free to open another feature requirement issue

[2021-06-17 03:44] xuzhang3 commented on #404
@timolbg  the feature you want is you can set the permissions on folder like `refs/head, refs/feature` not only the specific branches, you want set the permissions for all branch at once. If this is your requirement, we can add a new parameter, may be named: `folder` , potential configuration:
[code]

[2021-06-17 06:00] xuzhang3 commented on #242
@biswaranjanb   Can you specific your question? Are you  still cannot initialization ADO provider in docker?

[2021-06-17 07:01] pijemcolu commented on #245
There's definitely a bug lurking somewhere there. I am currently seeing the same issue after updating the service connection left and right. Will re-create the service connection for now.

[2021-06-17 09:17] alexott commented on #325
just for update - Import works just fine in 0.1.5

[2021-06-17 10:33] alexott opened #406 "Changing of `init_type` doesn't have any effect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-17 10:49] patr00n commented on #400
So can I hope that the new resource will be added in one of the new provider versions?

[2021-06-18 08:17] xuzhang3 commented on #406
@alexott  Thanks for open this issue.  The `init_type` should only be used once,  this configuration should only apply to repository creation not update.

[2021-06-18 09:22] alexott commented on #406
@xuzhang3 - maybe we should throw the error when we see that people are doing update?

[2021-06-18 09:43] xuzhang3 commented on #406
@alexott  PR #407 can fix this, when `init_type` changed, terraform will recreate the repository.

[2021-06-18 09:47] alexott commented on #406
thank you very much!

[2021-06-21 02:21] #406 closed, assigned to nobody

[2021-06-22 08:39] danielpof commented on #204
Wouldn't they be using [AutoREST](https://github.com/Azure/autorest) like the [Azure SDK](https://devblogs.microsoft.com/azure-sdk/code-generation-with-autorest/)?

[2021-06-23 13:41] richardgavel opened #408 "Support scheduling maintenance job on agent pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-06-24 21:09] viks09 opened #409 "Support for certificate based service connection creation in azuredevops_serviceendpoint_azurerm"
Currently the credentials block in this resource (azuredevops_serviceendpoint_azurerm) only support service principal's secrets for the serviceprincipalkey argument. Would like to use the certificate associated with the service principal as well.

Thanks,

[2021-06-25 11:36] LaurentLesle opened #410 "New Resource: Pipeline general settings"
When creating a build definition that need to access sources from a different project we are getting this error.

The current workaround is to change those 3 settings:
![image](https://user-images.githubusercontent.com/4702224/123419255-97295a80-d5ec-11eb-9e89-450ea608930d.png)

[2021-06-25 12:26] gdud commented on #345
I have the same issue as @drdamour in version 0.1.5 ...

Scope is set to null in a state file.

[2021-06-25 20:14] Marc3001 commented on #404
Why not using a more azure devops concept which may be more clear for users like `token` instead of `folder` ?
Like using `token` will not check anything and `branch_name` will continue to check if branch exists.

Like this one could check if branch exists
[code]
And this one not
[code]

[2021-06-26 09:19] timolbg commented on #404
I prefer "token" - that makes it clearer that it doesn't ensure there is actually a folder/branch created.

[2021-06-28 02:45] xuzhang3 commented on #345
@gdud  Are you trying create a new group or import a group? can you share your configuration?

[2021-06-28 05:40] xuzhang3 commented on #410
@LaurentLesle  his feature is blocked by SDK since this feature is supported since v6.x.
API: https://docs.microsoft.com/en-us/rest/api/azure/devops/build/general%20settings/update?view=azure-devops-rest-6.0

[2021-06-29 06:28] #236 closed, assigned to nobody

[2021-06-29 13:39] richardgavel commented on #410
Has there been any update on getting the Azure DevOps GO SDK updated? This is blocking a number of issues in the Terraform provider.

[2021-06-29 15:51] xuzhang3 commented on #410
Sorry, no update.

[2021-06-29 19:40] timcrall commented on #143
https://docs.microsoft.com/en-us/rest/api/azure/devops/approvalsandchecks/check%20configurations/add?view=azure-devops-rest-6.1&viewFallbackFrom=azure-devops-rest-6.0

I think is the endpoint.  But looks like you need to put in "resource":{"type":"environment","id":"your_environment_id","name":"your_env_name"}

that's based partially on using Developer Tools while creating one via the ui

[2021-06-30 07:36] Ben10k commented on #143
@rahmnstein I just figured the approvals.
The API is documented here https://docs.microsoft.com/en-us/rest/api/azure/devops/approvalsandchecks/check%20configurations/add?view=azure-devops-rest-6.1

The `resource.type` must be set to `environment` and that's it.

[2021-06-30 20:59] tmegow commented on #274
I am terraforming Azure Devops Pipelines which use Secure Files and I also desire this feature.

[2021-06-30 23:05] CaptainStealthy commented on #274
What kind of secure files are you trying to store? We were using it for certificates, but we worked around the issue by storing them in Azure Key Vault.

Even if you're not storing certs, you can base64 encode your files and store them as Key Vault Secrets, maybe?

[2021-07-05 01:44] ahmedig opened #413 "azuredevops_serviceendpoint_kubernetes resourcegroup not being included api-version=2018-03-31"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-05 02:13] #413 closed, assigned to nobody

[2021-07-06 21:07] jz-wilson opened #414 "Cannot Import azuredevops_serviceendpoint_kubernetes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-08 03:10] mvanderlyn27 commented on #204
Any update on the v6.x release?

[2021-07-11 15:06] Ysabo27 opened #417 "cannot add ad group to azure devops group via azuredevops_group_membership Resources"
The azuredevops_group_membership Resources cane only add users to azure devops group,
becose ad group dont have principal name

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1"

[2021-07-13 05:39] xuzhang3 commented on #414
Fixed in #418

[2021-07-13 05:58] xuzhang3 commented on #417
Hi @huxh27   Can you share your TF script?  Current provider does not support import the AAD group directly.
Workaround:
1. Create the group(aad) in the organization and use this group as the AAD group
2. Import users in separate emails.

[2021-07-13 06:03] xuzhang3 commented on #204
No good news,  the SDK repo is in low activity.  A workaround I thinking is embed the new features as a patch in this repo and handle the sdk  ourselves.  DevOps swagger:  https://github.com/MicrosoftDocs/vsts-rest-api-specs

[2021-07-14 00:58] ramsateesh commented on #204
Is this coming up anytime soon ? Needed this like yesterday.

[2021-07-14 12:36] haymansfield opened #419 "Allow authentication in same manner as azurerm via azure cli login"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-16 02:53] #414 closed, assigned to xuzhang3

[2021-07-16 08:42] billbirchatcoles opened #422 "Artifactory Service Connection null token after user changes description, URL."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-19 09:12] xuzhang3 commented on #422
Hi @billbirchatcoles Normally, we do not recommend users change the resource configurations outside of Terraform, unpredictable. This issue might caused by the `d.Set("authentication_token", xxx)` at  https://github.com/microsoft/terraform-provider-azuredevops/blob/master/azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_artifactory.go#L151

[2021-07-19 11:02] ranikamadurawe opened #423 "azuredevops_serviceendpoint_azurerm expose service_principal_id on output"
## Question

Is it possible to export the `service_principal_id` when using `azuredevops_serviceendpoint_azurerm` [[1] ](https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/serviceendpoint_azurerm) in Automatic Service creation (i.e. without providing the credentials block) as similar to the `azuredevops_serviceendpoint_azurecr` [[2]](https://registry.terraform.io/p

[2021-07-20 02:11] xuzhang3 commented on #423
Hi @ranikamadurawe   You can get the `service_principal_id`  with `azuredevops_serviceendpoint_azurerm.endpointazure.credentials[0].serviceprincipalid`, is this the `service_principal_id` you want to expose?

[2021-07-20 02:13] xuzhang3 commented on #253
Close this issue, feel free  to open another issue if you have questions.

[2021-07-20 02:13] #253 closed, assigned to nobody

[2021-07-20 02:16] xuzhang3 commented on #352
Released in v0.1.5,  close this issue. Feel free to open another issue if you have questions.

[2021-07-20 02:16] #352 closed, assigned to xuzhang3

[2021-07-20 02:18] xuzhang3 commented on #362
Since this is not an ADO provider issue, I will close this issue. Feel free to open another issue if you have questions.

[2021-07-20 02:18] #362 closed, assigned to nobody

[2021-07-20 03:06] xuzhang3 commented on #325
Close this issue, feel free to open another issue if you have questions.

[2021-07-20 03:06] #325 closed, assigned to nobody

[2021-07-20 03:08] xuzhang3 commented on #180
Supported in #402. Close this issue, feel free to open another issue if you have questions.

[2021-07-20 03:08] #180 closed, assigned to paulbehrisch

[2021-07-20 03:09] xuzhang3 commented on #195
Close this issue, feel free to open another issue if you have questions.

[2021-07-20 03:09] #195 closed, assigned to nobody

[2021-07-20 03:50] ranikamadurawe commented on #423
Hi @xuzhang3 It seems like this block is undefined if the optional `credential` block is not provided when creating the resource.

[2021-07-20 08:02] xuzhang3 commented on #423
@ranikamadurawe I get your point,  you need the `service_principal_id` of the service endpoint  created in automatic mode.
Potential configuration:
[code]

[2021-07-20 18:13] CultClassik opened #424 "Import of private git repo doesn't function as documented"
https://github.com/microsoft/terraform-provider-azuredevops/blob/master/website/docs/r/git_repository.html.markdown#import-from-a-private-repository

The Initialization block states you can specify a user name and PAT. On Terraform 1.0.2 and Azure DevOps provider 0.1.6, these are reported as unsupported arguments. Reading further on that page, it looks like you have to use the generic git service

[2021-07-21 08:43] aleqsss commented on #204
If you look at the filed issue https://github.com/microsoft/azure-devops-go-api/issues/90 (mentioned in this issue description) you can see that it seems like they are using some internal tool for generating this. 🙂

[2021-07-21 10:09] nikolaifa opened #425 "Support for managing git branches"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-22 02:29] xuzhang3 commented on #425
Hi @nikolaifa   this is a duplicate issue with #383 , I will close this issue.

[2021-07-22 02:29] #425 closed, assigned to nobody

[2021-07-22 08:17] alex-3sr opened #427 "Error updating service endpoint in Azure DevOps: TF400898"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-22 09:41] sikkiv opened #428 "Import of azuredevops_git_repository forces destroying of existing resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-07-22 22:30] davoodharun opened #429 "Issue with Hosted Ubuntu 16.04 default value for agent_pool_name for build definition"
Im running into an issue trying to provision build definitions with terraform.

It looks like the default provider defaults to Hosted Ubuntu 16.04 for agent_pool_name. This was working a few months ago but all of a sudden stopped working with the error:

Error: error creating resource Build Definition: Agent pool Hosted Ubuntu 1604 was not found.

Did some more digging into this and found this on

[2021-07-22 22:31] davoodharun commented on #429
I should mention that when I run my commands locally, the terraform project completes successfully, but when running the commands inside an azure devops agent, it will fail claming it cannot find the default agent pool Hosted Ubuntu 16.04

[2021-07-23 02:22] #424 closed, assigned to nobody

[2021-07-23 02:39] xuzhang3 commented on #428
Hi @sikkiv Change the `init_type` will recreate the resource.
This is a tech-debt, this configuration is introduced by this provider and not part of the APIs, this better way is split this confutation into new resources or other configurations and deprecate this config.

[2021-07-23 06:30] xuzhang3 commented on #427
Hi @alex-3sr I cannot reproduce your error. In your configurations, you import two ADO providesr: `provider registry.terraform.io/dhensby/azuredevops v0.1.0` and `provider registry.terraform.io/microsoft/azuredevops v0.1.6`. Can you remove one of them and try again?

[2021-07-23 09:02] xuzhang3 commented on #429
Hi @davoodharun  According the [signle-hosted-pool](https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-155-update#single-hosted-pool) that all other hosted pools will be replaced by `Azure Pipelines`.  Since this is not a required parameter but ADO provider set `Hosted Ubuntu 1604` as the default agent pool name,  you can update your TF script and set the agent pool name to `A

[2021-07-23 19:06] alex-3sr commented on #427
Hi,

I see that, you right, but it's not used anymore and I don't found anyway to remove it.
it was initialy the provider where we begin to use TF with AzDo, then after microsoft official provider we migrate to it.
I chechekd on the tfstate, I've no associated ressources with this old provider and on .terraform plugin folder, I don't have too.
In more, when i run **_terraform providers_** I got th

[2021-07-23 19:11] alex-3sr commented on #427
OK, so finally was more easy than expected :) I just find that .terraform.lock.hcl still reference old providers. Removed it, and now it's ok ->
[code]

So, i start again a plan like now I've only 1 version. Like explained, i've this detected updated, but on detail nothing whos me what updated is drifted
![image](https://user-images.githubusercontent.com/38663389/126830031-4bd40358-620e-45d2-9ee9-

[2021-07-25 11:45] tonyskidmore commented on #199
I have also came across the same error reported here:
[code]

I am a project administrator of the project I am querying but when I use `https://dev.azure.com/{orgniazaiton}/_apis/projects/{projectID or projectName}?includeCapabilitie=true&api-version=5.1-preview.1` I also do not get `capabilities.processTemplate`:

[code]

On other projects in the same organization the property also does get retur

[2021-07-25 17:37] tmeckel commented on #419
Problem here is that the provider may work longer on a deployment than the life time of the access token. In that case the provider can use a refresh token to request a new access token. The problem is that we don't have anything in place right now to handle an expired login/access token, because the provider works with a (very) long living PAT. So implementing this would be a major effort. To mak

[2021-07-25 18:35] tmeckel commented on #419
@tedchamb @xuzhang3 I looked inside the code of `azure-devops-go-api` and by introducing a function `func (connection *Connection) GetAuthorizationHeaderValue() (string, error)` which is called inside the `func (client *Client) CreateRequestMessage(ctx context.Context` we could support arbitrary authentication types and we have a solution for requesting a new access token with a refresh token, bec

[2021-07-25 18:37] tmeckel commented on #351
Duplicate of https://github.com/microsoft/terraform-provider-azuredevops/issues/419

[2021-07-25 18:39] tmeckel commented on #395
@xuzhang3 I think the issue can be closed because AzDO definitely does not support service principal (app only) authentication and always relies on a "real" user object from Azure AD. I not sure if this feature is planned to be implemented anyway.

[2021-07-25 18:40] tmeckel commented on #395
Related to #419 #351

[2021-07-25 18:50] tmeckel commented on #199
The code of the provider relies on a property `templateTypeId` inside the `processTemplate` structure. If the GUID is not present this error will be hit.

![image](https://user-images.githubusercontent.com/14177833/126910009-138c70d4-f0c3-4f37-bc8d-e95158231fb4.png)

![image](https://user-images.githubusercontent.com/14177833/126910041-5d9309bc-2310-45f2-89b7-90074bf15f32.png)

[2021-07-25 22:00] tonyskidmore commented on #199
So what I have seen is that none of the projects that I have viewed that are defined as "Agile" return the property. Which means I cannot use this data resource provider for any other these projects. This seems to be a fairly fundamental issue to using the provider when a data resource is needed?

[2021-07-26 08:47] tmeckel commented on #199
@tonyskidmore can you provide an (anonymized) dump of the JSON data that is returned by `https://dev.azure.com/{orgniazaiton}/_apis/projects/{projectID or projectName}?includeCapabilitie=true&api-version=5.1-preview.1` in your environment?

[2021-07-26 08:54] tmeckel commented on #429
@xuzhang3 I think we've to update the code in `azuredevops/internal/service/build/resource_build_definition.go` to more reliable default value, that will not get obsolete over time.

![image](https://user-images.githubusercontent.com/14177833/126961673-c7186f60-aaa8-486b-986b-14ab0fb8dbe6.png)

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#softwa

[2021-07-26 09:07] tmeckel commented on #428
@sikkiv have you tried to omit the `initialization` block? The `initialization` block will create a diff on the resource because the provider cannot know what type of initialization has been used for the Git repository in case of an import.

[2021-07-26 09:19] tmeckel commented on #427
@alex-3sr Unfortunately `TF400898` is a general error which does not provide very much information what really happened.

You can list the current service connections and their configuration for a project by using the following REST endpoint:

`https://dev.azure.com/{organization}/{project}/_apis/serviceendpoint/endpoints?includeFailed=true&includeDetails=true&api-version=6.1-preview.4`

And if yo

[2021-07-26 13:31] dmccaffery commented on #364
You cannot put providers inside of a module -- removing the reference to the module also removes the provider block which means the provider is no longer available to perform the destroy. This is true for all terraform providers and is not specific to the azuredevops provider.

Always include providers in root modules and declare the required providers in a terraform required_providers block withi

[2021-07-26 13:39] tonyskidmore commented on #199
@tmeckel as requested:
[code]

[2021-07-26 13:44] tmeckel commented on #199
@tonyskidmore this is odd because the `processTemplate` should be listed for the project inside the `capabilities` section. [See comment](https://github.com/microsoft/terraform-provider-azuredevops/issues/199#issuecomment-706022244) above from @xuzhang3

I suspect that the REST API does not return the `processTemplate` (anymore?) if the project is created using the organizational default process t

[2021-07-26 14:00] tonyskidmore commented on #199
@tmeckel the default process at the organization level is set to "Agile".  So what you mention above seems to make sense, that it does not return `capabilities.processTemplate` if the project process matches the default org process.

[2021-07-26 14:52] tmeckel commented on #199
Ok then the fix is obvious. The `core` API provides an endpoint `GetProcesses(context.Context, GetProcessesArgs) (*[]Process, error)` which returns all defined processes in the organization. The `type Process struct` contains a field `IsDefault` which indicates that this particular process is the default inside the organization. The function `lookupProcessTemplateName` should return the name of th

[2021-07-26 15:27] davoodharun commented on #429
I have tried to set the agent_pool_name explicitly to Azure Pipelines and it is still failing.

[code]

[2021-07-26 16:34] alex-3sr commented on #427
Hi,

OK thanks thant help me a lot, and think now why I got this error.
The main difference that I found between tfstate and devops service endpoint, is the subscription name (azurerm_subscription_name).

And I remember that Az subscriptions was rename after tf import, and like first I generate dynamicaly the az subscription name with data source and secondly it's not possible anymore to change az

[2021-07-26 17:27] tmeckel commented on #427
@alex-3sr glad you figured out the problem 👍🏼
@xuzhang3 please close the issue.

[2021-07-26 17:30] tmeckel commented on #429
@davoodharun can you provide a log? Perhaps with `TF_LOG=debug`.

Please sanitize (anonymize) the log file before you post the data here, because a TF log can contain secret values and private data.

https://www.terraform.io/docs/internals/debugging.html

[2021-07-27 15:58] davoodharun commented on #429
https://gist.github.com/davoodharun/06642b0079513485635645db9a0f50b3

[2021-07-27 16:50] tmeckel commented on #429
@davoodharun you can use the following REST API to get a list of  available agent pools in your organization. Please verify that you only use names of pools for the  `agent_pool_name` property that are listed in the return of the REST API.

https://dev.azure.com/{organization}/_apis/distributedtask/pools?api-version=6.1-preview.1

When you use a name from the list of returned agents pools, will th

[2021-07-27 17:22] davoodharun commented on #429
Yep, so the "Azure Pipelines" pool is returned when I make that REST call:
[code]

[2021-07-27 17:24] davoodharun commented on #429
Let me ensure I am using the same access token

[2021-07-27 17:41] davoodharun commented on #429
AH, so I fixed this issue .

It turns out that the pre-defined azure pipelines variable $(System.AccessToken) does not have the ability to read the Azure Pipelines agent pool. I switched to a person access token and the issue was resolved.

I'll ask around on the Microsoft side as to why the Azure Pipeline pool is not found when using $(System.AccessToken) for AZDO_PERSONAL_ACCESS_TOKEN vs a perso

[2021-07-27 18:37] tmeckel commented on #429
@davoodharun great you could fix the problem. @xuzhang3 please close the issue

[2021-07-28 14:13] VimukthiPerera opened #430 "Correct way to define pull_request_trigger in azure devops_build_definition"
I have created the following resource based on the document at https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/build_definition

[code]
But I am getting the following error.

[code]
What am I doing wrong?

[2021-07-28 15:18] jonathansp commented on #388
@xuzhang3 ideally it should paginate, but if we can have a small workaround for now, like increasing the pageSize to 100 on the API call would be good.

[2021-07-28 16:55] liamrob commented on #388
ADO doesn't look like they expose an option to map to the `maxresults` query param in AzureRM apis based on the `AzureKeyVaultSecrets` datasource.

The Azure api returns a netxtlink prop containing a `$skiptoken` value, this gets passed back from ADO too so it looks like this needs to be used in the provider to build up the list of secrets using the `AzureKeyVaultSecretsWithSkipToken` datasource i

[2021-07-28 17:10] VimukthiPerera commented on #430
Worked with the below configs

[code]
Hence closing the issue

[2021-07-28 17:10] #430 closed, assigned to nobody

[2021-07-30 20:21] a2m1 commented on #410
Created [azure-devops-go-api/issues/104](https://github.com/microsoft/azure-devops-go-api/issues/104). But don't think that it will help as [azure-devops-go-api](https://github.com/microsoft/azure-devops-go-api) didn't get any updates since Aug 2020.

[2021-07-30 20:45] a2m1 commented on #410
Not perfect but better than nothing
[code]

[2021-08-02 02:07] xuzhang3 commented on #429
Close this issue, feel free to open another issue if you have questions.

[2021-08-02 02:07] #429 closed, assigned to nobody

[2021-08-02 02:10] xuzhang3 commented on #351
Duplicate of #419 ,  close this issue.

[2021-08-02 02:10] #351 closed, assigned to nobody

[2021-08-02 02:49] xuzhang3 commented on #427
Thanks @tmeckel , close this issue.

[2021-08-02 02:49] #427 closed, assigned to nobody

[2021-08-02 02:58] xuzhang3 commented on #419
@goflores Can you help clarify this issue @tmeckel  mentioned.

[2021-08-02 03:38] xuzhang3 commented on #364
Close this issue, feel free to open another if you have questions.

[2021-08-02 03:38] #364 closed, assigned to nobody

[2021-08-02 15:03] sikkiv commented on #428
@tmeckel yes I did, but since it's a "required" field as stated here: https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/git_repository I can't leave it empty...

[2021-08-02 15:06] tmeckel commented on #428
@sikkiv can you check if it makes any difference when you set the `init_type` to `Uninitialized`

[code]

[2021-08-03 14:00] sikkiv commented on #428
@tmeckel that is exactly what I did already and it still wants to destroy the resource, tested with every `init_type` already :(

[2021-08-03 16:41] a2m1 commented on #143
Might be not the cleanest but here is a working solution for env+approvals creation
1. Define environments with approvers
[code]
2. Create environments
[code]
3. Get IDs of created environments via external data
[code]
Where data_external_environment.py
[code]
4. Create Approval checks
[code]

[2021-08-04 05:24] xuzhang3 commented on #428
@sikkiv What is the value of the `init_type` in the .tfstate file?

[2021-08-04 09:21] sikkiv commented on #428
@xuzhang3 it's not existing, this is what's there: `"initialization": [],`

[2021-08-04 09:33] xuzhang3 commented on #428
@sikkiv   A workaround is add the `initialization` to the `.tfstate` file manually and make sure the `init_type` configuration in the TF script is same as `.tfstate`.   This is a breaking change introduced since v0.1.6.  Another workaround is downgrade the provider version to v0.1.5

[2021-08-04 09:35] w0ut0 commented on #298
related to [382](https://github.com/microsoft/terraform-provider-azuredevops/issues/382)?

[2021-08-04 12:03] sikkiv commented on #428
@xuzhang3 thank you very much for your help, that absolutely helped 👍

[2021-08-04 12:03] #428 closed, assigned to nobody

[2021-08-09 19:07] derekwilliamsliquidx opened #431 "azuredevops_variable_group doesn't allow for no variables as documented."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-10 02:19] derekwilliamsliquidx commented on #431
I have a feature branch to update the docs and mark `variable` block as optional. I'm unable to push a feature branch though.

[2021-08-11 02:02] xuzhang3 commented on #431
@derekwilliamsliquidx  You can submit a pull request to this repo.

![image](https://user-images.githubusercontent.com/57888764/128958329-a6165ab8-eef8-4c62-b328-cb16db75ea19.png)

[2021-08-11 14:08] allenvino1 opened #432 "Provider produced inconsistent final plan for azuredevops_serviceendpoint_kubernetes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-12 07:15] xuzhang3 commented on #432
Hi @spacejam101  I cannot reproduce this error.  Which Terraform version and provider version are you use? This  seems like https://github.com/hashicorp/terraform/issues/20517

[2021-08-12 07:19] allenvino1 commented on #432
Hello @xuzhang3. I'm using terraform v1.0.3. This my provider versions:
![image](https://user-images.githubusercontent.com/17024847/129154558-17306b7b-ea02-4e66-8ad6-e08f2ed16147.png)

[2021-08-12 12:24] allenvino1 commented on #432
Is there anyway I can help inorder for you to solve this? @xuzhang3

[2021-08-13 03:20] xuzhang3 commented on #432
@spacejam101   You should mask the cert and tokens.

[2021-08-13 03:26] xuzhang3 commented on #432
Hi @spacejam101 what's the output of `terraform plan`.  Will `token` and `cert` changed during the `terraform apply`, the real value will changed by GKE?

[2021-08-13 03:39] allenvino1 commented on #432
I'm afraid my flow does not use static token and cert. I would like it to be on the fly.

The flow would be GKE is created and then I do a secret lookup on the serviceaccount to be passed to azure devops.

![image](https://user-images.githubusercontent.com/17024847/129301426-da78edac-30b8-4fc7-8dd2-2eaa2b193c49.png)

Plan output:
![image](https://user-images.githubusercontent.com/17024847/12930171

[2021-08-13 08:18] xuzhang3 commented on #432
@spacejam101  I create a new aks cluster and use `kubernetes_secret` to get the credentials,  all resource can be created without error.

[2021-08-13 09:00] bhavith commented on #395
@tmeckel @xuzhang3 i see that now "The Azure DevOps API doesn't support non-interactive service access via service principals."

Thanks for your response. I guess this issue can be closed.

[2021-08-13 09:01] #395 closed, assigned to nobody

[2021-08-14 11:00] allenvino1 commented on #432
Interesting. Sorry im new to terraform. Not sure how to debug this one. Uhmm Maybe try it with GKE cluster?

[2021-08-14 16:10] allenvino1 opened #434 "Error creating service endpoint in Azure DevOps: The string must have at least one character."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-15 02:17] rdalbuquerque commented on #23
This would be very helpful when generating repos with template files. We are doing it with forks now, not ideal.

[2021-08-18 15:17] drdamour opened #435 "New Datasource: user_entitlement"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-20 02:53] mlninc opened #437 "azuredevops v0.1.6: archive has incorrect checksum"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-20 04:06] mlninc commented on #437
The issue is due to cooperate network monitoring app (netskope).
If you experience similar issue, try disabling vpn or any other network filtering app that may be running on your system.

[2021-08-20 04:06] #437 closed, assigned to nobody

[2021-08-21 04:27] roryprimrose opened #438 "Support for process template"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-23 06:37] xuzhang3 commented on #113
Close this issue by #436

[2021-08-23 06:38] #113 closed, assigned to nobody

[2021-08-23 21:37] scottenriquez opened #439 "Error thrown when trying to create an Azure repo with a private repo import"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-08-24 02:00] xuzhang3 commented on #439
Hi @scottenriquez Import private repository with `username` and  `password` is not supported by this provider. You should create a service connection first, then you can import the private repository with the service connection. The document error in https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/git_repository has been fixed but not released.
Example:
[code]

[2021-08-24 18:57] riccardoj commented on #439
Hi @xuzhang3 I have taken your example above but this failed again with a 400 error:

`Error: Error import repository in Azure DevOps: Request returned status: 400 Bad Request
  with azuredevops_git_repository.repo,`
`  on devops_project_setup.tf line 10, in resource "azuredevops_git_repository" "repo":`
`  10: resource "azuredevops_git_repository" "repo" {`

In the "azuredevops_serviceendpoint_ge

[2021-08-24 19:46] scottenriquez commented on #439
@xuzhang3 thank you so much for the clarification! The HCL you provided works for me 👍🏼

[2021-08-24 20:28] riccardoj commented on #439
For anyone else facing a similar symptom to the one I explained, this was resolved by removing the "organisation" prefix from the Azure DevOps destination URL inside the service connection.

Working = https://dev.azure.com/org/project/_git/repository

NOT Working = https://org@dev.azure.com/org/project/_git/repository

[2021-08-24 21:11] favoretti commented on #410
There has been life in go-sdk-upgrade to 6.0/6.1. According to https://github.com/microsoft/azure-devops-go-api/issues/93 - coming soon™.

[2021-08-25 13:12] aleqsss commented on #204
@xuzhang3 take a look at [this issue (#93)](https://github.com/microsoft/azure-devops-go-api/issues/93) (more specifically [this](https://github.com/microsoft/azure-devops-go-api/issues/93#issuecomment-901113724) and [this](https://github.com/microsoft/azure-devops-go-api/issues/93#issuecomment-904912783) post) in the azure-devops-go-api.

It seems like they've started the work with updating the S

[2021-08-26 03:20] xuzhang3 commented on #204
Hi @aleqsss  thanks for ping me out here. we have noticed this issue,  after v6 and v6.1 SDK released, I will update the go.mod and `vendor` files.

[2021-08-27 22:42] drdamour opened #441 "azuredevops_iteration_permissions doesn't work if path changes"
I initially terraformed some permissions with azuredevops_iteration_permissions  for path `/FY21/X` then we moved `/FY21` to `/Archive/FY21`  when running a terraform apply or plan i got the following error during plan phase (NOT APPLY PHASE):

`Error: Error getting classification node: VS402485: The Area/Iteration name is not recognized: FY21`

I got past it by hand modifying the state of that re

[2021-08-31 06:54] xuzhang3 commented on #441
Hi @drdamour It's not recommend to manage the resources with Terraform and other tools.
In your scenario, when you change the iteration path and execute `terraform apply` command, The `azuredevops_iteration_permissions` will be recreated. The  `path` is force new property,  change this value will destroy the current resource and create a new one
Terraform  will use the state value(`/FY21/X`) to de

[2021-08-31 07:17] xuzhang3 commented on #441
Since ADO provider does not support create iteration path. A workaround here is use [azuredevops_iteration](https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/data-sources/iteration) data source,  the `path` in `azuredevops_iteration_permissions` is ref from `azuredevops_iteration`, when you change the path in  https://dev.azure.com/, you change the `path` in the `azuredevop

[2021-08-31 11:06] drdamour commented on #441
@xuzhang3 the issue is that i cant even run a plan because the provider is incorrectly attempting to fetch based on current state file value of path and not the id.  I expected a destroy and create, but i couldn't even get that. Try it out and i think you’ll understand better the bug

[2021-09-01 02:32] xuzhang3 commented on #441
@drdamour when the iteration path changed out of Terraform, this is one result that might happen, I don't think this is a bug.  A potential workaround is remove the `azuredevops_iteration_permissions` from the `.tfstate` file manually, but you need to handle the permissions carefully since the granted permissions are not removed.
Also ADO should handle the errors gracefully, since current issue is

[2021-09-01 03:14] drdamour commented on #441
@xuzhang3 why is the provider trying to fetch the iteration? Why cant it just use the id to fetch the permission?

[2021-09-01 03:17] xuzhang3 commented on #441
@drdamour Permission  configuration is based on ACL token and token is generated from the `path`

[2021-09-01 03:22] drdamour commented on #441
Hm…i kinda get the limitation but i need to check the api docs a bit before i concede there arent any options currently.  My workaround was to modify the state to the new path, then i got the destroy and create I expected.  Again i WANT destroy and create..

compared to other providers crashing on a plan is ALWAYS a bug, even if it means a request has to be made upstream to expose an addition api

[2021-09-03 02:09] LanceSandino commented on #346
following... I do not believe there is a resource to manage`default` build permission

[2021-09-08 08:43] a30000931 commented on #417
Hi @xuzhang3   - @josh-barker-coles  has an example of how to do that in issue #51

This successfully links an AAD group to an Azure DevOps team.

We found in tetsing that subsequent removal of the resource removes ALL references to the group in the Org. This seems to be because you can't set both a scope and an origin_id ( based on this comment ) :

[https://registry.terraform.io/providers/micros

[2021-09-09 11:34] mariussm commented on #298
Same issue

[2021-09-09 14:37] vanmash opened #442 "How to add members to azuredevops_team_members using their email"
Hi,

how to add members using their email address?

Or how get to identifier like this "aad.NGJjZ***" based on email?

[code]

---

If you have a support request or question please submit them to one of these resources:

* [Terraform community resources](https://www.terraform.io/docs/extend/community/index.html)
* [HashiCorp support](https://support.hashicorp.com) (Terraform Enterprise customers)

[2021-09-09 15:52] vanmash commented on #442
Is it a correct answer to my _own_ question?

[code]

[code]

[2021-09-11 23:02] OpsM0nkey opened #443 "azuredevops_user_entitlement fails to re-add user once they are manually removed from the organisation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-13 07:30] bradley-energyaustralia opened #444 "When attempting to manage projects that have Azure AD users, when a user is attempted to be added that has left the AD org a failure occurs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-13 08:36] xuzhang3 commented on #442
yes , you can use this configuration to add users to a team

[2021-09-14 07:27] Miouge1 opened #445 "Add support for scheduled triggers in azuredevops_build_definition"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-14 08:58] xuzhang3 commented on #443
@OpsM0nkey It's not recommend to manage the resources out of Terraform and try handle the changes by Terraform.
Also I cannot reproduce your error, I can create the user and remove it from UI then apply `terraform apply` to recreate it. Normally the provider will the detect resource is no longer exists and remove it [from the state](https://github.com/microsoft/terraform-provider-azuredevops/blob/

[2021-09-14 09:30] xuzhang3 commented on #445
@Miouge1  Did you try to handle the schedulers in `azuredevops_build_definition`？I would suggest handle it  through `yaml` file. You can manage the repo files by `azuredevops_git_repository_file` (**not released**) https://github.com/microsoft/terraform-provider-azuredevops/blob/master/website/docs/r/git_repository_file.html.markdown

[2021-09-14 11:18] OpsM0nkey commented on #443
'_ It's not recommend to manage the resources out of Terraform and try handle the changes by Terraform._'
I completely agree. However, it's a likely scenario to occur, which is exactly the reason we would like to utilise Terraform to define the desired state - and reconcile in the event of divergence (however it may have happened). It's in line with one of the core principles of GitOps - Continuou

[2021-09-15 07:38] Miouge1 commented on #445
@xuzhang3 that might suitable for some instances, but in the use case I have the same `azure-pipelines.yml` is used by several build definitions (or pipelines) which are connected to different variable groups & triggers.

I currently adding the scheduled triggers manually, support in `azuredevops_build_definition` would appreciated.

[2021-09-15 07:58] xuzhang3 commented on #443
@OpsM0nkey  My test ORG connected to an AAD too, I still cannot reproduce the error. The username case sensitive issue has been fixed in #446 .
Generally, after resource has been created and managed by Terraform, when you applied `terraform apply`, Terraform will first perform a read operation then update, the read operation will detect the resource not longer exists and remove it from the `state`

[2021-09-15 12:05] OpsM0nkey commented on #443
@xuzhang3 thanks for the quick turnaround on #446!

To answer your other question, no parallel tasks run, nor is the user referenced by another resource. This is running against a clean AzDO org I just set up for testing this provider. I know what you're saying, but in my case, just running `terraform plan` tells me the state is only partially updated:

[code]
i.e. it picks up on the change in lic

[2021-09-16 03:30] xuzhang3 commented on #443
@OpsM0nkey just recall the delete operation is an async operation and users have [status](https://docs.microsoft.com/en-us/rest/api/azure/devops/memberentitlementmanagement/user-entitlements/get?view=azure-devops-rest-6.0#accountuserstatus) . In ADO provider , we ignore the account status,  this seems to be the key point here.

[2021-09-17 23:40] ngeegoh opened #449 "provider "azuredevops". Error: The resource cannot be found."
### Terraform (and Azure DevOps Provider) Version: 0.12.19

### Affected Resource(s)

* `azuredevops_XXXXX`

### Terraform Configuration Files

[code]

### Error Output

Error: The resource cannot be found.

  on main.tf line 32, in provider "azuredevops":
  32: provider "azuredevops" {

### Actual Behavior

It was okay a few hours ago. Then suddenly the resource cannot be found for some reason.

[2021-09-17 23:46] ngeegoh commented on #449
Just wondering if this merged PR might potentially cause this issue? https://github.com/microsoft/terraform-provider-azuredevops/commit/473a1c7d5b94511a4aa74212f9535aee2a1c0f76

[2021-09-18 00:23] ngeegoh commented on #449
I even tried to upgrade Terraform version to 1.0.5, but it still complains about provider azuredevops not found in terraform registry.
[code]

[2021-09-18 03:39] xuzhang3 commented on #449
This feature is not released.

[2021-09-18 03:41] ngeegoh commented on #449
Thanks @xuzhang3, do you know what might go wrong with the terraform azuredevops package that can not be found in the registry?

The provider name is `azuredevops`  not `azurerm`

[2021-09-18 03:41] xuzhang3 commented on #449
@ngeegoh You should add the azure devops configuration:
[code]

[2021-09-18 03:42] ngeegoh commented on #449
I have tried that as well but it doesn't work, everything was fine last night, not sure why.

[2021-09-18 04:24] xuzhang3 commented on #449
@ngeegoh You are using the legacy configuration, you should upgrade the configuration to new format(terraform registry):
[code]

[2021-09-18 04:45] ngeegoh commented on #449
@xuzhang3 I needed to add provider "azuredevops",
[code]
 otherwise, it will complain with this error :
[code]
But even if I added the config provider block for azuredevops, its still the same issue:
[code]

[2021-09-18 04:53] xuzhang3 commented on #449
@ngeegoh   I can initial the configuration with `terraform init`(terraform v1.0.5),   can you delete the `.terraform` folder and retry?  The `.terraform` structure is different between the legacy and new format.
[code]

[2021-09-18 04:55] ngeegoh commented on #449
@xuzhang3 I can initial the configure with terraform init as well, but fails at terraform plan when it couldnt find the resource and provider of azuredevops.

This is my terraform init output
[code]
Then it failed at terraform plan:
[code]
This is my tf file that has azuredevops resource
[code]

[2021-09-18 05:27] xuzhang3 commented on #449
@ngeegoh  This strange, if you can initial the providers, then during the `plan` phase,  terraform should find the providers. Is this backend `state` shared with some who may modify these files? The log shows that the error occurred when terraform handling the `state`.

[2021-09-18 05:37] ngeegoh commented on #449
This tfstate file is not shared with anyone, it was locked when terraform plan is running

[2021-09-18 05:48] ngeegoh commented on #449
I even tried to delete the whole tfstate file and re-ran, it still failed with same error at terraform plan.

[2021-09-18 05:59] xuzhang3 commented on #449
Does terraform plan run under the right permission?

[2021-09-18 06:00] ngeegoh commented on #449
Yes it does as it was working fine before with azuredevops, and even without azuredevops provider its still working fine.

[2021-09-18 06:42] ngeegoh commented on #449
Hmm could I miss anything in the above tf file that has azuredevops resource (azuredevops service connection resource)?? I didnt change anything since it worked before.

[2021-09-18 08:38] xuzhang3 commented on #449
@ngeegoh Can you run `terraoform plan` with local state?  Disable the backend configuration.
[code]

[2021-09-18 09:15] ngeegoh commented on #449
@xuzhang3 I am running terraform in AzureDevOps pipeline by using terraform backend, its working fine, but not with azuredevops provider. I tried with local same error with resource not found. Are you able to reproduce this error from your end?

[2021-09-18 09:20] xuzhang3 commented on #449
@ngeegoh  Can you share full TF script and which Terraform version you use?

[2021-09-18 09:27] ngeegoh commented on #449
@xuzhang3  I am using terraform version 1.0.5 in AzureDevOps pipeline. These are my tf scripts that I used (4):

[code]

[code]

[code]

[code]

[2021-09-21 05:03] thibgc opened #450 "Cannot download terraform-provider-azuredevops_0.1.4_linux_amd64.zip: HTTP 403 SignatureDoesNotMatch"
From the [releases page](https://github.com/microsoft/terraform-provider-azuredevops/releases), the asset [terraform-provider-azuredevops_0.1.4_linux_amd64.zip](https://github.com/microsoft/terraform-provider-azuredevops/releases/download/v0.1.4/terraform-provider-azuredevops_0.1.4_linux_amd64.zip) from [v0.1.4](https://github.com/microsoft/terraform-provider-azuredevops/releases/tag/v0.1.4) canno

[2021-09-21 17:02] jemag commented on #8
Is there any particular blocker for this issue? Seems like the feature has been available for a long time, but still not represented in documentation

[2021-09-21 18:45] thibgc commented on #450
This seems to have resolved itself, and other projects with similar issues report that GitHub has applied some kind of fix.

[2021-09-21 18:45] #450 closed, assigned to nobody

[2021-09-22 03:38] xuzhang3 commented on #449
@ngeegoh  I cannot reproduce your error., no matter  AzureDevOps pipeline, mac, linux or windows , all works for me.

[2021-09-24 17:40] kensykora opened #451 "Add support for approvals and other checks (service connections, environments)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-26 03:31] xuzhang3 commented on #451
@kensykora This resources is supported since v6.1. Blocked by go-sdk  https://github.com/microsoft/azure-devops-go-api/issues/93

[2021-09-26 23:30] rdalbuquerque commented on #451
@xuzhang3  Apparently pipelineschecks is already available on azure-devops-go-api since [microsoft/azuredevops-go-api#87](https://github.com/microsoft/azure-devops-go-api/pull/87). This would indeed be very helpful.

[2021-09-27 23:18] ksommoxy opened #453 "Failure to create/update Azure DevOps service connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-28 16:48] lisaplapla commented on #388
Any news/ETA on this issue? Until it's fixed is there any way to work around it (beside having var group with less than 25 vars)?

[2021-09-29 03:30] xuzhang3 commented on #453
@ksommoxy  You need install [Configurable Pipeline Runner](https://marketplace.visualstudio.com/items?itemName=CSE-DevOps.RunPipelines) for your organization.

[2021-09-29 03:56] xuzhang3 commented on #388
@lisaplapla Currently, the  only workaround is having var group with less than 25.  This task has been added to our backlog.

[2021-09-29 09:27] lisaplapla commented on #388
Hello @xuzhang3 ,
We cannot really split our vargroups and they contain way more than 25 variables. But by using a version prior to 0.1.2 of the provider (which introduces checks against the kv) I got it to work. Not ideal though as it's an old version.

[2021-09-29 14:38] jstock opened #455 "Default agent_pool_name should no longer be "Hosted Ubuntu 1604""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-09-29 15:31] ksommoxy commented on #453
Installing the extension resolved the issue. Tested both creating a new service connection and updating the created service connection. Thanks for updating the documentation.

[2021-09-29 15:31] #453 closed, assigned to nobody

[2021-10-03 07:41] sezginceyhan opened #456 "Decouple necessity of Agent Pools from Agent Queue resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-04 00:34] jaicao opened #457 "Terraform Apply for missing/removed azdo prohe resources fails if project removed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-04 13:27] sandrom opened #458 "Pipeline Permissions for Service Connection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-04 13:29] sandrom opened #459 "Approvals and Checks for Service Connections"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-05 19:16] drdamour commented on #343
@tmeckel / @xuzhang3 taking this for a spin and it seems to be stuck in a creating loop forever

[2021-10-05 20:54] drdamour commented on #345
@xuzhang3 i just had a need to do this again..and it's still and issue using 0.1.7

i import he group,then when i go to apply i get force replacement because of scope.  in the state file it's empty

[2021-10-05 20:55] drdamour commented on #345
can we reopen this plz

[2021-10-05 21:00] drdamour commented on #343
so more info after testing...def seems like this is hanging, tried locally on windows and on a linux azdo build agent both hung forever (well i waited 25 minutes)

[code]

and

[code]

[2021-10-05 22:21] federicomanco commented on #388
I am also experiencing this issue, follow this and will appreciate to know about a resolution.

[2021-10-07 02:58] huats opened #460 "Error: The terraform-provider-azuredevops_v0.1.7 plugin crashed!"
Using Terraform 1.0.5 I am facing that error during terraform plan.

Please note that this code was running without issue 1 month ago.
[code]

[2021-10-08 13:11] dmccaffery opened #462 "azuredevops_git_repositories and azure_devops_git_repository data sources should include a value indicating whether or not a repository is disabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-08 13:15] dmccaffery opened #463 "azuredevops_git_repositories and azure_devops_git_repository data sources should include a value indicating whether or not a repository is a fork"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-11 02:21] xuzhang3 commented on #343
@dramour  Can you share your TF script and error log?

[2021-10-11 07:28] xuzhang3 commented on #455
The default agent pool name will rename to `Azure Pipelines`
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/pools-queues?view=azure-devops&tabs=yaml%2Cbrowser#default-agent-pools

[2021-10-11 07:34] xuzhang3 commented on #457
Currently, all resource won't handle the project status, if the project resource been deleted, the sub resource will simply throw an error. All  resources depends on project should handle the project status.

[2021-10-11 07:37] xuzhang3 commented on #458
@sandrom `azuredevops_resource_authorization` can do the authorization.
https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/resource_authorization

[2021-10-11 07:39] xuzhang3 commented on #459
@sandrom Blocked by SDK v6

[2021-10-11 07:41] xuzhang3 commented on #460
@huats Can you share your TF script?

[2021-10-11 07:42] sandrom commented on #459
@xuzhang3 so this will come eventually? :)

[2021-10-11 07:57] xuzhang3 commented on #459
yes, you can track progress in https://github.com/microsoft/terraform-provider-azuredevops/issues/459#issuecomment-939771729

[2021-10-12 05:49] roryprimrose opened #464 "Importing azuredevops_project_features always causes a replace on subsequent plan"
I'm guessing the issue here is that importing azuredevops_project_features does not store the project_id or feature toggles in state so when plan is run it identifies that the features are going to be replaced and indicates that the project_id is being added and feature switches are also being added.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/

[2021-10-12 19:06] huats commented on #460
Sure @xuzhang3

---
[code]

Of course I have some variables that are defined next to it.

---

[2021-10-12 19:31] gtiguy92 opened #465 "Change default from Hosted Ubuntu 1604 (unsupported as of 10/18/2021) to Azure Pipelines"
I'd like to suggest that the default agent pool name be changed from Hosted Ubuntu 1604 which is going to be retired on 10/18/2021 (https://github.com/actions/virtual-environments/issues/3287)

https://github.com/microsoft/terraform-provider-azuredevops/blob/b00f7842e49eef559addae4c3f11f6ce09356654/azuredevops/internal/service/build/resource_build_definition.go#L141

[2021-10-13 05:21] xuzhang3 commented on #465
duplicate with #455

[2021-10-13 05:21] #465 closed, assigned to nobody

[2021-10-13 05:57] roryprimrose opened #467 "Importing repository causes repository to be deleted on subsequent plan"
I have tried to import an existing uninitialized repository using a project name and repository name. The repository is correctly identified and put into state. A subsequent plan/apply attempts to delete the repository because the initialization.init_type is not populated in state.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reac

[2021-10-13 22:06] roryprimrose commented on #467
I found the solution when looking at the notes provided on plan. You can ignore changes to the initialization attribute.

[code]

[2021-10-14 03:39] xuzhang3 commented on #460
@huats I cannot reproduce this error, can you help get the service connection from with this API (https://dev.azure.com/{organization}/{project}/_apis/serviceendpoint/endpoints?api-version=6.0-preview.4)

[2021-10-14 05:39] xuzhang3 commented on #467
@roryprimrose  The `initialization` is not part of the API or the service configuration. This a additional configuration introduce by ADO provider, service won't return this  configuration. This is why the import operation will force recreate the reps(`initialization` only exist in the TF script).  A workaround to ignore this error is same as you did:
[code]

[2021-10-14 21:56] huats commented on #460
I am sorry but I don't understand what you are asking me about the service connection...

[2021-10-15 03:21] xuzhang3 commented on #460
@hauts `azuredevops_serviceendpoint_aws` is of the service connection, if you have created this resource by terraform, you can find  it in `project -> Project Settings -> Service Connections`. The root issue here seems the service response does not have the `Authorization.Scheme` while my test resource always have this values, so can you help use the API (https://dev.azure.com/{organization}/{proj

[2021-10-15 14:24] larsmaes opened #470 "Changing Work Item Process causes Project to be replaced"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-15 15:16] kjgen opened #471 "azuredevops_project_permissions statefile not updated correctly on new resource creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-15 20:13] huats commented on #460
@xuzhang3
Thanks for the explanation.

WHen I visit that URL I simply get

`{"count":0,"value":[]}`

But apparently some others from my team are getting different answer with many stuffs. I'll try to figure out if I find the Authorization.Scheme you are mentionning.

[2021-10-16 13:05] huats commented on #460
@xuzhang3 you nailed it. Once I have been granted administrator I have been able to use TF correctly. May be there is something to catch to better handle permission. But I won't be able to help since I have coded in Go :( thanks a lot ! I let you close it.

[2021-10-18 02:18] xuzhang3 commented on #460
closing this issue, feel free to open another issue if you  have questions

[2021-10-18 02:18] #460 closed, assigned to nobody

[2021-10-18 02:21] xuzhang3 commented on #470
@larsmaes this is by design.  If the project work item changed,  the project will recreated.

[2021-10-18 03:42] xuzhang3 commented on #471
@kjgen  The `azuredevops_group.scope` is not set,  the group will be created under the organization-level by default,  this is why the permission setting failed. Set the `azuredevops_group.scope` to the project should work.

[2021-10-18 07:23] larsmaes commented on #470
@xuzhang3 thats a strange design imho.. i should be able to change the process type without recreating. It is possible to do this in the gui, but hey.. i want to do this with code, preferably with terraform

[2021-10-18 14:12] kjgen commented on #471
@xuzhang3 In the examples I posted in the description of the bug, the scope is already defined `scope = each.value.id` which is the IDs of the projects. The configuration in azure devops is updated correctly, but if I look at the state file, the project_permissions `GENERIC_READ` is set to `not set` instead of `allow`.

[2021-10-19 03:20] xuzhang3 commented on #471
@kjgen  Thanks for the feedback.  I can randomly reproduce this error,  the root issue seems the read operation get the old value, not the latest settings.

[2021-10-19 14:46] nick-o opened #472 "Missing property "statusGenre" in resource "azuredevops_branch_policy_status_check""
Hi,

For the resolution of #352  a new resource called `azuredevops_branch_policy_status_check` has been introduced via PR #384. Unfortunately it seems like the `statusGenre` setting has been overlooked when implementing this resource. `statusGenre` must be set when creating a Branch Policy Status Check as described in the documentation [here](https://docs.microsoft.com/en-us/azure/devops/repos/gi

[2021-10-20 17:11] bb-josh opened #474 "Error: Provider produced inconsistent result after apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-21 03:21] xuzhang3 commented on #474
@bb-josh  Thanks for the feedback.  I can reproduce this error by manually change the service response.  The project has been created but when provider try get the project, service response indicate that this project was not found. In this scenario,  the ADO provider will set resource ID to empty string to notify Terraform that this resource should be deleted from the state file. One way to fix th

[2021-10-22 04:04] #467 closed, assigned to nobody

[2021-10-24 20:02] mlomat opened #476 "Renaming subscription is probably clearing or changing secret to wrong value."
Hello team,

It looks like that azuredevops_serviceendpoint_azurerm has a bug, when trying to change subscription name. When I change value from "Sample Subscription" to "Sample Subscription Test", it will change value in devops, but connection service will stop working, because it looks like it's nullifying or changing value for secret.

### Community Note

* Please vote on this issue by adding a

[2021-10-26 03:18] xuzhang3 commented on #476
@mlomat The subscription name is part of the credential. Since the subscription name has been changed, the credential is used to access the new subscription `Sample Subscription TEST`,  the verify will failed due the SPN does not have the permission to access the new subscription `Sample Subscription TEST`.

[2021-10-26 05:41] mlomat commented on #476
@xuzhang3  Sorry, but you are wrong, it's not a part of credential. Subscription name is only alias. Azure does not use subscription name for anything. Credentials are Client_Id, Secret and subscription_id. You can put whatever you want in azurerm_subscription_name. From the other perspective you can assign rights to multiple subscriptions and then how you will access others?

[2021-10-26 06:01] xuzhang3 commented on #476
@mlomat The subscription name is required by ARM service connection. Normally, only clietnID, secret and subID is required, but for ARM service connection , it's different, the subscription name is required. You should create different service connection for different subscription if the SPN only have one subscription access permission.  Also, you can grant the SPN the permissions to access differ

[2021-10-26 06:36] mlomat commented on #476
@xuzhang3 I will agree that it's require, but value is not used for any interesting purpose. I tested it. If you create new service connection with valid clientId, secret and subId and with some fake subscription name it will still pass validation ;)

E.g. You will create new service connection with clientId, secret and subId and with sub name "Sample Subscription Test" ( even you don't have such

[2021-10-26 07:36] mlomat commented on #476
+ I forget to mention, that I tested it from DevOps API, where it's working without any issue. So it's some bug in Terraform.

[2021-10-27 15:47] alex-3sr commented on #439
Hi all ;)

On my scenario where I want to import GIT between same DevOps organisation, I've still have the 400 Bad Request error :(

Here my part of code :
[code]

The goal here is just to have GIT template and permit to create new repo GIT in same DevOps with importing the template. I think the Bad Request error is linked to this issue based on differents comment that I can read here.

Thanks for

[2021-10-28 06:13] xuzhang3 commented on #439
@alex-3sr  what `password` used here?  The  `password` should be the  personal access token for devops repos.

[2021-10-28 07:35] alex-3sr commented on #439
Hi @xuzhang3 , oh it's correct ! I used GIT password and it was not working, now swapping to PAT token and works like a charm ! Thank you
I think that documentation need to be updated for precise this information on this page https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/serviceendpoint_generic_git

BTW, now it's working, thank you again
Regards
Alex

[2021-10-28 10:11] vital-dhaveloose commented on #460
Just FYI: I have also experienced this issue and would humbly advise to improve the error message.

[2021-10-28 10:17] Danielkem opened #478 "New Resource: Azure Service Connection for Visual Studio Marketplace"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-10-28 11:21] jacky-ni commented on #298
Since the beginning of this week, for some reason version 0.1.3 also gives the 503 error, I also tried some other versions, the latest 0.1.7 and 0.1.5, but none of them is working. Anyone experiencing the same issue?

[2021-10-29 07:09] lindhe commented on #478
Sounds like a bug to me...

[2021-10-29 08:57] xuzhang3 commented on #460
@vital-dhaveloose  Thanks for your feedback. Currently, the error message and exceptions are simply returned to users and the context information is not handled carefully. I have add this issue to our backlog, the exceptions  and error messages should be handled properly.

[2021-10-31 19:19] dmccaffery commented on #343
@xuzhang3 : we are seeing the same thing (never ending loop) when trying to change the description:

[code]

[code]

[2021-10-31 20:16] dmccaffery commented on #343
@xuzhang3  -- I think I figured it out -- its related to an import when a description exists whereby the import fails to pull in the description. This seems to create an apply that cycles forever waiting for some kind of a state change.

[2021-11-01 02:42] xuzhang3 commented on #478
@lindhe All service connection have fixed type and parameter scheme,  the `generic service connection` won't to able to handle this new service connection.

[2021-11-01 06:59] lindhe commented on #478
I agree that it is unreasonable to have a `visualstudiomarketplace` type service connection handled by a `generic service connection` type Terraform object. That's why I consider it a bug that Daniel was able to successfully `terraform import` the object and run `terraform plan` without an issue.

[2021-11-01 07:11] xuzhang3 commented on #478
@lindhe Different service connection may have same parameter structure, but the type is different, this may be the reason why you can apply the `import` and `plan` command.

[2021-11-01 07:27] lindhe commented on #478
Would it be possible for the provider to catch that earlier, before `terraform apply`?

[2021-11-01 07:30] xuzhang3 commented on #478
@lindhe I need do some investigation to figured if we can trigger the error earlier, eg `tarraform plan`.

[2021-11-01 09:06] xuzhang3 commented on #298
@jacky-ni Can you share your TF script?

[2021-11-01 09:11] jacky-ni commented on #298
@xuzhang3 suire, thsi is the what I have in the provider.tf:
[code]

[2021-11-02 18:07] RobinS-S commented on #428
This is still an active issue on 0.1.7.

[2021-11-02 20:30] roryprimrose commented on #428
The workaround is documented in issue #467. You need to tell the provider to ignore that attribute.

[2021-11-03 03:02] xuzhang3 commented on #298
@jacky-ni  Assume you are trying to create a group based on the AAD group and got a 503 error. How does this group refer to the AAD group?
For example, the `azuredevops_group.ad_group` is reference an AAD group `var.analytics_ad_group_id` :
[code]

[2021-11-03 10:29] Danielkem opened #481 "Add support for immediate build expiration when main branch is updated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-03 10:54] #481 closed, assigned to nobody

[2021-11-03 10:56] Danielkem commented on #481
Looks like setting `QueueOnSourceUpdateOnly` to false and then setting `valid_duration` to 0 does what this issue aimed to accomplish.

[2021-11-04 09:11] lindhe commented on #481
I think this should be better documented.

[2021-11-04 10:32] jacky-ni commented on #298
@xuzhang3
Thanks for your reply.

Yes this is what we have
[code]

[2021-11-04 17:46] drdamour commented on #343
@xuzhang3 the most basic apply cauesed it
[code]

i can CONFIRM what @dmccaffery said...if i do NOT have a description, then it works fine...it's if i have a description it just hangs forever

[2021-11-04 17:54] nechvatalp commented on #419
Hi, @tmeckel @xuzhang3 the azure-devops-go-api is not completely abandoned, I will be taking over from @goflores if you create a PR I can merge it.

[2021-11-04 17:54] drdamour commented on #343
there's just something really messed up with the description, it does actually set it, it's def there, but apply keeps thikning it needs to add it everytime
![image](https://user-images.githubusercontent.com/1514496/140393246-5a411f91-82e7-4935-bb49-205e2f4e2c82.png)

[2021-11-04 18:08] drdamour commented on #343
also this model still doesn't make a lot of sense...when you create a team, it also creates a group...if i want to layer one team in another i really need a handle to the group.

one way to fix this is to have the team export a group attribute that would mirror the attributes https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/group#attributes-reference

[2021-11-04 19:56] tmeckel commented on #419
@nechvatalp Hi Petr, good news. As I stated in my comment from 7/25 https://github.com/microsoft/terraform-provider-azuredevops/issues/419#issuecomment-886241126 we could fairly easy support the feature request of the original poster @haymansfield Problem is that, from what I know from @tedchamb, huge amount of the code in the repository is automatically generated by a tool which is not available

[2021-11-04 19:58] tmeckel commented on #419
@nechvatalp we have a feature request for the AzDO Terraform Provider which would need this implementation here as well: https://github.com/microsoft/azure-devops-go-api/pull/105

[2021-11-04 21:55] roryprimrose commented on #343
@drdamour I had to create a Terraform module to help wrap this up.

[code]

[2021-11-04 21:59] drdamour commented on #343
Bleh

[2021-11-05 03:01] #472 closed, assigned to nobody

[2021-11-05 08:56] xuzhang3 commented on #298
@jacky-ni I cannot reproduce your error.  Have change the PAT permissions recently?

[2021-11-05 12:15] jamescross91 commented on #298
The issue in our case was because the service principle running the deployment didn't have sufficient permissions on active directory - so this is a case of improving logging since a 503 indicates a server side error

[2021-11-05 23:01] gabrielmccoll-rlg commented on #204
@nechvatalp Just to make you aware that @xuzhang3 was planning on updating here too so I'm hoping it's in your remit. Thank you !

[2021-11-06 20:16] DevOpsBoondoggles commented on #204
[VMSS_agent.zip](https://github.com/microsoft/terraform-provider-azuredevops/files/7491175/VMSS_agent.zip)

Just in case this is useful to anyone else, the work around I managed to get was using the rest api and powershell and some null resources. the attached zip has two scripts, one for remove and one for adding the agent pool , along with a tf showing example of how used.

[2021-11-08 06:10] xuzhang3 commented on #298
@jamescross91 #381  is tracking the logging issues.

[2021-11-08 09:22] gabrielmccoll-rlg commented on #204
also I think it needs 6.1 for this as Elastic Pools create doesn't seem to exist in 6.0 ?https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/elasticpools/create?view=azure-devops-rest-6.1&viewFallbackFrom=azure-devops-rest-6.0

[2021-11-08 13:55] jacky-ni commented on #298
@xuzhang3 No, I just checked the PAT, it is still valid, and we didn't touch it. And the interesting thing is that, it starts working again.... although we didn't change anything

[2021-11-08 14:41] nechvatalp commented on #419
@tmeckel that is correct. All the files in azuredevops/subfolder/*.go are generated, all the *.go files which are directly in azuredevops/ directory are not.

So, the changes you are proposing should not be overwritten.

[2021-11-09 03:04] xuzhang3 commented on #204
@gabrielmccoll-rlg seems the `elastic pool` APIs  only available in preview APIs

[2021-11-09 03:07] xuzhang3 commented on #419
@nechvatalp is there an ETA of v6.x or v7.x  SDK?

[2021-11-09 08:47] DevOpsBoondoggles commented on #204
Yeah that's a shame. I notice it does mention elastic pools on the create pool api for 6.0 as a pooltype I think it was but no indication of how to use it.

[2021-11-10 08:20] nechvatalp commented on #419
@xuzhang3 I started looking into the 6.0 version I want to have it this week.

[2021-11-11 02:15] xuzhang3 commented on #419
@nechvatalp Will `preview APIs`  be included into this SDK?  For example: [Elastic Pools](https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/elasticpools/create?view=azure-devops-rest-6.1)

[2021-11-12 11:06] fdebuire commented on #400
@xuzhang3 The API [Get User](https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/users/get?view=azure-devops-rest-5.1) returns a link that can be used to fetch the userId:
[code]

When I add auto reviewers through the UI, that's exactly what is done.

[2021-11-12 11:57] fdebuire commented on #400
For now I used this workaround:

[code]

[code]

[2021-11-12 18:23] nechvatalp commented on #419
@xuzhang3 it is not going as well as I expected so I won't be able to finish it this week, but I am continuing to work on it.

As for the preview APIs, the preview APIs are 6.1 and I do not plan to do 6.1, however there will be upcoming release of ADO with API version 7.0 I do plan to release new go sdk for that version shortly after it is released and that should contain the APIs which are now in

[2021-11-15 05:52] xuzhang3 commented on #419
@nechvatalp one concern, currently the API version is hardcoded in the source code. Once v7 released, will v5 still available?

[2021-11-16 05:10] roryprimrose opened #483 "Data source for groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-16 05:13] roryprimrose commented on #483
My current workaround is to use a local that is built by json configuration (members) that do not appear to be a user (no @ character found). I then use that local data set to load each group using data azuredevops_group. The difference between this and data azuredevops_users is that this throws an exception resulting in a hard fail if a group isn't found. By comparison if users are not found then

[2021-11-17 08:22] xuzhang3 commented on #400
@fdebuire  fixed in #482

[2021-11-17 13:29] tmeckel commented on #483
@xuzhang3 this is a low hanging fruit and a feature what I wanted to implement for a long time. I've some code prepared already for this. I'll file a pull request for this till the end of the week.

[2021-11-18 01:59] josh-barker opened #485 "AzureDevops Group not found"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-18 06:50] josh-barker commented on #485
Closed as per #486

[2021-11-18 06:50] #485 closed, assigned to nobody

[2021-11-22 06:16] #483 closed, assigned to nobody

[2021-11-22 08:43] avgalani opened #487 "0.1.8 release?"
I've looked around to see if there's a release schedule, but I haven't been able to find any. I'm starting a new terraform project for managing our Azure DevOps organisation and I need to use the `resource_git_repository_file`. I see this is available in master, but not on the latest released version of the provider.
When could we expect the new release? I am just looking for an approximate date,

[2021-11-23 08:40] #400 closed, assigned to nobody

[2021-11-23 08:48] xuzhang3 commented on #445
Close this issue, feel free to open another is you still have questions.

[2021-11-23 08:48] #445 closed, assigned to nobody

[2021-11-23 09:58] roryprimrose commented on #471
This may be a timing issue. Azure DevOps seems to work on eventual consistency so if you make a change to something like a permission or policy then read it from the rest api straight away, you may be returned the old value. In our experience it can be up to 10 seconds before the rest api returns the new value.

[2021-11-23 16:39] tmeckel commented on #471
@kjgen  @roryprimrose @xuzhang3 with PR #249  I introduced code which will wait for Azure DevOps to persist changes to permissions. I hope this will fix this issue here as well.

https://github.com/microsoft/terraform-provider-azuredevops/pull/249#issuecomment-975683405

[2021-11-24 07:19] xuzhang3 commented on #487
@avgalani   working on it #488

[2021-11-25 03:31] #487 closed, assigned to nobody

[2021-11-25 06:03] xuzhang3 commented on #474
close this issue, feel free to open  another if you still have questions.

[2021-11-25 06:03] #474 closed, assigned to nobody

[2021-11-25 06:03] xuzhang3 commented on #471
close this issue, feel free to open  another if you still have questions.

[2021-11-25 06:03] #471 closed, assigned to nobody

[2021-11-25 06:05] xuzhang3 commented on #455
close this issue, feel free to open  another if you still have questions.

[2021-11-25 06:05] #455 closed, assigned to nobody

[2021-11-25 06:06] xuzhang3 commented on #443
close this issue, feel free to open  another if you still have questions.

[2021-11-25 06:06] #443 closed, assigned to nobody

[2021-11-25 06:06] xuzhang3 commented on #442
close this issue, feel free to open  another if you still have questions.

[2021-11-25 06:06] #442 closed, assigned to nobody

[2021-11-25 06:07] xuzhang3 commented on #439
close this issue, feel free to open  another if you still have questions.

[2021-11-25 06:07] #439 closed, assigned to nobody

[2021-11-25 17:24] panasonixme opened #490 "Unable to use two instances of the provider in the same module"
Hi guys, After digging for a long time, I have no other optio but to open a bug here. I'm trying to create to instances of the provider in order to be able to create repositories in one instance and initialize the repo based on a repo content on another Azure Devops Service organization. Despite my effort, I keep receiving the plan output available below.
Could you please help ?

### Community Not

[2021-11-25 17:30] panasonixme commented on #174
I don't know if the issue still stands but I solved it creating a azuredevops_serviceendpoint_generic_git on the source project and specifying a personal access token in the password parameter. And then providing this endpoint at the time of the target repo creation

[code]

[2021-11-25 20:05] roryprimrose commented on #490
That error about < usually means the rest api call to azdo is returning html rather than json. Usually happens when there is an auth issue.

Have you tried using Fiddler to see what the traffic is on the wire?

[2021-11-26 08:18] panasonixme commented on #490
Well, after further investigations, it seems that I was having a DNS issue preventing to resolve the Devops ORG URL properly.
Closing the ticket, sorry...

[2021-11-26 08:18] #490 closed, assigned to nobody

[2021-11-28 21:26] roryprimrose commented on #487
Any idea when this version will be on the Terraform registry?

[2021-11-29 02:37] xuzhang3 commented on #487
Normally Terraform registry will auto-sync the latest release from GH release.   Working with the Hashicorp support team.

[2021-11-29 17:55] tmeckel commented on #204
@xuzhang3 @nechvatalp pushed the v6.0 API into `azure-devops-go-api` https://github.com/microsoft/azure-devops-go-api/pull/110 The v6.0 API contains the API definition and corresponding models for the `Elastic Pool Agents` which utilizes Azure Virtual Machine Scale Sets. What are the major steps to migrate the DevOps provider to use the v6.0 API? After that someone could implement resources and da

[2021-11-29 18:16] DevOpsBoondoggles commented on #204
Sounds good. Am not sure you you do that with the v6 api. It was simple with the v6.1 so if there's an example of doing it with 6 that be great

[2021-11-30 01:08] roryprimrose opened #491 "Build definition import fails on invalid memory address"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-30 13:56] DuncanvR commented on #388
I'd like to clarify that the workaround is not so much limiting the size of variable groups to 25, but the number of secrets in the linked Key Vault. If you have a single Key Vault with 100 secrets, creating 4 different variable groups will still only allow you to access the first 25 secrets. Instead, you'd have to set up 4 different Key Vaults, each with max 25 secrets. Then you can link variable

[2021-11-30 19:51] drdamour opened #492 "v0.1.8 errors everytime with The storage key for descriptor 'acs.NDc3...' could not be found."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-11-30 20:12] drdamour commented on #400
@xuzhang3 this has made things TERRIBLY slow in my environment.  it takes a good 5 minutes to get all this extra data for users.  also ran into #492

[2021-12-01 02:45] xuzhang3 commented on #487
@roryprimrose  Terraform registry have sync the latest release v0.1.8 now.

[2021-12-01 08:54] xuzhang3 commented on #491
@roryprimrose I cannot reproduce this error,  from the source code, this error is because the `buildDefinition.repository` cannot find.  This could be some legacy changes from different API version result in different response body or  there is some permissions to limit the repository read operation.   I will enhance the null pointer check.
You can check the the build definition details by API : h

[2021-12-01 09:37] roryprimrose commented on #491
Thanks @xuzhang3. I found that it only happened on import. If I renamed the existing pipeline and then ran apply it was able to create the pipeline fine. Not a great solution because now we have old pipelines we need to hang on to due to the pipeline history but I was able to move forward.

[2021-12-01 09:38] roryprimrose commented on #491
Is there a reason you use the old build api rather than the new pipeline api?

https://docs.microsoft.com/en-us/rest/api/azure/devops/pipelines/pipelines/get?view=azure-devops-rest-6.0

I'm assuming it is so that you can support old build definitions as well as the newer pipelines.

[2021-12-01 10:20] aleqsss commented on #143
If you take a look at #204, you can see that @tmeckel mentions the merge of v6.0 of the Azure DevOps Services REST API to the [azure-devops-go-api](https://github.com/microsoft/azure-devops-go-api):

https://github.com/microsoft/azure-devops-go-api/pull/110

I guess this is the first step towards implementing the functionality in this provider. 🙂

[2021-12-01 12:39] tmeckel commented on #204
I tried a quick upgrade of the provider to the v6 API. I expected some issue but surprisingly the new v6 API lacks some models, which, for my understanding, should not be the case .

**Example:**
![image](https://user-images.githubusercontent.com/14177833/144235483-037e2c88-1bbf-45c7-a793-5abab32d61eb.png)

@nechvatalp is there something wrong with the generation process?

I checked the OpenAPI sp

[2021-12-01 12:41] tmeckel commented on #143
@aleqsss check my last comment at #204 It seems that there are structural issues with new v6 GO API

[2021-12-01 13:48] nechvatalp commented on #204
@tmeckel yes, seems like problem with the generation.

I will look at it and try to fix it.

[2021-12-01 14:36] tmeckel commented on #491
@roryprimrose we're still using the 5.1 REST API because a newer one wasn't available so far for GO. @nechvatalp is working on the 6.0 REST API right now. There are still some issues with generation process; ref to #204

[2021-12-02 02:56] federicomidaglia commented on #6
It's a basic function, I can't believe I don't have it

[2021-12-02 08:25] xuzhang3 commented on #492
@drdamour   This root issue is  the enhance PR #482 to export user ID.  By default the `getStoragekey` operation will loop all the found users to get the user ID. In your configuration, this will loop all the users in your organization.   On workaround is narrow the search condition to reduce the user list which will speed up the operation.
In my opinion, to fix this:
1. Disable this feature and a

[2021-12-02 10:57] DevOpsBoondoggles commented on #204
@tmeckel  @nechvatalp  thanks very much for keeping us updated on this and the other thread too

[2021-12-02 19:24] nechvatalp commented on #204
@tmeckel I updated the generation tool and regenerated the clients, lot more models are present now. Hopefully, nothing is missing this time. Thanks for spotting the issue.

[2021-12-02 19:26] tmeckel commented on #204
@nechvatalp great news 🤙🏼 I'll give it a try tomorrow!

[2021-12-03 14:11] tmeckel commented on #204
@nechvatalp these are the issues that are left after you re-created the v6 API

[code]

Looks great for the second attempt to do a major API upgrade :-)

I'm not sure if those issues are a result of the API has been changed or the generation process has still a bug.
Do you have any information on this?

@xuzhang3 I'll file a draft PR for tracking the upgrade to the v6 API :-)

[2021-12-03 15:49] tadavid-cae commented on #435
+1

[2021-12-05 18:09] nechvatalp commented on #204
@tmeckel I briefly looked at it, most of the issues seem to be changes in the APIs.

For the GetUserEntitlements this is present in [5.1 documentation](https://docs.microsoft.com/en-us/rest/api/azure/devops/memberentitlementmanagement/user-entitlements/get-user-entitlements?view=azure-devops-rest-5.1) but not in [6.0](https://docs.microsoft.com/en-us/rest/api/azure/devops/memberentitlementmanageme

[2021-12-05 18:21] tmeckel commented on #204
@nechvatalp Thanks that you took the time to look through the issues I reported. Highly appreciated!

My takeaways:

1. We will change the code for the `variable groups` and the `service endpoints` to match the changes in the v6.0 API
2. We will wait for your further investigations about the change for  `clients.MemberEntitleManagementClient.GetUserEntitlements`.  Any indication about the time fra

[2021-12-06 10:18] tmeckel commented on #204
@nechvatalp I changed the code for `variable groups` and the `service endpoints`, whereas I've to admit that I don't think, that the new code for the `service endpoints` will work in the first place, because it's a huge change that the `project` parameter is removed from the `CreateServiceEndpoint` function and replaced by a `serviceendpoint.ServiceEndpointProjectReference`. Well as far as I under

[2021-12-07 12:56] romanzdk opened #496 "Pipelines Environments"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-12-07 16:18] nechvatalp commented on #204
@tmeckel Looked into it and the `GetUserEntitlements` was superseeded by [SearchUserEntitlements](https://docs.microsoft.com/en-us/rest/api/azure/devops/memberentitlementmanagement/user-entitlements/search-user-entitlements?view=azure-devops-rest-6.0) in 6.0 I would recommend adopting that.

[2021-12-07 16:50] nechvatalp commented on #419
Hi, the Azure DevOps go API 6.0 has been released.

Yes, the 5.1 is still available as `azuredevops` module the 6.0 is in `azuredevops/v6` module for v7 there will be `azuredevops/v7`

[2021-12-08 06:26] drdamour commented on #492
no, i'd prefer #1 i think, though i can understand why people would want #2 to avoid a foreach...but it's sooooo slow.

[2021-12-08 08:22] avishnyakov commented on #496
Might be duplicate, there is a long discussion here -  https://github.com/microsoft/terraform-provider-azuredevops/issues/143

[2021-12-08 08:25] #496 closed, assigned to nobody

[2021-12-08 11:55] tmeckel commented on #204
@nechvatalp I replaced the problematic code with something completely different which utilizes the `Identities` API. Which is even faster.

[2021-12-08 17:31] tmeckel commented on #204
Any issues about migrating to v6 API can be found in the corresponding PR #494

[2021-12-08 19:52] mitzen opened #497 "Creating shared service connection that allows service connection created in a project to be shared across to other projects?"
Issues on GitHub are intended to be related to bugs or feature requests with provider codebase,
so we recommend using our other community resources instead of asking here 👍.

---
hi there,

I am trying to create **shared** service connection that allows service connection created in a project to be shared across to other project within the same organization. By sharing I mean your azure devops pro

[2021-12-09 06:57] roryprimrose opened #498 "Creating a repository with init_type as Uninitialized fails on subsequent apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-12-09 06:58] roryprimrose commented on #498
Because we use the AzDO provider to keep the org in sync with configuration, we run apply regularly. With this issue in play, we can't use uninitialized repository resources and must use Clean instead.

[2021-12-09 07:15] roryprimrose commented on #498
There is also another issue with this. If you do the first apply with an uninitialized repo, followed by creating a build branch policy that uses the default_branch then you get the following error.

[code]

The workaround here was to not specify the default branch as it was optional on the build policy anyway. That then leads into the issue above when apply comes in against the repository the sec

[2021-12-09 08:47] tmeckel commented on #497
Should be feasible to be implemented after the provider is using the v6 API #494

[2021-12-09 18:24] andreassiegel commented on #491
I encounter a very similar problem with Terraform 1.1.0 (or 1.0.4 or 1.0.11) and the Azure DevOps Provider 0.1.7 and 0.1.8.:

When I run `terraform plan` in the project my colleague worked with before, the azuredevops plugin crashes:
[code]

[2021-12-09 18:44] tmeckel commented on #491
@andreassiegel How does the HCL code look like, that creates the Service Endpoint resource for GitHub Enterprise? The provider crashes at the location below. So something's wrong how the authorization settings are handled.

https://github.com/microsoft/terraform-provider-azuredevops/blob/ea770d4b10a20078f59693600af4b9be085b5fba/azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_

[2021-12-09 19:28] andreassiegel opened #499 "Plugin crashes with invalid memory address or nil pointer dereference"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-12-09 20:15] roryprimrose commented on #491
I get that kind of error mostly testing on my local machine. I suspect it is usually http/networking failures and running it again works fine.

[2021-12-09 20:40] andreassiegel commented on #491
I wish rerunning would fix it. I get the error all the time recently, and always in the same spot.

But you're right, I get the error running on the local machine. The script is not supposed to be run somewhere in a pipeline because it is setting up pipelines, etc. itself.

[2021-12-10 01:35] roryprimrose commented on #491
Try running terraform through fiddler so you can see the https traffic. That might show something interesting.

[2021-12-10 03:17] mitzen commented on #497
that's great! when are you guys planning to work on this feature?

[2021-12-10 08:29] tmeckel commented on #497
No plans at all, because the provider is a community driven project and not a Microsoft official product with a roadmap. But @xuzhang3 you can correct me, if I stated that wrong.

The implementation though seems to be pretty straight forward.

1. Providing an additional data source to look up existing Service Endpoints, so that the ID value from the data source can be used as reference.

2. Implem

[2021-12-10 08:31] tmeckel commented on #499
@andreassiegel would it be feasible for you to call the [REST API](https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/get?view=azure-devops-rest-6.0) on the problematic Service Endpoint and provide the output (secrets redacted of course 😁) here?

[2021-12-10 16:34] andreassiegel commented on #499
This is the response I'm getting for the GHE service connection (personal information removed and IDs shortened):
[code]

Meanwhile, we figured out that someone has changed the administrator group in Azure DevOps so that I apparently lost access to several resources. I was only able to get the response above after I was manually added as an administrator again. 💥

Without the administrator access,

[2021-12-12 20:36] korenlev opened #500 ""kube_config_hash":cty.UnknownVal(cty.String)}) does not correlate with any element in actual"
error from 0.1.6 :
[code]

This is a bug in the provider, which should be reported in the provider's own
issue tracker.

[2021-12-14 05:24] roryprimrose opened #502 "Provider uses case sensitive comparison on permission based resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-12-15 11:28] korenlev commented on #432
same issue here (tipalti.com)

[2021-12-17 06:20] #476 closed, assigned to nobody

[2021-12-17 06:50] xuzhang3 commented on #498
@roryprimrose  When setting the `init_ype=Uninitialized`,  the repo won't be initialized which means this repos does not have any branches, when you apply the second apply command, the `default branch` setting operation will call the  branch API but it cannot find any branches because this repo was not initialized.  ADO should enhance the condition checks for `repo intial`, some configuration is n

[2021-12-17 07:05] xuzhang3 commented on #499
@andreassiegel Can you retry with the right permission granted?
Similar to #491 , by grant the wrong permissions, service won't return the required property.

[2021-12-17 07:37] xuzhang3 commented on #500
@korenlev  Can you share your TF script and the reproduce steps, thanks

[2021-12-18 09:34] korenlev commented on #500
# Create new managed k8s cluster using rancher 2.6.2 :
[code]
 TFS service connection creation with kubeconfig :
[code]
error (after dump of the actual kubeconfig text

"kube_config_hash":cty.UnknownVal(cty.String)}) does not
correlate with any element in actual.

This is a bug in the provider, which should be reported in the provider's own
issue tracker.

##[error]Bash exited with code '1'.
Finis

[2021-12-18 09:42] korenlev commented on #500
masked kcfg string:

[code]

[2021-12-20 05:50] xuzhang3 commented on #500
@korenlev I cannot reproduce your.
`kube_config_hash":cty.UnknownVal(cty.String)}) does not correlate with any` is not a bug log.   From the log, I cannot find any provider crash log.  When is the provider crashed, can you paste the errors here? There should be text like `nil pointer`, `invalid address`, `error  ...` etc.

[2021-12-21 20:35] tmeckel commented on #204
@nechvatalp I checked if the v6 api contains the endpoints to create elastic pool agents, but sadly enough that isn't the case. So @gabrielmccoll (@gabrielmccoll-rlg) was right with comment https://github.com/microsoft/terraform-provider-azuredevops/issues/204#issuecomment-962959946 that at least v6.1 of the DevOps API is required to manage elastic pool agents.

So what are the plans with the GO A

[2021-12-21 20:37] DevOpsBoondoggles commented on #204
Thanks for this
I believe I checked and the api was not in 7.0 for elastic pools. Just 6.1. Which is weird but not unusual for msoft tbh. Many of the azurerm apis seem to just jump from preview to preview.

[2021-12-22 08:46] larsmaesmosadexehealth opened #504 "Add support for ServiceHook permission namespace"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2021-12-22 11:24] tmeckel commented on #504
@xuzhang3 very low hanging fruit 😁 Implemented with PR #506

[2021-12-22 11:28] tmeckel commented on #504
@martenvd I saw you files a PR for this new resources as well. You're missing the required acceptance tests. If you like you can copy those from my PR. I can close my own PR then 😀

[2021-12-22 11:37] martenvd commented on #504
@tmeckel I didn't see your PR yet, but thank you for the test file! I have included it in my own PR now.

[2021-12-22 11:50] tmeckel commented on #502
@roryprimrose permissions in Azure DevOps are `bitsets` and don't use the `allow`, `deny` or `notset` strings. Those strings are only used inside the provider. We're already using a case insensitive match to compare the permission settings:

![image](https://user-images.githubusercontent.com/14177833/147086982-815c5900-ab6a-4ca9-bd17-d722020975d2.png)

In addition the acceptances tests for the `az

[2021-12-22 11:52] tmeckel commented on #504
@martenvd This is my PR -> #506

[2021-12-22 12:58] martenvd commented on #504
@tmeckel Thank you! The tests were succesful in my PR [#505](https://github.com/microsoft/terraform-provider-azuredevops/pull/505) 😊

[2021-12-24 03:13] #498 closed, assigned to nobody

[2021-12-29 03:33] #504 closed, assigned to nobody

[2021-12-30 20:02] nechvatalp commented on #204
@tmeckel @gabrielmccoll The plan is to release new GO version with each new major ADO release. Next API version will be 7.0 coming with AzureDevOps 2022 early next year. I won't be releasing 6.1.

The elastic polls apis will be in the 7.0 release, all apis which are currently 6.1 should be in 7.0.

[2021-12-30 20:07] tmeckel commented on #204
@nechvatalp Good to hear that at least we have something like a roadmap 👍🏼 and that `7.0` will contain cumulatively all changes `>6.0` is good to hear too 😀 Hopefully "... _early next year_" does not mean Q2 2022 🤣

[2021-12-31 09:00] nfx opened #508 "Data source for artifacts"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-01-06 02:48] arlobelshee opened #511 "Provider prevents unit testing client code"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-01-06 02:54] arlobelshee commented on #511
This is critical for unit testing. My unit tests do not run against any actual resources. in fact, I would like them to fail if they do attempt to access a real resource.

The tests run by generating various plan output files, then making assertions. Each plan output is generated from a known starting state (stored as part of the test base), then applying a particular set of resources. I verify it

[2022-01-07 03:02] xuzhang3 commented on #511
@arlobelshee  Can you make sure the test script does not contain any ADO resource `resource/data source` configures? If the test script only have the provider configuration, the fake PAT should work without any error.

[2022-01-07 14:27] arlobelshee commented on #511
The problem is that I need to perform unit testing. So I'm testing some module, for example:

Module's main:

[code]

Then there is a feature definition like:

[code]

The set of features have a terraform main like:

[code]

I then run this with:

[code]

This works because I have an initial state set for the test (a committed .terraform folder with my starting state). The `-refresh=false` means t

[2022-01-07 14:36] arlobelshee commented on #511
To be clear, one of my explicit goals is that the unit tests don't need any credentials at all - not even a fake. If absolutely necessary, I'd be possibly OK with setting things like:

[code]

But I'd rather not do even that - I don't need to do anything like that for any other provider that I use.

I am disallowed (by security design) from using a PAT that could actually log in successfully, no m

[2022-01-11 22:20] roryprimrose opened #513 "Setting build definition path to value ending in \ causes perpetual changes that don't apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-01-12 00:42] arlobelshee commented on #511
Any update, @xuzhang3?

[2022-01-12 05:08] #513 closed, assigned to nobody

[2022-01-12 10:55] samtarplee commented on #451
@xuzhang3 Is this still blocked? It looks like the new API version has been released and supports this now

[2022-01-13 03:37] xuzhang3 commented on #451
@samtarplee  The approvals APIs are available in v6.1, the latest supported API by SDK is v6.0

[2022-01-13 16:10] smholvoet opened #515 "docs: azuredevops_user_entitlement argument reference specifies an incorrect licensing_type value"
The `azuredevops_user_entitlement` docs mentions an incorrect `licensing_source_value`, namely `trail` instead of `trial`:

- Content in question: [click](https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/user_entitlement#licensing_source)
- Link to the Azure DevOps REST API reference which supports this: [click](https://docs.microsoft.com/en-us/rest/api/azure/dev

[2022-01-14 05:03] #515 closed, assigned to nobody

[2022-01-14 08:56] xuzhang3 commented on #511
@arlobelshee  I see, this provider will try to create the client connection and verify the resource even you set `-refresh=false`,

[2022-01-18 12:13] Annesars90 commented on #345
What is the status on this issue? I'm also getting the same problem. This is my process to test:
- Deploy a new group with terraform (incl scope).
- Remove group from tf state so it only exists is DevOps
- Import group to tf state, which leads to scope = null in the statefile
- Trying to redeploy group forces replacement because of scope

[2022-01-19 08:01] xuzhang3 commented on #345
@Annesars90  fixed in #519 . This `scope` is used to get the `scope descriptor` and the `scope descriptor` will not return by service,  this property should not be compared during the plan/apply

[2022-01-19 08:06] Annesars90 opened #520 "Azure AD Groups/users as data sources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request.
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request.
* If you are intere

[2022-01-19 10:46] RodrigoGroener opened #521 "configure project-level build permissions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-01-20 07:44] anthonytps commented on #449
got same issue here, I'm using terraform 1.1.4 on Ubuntu 18.04

[2022-01-20 08:34] xuzhang3 commented on #388
I submit PR #522 to fix this bug,   since KV API does not support filter the secret by name and the pagination size is fixed to 25, current fix will read the top 500 secrets  from the KV.

[2022-01-20 13:25] RodrigoGroener opened #523 "changing the project description forces a replacement of `azuredevops_group_membership`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-01-24 08:26] xuzhang3 commented on #523
I did some investigation, there's similar issue  in Terraform core: https://github.com/hashicorp/terraform/issues/27776
If I set the `azuredevops_group.build_administrators.project_id ` to a fixed string value, there will be no diff during plan, since the value of `project_id` not changed but  Terraform core treat this property has been changed, this seems a bug in Terraform core.

[2022-01-25 11:55] irogers97 opened #526 "azuredevops_git_permissions fails when adding team"
### Terraform (and Azure DevOps Provider) Version

Terraform v1.1.4
on darwin_amd64

### Affected Resource(s)

azuredevops_git_permissions

### Terraform Configuration Files
[code]
### Debug Output
[code]
### Panic Output

None

### Expected Behavior

Team added to repo security

### Actual Behavior

Terraform error:
[code]
### Steps to Reproduce

1. `terraform apply`

### Important Factoids

n/a

[2022-01-26 07:59] xuzhang3 commented on #526
@irogers97 `azuredevops_git_permissions.principal` accepts the resource descriptor not an ID. For group resource, the ID is the descriptor but for `azuredevops_team` this the descriptor is not returned by service. API https://docs.microsoft.com/en-us/rest/api/azure/devops/graph/descriptors/get?view=azure-devops-rest-6.0 can be used to resolve the ID to descriptor but this resource is not supported

[2022-01-26 09:14] irogers97 commented on #526
@xuzhang3 As the `azuredevops_team` resource and data source both returns descriptors of the administrators and members, it would be useful if the resource and data source also returned the descriptor of the team.
Looks to me like the team api, [https://docs.microsoft.com/en-us/rest/api/azure/devops/core/teams/get?view=azure-devops-rest-6.0](https://docs.microsoft.com/en-us/rest/api/azure/devops/c

[2022-01-28 01:39] a30000931 opened #527 "azurerm serviceconnection - support for management group scope"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-01-28 18:06] korenlev commented on #500
adding again here , it constantly fails to add a rancher 2.6.2 cluster kubeconfig ( just create a cluster and try, was working before that version)  :
terraform resources:
[code]

================== error log
[code]

Stack trace from the terraform-provider-azuredevops_v0.1.8 plugin:
[code]
can be fixed. The output above should help diagnose the issue.
[code]

[2022-01-31 10:32] alphabetagamma314159 commented on #189
Hi all,

I am facing the same issues as @veyu.

@josh-barker @veyu @josh-barker-coles Have you found a solution on how to automate this step with terraform?

@xuzhang3 is this feature already introduced in the ADO provider? Unfortunately I was not able to find it. If not, can you estimate the timeline of when this feature will be implemented?

Edit: If there is no plan to implement this specific f

[2022-02-04 17:35] jholm117 commented on #143
Is this unblocked after #494 ?

[2022-02-07 06:59] xuzhang3 commented on #143
@jholm117  Yes, since we have upgrade the SDK from v5 -> v6,  this is unblocked now

[2022-02-07 07:55] xuzhang3 opened #528 "New resource parse ID to descriptor"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-07 07:57] xuzhang3 commented on #526
@irogers97  Not all teams will return the `descriptor`, but ID will. #528 I will submit a PR add a new resource to support resolve the ID to descriptor.

[2022-02-07 10:33] lisaplapla commented on #143
@xuzhang3 we need to deploy environments using terraform too. Do you have an approximate ETA for this resource to be added to the provider and a new version released, or should we use one of the workarounds described in this thread?

[2022-02-08 02:54] xuzhang3 commented on #143
@lisaplapla This task is in our backlog but not the first priority, you can use the workaround in this thread.

[2022-02-08 05:14] xuzhang3 commented on #500
[korenlev](https://github.com/korenlev)  Can you help check the `kube_config`, looks like you config miss the contexts block.

Example:
[code]

[2022-02-08 20:48] angusmcdonald opened #529 "Octopus Service Endpoint"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-09 17:00] ned1313 opened #531 "Add azuredevops_serviceendpoint_incomingwebhook resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-09 17:01] ned1313 commented on #531
I am interested in working on this issue!

[2022-02-12 17:20] smholvoet opened #533 "unable to resolve UUID's when using for_each"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-14 08:04] xuzhang3 commented on #533
@smholvoet  You should use the `project ID/repo ID` not there names.

[2022-02-14 08:48] smholvoet commented on #533
@xuzhang3 I'm not sure what you mean?

The `azuredevops_git_permissions` resource expects the `project_id` and `repository_id` [attributes](https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/git_permissions#argument-reference) of a git repo.

Using the name of a repo (e.g. `my-repository-name`) works just fine when I declare the resource like this:

[code]

But whe

[2022-02-14 09:16] xuzhang3 commented on #533
@smholvoet   my bad, I misunderstand at first.  Maybe you can construct an IDs set first then use `for_each` to iterate all the ids?

[2022-02-14 10:03] smholvoet commented on #533
@xuzhang3 That's actually a great idea🤯, thank you.

The below code did work:

[code]

Now I'm able to use `each.value` and don't need any quotation marks to interpolate the `repository_id` ("`azuredevops_git_repository.${each.value}.id"`).

Even though this works, having the repo names instead of the GUID's makes things more readable. Also note that the `azuredevops_branch_policy_work_item_linkin

[2022-02-14 20:00] uwrant opened #535 "Azure DevOps Build Definition with GitLab Repository?"
Hi

I'm trying to create an Azure DevOps build definition connected to a gitlab repository using terraform.
I was able to create a service connection using azuredevops_serviceendpoint_generic_git
but I can't connect this service to a azuredevops_build_definition. The problem is that from the Azure DevOps perspective I'm suppose to use "Other Git" repository type but it looks like it's not an avail

[2022-02-15 03:36] xuzhang3 commented on #533
@smholvoet  You can  construct the repo object in a map then iterate the repo object to get the `id` and `default_branch`

[code]

[2022-02-15 09:03] smholvoet commented on #533
This works like a charm, thank you @xuzhang3 👏

[2022-02-15 20:06] #533 closed, assigned to nobody

[2022-02-17 02:56] #311 closed, assigned to nobody

[2022-02-17 07:27] xuzhang3 commented on #535
@uwrant  The `GitLab` need add to the `repo_type` options to support it.

[2022-02-18 05:15] #143 closed, assigned to nobody

[2022-02-18 11:03] eXXL commented on #491
I have the same issue that the import of existing pipelines works in some cases and in some others not. I get the same error like this one.

I tested the link you provided to check the repo properties: [https://dev.azure.com/{org}/{project}/_apis/build/definitions/{denifinitionID}?api-version=5.1](https://dev.azure.com/%7Borg%7D/%7Bproject%7D/_apis/build/definitions/%7BdenifinitionID%7D?api-versio

[2022-02-18 13:29] davidaughey opened #537 "scaleset agent pool support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-18 14:54] tmeckel commented on #537
I think it's a duplicate of #368

[2022-02-18 14:55] andrewrust13 commented on #199
@tmeckel is there any update on this specific issue being resolved?

It still seems to be present in the latest 0.1.8 version of the provider.

[2022-02-18 15:10] davidaughey commented on #537
You're right.  I did a search with the word scaleset and nothing got flagged.  Pity.  Would have saved everyone a bit of time.

[2022-02-18 15:10] #537 closed, assigned to nobody

[2022-02-18 15:24] davidaughey commented on #368
I accidentally filed a duplicate on this one.  In it I proposed a change to the existing azuredevops_agent_pool instead of a new resource.

[code]

I'm not precious about it and I also like the idea of a new resource.  I'm just adding this into the mix so anyone implementing it has multiple ideas to pull from.  I'm just keen to have the ability to control the VMSS agent pools with Terraform regard

[2022-02-21 05:44] #345 closed, assigned to xuzhang3

[2022-02-21 06:39] xuzhang3 commented on #388
Released in v0.2.0

[2022-02-21 06:39] #388 closed, assigned to nobody

[2022-02-21 09:17] thesutex opened #539 "branch_policy_build_validation and filename_patterns list order issues"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-21 14:41] nikydobrev commented on #298
Same issue on our side. We use several "azuredevops_group" resources, and it works fine for some of them, however, it fails only on one specific. The principal we use has all the necessary permissions over the AAD.

Terraform Code:
[code]

Terraform Output:
[code]

[2022-02-22 13:44] lindhe commented on #521
This is a very interesting feature for us too!

[2022-02-22 14:21] tobiasz-gleba opened #540 "azuredevops_resource_authorization for azuredevops_environment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-22 15:16] lindhe commented on #398
Yeah, this is a complete mess right now. Blind trial and error is not very fun.

[2022-02-23 09:36] tobiasz-gleba commented on #540
This is a bug in the provider

[2022-02-23 10:20] mivica opened #541 "azuredevops_variable_group error : 401 Unauthorized, since 0.2.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-23 11:01] SimonAlling commented on #539
Interestingly, this issue was opened around the same time as v0.2.0 of this provider was released – the first release in about three months, and we first noticed this bug today. Coincidence? ~Seems unlikely to me.~ [_Apparently._](https://github.com/microsoft/terraform-provider-azuredevops/issues/539#issuecomment-1048885977)

[2022-02-23 11:37] thesutex commented on #539
I've tested this with 0.1.8 , as well as different terraform versions .same results

[2022-02-23 15:11] lindhe commented on #539
We are running  0.1.8.

[2022-02-23 21:58] smcolligan opened #542 "azuredevops_group created in organization instead of project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-24 07:04] possibly0784 commented on #542
Using the [example](https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/group) for creating the `azuredevops_group` resource results in the same bug.

My terraform config:

[code]

Here is the debug log:
[code]

and here is the resulting tfstate:
[code]

[2022-02-24 07:11] xuzhang3 commented on #540
@tobiase-gleba  `azuredevops_resource_authorization` support: `endpoint, queue, variablegroup`.  `environment` not supported by now.
Doc: https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/resource_authorization#type

[2022-02-24 22:02] croemmich opened #545 "service endpoint project_id regression"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-02-25 06:48] xuzhang3 commented on #545
@croemmich for v5 API ,  project ID and name are mixed, both of them can be used to mange the service endpoint. After upgrade the API to v6,  some of the API separate ID and name, only ID is allowed,  so we add the constraint that only ID is allowed.

[2022-02-28 00:30] AdamSir2 commented on #210
@xuzhang3 AZDO_GITHUB_SERVICE_CONNECTION_PAT doesn't seem to be working for me - any ideas if this has changed?

[2022-02-28 01:43] AdamSir2 opened #546 "AZDO_GITHUB_SERVICE_CONNECTION_PAT env var not being read as expected"
AZDO_GITHUB_SERVICE_CONNECTION_PAT environment variable not being read as highlighted.

My code works if i manually add in the github pat to the auth_personal block

https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/serviceendpoint_github

[code]

Error -

[code]

[2022-02-28 02:37] xuzhang3 commented on #210
@AdamSir2 How your export your ENVs? This config still working.

[2022-02-28 06:40] AzySir commented on #210
@xuzhang3  can confidently confirm this does not work from OS X - unless the error message is not relevant which is very windowsesque.

I am running this as `export AZDO_GITHUB_SERVICE_CONNECTION_PAT=gh_<hash_here>`

[2022-02-28 06:41] AzySir commented on #210
I will try to run this in a docker container for testing purposes

[2022-02-28 07:06] xuzhang3 commented on #546
@AdamSir2  I cannot reproduce your error. How do u set `AZDO_GITHUB_SERVICE_CONNECTION_PAT` for ENV? I teste in local and pipeline, all works.

[2022-02-28 07:09] AdamSir2 commented on #546
@xuzhang3  export AZDO_GITHUB_SERVICE_CONNECTION_PAT=xxxx this is on OS X

Can you try this in a docker container?

Could you also share your code for me please?

[2022-02-28 07:15] AdamSir2 commented on #546
I've tried in a docker image getting this error while the variable is set

[code]

[2022-02-28 09:09] xuzhang3 commented on #546
@AdamSir2  u should export the ENV variable for docker:
[code]

[2022-02-28 09:37] AdamSir2 commented on #546
@xuzhang3  i've tried it already mate - have you tried it?

It does not work - I keep getting above error

[2022-02-28 22:08] croemmich commented on #545
Hi @xuzhang3, that makes sense. We did work around it by updating our existing resources using a prior provider version, but there should probably be a call-out for this in the docs for 0.2.0. Additionally the usage documentation still says "The project ID or project name." : https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/serviceendpoint_dockerregistry#project_

[2022-03-01 03:34] xuzhang3 commented on #545
@croemmich  Thanks for pointing this out, document updated #548 . Registry document will updated after next release.

[2022-03-01 05:44] xuzhang3 commented on #546
@AdamSir2  Can you check if the EVN variables has been injected? I can set the ENV variables for docker.
![image](https://user-images.githubusercontent.com/57888764/156111926-99dbde57-2d50-4f17-a5a9-510dff5501f5.png)

[2022-03-01 06:11] #545 closed, assigned to nobody

[2022-03-01 06:15] croemmich commented on #545
Thanks @xuzhang3!

[2022-03-01 06:31] #539 closed, assigned to nobody

[2022-03-01 06:35] AdamSir2 commented on #546
@xuzhang3  yes i know how to use docker mate - it's set. I did /bin/sh and could find all the environment variables set.

All you're doing is showing me how to use docker. I know how to use docker.

I'd like to see a screenshot of you actually running the working scenario above... can you please provide?

[2022-03-01 06:38] xuzhang3 commented on #546
@AdamSir2  I see, you have export the env variables for docker but Terraform cannot get it. Which docker image are u use?

[2022-03-01 07:24] xuzhang3 commented on #546
@AdamSir2  I can apply the Terraform command and get the injected ENV variables.
Test:
TF scripet
[code]

Apply command (powershell):
[code]
Result:
[code]

[2022-03-01 09:13] AdamSir2 commented on #546
@xuzhang3 this worked! We must update the documentation. This does not work if you don't have the below code in the service endpoint.

[code]

In the documentation it says:

[code]

But it does not say anything about leaving an empty `auth_personal { }` block!! Once I added this in - everything started working!

[2022-03-01 10:06] AdamSir2 commented on #546
Tried to do PR - but have no permissions to create a branch sorry

[2022-03-01 21:54] thesutex commented on #539
When will this be released ?

[2022-03-02 02:35] xuzhang3 commented on #546
@AdamSir2 you should fork this repo first then submit  a PR to this repo, you cannot create branch from this repo directly

[2022-03-02 03:30] xuzhang3 commented on #539
will released in v0.2.1

[2022-03-02 05:56] xuzhang3 commented on #541
SDK skip the project name from the request URL which result in create new variable group at organization level

[2022-03-02 06:45] xuzhang3 commented on #541
SDK issue: https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues/525,  @mivica workaround for this issue is grant the PAT full access permission.

[2022-03-02 11:27] mjazwiecki opened #549 "azuredevops_git_repository_file fails to overwrite the existing file"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-03-02 14:11] SimonAlling opened #550 "Password is unset/deleted when updating service connection description"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-03-02 18:37] drdamour commented on #343
@xuzhang3  this is still an issue in 0.2.0.  The team is created and the description is set, but the apply phase never exists

[2022-03-02 18:42] drdamour commented on #345
confirmed this is now working in 0.2.0, thanks!

[2022-03-03 02:25] xuzhang3 commented on #541
Looks like service bug: https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/manage-pats-with-policies-for-administrators?view=azure-devops#restrict-creation-of-full-scoped-pats

[2022-03-03 03:38] xuzhang3 commented on #343
@drdamour  What your description is like , service will remove the spaces but the provider not, which result in a retry loop  up to 60 mins.

[2022-03-03 03:40] drdamour commented on #343
@xuzhang3 yeah its a multiline heredoc.but i thought i tried a single line too.  I will try that and report back…either way feels like bug to me

[2022-03-03 03:41] drdamour commented on #343
@xuzhang3 and we still need the group desriptor added to attributes so we can nest team group in another group

[2022-03-03 03:43] xuzhang3 commented on #343
@drdamour   description cannot start or end with spaces

[2022-03-03 09:20] thesutex commented on #539
Do you have a timeframe for that release ? Weeks , months ?

[2022-03-03 09:52] xuzhang3 commented on #539
@thesutex  weeks, depends on the new features and bug fixes.

[2022-03-03 10:59] mivica commented on #541
@xuzhang3 , Thank you for the feedback.
This is a security concern. We don't want to have to give full permission just to create a variable group in DevOps.
Can you switch back to the old API endpoint until Microsoft have updated the new one to support non-full-scoped PATs?

[2022-03-04 06:14] xuzhang3 commented on #549
@mjazwiecki  I cannot reproduce your error, can you provide more information? I can overwritten the existed repo files.

[2022-03-04 08:00] xuzhang3 commented on #541
@mivica I was considering pull out a private SDK client and add the project constraint manually to make sure the VG is create at project level.

[2022-03-04 09:31] lindhe commented on #459
I think this is a duplicate of #451, yes?

[2022-03-04 09:33] xuzhang3 commented on #459
@lindhe yes

[2022-03-04 09:33] lindhe commented on #459
You linked the wrong comment here. :)

[2022-03-04 09:36] xuzhang3 commented on #459
@lindhe  😄 v6 SDK has release: https://github.com/microsoft/azure-devops-go-api/releases/tag/azuredevops%2Fv6.0.0

[2022-03-04 09:36] lindhe commented on #459
Cool! So this and #451 are not blocked anymore then?

[2022-03-04 09:38] xuzhang3 commented on #459
Bad luck, released version is V6 not V6.1

[2022-03-04 09:48] lindhe commented on #459
So it's really blocked by SDK v6.1, not SDK v6?

Is there a timeplan for SDK v6.1?

[2022-03-07 02:23] xuzhang3 commented on #459
Some news I got is that they will release v7 instead of v6.1 but not ETA for now

[2022-03-07 06:09] xuzhang3 commented on #546
Than example is for GitHub APP, you can find this kind of connection at : `Project settings -> Boards -> GitHub connections`.

[2022-03-07 06:11] xuzhang3 commented on #542
closing this issue for #544

[2022-03-07 06:11] xuzhang3 commented on #550
close this issue via #552

[2022-03-07 06:11] #550 closed, assigned to nobody

[2022-03-07 06:12] #542 closed, assigned to nobody

[2022-03-07 09:16] xuzhang3 commented on #541
@mivica #554  will fix the permission, downgrade the VG API from v6 to v5

[2022-03-08 12:23] pondichys commented on #298
Greetings everyone, we also experienced this issue on our side.

We created a module that creates an Azure DevOps group from an Azure AD security group using the objectid and origin_id attribute. From time to time, the simple creation of the group fails with an error 503.
Creating the same group via the portal or az cli does work correctly.

Terraform module code :

[code]

One thing worth to ment

[2022-03-09 07:01] #541 closed, assigned to nobody

[2022-03-10 06:55] xuzhang3 opened #557 "`azuredevops_git_repository_file` get wrong commit message"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-03-10 14:47] kur4mot0 opened #558 "Issue to create a group under project using azuredevops_group"
Using the following example: https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/group

Setting the scope on resource azuredevops_group doesn't make any difference. The group still being create on organization level instead on project level.

I used the same code, the group was created under organization level.

Terraform v1.1.7
on windows_386
+ provider registry.te

[2022-03-10 20:26] rvdginste commented on #558
I noticed the same and it seems to be a regression: it is working correctly on version 0.1.8 of the azuredevops provider.

[2022-03-11 06:22] xuzhang3 commented on #558
#559  will downgrade the API to v5 which will fix this bug

[2022-03-11 07:09] kur4mot0 commented on #558
After I have created the issue, I did the downgrade and worked like a charm.

[2022-03-12 20:39] CaishenNefri opened #560 "Link from documentation doesn't work"
Link in documentation page doesn't work

From page of documentation there is a link to README. This page doesn't work. Error 404.

Steps to reproduce.
1. Go to documentation page: https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/guides/authenticating_using_the_personal_access_token
2. Go to paragraph: ["Configure Environment Variables"](https://registry.terraform.io/provid

[2022-03-14 12:52] maxvandermeij commented on #298
Still having the same issue described above with the Azure DevOps 0.2.0 provider. We do create new AAD groups just before trying to create the Azure DevOps group resource representation. A simplified version of our code without the loops:

[code]

When creating a new project and new group this only sometimes result in the 503 error and sometimes a 400 errorcode on creating the azuredevops_group.aa

[2022-03-14 19:26] oscarmorasu opened #562 "Add new data source azuredevops_build_definitions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-03-15 09:06] mivica commented on #541
@xuzhang3 , thank you for fixing this. When is the next release planned?

[2022-03-16 06:57] xuzhang3 commented on #541
@mivica  next release  will  be in a few weeks.

[2022-03-16 11:16] raviumishra opened #563 "New azure devops service connection using Terraform - The identity with type 'Microsoft.IdentityModel.Claims.ClaimsIdentity' could not be found"
$ terraform -v
Terraform v1.1.7
on windows_amd64
+ provider registry.terraform.io/hashicorp/azuread v2.19.0
+ provider registry.terraform.io/hashicorp/azurerm v2.99.0
+ provider registry.terraform.io/microsoft/azuredevops v0.1.7

[code]
`terraform plan`

    Terraform will perform the following actions:

      module.azure-acr.azuredevops_serviceendpoint_azurecr.azurecr["devops"] will be created

[2022-03-16 18:12] smcolligan commented on #523
I've been encountering a similar issue with the `azuredevops_project` data source that seems to be related to this and/or suffer from the same root issue.

I've been using the data source in child modules following this pattern:

- passing in the project name from the parent module
- creating a data source reference with the project name
- consuming the output project `id` property in the child mo

[2022-03-16 18:18] smcolligan commented on #523
Also, I don't see how the issue you reference above is related.  Both my issue and OP's issue seem to be caused by child resources responding to a change in their parent's `id` property.  That property value isn't changing.

[2022-03-16 18:39] smcolligan commented on #523
One final example...

If I change my test code to this and reference an existing project, this issue does not exist.

[code]

So it seems like the project resource is causing updates in the data sources that reference the project `name` or `id` attribute  when it shouldn't.

[2022-03-17 07:17] xuzhang3 commented on #523
@smcolligan I did not dig into the Terraform to find out for how Terraform-SDK generate the resource update/diff. In the usage scenario here, Terraform should ignore the changes,  and as you posted here, the workaround for this issue is use a  data source instead of a resource.

[2022-03-17 07:50] xuzhang3 commented on #563
@raviumishra   `azuredevops_serviceendpoint_azurecr.azurecr` will auto create a new SPN in the directory your ORG connected,  the permission is related you account. Can  check your in the AAD that you have enough permission?

[2022-03-17 16:32] ceciliasharp opened #564 "add repository status in azuredevops_git_repository"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-03-20 23:00] maxhillaert commented on #453
Hi.  Can I ask why we need this extension using the TF provider, but not when we add a connection to Azure Repos organisation via web ui?  Or is this a different service connection?

I'm basically trying to create a service connection fit for:

    - repository: templates
      type: git
      name: foo/bar
      ref: refs/tags/v2022.3.6
      endpoint: <serviceconnection>

[2022-03-20 23:14] maxhillaert opened #565 "Why is "Configurable Pipeline Runner" required for azuredevops_serviceendpoint_azuredevops ?"
I'm assuming this service endpoint matches the "New Azure Repos/Team Foundation Server service connection" from the Settings on the  Azure DevOps web ui?

[2022-03-21 03:18] xuzhang3 commented on #565
@maxhillaert  Checked the resources, this resource is duplicate with `azuredevops_serviceendpoint_runpipeline`, and this is a community supported extension: https://marketplace.visualstudio.com/items?itemName=CSE-DevOps.RunPipelines. Wrong resource implemented, I will deprecate this resource.

[2022-03-21 06:06] xuzhang3 commented on #453
@maxhillaert `azuredevops_serviceendpoint_azuredevops` is duplicate with `azuredevops_serviceendpoint_runpipeline`, I will deprecate this resource. TFS service connection is not supported, I have reopened #339

[2022-03-21 09:05] pavelpikatamcs commented on #563
I am getting the same error, but I have permissions to create SPNs or App registrations manually in my tenant

[code]

Here's my configuration slice:

[code]

[2022-03-21 09:17] pavelpikatamcs commented on #563
It appears that the issue was with PAT I used for the provider - it lacked permissions to create service connections

[2022-03-21 14:04] raviumishra commented on #563
@xuzhang3 Thanks for responce. We can archive this issue.

[2022-03-22 08:47] xuzhang3 commented on #563
good to see this issue been resolved.

[2022-03-22 08:47] #563 closed, assigned to nobody

[2022-03-22 08:49] xuzhang3 commented on #565
I have reopen issue #339 . Feel free to open a new issue if you have questions.

[2022-03-22 08:49] #565 closed, assigned to xuzhang3

[2022-03-22 09:39] xuzhang3 commented on #564
SDK missing property `isDisabled`: https://github.com/microsoft/azure-devops-go-api/blob/dev/azuredevops/v6/git/models.go#L1938

Response example:
[code]

[2022-03-22 12:10] macpak commented on #388
Hi,

Today I've faced the same issue.
In my case, the KV has ~1k secrets and the fix provided doesn't work.
Can we re-open the bug  or should I create a new one?

[2022-03-22 14:38] tobiasz-gleba commented on #540
When can we expect implementation? Is it in a plan at all?

[2022-03-23 02:50] xuzhang3 commented on #540
@tobiasz-gleba  This API is not included in the latest SDK(v6 API) release. https://docs.microsoft.com/en-us/rest/api/azure/devops/approvalsandchecks/pipeline-permissions/update-pipeline-permisions-for-resource?view=azure-devops-rest-7.1

[2022-03-23 03:35] xuzhang3 opened #567 "`azuredevops_variable_group ` support custom the number of search for KV secrets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-03-23 03:36] xuzhang3 commented on #388
@macpak  I have open new issue #567

[2022-03-23 15:23] MBarendregt commented on #558
Will this also be released soon? Noticed you made the fix @xuzhang3. Thanks!

[2022-03-24 07:38] ism99 opened #568 "Azure Devops project feature "artifacts" can't be disabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-03-24 07:50] xuzhang3 commented on #558
@MBarendregt  Working on it, I cannot give you timeline for now,  will coming soon.

[2022-03-24 10:38] ceciliasharp opened #569 "update is "rejected by policy" for new branch policies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-03-25 10:05] xuzhang3 commented on #569
@ceciliasharp  It's not recommend  to mange the resource by portal and Terraform at the same time.  You can import the existed policies by `terraform import`
Ref: https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/branch_policy_work_item_linking#import

[2022-03-25 15:58] ceciliasharp commented on #569
the problem is that I have 100+ repos that we are moving over to handle this with terraform so it's not a "both situation" it's "from portal to terraform"-handled. 60% of these repos have allready configurations today. I did solve it by manually remove the policy. I can't see that importing them oneby one all would have taken med shorter time than that (and the policy resource is declared as a for

[2022-03-28 04:03] xuzhang3 commented on #569
@ceciliasharp Every policy  can only have one policy and they have unique IDs, once created, you cannot create same type policy  for the same repo.

[2022-03-29 08:03] ceesios commented on #314
please reopen. I have tested with all of the documented PAT scopes and also with every scope available and I am unable to get rid of the 401 error with v0.2.0.

[2022-03-30 02:24] xuzhang3 commented on #314
@ceesios  Latest changes not released yet, if you need this features, you can build a private package by yourself with:
[code]

[2022-03-31 19:49] Greven145 opened #571 "azuredevops_serviceendpoint_azurecr import causes plugin crash"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-03-31 20:28] #571 closed, assigned to nobody

[2022-03-31 22:10] IeuanPayneIPO opened #572 "Error: invalid character '<' looking for beginning of value on <empty> line 0:"

[2022-03-31 22:13] IeuanPayneIPO opened #573 "Error: invalid character '<' looking for beginning of value on <empty> line 0:"
I have just started looking at using the Azure DevOps provider to manage my AzDO instance, but when trying to run a terraform plan get this error

Error: invalid character '<' looking for beginning of value

  on <empty> line 0:
  (source code not available)

Using version 0.2.0 of the provider.

[2022-03-31 22:13] #572 closed, assigned to nobody

[2022-03-31 22:16] IeuanPayneIPO commented on #573
Its worth noting that running terraform validate doesnt show any errors

[2022-04-01 03:21] avishnyakov commented on #558
Confirming the same:
* regression on 0.2.0
* scope is being ignored
* downgrade to 0.1.8 works well

[2022-04-01 09:22] xuzhang3 commented on #573
@IeuanPayneIPO  This is a know issue #106 and I can barely reproduce it.

[2022-04-01 09:25] xuzhang3 commented on #573
From my experience,  this error is likely to be parse error. For example,  some function try parse HTML format response to JSON but I'm not sure

[2022-04-01 18:26] drdamour opened #574 "Agent pool or queue support description"
Agent pools have a description in the web UX,  please add it as an attribute of the azuredevops_agent_pool resource.

I don't quite understand #456 it may be this is actually supposed to be on the queue

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the c

[2022-04-07 12:24] hend0012 opened #575 "Creating Project group fails in version 0.2.0 because scope is ignored, reverting to version 0.1.8 fixes the issue."
Using the below code in version 0.2.0 fails, scope seems to be ignored. A global group is created.

https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/group
[code]
Example:

This error is from code like the above example, reverting to version 0.1.8 fixes the issue.

[code]

[2022-04-07 14:59] tillig commented on #120
Thanks for this one @dgdarlington - hit the same thing myself just now and lost a good day trying to figure it out.

[2022-04-12 07:59] #410 closed, assigned to nobody

[2022-04-12 23:13] avishnyakov commented on #76
Happens with `0.1.8` with Azure DevOps online.
What was the issue and fix for this?

[2022-04-13 01:41] avishnyakov opened #576 "azuredevops_serviceendpoint_kubernetes does not update service_account values when changed"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generate extra noise for issue followers and do not help prioritize the request
* If you are interest

[2022-04-13 06:53] avishnyakov commented on #576
Looking into codebases, it might be related to the TypeSet inability to replace changed object correctly.

Interesting that actual `service_account` value is supposed to be always replaced, but TF does not seem to understand that.
* https://github.com/microsoft/terraform-provider-azuredevops/blob/v0.1.8/azuredevops/internal/service/serviceendpoint/resource_serviceendpoint_kubernetes.go#L302-L321

[2022-04-14 21:54] indranil-chakraborty opened #578 "Provider Checksum Error"
Hey,
Looks like the releases are broken. When I try to run a `terraform init` using this provider, I get the below.

[code]

If I compare the release artifact available here vs. the artifact at https://releases.hashicorp.com/terraform-provider-azuredevops/0.2.1/, I can see that the sha256sum of the artifact here is indeed invalid.

This seems to be affecting all release versions across all platfor

[2022-04-18 07:05] kmataru commented on #549
I encountered this lately and it's a bit strange, because from this `overwrite_on_create = true` I would expect that it will just work without doing any import of the resource(s).

@mjazwiecki
In my case, doing an import solved the "issue":
https://registry.terraform.io/providers/microsoft/azuredevops/latest/docs/resources/git_repository_file#import

[2022-04-19 06:37] xuzhang3 commented on #578
@indranil-chakraborty  I cannot reproduce your (win/osx) .  Can you check where you download the providers? . I checked the checksums both in  https://releases.hashicorp.com/terraform-provider-azuredevops/0.2.1/, and https://github.com/microsoft/terraform-provider-azuredevops/releases/tag/v0.2.1 , they are the same and not changed.

[2022-04-19 08:54] #568 closed, assigned to xuzhang3

[2022-04-19 08:54] xuzhang3 commented on #568
Fixed in v0.2.1

[2022-04-19 08:56] xuzhang3 commented on #569
Close this issue, feel free to open another issue if you have questions.

[2022-04-19 08:56] #569 closed, assigned to nobody

[2022-04-19 09:05] #560 closed, assigned to nobody

[2022-04-19 09:05] xuzhang3 commented on #558
Fixed in v0.2.1

[2022-04-19 09:05] #558 closed, assigned to nobody

[2022-04-19 09:25] xuzhang3 commented on #575
Fixed in #559

[2022-04-19 09:25] #575 closed, assigned to nobody

[2022-04-19 09:32] xuzhang3 commented on #546
Close this issue, feel free to open new issue if you have questions.

[2022-04-19 09:32] #546 closed, assigned to nobody

[2022-04-19 12:41] ghost opened #581 "provider "azuredevops". Error: The resource cannot be found."
### Affected Resource(s)

* `azuredevops_XXXXX`
Terraform v1.1.8
### Terraform Configuration Files

#### providers.tf file
[code]

### Error Output
[code]
### Output of `terraform providers`
[code]
### Expected Behavior

`terraform plan` should run successfully as it was previously running fine a few hours ago.

### Actual Behavior

It was okay a few hours ago. Then suddenly the resource cannot be

[2022-04-19 14:16] indranil-chakraborty commented on #578
@xuzhang3 I can confirm that this works when I try now. I was earlier trying using a work laptop and that failed. I am guessing that my work laptop / network is performing some sort of MITM that is changing the downloaded file which is causing the issue. Closing this issue.

[2022-04-19 14:16] #578 closed, assigned to nobody

[2022-04-20 02:59] xuzhang3 commented on #581
@devsecops-titan can you re-init and try again?  azuredevops is set to `v0.2.1` in the TF script but output is `v0.1.8`

[2022-04-20 08:33] #576 closed, assigned to nobody

[2022-04-20 12:50] ghost commented on #581
sorry. that was an old `terraform provider` output. the output is 0.2.1. I've tried `terraform init` followed by a `terraform plan` several times and the error still occurs. i upgraded from azuredevops v0.8.1 and ran `terraform init upgrade` followed by `terraform plan`. Same error. Init runs fine, but plan and apply fail with that error.

[2022-04-22 02:35] xuzhang3 commented on #581
@devsecops-titan I cannot reproduce  this error, can you turn on the logging and provide the error log?
ENV config:
[code]